fieldset{
    padding: 2px 8px 15px 8px !important;
    border: 1px solid #cbd5e1;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px
   
}
fieldset legend{
    margin-left: 5px;
    border-radius: 3px;
    background-color: #e0e7ff;
    padding: 0 10px;
    border: 1px solid #cbd5e1;
}
