<card class="flex flex-col  w-full filter-article  bg-gray-50 mt-4">
    <div class="m-8">

        <fieldset>
            <legend>Informations Retour</legend>
            <br/>
            <div class="w-full grid grid-cols-2 md:grid-cols-3 gap-x-6">

                <div
                    *ngIf="['DIS','DAT','CS','ADL','RTPE','STPE','AMAQ','DOXA','SA','REL','DA','DI','RELH','SS','DE','EP'].indexOf(editedProject.productName) > -1">
                    <mat-form-field class="w-full mat-dense-xs" appearance="outline">
                        <mat-label>Réponse CCG</mat-label>
                        <mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="retour.response">
                            <mat-option
                                *ngFor="let item of [{id: 1,code: 'A', designation: 'Accord'}, {id: 2, code: 'R',designation: 'Rejet'}]"
                                [value]="item.code">
                                <span>{{item.designation}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div
                    *ngIf="['DIS','DAT','CS','ADL','RTPE','STPE','AMAQ','DOXA','SA','REL','DA','DI','RELH','SS','DE','EP'].indexOf(editedProject.productName) > -1 && retour.response == 'R'">
                    <mat-form-field class="w-full mat-dense-xs" appearance="outline">
                        <mat-label>Motif rejet</mat-label>
                        <mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="retour.reasonReject">
                            <mat-option *ngFor="let item of rejectReasonList" [value]="item.designation">
                                <span>{{item.designation}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="['DIS','DAT'].indexOf(editedProject.productName) > -1 && retour.response == 'A'">
                    <mat-form-field class="w-full mat-dense-xs" appearance="outline">
                        <mat-label>Quotité</mat-label>
                        <input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput type="number" [(ngModel)]="retour.quotity">
                    </mat-form-field>
                </div>
                <div
                    *ngIf="['DIS','DAT','CS','ADL','RTPE','STPE','AMAQ','DOXA','SA','REL','DA','DI','RELH','SS','DE','EP'].indexOf(editedProject.productName) > -1 && retour.response == 'A'">
                    <mat-form-field class="w-full mat-dense-xs" appearance="outline">
                        <mat-label>Date Aval</mat-label>
                        <input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput type="date" [(ngModel)]="retour.avalDate">
                    </mat-form-field>
                </div>
                <div *ngIf="['DIS','DAT'].indexOf(editedProject.productName) > -1 && retour.response == 'A'">
                    <mat-form-field class="w-full mat-dense-xs" appearance="outline">
                        <mat-label>Montant commission</mat-label>
                        <input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput type="text" [(ngModel)]="retour.commissionAmount" currencyMask
                            [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
                    </mat-form-field>
                </div>
                <div *ngIf="['DIS','DAT'].indexOf(editedProject.productName) > -1">
                    <mat-form-field class="w-full mat-dense-xs" appearance="outline">
                        <mat-label>Montant crédit</mat-label>
                        <input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput type="text" [(ngModel)]="retour.loanAmount" currencyMask
                            [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
                    </mat-form-field>
                </div>
                <div *ngIf="['DIS','DAT'].indexOf(editedProject.productName) > -1 && retour.response == 'A'">
                    <mat-form-field class="w-full mat-dense-xs" appearance="outline">
                        <mat-label>Date Validité aval avant déblocage</mat-label>
                        <input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput type="date" [(ngModel)]="retour.validateAvalDate">
                    </mat-form-field>
                </div>
                <div *ngIf="['DIS','DAT'].indexOf(editedProject.productName) > -1 && retour.response == 'A'">
                    <mat-form-field class="w-full mat-dense-xs" appearance="outline">
                        <mat-label>Montant garanti</mat-label>
                        <input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput type="text" [(ngModel)]="retour.garantedAmount" currencyMask
                            [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
                    </mat-form-field>
                </div>


            </div>

            <div class="w-full flex justify-end gap-2">
                <button *ngIf="retour.id" mat-raised-button [color]="'warn'" (click)="onPrepareDelete()">Supprimer</button>
                <button [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" mat-raised-button [color]="'primary'" (click)="saveStatusProject()">Enregistrer</button>
            </div>
        </fieldset>


    </div>

</card>