<card class="flex flex-col  w-full filter-article  bg-gray-50 mt-4">
    <div class="m-8">
        <div class="grid grid-cols-2  md:grid-cols-3 gap-x-6 gap-y-2 w-full ">

            <div class="flex">
                <mat-label class="w-1/3">N° Compte: </mat-label>
                <span class="pl-2 w-2/3"><strong>{{demandeDTO.accountNumber}}</strong></span>
            </div>
            <div class="flex">
                <mat-label class="w-1/3">Tiers: </mat-label>
                <span class="pl-2 w-2/3"><strong>{{persons[0]?.personId}}</strong></span>
            </div>

            <div class="flex">
                <mat-label class="w-1/3">Nom Prénom: </mat-label>
                <span class="pl-2 w-2/3"><strong>{{identityClient.firstName}}
                        {{identityClient.lastName}}</strong></span>
            </div>

            <div class="flex">
                <mat-label class="w-1/3">CIN: </mat-label>
                <span class="pl-2 w-2/3"><strong>{{identityClient.cardNumber}}</strong></span>
            </div>

            <div class="flex">
                <mat-label class="w-1/3">Genre: </mat-label>
                <span class="pl-2 w-2/3" *ngIf="identityClient.gender== 'M'"><strong>Masculin</strong></span>
                <span class="pl-2 w-2/3" *ngIf="identityClient.gender== 'F'"><strong>Féminin</strong></span>
                <span class="pl-2 w-2/3" *ngIf="identityClient.gender== 'E'"><strong>Entreprise</strong></span>
            </div>

            <div class="flex">
                <mat-label class="w-1/3">Date Naissance: </mat-label>
                <span class="pl-2 w-2/3"><strong> {{identityClient.birthDate | date: 'dd/MM/yyyy'}}</strong></span>
            </div>
            <div class="flex">
                <mat-label class="w-1/3">Ville: </mat-label>
                <span><strong>{{persons[0]?.cityName}}</strong></span>
            </div>
            <div class="flex">
                <mat-label class="w-1/3">N° PPR: </mat-label>
                <span class="pl-2 w-2/3"><strong>{{persons[0]?.registrationNumber}}</strong></span>
            </div>

            <div class="flex">
                <mat-label class="w-1/3">Date Création: </mat-label>
                <span class="pl-2 w-2/3"><strong>{{identityClient.creationDate | date: 'dd/MM/yyyy'}}</strong></span>
            </div>


            <div class="flex">
                <mat-label class="w-1/3">RC: </mat-label>
                <span class="pl-2 w-2/3"><strong>{{identityClient.rcNumber}}</strong></span>
            </div>

        </div>
        <br />
        <div class="grid grid-cols-2  md:grid-cols-3 gap-x-6 gap-y-2 w-full ">
            
            <div class="flex items-center">
                <mat-form-field class="w-full mat-dense-xs " appearance="outline">
                    <mat-label>Charge Globale</mat-label>
                    <input [disabled]="routingService.isDemandeRO()" matInput [(ngModel)]="identityClient.overallLoad"
                        type="number">
                </mat-form-field>
            </div>

            <div class="flex items-center">
                <mat-form-field class="w-full mat-dense-xs " appearance="outline">
                    <mat-label>Forme Juridique</mat-label>
                    <mat-select [disabled]="routingService.isDemandeRO()" [(ngModel)]="identityClient.legalStatus">
                        <mat-option *ngFor="let item of listeLegalStatus" [value]="item.id">
                            <span>{{item.designation}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

    </div>
    <div class="w-full flex justify-end p-4 gap-x-2">
        <button mat-raised-button [color]="'primary'" (click)="saveCustomerCard()">Enregistrer</button>
    </div>
    <!--<div class="w-full flex justify-end p-4 gap-x-2">
        <button mat-raised-button (click)="onPrevious()">Précédent</button>
        <button mat-raised-button (click)="onNext()">Suivant</button>
    </div>-->

</card>