<h1 mat-dialog-title>Création Projet</h1>
<div mat-dialog-content class="h-40 justify-center">

    <div class="w-full">

        <mat-form-field appearance="outline" class="mat-dense-xs min-w-60">
            <mat-select placeholder="Produits" required [formControl]="product">
                <mat-option *ngFor="let pr of data.typeProduit" [value]="pr.id">
                    {{ pr.designation }}
                </mat-option>
            </mat-select>
            <mat-error>Obligatoire</mat-error>
            <!--<span class="error-label" *ngIf="productInvalid">Obligatoire</span>-->
        </mat-form-field>

    </div>
    <div class="w-full" *ngIf="data.itemsCount>1">

        <mat-radio-group class="flex gap-x-2" aria-label="Select an option" required [formControl]="grouper">
            <mat-label class="font-bold">Grouper*</mat-label>
            <mat-radio-button value="O">OUI</mat-radio-button>
            <mat-radio-button value="N">NON</mat-radio-button>
        </mat-radio-group>
        <mat-error style="font-size: 11px;" *ngIf="!grouper.value">Obligatoire</mat-error>

        <!--<span style="color: red; font-size: 11px;" *ngIf="groupInvalid">Obligatoire</span>-->

    </div>

</div>
<div mat-dialog-actions class="flex justify-center">
    <button mat-raised-button color="primary" (click)="onValid()">Enregistrer</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="null" cdkFocusInitial>Retour</button>
</div>