<div class="w-full flex justify-between px-4 pt-4">
    <div class="ml-2 mt-2 font-bold italic" >
        Moyens humain prévisionnels(emplois à créer sur 5 ans)
    </div>


</div>

<div  class="flex w-full  p-4">

    <table mat-table class="mat-datatable small-table  bg-white not-hover fixed-layout w-full" [dataSource]="dataSource">
        <!--{principauxConcurent:'Concurrent 1',partMarche:'50',marque:'Ellitium',autre:''}-->
        <ng-container  [matColumnDef]="displayedColumnName[0]">
            <th mat-header-cell class="border-r border-white pl-1 px-0-i" *matHeaderCellDef >{{displayedColumn[0].libelle}}</th>
            <td mat-cell   *matCellDef="let element">
                {{element.job}}
            </td>
            <td mat-footer-cell *matFooterCellDef class="px-0-i">
                <mat-form-field appearance="outline"
                                class="w-full mat-dense-xs  mat-no-subscript">
                    <input type="text" class="w-full" matInput [(ngModel)]="moyenHumainDto.job">
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container  [matColumnDef]="displayedColumnName[1]">
            <th mat-header-cell class="border-r border-white px-0-i break-words" *matHeaderCellDef >{{displayedColumn[1].libelle}}</th>
            <td mat-cell   *matCellDef="let element">
                {{element.permanent}}
            </td>
            <td mat-footer-cell *matFooterCellDef  class="px-0-i">
                <mat-form-field appearance="outline"
                                class="w-full mat-dense-xs  mat-no-subscript">
                    <input type="text" class="w-full" matInput [(ngModel)]="moyenHumainDto.permanent">
                </mat-form-field>

            </td>
        </ng-container>

        <ng-container  [matColumnDef]="displayedColumnName[2]">
            <th mat-header-cell class="border-r border-white px-0-i" *matHeaderCellDef >{{displayedColumn[2].libelle}}</th>
            <td mat-cell   *matCellDef="let element">
                {{element.mainMission}}
            </td>
            <td mat-footer-cell *matFooterCellDef  class="px-0-i">
                <mat-form-field appearance="outline"
                                class="w-full mat-dense-xs  mat-no-subscript">
                    <input type="text" class="w-full" matInput [(ngModel)]="moyenHumainDto.mainMission">
                </mat-form-field>

            </td>
        </ng-container>

        <ng-container  [matColumnDef]="displayedColumnName[3]">
            <th mat-header-cell class="border-r border-white px-0-i" *matHeaderCellDef >{{displayedColumn[3].libelle}}</th>
            <td mat-cell   *matCellDef="let element">
                {{element.qualification}}
            </td>
            <td mat-footer-cell *matFooterCellDef  class="px-0-i">
                <mat-form-field appearance="outline"
                                class="w-full mat-dense-xs  mat-no-subscript">
                    <input type="text" class="w-full" matInput [(ngModel)]="moyenHumainDto.qualification">
                </mat-form-field>

            </td>
        </ng-container>

        <ng-container  [matColumnDef]="displayedColumnName[4]">
            <th mat-header-cell class="border-r border-white px-0-i" *matHeaderCellDef >{{displayedColumn[4].libelle}}</th>
            <td mat-cell   *matCellDef="let element">
                {{element.effective}}
            </td>
            <td class="text-right" mat-footer-cell *matFooterCellDef  class="px-0-i">
                <mat-form-field appearance="outline"
                                class="w-full mat-dense-xs  mat-no-subscript">
                    <input type="number" class="w-full text-right" matInput [(ngModel)]="moyenHumainDto.effective">
                </mat-form-field>

            </td>
        </ng-container>

        <ng-container  [matColumnDef]="displayedColumnName[5]">
            <th mat-header-cell class="border-r border-white px-0-i" *matHeaderCellDef >{{displayedColumn[5].libelle}}</th>
            <td class="text-right" mat-cell   *matCellDef="let element">
                {{element.total}}
            </td>
            <td mat-footer-cell *matFooterCellDef  class="px-0-i">
                <mat-form-field appearance="outline"
                                class="w-full mat-dense-xs  mat-no-subscript">
                    <input type="number" class="w-full text-right" matInput [(ngModel)]="moyenHumainDto.total">
                </mat-form-field>

            </td>
        </ng-container>


        <ng-container  matColumnDef="action">
            <th mat-header-cell class="border-r border-white pl-1 w-20" *matHeaderCellDef ><button *ngIf="canAdd()" mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter une ligne" [color]="'secondary'" (click)="onPrepareAdd()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus-sm"></mat-icon></button></th>
            <td mat-cell   *matCellDef="let element ;">
                <button mat-mini-fab class="custom-mini-fab" matTooltip="Supprimer" [color]="'warn'" (click)="onDelete(element)" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon></button>
            </td>
            <td mat-footer-cell *matFooterCellDef  class="px-0-i">
                <button mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter" [color]="'primary'" (click)="onValideAdd()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:check"></mat-icon></button>
                <button mat-mini-fab class="custom-mini-fab ml-1" matTooltip="Retour" [color]="'warn'" (click)="onRetour()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:x"></mat-icon></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnName" class="header-table-gry rounded-t-xl max-w-full"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnName" class="max-w-full"></tr>
        <tr mat-footer-row *matFooterRowDef="getConcurrentFooterCols()"></tr>

    </table>

</div>

