<div class="flex flex-col w-full">
	<div class="w-full flex xs:px-10 px-2 py-3">
		<card class="flex w-full xs:px-8 px-2 py-3 filter-list bg-accent-50">
			<mat-expansion-panel hideToggle class="rounded-t-xl w-full" [expanded]="true">
				<mat-expansion-panel-header
						class=" expan-panel header"
					style=""
					#panelQUI
					(click)="panelQUI._toggle()"
				>
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">QUI</h4>
					</div>
				</mat-expansion-panel-header>
				<div class="w-full flex flex-col justify-start py-5">
                    <app-account-find-show (onAccountFetch)="getAccount($event)"></app-account-find-show>
				</div>
			</mat-expansion-panel>
		</card>
	</div>

	<!-- *ngIf="compte" -->
	<div *ngIf="compte" class="w-full flex xs:px-10 px-2 py-3 sm:max-w-full max-w-11/12">
		<card class="flex flex-col w-full xs:px-8 px-1 py-3 filter-list h-auto bg-accent-50 my-2">
			<mat-expansion-panel hideToggle class="rounded-t-xl" [expanded]="true">
				<mat-expansion-panel-header
						class=" expan-panel header"
					style=""
					#panelQUI
					(click)="panelQUI._toggle()"
				>
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">QUOI</h4>
					</div>
				</mat-expansion-panel-header>
				<div class="w-full flex md:flex-row flex-col gap-3 px-10 py-3">
					<div class="max-w-100">
						<mat-radio-group
							[(ngModel)]="projet.newConstitution"
							aria-label="Select an option"
						>
							<mat-label class="font-semibold">Nouvelle constitution</mat-label>
							<mat-radio-button value="0" class="ml-2">Non</mat-radio-button>
							<mat-radio-button value="1" class="ml-2">Oui</mat-radio-button>
						</mat-radio-group>
					</div>

					<mat-form-field class="max-w-100 mat-dense-xs" appearance="outline">
						<mat-label>Catégorie client</mat-label>
						<mat-select [(ngModel)]="projet.clientCategory">
							<mat-option *ngFor="let item of listCateories" [value]="item.id">
								<span>{{ item.designation }}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<!--produits-->

				<div *ngIf="historyListProducts?.length" class="w-full flex-col px-10">
					<div class="flex w-full justify-between">
						<div class="font-bold text-xl mt-4 flex items-center">
							<mat-icon svgIcon="heroicons_outline:minus-sm" class="mx-2"></mat-icon>
							<span>Renouvellements</span>
						</div>
					</div>

					<div class="max-w-full mt-2 overflow-auto">
						<table
							mat-table
							class="mat-datatable table-simulation bg-white w-full"
							[dataSource]="historyListProducts"
							matSort
							matSortDirection="asc"
						>
							<ng-container [matColumnDef]="'produit'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Produit
								</th>
								<td mat-cell *matCellDef="let element">
									{{ element.financialProductName }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'montant'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Montant
								</th>
								<td mat-cell *matCellDef="let element" class="text-right">
									{{ element["lastAmountGranted"] | number: ".2":"es" }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'duree'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Durée
								</th>
								<td mat-cell *matCellDef="let element" class="text-right">
									{{ element["lastDuration"] }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'taux'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Taux
								</th>
								<td mat-cell *matCellDef="let element" class="text-right">
									{{ element["lastRate"] | number: ".2":"es" }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'prelevementTypeName'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Type de prélévement
								</th>
								<td mat-cell *matCellDef="let element" class="text-right">
									{{ element["prelevementTypeName"] }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'action'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header></th>
								<td mat-cell *matCellDef="let element" class="text-right">
									<button
										*ngIf="element.__used != true"
										(click)="onAddHistoryProduct(element)"
										[color]="'primary'"
										mat-mini-fab
										class="custom-mini-fab m-1"
										matTooltip="Modifier"
									>
										<mat-icon
											class="icon-size-4"
											svgIcon="heroicons_outline:plus"
										></mat-icon>
									</button>
								</td>
							</ng-container>
							<tr
								mat-header-row
								*matHeaderRowDef="[ 'produit', 'montant', 'duree', 'taux', 'prelevementTypeName', 'action']"
								class="header-table-gry"
							></tr>
							<tr mat-row *matRowDef="let row; columns: [ 'produit', 'montant', 'duree', 'taux', 'prelevementTypeName', 'action']"></tr>
						</table>
					</div>
				</div>

				<div class="w-full flex-col px-10">
					<div class="flex w-full justify-between">
						<div class="font-bold text-xl mt-4 flex items-center">
							<mat-icon svgIcon="heroicons_outline:minus-sm" class="mx-2"></mat-icon>
							<span>Liste des produits</span>
						</div>
						<button
							mat-raised-button
							class="w-40 mt-4 ml-2"
							[color]="'primary'"
							(click)="onAddProduct()"
							matTooltip="Ajouter des produits"
						>
							Ajouter
						</button>
					</div>

					<div class="max-w-full mt-2 overflow-auto">
						<table
						mat-table
						class="mat-datatable table-simulation bg-white w-full"
						[dataSource]="listProducts"
						matSort
						matSortDirection="asc"
						>
							<ng-container [matColumnDef]="'produit'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Produit
								</th>
								<td mat-cell *matCellDef="let element">
									{{ element.financialProductName }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'montant'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Montant
								</th>
								<td mat-cell *matCellDef="let element" class="text-right">
									{{ element["lastAmountGranted"] | number: ".2":"es" }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'duree'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Durée
								</th>
								<td mat-cell *matCellDef="let element" class="text-right">
									{{ element["lastDuration"] }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'taux'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Taux/Point de base
								</th>
								<td mat-cell *matCellDef="let element" class="text-right">
									{{ getFieldToDisplay(element) | number: ".2":"es" }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'differe'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Différé
								</th>
								<td mat-cell *matCellDef="let element" class="text-right">
									{{ element["lastDeferredPeriod"] | number: ".2":"es" }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'periodicite'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Périodicité
								</th>
								<td mat-cell *matCellDef="let element" class="">
									{{ element["periodicity"] }} - {{ element["periodicityName"] }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'mensualite'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Échéance
								</th>
								<td mat-cell *matCellDef="let element" class="text-right">
									{{ element["lastMonthlyPayment"] | number: ".2":"es" }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'assurance'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Assurance
								</th>
								<td mat-cell *matCellDef="let element" class="text-right">
									{{ element["lastInsurance"] | number: ".2":"es" }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'startDate'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Date de dédut
								</th>
								<td mat-cell *matCellDef="let element" class="text-center">
									{{ element["startDate"] | date: "dd/MM/yyyy" }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'endDate'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Date fin
								</th>
								<td mat-cell *matCellDef="let element" class="text-center">
									{{ element["endDate"] | date: "dd/MM/yyyy" }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'renewState'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Renouveller
								</th>
								<td mat-cell *matCellDef="let element" class="text-center">
									{{ element["__used"] ? "Oui" : "Non" }}
								</td>
							</ng-container>

							<ng-container [matColumnDef]="'action'">
								<th mat-header-cell *matHeaderCellDef mat-sort-header></th>
								<td mat-cell *matCellDef="let element" class="text-right">
									<button
										(click)="onDelete(element)"
										[color]="'warn'"
										mat-mini-fab
										class="custom-mini-fab"
										matTooltip="Supprimer"
									>
										<mat-icon
											class="icon-size-4"
											svgIcon="heroicons_outline:trash"
										></mat-icon>
									</button>

									<button
										(click)="onUpdate(element)"
										[color]="'primary'"
										mat-mini-fab
										class="custom-mini-fab m-1"
										matTooltip="Modifier"
									>
										<mat-icon class="icon-size-4" svgIcon="edit"></mat-icon>
									</button>
								</td>
							</ng-container>
							<tr
								mat-header-row
								*matHeaderRowDef="[ 'produit', 'montant', 'duree', 'taux', 'differe', 'periodicite', 'mensualite', 'assurance', 'startDate', 'endDate', 'renewState', 'action']"
								class="header-table-gry"
							></tr>
							<tr mat-row *matRowDef="let row; columns: [ 'produit', 'montant', 'duree', 'taux', 'differe', 'periodicite', 'mensualite', 'assurance', 'startDate', 'endDate', 'renewState', 'action']"></tr>
						</table>
					</div>
				</div>

				<div class="w-full flex px-10 mt-4">
					<mat-form-field
						appearance="outline"
						class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
					>
						<mat-label>Descriptif du projet</mat-label>
						<textarea
							[(ngModel)]="projet.objectCredit"
							style="height: 50px !important"
							matInput
							[rows]="50"
							matTextareaAutosize
						></textarea>
					</mat-form-field>
				</div>
			</mat-expansion-panel>
		</card>
	</div>

	<div class="w-full flex justify-end px-10 py-3 mb-5">
		<button
			mat-raised-button
			class="w-40 mt-4 ml-2"
			[color]="'primary'"
			(click)="onCreateInvestissementDemande()"
		>
			Valider
		</button>
		<button mat-raised-button class="w-40 mt-4 ml-2" [color]="'warn'" (click)="retour()">
			Retour
		</button>
	</div>
</div>
