<div class="flex-auto flex flex-row gap-4 max-h-40">
	<div class="flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-indigo-50 text-indigo-800 gap-2">
		<div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight" style="font-size: 1rem !important;"> {{ monthlyPayment | number: ".2":"es" }} dh </div>
		<div class="mt-1 text-sm sm:text-lg font-medium">Mensualité </div>
	</div>
	<div class="flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-green-50 text-green-800 gap-2">
		<div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight"style="font-size: 1rem !important;" > {{ insurance | number: ".2":"es" }} dh </div>
		<div class="mt-1 text-sm sm:text-lg font-medium">Assurance </div>
	</div>
</div>
