/**la Hauteur du header et des lignes de la table .small-table******************************************************/
.mat-datatable.small-table tr.mat-header-row {
	height: 40px;
}
.mat-datatable.small-table tr.mat-row {
	height: 40px;
}
/** la police de la table .small-table******************************************************/

.mat-datatable.small-table th {
	padding: 3px 20px !important;
	font-family: "Open Sans", sans-serif;
	font-size: x-small;
	font-weight: 500 !important;
	line-height: 1.5em;
}
.mat-datatable.small-table td {
	padding: 3px 20px !important;
	font-family: "Open Sans", sans-serif;
	font-size: x-small;
	font-weight: 500 !important;
	color: #707070;
	line-height: 1.8em;
}

::ng-deep .filter-wrapper .mat-form-field-wrapper {
	@apply pb-0;
}

::ng-deep .cin-input input {
	@apply h-7;
}
/*
  ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-15px; }
::ng-deep label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; }

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
*/
