<div class="flex flex-col flex-auto w-full">
	<div class="flex flex-wrap w-full mx-auto p-6 md:p-8">
		<!-- Title and action buttons -->
		<div class="flex items-center gap-2 -mt-10 w-full">
			<div class="flex gap-4 bg-white border border-gray-300 rounded-md p-3 h-full w-full">
				<div class="flex lg:flex-row flex-col lg:items-center gap-8 w-full filter-wrapper mt-6">
					<div class="flex md:flex-row flex-col gap-2">
						<mat-form-field
							appearance="outline"
							class="w-full mat-dense-xs cin-input max-w-100"
						>
							<mat-label>CIN</mat-label>
							<input
								matInput
								[(ngModel)]="critere.cin"
								placeholder="CIN"
							/>
						</mat-form-field>
	
						<mat-form-field
							appearance="outline"
							class="w-full mat-dense-xs max-w-100"
						>
							<mat-label>Date debut</mat-label>
							<input matInput [matDatepicker]="picker1" [(ngModel)]="critere.startDate" />
							<mat-datepicker-toggle
								matSuffix
								[for]="picker1"
							></mat-datepicker-toggle>
							<mat-datepicker #picker1></mat-datepicker>
						</mat-form-field>
	
						<mat-form-field
							appearance="outline"
							class="w-full mat-dense-xs max-w-100"
						>
							<mat-label>Date fin</mat-label>
							<input matInput [matDatepicker]="picker2" [(ngModel)]="critere.endDate" />
							<mat-datepicker-toggle
								matSuffix
								[for]="picker2"
							></mat-datepicker-toggle>
							<mat-datepicker #picker2></mat-datepicker>
						</mat-form-field>
					</div>

					<div class="flex md:flex-row flex-col gap-8 md:items-center">
						<div class="flex xl:flex-row flex-col gap-4" style="width: fit-content;">
							<mat-radio-group
								class="flex gap-1"
								[(ngModel)]="critere.milieuBien"
							>
								<mat-radio-button
									*ngFor="let item of milieuBien"
									[value]="item.code"
									class="mx-1"
									>{{ item.designation }}</mat-radio-button
								>
							</mat-radio-group>
							<div class="xl:flex hidden">|</div>
							<mat-radio-group
								class="flex gap-1"
								[(ngModel)]="critere.typeAchat"
							>
								<mat-radio-button
									*ngFor="let item of fnacialNature"
									[value]="item.code"
									class="mx-1"
									>{{ item.designation }}</mat-radio-button
								>
							</mat-radio-group>
						</div>
	
						<div class="flex flex-row gap-2" style="width: fit-content;">
							<button
								[color]="'primary'"
								mat-flat-button
								(click)="loadSimulations()"
							>
								Rechercher
							</button>
							<button
								[color]="'primary'"
								mat-flat-button
								(click)="onAddSim()"
								[disabled]="!critere.cin"
							>
								Ajouter
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="flex flex-auto overflow-hidden">
			<!-- Products list -->

			<div class="grid grid-cols-1 grid-flow-row gap-0 w-full mt-8 sm:mt-4">
				<!-- New vs. Closed -->
				<div class="flex flex-col flex-auto overflow-auto">
					<table
						mat-table
						class="mat-datatable table-simulation bg-white w-full"
						[dataSource]="simulations"
						matSort
						matSortDirection="asc"
					>
						<ng-container matColumnDef="clientName">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
							<td mat-cell *matCellDef="let element">{{ element.clientName }}</td>
						</ng-container>

						<ng-container matColumnDef="simulationDate">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>DATE</th>
							<td mat-cell *matCellDef="let element" class="text-center">
								{{ element.simulationDate | date: "dd/MM/yyyy" }}
							</td>
						</ng-container>

						<ng-container matColumnDef="clientType">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>
								Prospect/Client
							</th>
							<td mat-cell *matCellDef="let element">
								<span *ngIf="element.clientType.toString().toUpperCase() == 'C'"
									>Client</span
								>
								<span *ngIf="element.clientType.toString().toUpperCase() == 'P'"
									>prospect</span
								>
							</td>
						</ng-container>

						<ng-container matColumnDef="cin">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>CIN</th>
							<td mat-cell *matCellDef="let element">{{ element.cin }}</td>
						</ng-container>

						<ng-container matColumnDef="birthDate">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Né le</th>
							<td mat-cell *matCellDef="let element" class="text-center">
								{{ element.birthDate | date: "dd/MM/yyyy" }}
							</td>
						</ng-container>

						<ng-container matColumnDef="phoneNumber">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Téléphone</th>
							<td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
						</ng-container>

						<ng-container matColumnDef="productsNumber">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>
								Nbr de produits
							</th>
							<td class="text-right" mat-cell *matCellDef="let element">{{ element.productsNumber }}</td>
						</ng-container>

						<ng-container matColumnDef="goodLocationName">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>
								Milieu du bien
							</th>
							<td mat-cell *matCellDef="let element">
								{{ element.goodLocationName }}
							</td>
						</ng-container>

						<ng-container matColumnDef="financialNatureName">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
							<td mat-cell *matCellDef="let element">
								{{ element.financialNatureName }}
							</td>
						</ng-container>

						<ng-container matColumnDef="status">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
							<td
								mat-cell
								*matCellDef="let element"
								[matTooltip]="element.statusName"
							>
								<span [style.color]="element.statusColor">
									<mat-icon
										[style.color]="element.statusColor"
										svgIcon="mat_solid:circle"
									></mat-icon>
								</span>
							</td>
						</ng-container>

						<ng-container matColumnDef="Actions">
							<th mat-header-cell *matHeaderCellDef>Actions</th>
							<td mat-cell *matCellDef="let element">
								<button mat-button [matMenuTriggerFor]="menu">
									<mat-icon svgIcon="heroicons_outline:dots-vertical"></mat-icon>
								</button>
								<mat-menu #menu="matMenu">
									<button mat-menu-item (click)="onEdit(element)">
										<mat-icon svgIcon="heroicons_outline:pencil"></mat-icon
										>Modifier la simulation
									</button>
									<button mat-menu-item (click)="onDelete(element)">
										<mat-icon svgIcon="heroicons_outline:trash"></mat-icon
										>Supprimer la simulation
									</button>
								</mat-menu>
							</td>
						</ng-container>

						<tr
							mat-header-row
							*matHeaderRowDef="displayedColumns"
							class="header-table-gry"
						></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
					</table>
				</div>
				<div
					class="flex flex-col flex-auto items-end w-full bg-card "
				>
					<mat-paginator
						[pageSize]="10"
						[pageSizeOptions]="[5, 10, 20, 30, 50, 100, 200]"
					></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>
