<form [formGroup]="accountForm" class="w-full flex md:flex-row flex-col xs:px-10 px-2 gap-3">
	<mat-form-field
		class="max-w-100 w-full mat-dense-xs mat-no-subscript pt-1"
		appearance="outline"
	>
		<mat-label>N° COMPTE</mat-label>
		<input matInput formControlName="accountNumber"/>
	</mat-form-field>
	<button
		class="max-w-30"
		mat-raised-button
		[color]="'primary'"
		(click)="getAccount()"
		type="submit"
	>
		Rechercher
	</button>
</form>
