<div class="flex flex-col w-full gap-2">
	<app-account-search (onAccountFetch)="_onAccountFetch($event)"></app-account-search>
	<app-account-detail *ngIf="account" [account]="account"></app-account-detail>
</div>