<h2 mat-dialog-title>Liste des guaranties</h2>
<mat-dialog-content class="h-100">
	<table
		mat-table
		[dataSource]="data"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 500px"
	>
		<ng-container [matColumnDef]="displayedColumns[0]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[0] }}</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
			<td mat-footer-cell *matFooterCellDef class="w-80"></td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[1]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[1] }}</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[1]] }}</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[2]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[2] }}</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element[displayedColumns[2]] | number: ".2":"es" }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[3]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[3] }}</th>
			<td mat-cell *matCellDef="let element" class="text-end">
				{{ element[displayedColumns[3]] }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>
		<ng-container [matColumnDef]="displayedColumns[4]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[4] }}</th>
			<td mat-cell *matCellDef="let element" class="text-danger">
				{{ element[displayedColumns[4]] }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>
		<ng-container [matColumnDef]="displayedColumns[5]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[5] }}</th>
			<td mat-cell *matCellDef="let element" class="">{{ element[displayedColumns[5]] }}</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[6]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[6] }}</th>
			<td mat-cell *matCellDef="let element" class="">{{ element[displayedColumns[6]] }}</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>
		<ng-container [matColumnDef]="displayedColumns[7]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[7] }}</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element[displayedColumns[7]] | number: ".2":"es" }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[8]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[8] }}</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element[displayedColumns[8]] | number: ".2":"es" }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[9]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[9] }}</th>
			<td mat-cell *matCellDef="let element" class="">{{ element[displayedColumns[9]] }}</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[10]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[10] }}</th>
			<td mat-cell *matCellDef="let element" class="" [matTooltip]="element.statusName">
				<div
					class="rounded-full h-5 w-5 shadow-lg flex items-center justify-center"
					[style.background]="element.statusColor"
				></div>
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Retour</button>
</mat-dialog-actions>
