<div class="w-full bg-gray-300 p-4 shadow-lg rounded-t-xl">
	<!-- Folders -->
	<div class="flex w-full justify-center">
		<div class="flex w-full px-5">
			<mat-expansion-panel
				hideToggle
				class="col-span-2 rounded-t-xl w-full"
				[expanded]="true"
			>
				<mat-expansion-panel-header
					class="expan-panel header"
					#panelDOC
					(click)="panelDOC._toggle()"
				>
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">Documents</h4>
					</div>
				</mat-expansion-panel-header>

				<ng-container>
					<div class="flex gap-x-4">
						<div class="flex-initial mt-2 relative" *ngFor="let folder of docs">
							<a class="cursor-pointer" (click)="onDowloadFile(folder)">
								<span [matTooltip]="folder.fileName + ' ' + folder.extension">
									<mat-icon
										class="icon-size-6 text-hint"
										[svgIcon]="'iconsmind:folder'"
									>
									</mat-icon>
									{{ folder.name }}
								</span>

								<div class="block">
									<span *ngFor="let fil of folder.documents">
										{{ fil.docName }}
									</span>
								</div>
							</a>
							<i
								class="absolute -top-2 -right-2"
								matTooltip="Supprimer Document"
								(click)="onDeleteDoc(folder)"
							>
								<mat-icon
									class="icon-size-4 text-red-500 shadow-sm"
									[svgIcon]="'heroicons_solid:x-circle'"
								>
								</mat-icon>
							</i>
						</div>
					</div>
					<div class="w-full text-right mt-2 mr-2">
						<button
							[color]="'primary'"
							class="custom-mini-fab"
							mat-mini-fab
							(click)="onUpload()"
							matTooltip="Nouveaux documents"
						>
							<mat-icon
								class="icon-size-4"
								svgIcon="heroicons_outline:plus"
							></mat-icon>
						</button>
					</div>
				</ng-container>
			</mat-expansion-panel>
		</div>
	</div>
</div>
