<div class="tab-container mt-5 bg-cam" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="scores"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 500px"
	>
		<!-- numdossier Column -->
		<ng-container matColumnDef="0">
			<th mat-header-cell *matHeaderCellDef>NOM</th>
			<td mat-cell *matCellDef="let element">{{ element.name }}</td>
		</ng-container>

		<!-- objet Column -->
		<ng-container matColumnDef="1">
			<th mat-header-cell *matHeaderCellDef>CREDIT POSSIBLE</th>
			<td mat-cell *matCellDef="let element">{{ element.possibleCredit }}</td>
		</ng-container>

		<!-- nominalAuth Column -->
		<ng-container matColumnDef="3">
			<th mat-header-cell *matHeaderCellDef>DUREE</th>
			<td mat-cell *matCellDef="let element">{{ element.creditDuration }}</td>
		</ng-container>
		<ng-container matColumnDef="4">
			<th mat-header-cell *matHeaderCellDef>SCORE LE</th>
			<td class="text-center" mat-cell *matCellDef="let element">{{ element.scoreDate | date: "dd/MM/yyyy" }}</td>
		</ng-container>
		<ng-container matColumnDef="5">
			<th mat-header-cell *matHeaderCellDef>ASSURANCE</th>
			<td class="text-right" mat-cell *matCellDef="let element">{{ element.insuranceAmount | number: ".2" }}</td>
		</ng-container>

		<ng-container matColumnDef="6">
			<th mat-header-cell *matHeaderCellDef>FRAIS DOSSIER</th>
			<td class="text-right" mat-cell *matCellDef="let element">{{ element.fileCost | number: ".2"  }}</td>
		</ng-container>

		<ng-container matColumnDef="7">
			<th mat-header-cell *matHeaderCellDef >MONTANT DEMANDE</th>
			<td class="text-right" mat-cell *matCellDef="let element">{{ element.askedAmount | number: ".2"  }}</td>
		</ng-container>
		<ng-container matColumnDef="8">
			<th mat-header-cell *matHeaderCellDef >AGENCE</th>
			<td mat-cell *matCellDef="let element">{{ element.creationAgency }}</td>
		</ng-container>

		<ng-container matColumnDef="9">
			<th mat-header-cell *matHeaderCellDef>STATUT</th>
			<td mat-cell *matCellDef="let element" [matTooltip]="element.status">
				<div
					class="rounded-full h-5 w-5 shadow-lg flex items-center justify-center"
					[style.background]="element.scoringStatusColor"
				></div>
			</td>
		</ng-container>

		<ng-container matColumnDef="10">
			<th mat-header-cell *matHeaderCellDef>CLASSE</th>
			<td mat-cell *matCellDef="let element">{{ element.classe }}</td>
		</ng-container>
		<tr
			mat-header-row
			*matHeaderRowDef="['0', '1', '3', '4', '5', '6', '7', '8', '9', '10']"
			class="header-table-gry"
		></tr>
		<tr
			mat-row
			*matRowDef="let row; columns: ['0', '1', '3', '4', '5', '6', '7', '8', '9', '10']"
		></tr>
	</table>
</div>
