<h2 mat-dialog-title>Historique CNT</h2>
<div class="tab-container mt-5 bg-cam w-full" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="data"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 500px"
	>
		<ng-container [matColumnDef]="displayedColumns[0]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[0] }}</th>
			<td mat-cell *matCellDef="let element">
				{{ element[displayedColumns[0]] }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[1]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[1] }}</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[1]] }}</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[2]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[2] }}</th>
			<td mat-cell *matCellDef="let element" class="text-center">
				{{ element[displayedColumns[2]] | date: "dd/MM/yyyy HH:mm" }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[3]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[3] }}</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[3]] }}</td>
		</ng-container>

		<!--
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Statut  </th>
            <td mat-cell *matCellDef="let element" class="" [matTooltip]="element.statusName">
                <div class="rounded-full h-5 w-5 shadow-lg flex items-center justify-center" [style.background]="element.statusColor"></div>
            </td>

        </ng-container>
-->

		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
