<h1 mat-dialog-title>Immeuble</h1>
<div mat-dialog-content>
	<div class="flex w-full mt-4">
		<form [formGroup]="immeubleForm" class="w-full">
			<div class="grid grid-cols-2 gap-4">
				<mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
					<mat-label>Titre</mat-label>
					<input formControlName="landTitle" type="text" class="w-full" matInput>
				</mat-form-field>
				
				<mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
					<mat-label>Propriétaire</mat-label>
					<input formControlName="owner" type="text" class="w-full" matInput>
				</mat-form-field>
				
				<mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
					<mat-label>Superficie</mat-label>
					<input formControlName="size" currencyMask class="w-full" matInput>
				</mat-form-field>
				
				<mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
					<mat-label>Quota</mat-label>
					<input formControlName="quota" currencyMask class="w-full" matInput>
				</mat-form-field>
				
				
				<mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
					<mat-label>Adresse</mat-label>
					<input formControlName="adress" type="text" class="w-full" matInput>
				</mat-form-field>
				
				<mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
					<mat-label>Valeur</mat-label>
					<input formControlName="value" currencyMask class="w-full" matInput>
				</mat-form-field>
				
				
				<mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript" style="grid-column: span 2;">
					<mat-label>Type de bien</mat-label>
					<mat-select formControlName="goodTypeId">
						<mat-option *ngFor="let item of goodTypes" [value]="item.id">
							{{ item.designation }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</form>
	</div>
</div>

<div mat-dialog-actions class="flex justify-end">
	<button
		(click)="onSave()"
		mat-raised-button
		[color]="'primary'"
		cdkFocusInitial
	>
		Enregistrer
	</button>
</div>
