<div class="grid grid-cols-3 gap-6 w-full min-w-0">
	<div>
		<app-demande-qui
			[demandeDTO]="data.demande"
			[persons]="data.tiers"
		></app-demande-qui>
	</div>

	<div class="col-span-2">
		<app-demande-info
			[demandeDTO]="data.demande"
		></app-demande-info>
	</div>

	<div
		class="
			sm:col-span-2
			md:col-span-5
			flex flex-col flex-auto
			bg-card
			shadow
			rounded-2xl
			overflow-hidden
		"
	>
		<div class="flex flex-col w-full">
			<app-demande-produits
				[requestId]="data.demande?.requestId"
				[products]="data.demande?.products"
			></app-demande-produits>
		</div>
	</div>
</div>
