<div class="w-full flex justify-end mt-2">
	<button
		mat-raised-button
		color="primary"
		(click)="demanderCB()"
		*ngIf="
			routingService.isDemandeRW() &&
			utilsService.hasPrivilege(utilsService.privilegeCodes.demander_credit_bureau_m)
		"
	>
		Demander crédit bureau
	</button>
</div>
<div class="tab-container mt-5 bg-cam" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="tiers"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 500px"
	>
		<!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition"
          'iddemande','idtiers','datesituation','situationvalidejusquau','typepersonne','nomprenom','refpiecerc'
          -->
		<!-- numdossier Column -->
		<ng-container matColumnDef="0">
			<th mat-header-cell *matHeaderCellDef>Type</th>
			<td mat-cell *matCellDef="let element">{{ element.clientType }}</td>
		</ng-container>

		<!-- objet Column -->
		<ng-container matColumnDef="1">
			<th mat-header-cell *matHeaderCellDef>Client</th>
			<td mat-cell *matCellDef="let element">{{ element.clientName }}</td>
		</ng-container>

		<!-- nominalAuth Column -->
		<ng-container matColumnDef="3">
			<th mat-header-cell *matHeaderCellDef>Ref.Pièce</th>
			<td mat-cell *matCellDef="let element">{{ element.cin }}</td>
		</ng-container>
		<ng-container matColumnDef="4">
			<th mat-header-cell *matHeaderCellDef>RC</th>
			<td mat-cell *matCellDef="let element">{{ element.rcNumber }}</td>
		</ng-container>
		<ng-container matColumnDef="5">
			<th mat-header-cell *matHeaderCellDef>RS</th>
			<td mat-cell *matCellDef="let element">{{ element.entityName }}</td>
		</ng-container>

		<ng-container matColumnDef="6">
			<th mat-header-cell *matHeaderCellDef>Date Req.</th>
			<td mat-cell *matCellDef="let element" class="text-center">
				{{ element.cbRequestDate | date: "dd/MM/yyyy" }}
			</td>
		</ng-container>

		<ng-container matColumnDef="7">
			<th mat-header-cell *matHeaderCellDef>Date Val.</th>
			<td mat-cell *matCellDef="let element" class="text-center">
				{{ element.cbRequestValidityDate | date: "dd/MM/yyyy" }}
			</td>
		</ng-container>

		<ng-container matColumnDef="8">
			<th mat-header-cell *matHeaderCellDef>Statut</th>
			<td mat-cell *matCellDef="let element" [matTooltip]="element.cbRequestStatusName">
				<div
					class="rounded-full h-5 w-5 shadow-lg flex items-center justify-center"
					[style.background]="element.cbRequestStatusColor"
				></div>
			</td>
		</ng-container>

		<ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef class="w-10 text-right"></th>
			<td mat-cell *matCellDef="let element">
				<button
					*ngIf="element.cbRequestId"
					(click)="onDetail(element)"
					mat-mini-fab
					color="primary"
					class="custom-mini-fab"
					matTooltip="Détail"
				>
					<mat-icon
						class="icon-size-4"
						svgIcon="heroicons_solid:dots-horizontal"
					></mat-icon>
				</button>
			</td>
		</ng-container>

		<tr
			mat-header-row
			*matHeaderRowDef="['0', '1', '3', '4', '5', '6', '7', '8', 'action']"
			class="header-table-gry"
		></tr>
		<tr
			mat-row
			*matRowDef="let row; columns: ['0', '1', '3', '4', '5', '6', '7', '8', 'action']"
		></tr>
	</table>
</div>
