<div *ngIf="show" class="flex w-full justify-between">
	<div class="flex">
	</div>

	<div class="flex gap-2">
		<button (click)="dispatchAction('prev')" class="w-28 bg-ca_red text-white" mat-raised-button matTooltip="Précédent">
			Précédent
		</button>
		
		<button (click)="dispatchAction('next')" class="w-28 bg-ca_green text-white" mat-raised-button matTooltip="Suivant">
			Suivant
		</button>
	</div>
</div>

<!-- <div class="flex flex-col flex-auto p-6 bg-card overflow-hidden">
	<div class="flex flex-col items-center mt-2">
		<div class="flex items-center justify-center w-full mt-15 text-secondary">
			<button [color]="'primary'" mat-mini-fab matTooltip="Actions" (click)="dispatchAction()">
				<mat-icon svgIcon="heroicons_outline:dots-vertical"></mat-icon>
			</button>
		</div>
	</div>
</div> -->
