<!-- Navigation -->
<!-- [appearance]="navigationAppearance" -->
<div class="flex flex-col" style="width: 100vw !important; height: 100vh !important;">
	<!-- Header -->
	<div class="top-header relative flex flex-0 items-center w-full px-1 z-49 shadow print:hidden h-15 overflow-hidden">
		<div class="flex items-center justify-center h-15">
			<img class="w-13 h-13" src="assets/icons/logo.svg" alt="Logo image" />
		</div>
		<div class="flex items-center pr-2 space-x-2"></div>
		<div class="flex items-center pl-2 ml-auto space-x-2 text-white gap-2">
			<div class="p-4 border-l border-r border-ca_gray_light">
				<notifications></notifications>
			</div>
			<user></user>
		</div>
	</div>
	
	<!-- Body -->
	<div #body class="flex relative w-full h-full overflow-auto min-w-100" style="scroll-behavior: smooth;">
		<!-- Menu -->
		<navigation
			class="dark bg-ca_secondary print:hidden"
			[name]="'mainNavigation'"
			[navigation]="navigation"
		>
		</navigation>
		
		<!-- Main -->
		<div class="flex flex-col flex-auto w-full">
			<div
				style="background-image: url('assets/images/logo/login_cover.jpg'); 
					background-position-y: bottom;
					background-repeat: no-repeat;
					background-size: cover;
				"
				class="
					relative
					flex flex-0
					items-center
					w-full
					z-49
					shadow
					bg-card
					print:hidden
					h-14
				"
			>
				<div class="bg-black absolute h-full w-full opacity-40"></div>
				<div class="flex items-center pr-2 space-x-2">
					<div class="sm:text-3xl text-lg font-semibold tracking-tight leading-8 text-white px-3 z-10 capitalize">
						{{ layoutService.title$ | async }}
					</div>
				</div>
			</div>
		
			<!-- Content -->
			<div class="flex flex-col flex-auto mb-14">
				<!-- *ngIf="true" hack is required here for router-outlet to work correctly.
					 Otherwise, layout changes won't be registered and the view won't be updated! -->
				<router-outlet *ngIf="true"></router-outlet>
			</div>

			<div class="flex h-15 w-full opacity-0">
				placeholder
			</div>
		
			<!-- Footer -->
			<div
				class="
					sticky
					bottom-0
					left-0
					flex flex-0
					items-center
					justify-start
					w-full
					h-14
					px-4
					md:px-6
					z-49
					border-t
					bg-card
					print:hidden
				"
			>
				<span class="font-medium text-secondary">
					Groupe Crédit Agricole du Maroc &copy; SI.Crédit {{ currentYear }}
				</span>
			</div>
		</div>
	</div>
</div>
