<div class="w-full flex md:flex-row flex-col justify-between items-center gap-2 font-bold max-w-full">
	<div class="flex text-center">
		{{ request.creditTypeName }} N° : {{ request.requestNumber }}, créé à: {{ request.entityName }}
	</div>

	<div class="flex truncate text-center" [matTooltip]="getPersonsTitle()">{{ getPersonsTitleSimple() }} </div>

	<div class="text-right flex gap-2">
		<div>{{ request.statusName }}</div>
		<span [style.color]="request.statusColor" [matTooltip]="request.statusName">
			<mat-icon [style.color]="request.statusColor" svgIcon="mat_solid:circle"></mat-icon>
		</span>
	</div>
</div>
