<div class="w-full flex flex-wrap gap-x-2" *ngIf="persons">
	<!-- Summary -->
	<card
		class="flex flex-col sm:px-8 px-2 py-3 filter-list bg-accent-100 my-2 gap-2 overflow-auto"
		*ngFor="let item of persons"
	>
		<div class="flex items-start justify-start">
			<div class="text-lg font-medium tracking-tight leading-6">{{ item.cin }}</div>
			<div class="text-lg font-medium tracking-tight leading-6 ml-3">
				{{ item.clientName }}
			</div>
		</div>
		<div class="grid grid-cols-4 gap-3 self-center justify-center" *ngIf="request">
			<div class="flex items-center col-span-2">Revenu Mensuel</div>
			<div class="flex justify-end items-center font-medium">
				{{ item.monthlyPaySim | number: ".2":"fr" }}
			</div>
			<div class="flex items-center">
				<mat-form-field
					*ngIf="
						routingService.isDemandeRW() &&
						utilsService.hasPrivilege(
							this.utilsService.privilegeCodes.maj_revenu_charge_m
						)
					"
					class="w-full min-w-28 mat-no-subscript mat-dense-xs"
				>
					<input
						[(ngModel)]="item.monthlyPay"
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
						matInput
						placeholder="Salaire Mensuel"
					/>
				</mat-form-field>
				<div
					*ngIf="
						!utilsService.hasPrivilege(
							this.utilsService.privilegeCodes.maj_revenu_charge_m
						)
					"
					class="w-full text-md font-bold ml-2 text-right"
				>
					{{ item.monthlyPay | number: ".2":"es" }}
				</div>
			</div>

			<div class="flex items-center col-span-2">Autre revenus mensuels</div>
			<div class="flex justify-end items-center font-medium">
				{{ item.othersMonthlyIncomeSim | number: ".2":"fr" }}
			</div>
			<div class="flex items-center">
				<mat-form-field
					*ngIf="
						routingService.isDemandeRW() &&
						utilsService.hasPrivilege(
							this.utilsService.privilegeCodes.maj_revenu_charge_m
						)
					"
					class="w-full min-w-28 mat-no-subscript mat-dense-xs"
				>
					<input
						[(ngModel)]="item.othersMonthlyIncome"
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
						matInput
						placeholder="Autre revenus mensuels"
					/>
				</mat-form-field>
				<div
					*ngIf="
						!utilsService.hasPrivilege(
							this.utilsService.privilegeCodes.maj_revenu_charge_m
						)
					"
					class="w-full text-md font-bold ml-2 text-right"
				>
					{{ item.othersMonthlyIncome | number: ".2":"es" }}
				</div>
			</div>

			<hr class="my-2 border-white border-2 col-span-4" />

			<div class="flex items-center">Ech Immo</div>
			<div class="flex flex-col gap-2">
				<div>
					Cam
				</div>
				<div>
					Conf
				</div>
			</div>
			<div class="flex flex-col gap-2">
				<div class="font-medium">
					{{ item.monthlyPaymentImmoCamSim | number: ".2":"fr" }}
				</div>
				<div class="font-medium">
					{{ item.monthlyPaymentImmoConfSim | number: ".2":"fr" }}
				</div>
			</div>
			<div class="flex flex-col gap-2">
				<div class="flex items-center">
					<mat-form-field
						*ngIf="
							routingService.isDemandeRW() &&
							utilsService.hasPrivilege(
								this.utilsService.privilegeCodes.maj_revenu_charge_m
							)
						"
						class="w-full min-w-28 mat-no-subscript mat-dense-xs"
					>
						<input
							[(ngModel)]="item.monthlyPaymentImmoCam"
							currencyMask
							[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
							matInput
							placeholder="Echéances Immos Cam"
						/>
					</mat-form-field>
					<div
						*ngIf="
							!utilsService.hasPrivilege(
								this.utilsService.privilegeCodes.maj_revenu_charge_m
							)
						"
						class="w-full text-md font-bold ml-2 text-right"
					>
						{{ item.monthlyPaymentImmoCam | number: ".2":"es" }}
					</div>
				</div>
				<div class="flex items-center">
					<mat-form-field
						*ngIf="
							routingService.isDemandeRW() &&
							utilsService.hasPrivilege(
								this.utilsService.privilegeCodes.maj_revenu_charge_m
							)
						"
						class="w-full min-w-28 mat-no-subscript mat-dense-xs"
					>
						<input
							[(ngModel)]="item.monthlyPaymentImmoConf"
							currencyMask
							[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
							matInput
							placeholder="Echéances Immos Conf"
						/>
					</mat-form-field>
					<div
						*ngIf="
							!utilsService.hasPrivilege(
								this.utilsService.privilegeCodes.maj_revenu_charge_m
							)
						"
						class="w-full text-md font-bold ml-2 text-right"
					>
						{{ item.monthlyPaymentImmoConf | number: ".2":"es" }}
					</div>
				</div>
			</div>

			<div class="flex items-center">Ech Conso</div>
			<div class="flex flex-col gap-2">
				<div>
					Cam
				</div>
				<div>
					Conf
				</div>
			</div>
			<div class="flex flex-col gap-2">
				<div class="font-medium">
					{{ item.monthlyPaymentConsoCamSim | number: ".2":"fr" }}
				</div>
				<div class="font-medium">
					{{ item.monthlyPaymentConsoConfSim | number: ".2":"fr" }}
				</div>
			</div>
			<div class="flex flex-col gap-2">
				<div class="flex items-center">
					<mat-form-field
						*ngIf="
							routingService.isDemandeRW() &&
							utilsService.hasPrivilege(
								this.utilsService.privilegeCodes.maj_revenu_charge_m
							)
						"
						class="w-full min-w-28 mat-no-subscript mat-dense-xs"
					>
						<input
							[(ngModel)]="item.monthlyPaymentConsoCam"
							currencyMask
							[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
							matInput
							placeholder="Echéances Conso Cam"
						/>
					</mat-form-field>
					<div
						*ngIf="
							!utilsService.hasPrivilege(
								this.utilsService.privilegeCodes.maj_revenu_charge_m
							)
						"
						class="w-full text-md font-bold ml-2 text-right"
					>
						{{ item.monthlyPaymentConsoCam | number: ".2":"es" }}
					</div>
				</div>
				<div class="flex items-center">
					<mat-form-field
						*ngIf="
							routingService.isDemandeRW() &&
							utilsService.hasPrivilege(
								this.utilsService.privilegeCodes.maj_revenu_charge_m
							)
						"
						class="w-full min-w-28 mat-no-subscript mat-dense-xs"
					>
						<input
							[(ngModel)]="item.monthlyPaymentConsoConf"
							currencyMask
							[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
							matInput
							placeholder="Echéances Conso Conf"
						/>
					</mat-form-field>
					<div
						*ngIf="
							!utilsService.hasPrivilege(
								this.utilsService.privilegeCodes.maj_revenu_charge_m
							)
						"
						class="w-full text-md font-bold ml-2 text-right"
					>
						{{ item.monthlyPaymentConsoConf | number: ".2":"es" }}
					</div>
				</div>
			</div>

			<button
				*ngIf="
					routingService.isDemandeRW() &&
					utilsService.hasPrivilege(
						this.utilsService.privilegeCodes.maj_revenu_charge_m
					)
				"
				mat-mini-fab
				[color]="'primary'"
				style="position: absolute; top: 5px; right: 5px"
				class="custom-mini-fab"
				(click)="onSave(item)"
				matTooltip="Sauvegarder"
			>
				<mat-icon class="icon-size-4" svgIcon="feather:save"></mat-icon>
			</button>
		</div>
	</card>
</div>
