<h2 mat-dialog-title>liste des dossiers</h2>
<mat-dialog-content class="h-100">
	<div class="flex w-full mt-5 items-start flex-col">
		<div class="w-full flex-col justify-center">
			<div class="w-full flex font-semibold rounded-t-xl bg-primary-400 py-2">
				<div class="w-40 pl-1 border-r border-white">N°Doss</div>
				<div class="w-80 pl-1 border-r border-white">Produit</div>
				<div class="w-40 pl-2 border-r border-white">Montant</div>
				<div class="w-40 pl-2 border-r border-white">Montant Accordé</div>
				<div class="w-10 pl-2 border-r border-white" matTooltip="Taux">Tx</div>
				<div class="w-15 pl-2 border-r border-white">Durée</div>
				<div class="w-15 pl-2 border-r border-white" matTooltip="Périodicité">Pér.</div>
				<div class="w-30 pl-2 border-r border-white">Echéance</div>
				<div class="w-30 pl-2 border-r border-white">Montant débloqué</div>
				<div class="w-30 pl-2 border-r border-white">N° de débloquage</div>
			</div>
			<div class="w-full flex" *ngFor="let item of data">
				<div class="w-40 pl-2">{{ item?.nodoss }}</div>
				<div class="w-80 pl-2">{{ item?.productName }}</div>
				<div class="w-40 pl-2 text-right">{{ item?.creditAmount | number: ".2":"es" }}</div>
				<div class="w-40 pl-2 text-right">
					{{ item?.nominalAmount | number: ".2":"es" }}
				</div>
				<div class="w-10 pl-2">{{ item?.rate }}</div>
				<div class="w-15 pl-2">{{ item?.duration }}</div>
				<div class="w-15 pl-2">{{ item?.periodicity }}</div>
				<div class="w-30 pl-2 text-right">{{ item?.dueAmount | number: ".2":"es" }}</div>
				<div class="w-30 pl-2 text-right">
					{{ item?.unblockingAmount | number: ".2":"es" }}
				</div>
				<div class="w-30 pl-2 text-right">
					{{ item?.unblockingNumber | number: ".2":"es" }}
				</div>
			</div>
		</div>
	</div>
</mat-dialog-content>
