<card class="flex flex-col  w-full filter-article  bg-gray-50 mt-4">
    <div class="m-8">
        <div class="grid grid-cols-2  md:grid-cols-3 gap-x-6 gap-y-2 w-full ">

            <div class="flex" *ngIf="productList.indexOf('DA') > -1">
                <mat-form-field class="w-full mat-dense-xs " appearance="outline">
                    <mat-label>Profession</mat-label>
                    <mat-select [disabled]="routingService.isDemandeRO()" [(ngModel)]="client.profession">
                        <mat-option *ngFor="let item of listeProfession" [value]="item.id">
                            <span>{{item.designation}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex" *ngIf="productList.indexOf('EP') > -1">
                <mat-form-field class="w-full mat-dense-xs" appearance="outline">
                    <mat-label>Date Dépôt</mat-label>
                    <input [disabled]="routingService.isDemandeRO()" matInput type="date"
                        [(ngModel)]="client.depositDate">
                </mat-form-field>
            </div>

            <div class="flex" *ngIf="productList.indexOf('EP') > -1">
                <mat-form-field class="w-full mat-dense-xs" appearance="outline">
                    <mat-label>Adresse bénéficiaire</mat-label>
                    <textarea [disabled]="routingService.isDemandeRO()" matInput
                        [(ngModel)]="client.beneficiaryAdress"></textarea>
                </mat-form-field>
            </div>

            <div class="flex items-center" *ngIf="productList.indexOf('EP') > -1">
                <mat-form-field class="w-full mat-dense-xs " appearance="outline">
                    <mat-label>Code ville</mat-label>
                    <mat-select [disabled]="routingService.isDemandeRO()" [(ngModel)]="client.city">
                        <mat-option *ngFor="let ville of listeVille" [value]="ville.id">
                            <span>{{ville.designation}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex items-center"
                *ngIf="productList.indexOf('AMAQ') > -1 || productList.indexOf('RELH') > -1 || productList.indexOf('DE') > -1">
                <mat-form-field class="w-full mat-dense-xs " appearance="outline">
                    <mat-label>Activité</mat-label>
                    <mat-select [disabled]="routingService.isDemandeRO()" [(ngModel)]="client.activity">
                        <mat-option *ngFor="let item of listeActivite" [value]="item.id">
                            <span>{{item.designation}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex"
                *ngIf="productList.indexOf('AMAQ') > -1 || productList.indexOf('REL') > -1 || productList.indexOf('DE') > -1">
                <mat-form-field class="w-full mat-dense-xs " appearance="outline">
                    <mat-label>Chiffre d'affaires</mat-label>
                    <input [disabled]="routingService.isDemandeRO()" matInput [(ngModel)]="client.turnOver" currencyMask
                        [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
                </mat-form-field>
            </div>

            <div class="flex " *ngIf="productList.indexOf('AMAQ') > -1 || productList.indexOf('DE') > -1">
                <mat-form-field class="w-full mat-dense-xs " appearance="outline">
                    <mat-label>Chiffre d'affaires à l'export</mat-label>
                    <input [disabled]="routingService.isDemandeRO()" matInput [(ngModel)]="client.exportTurnOver"
                        currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
                </mat-form-field>
            </div>

            <div class="flex "
                *ngIf="productList.indexOf('AMAQ') > -1 || productList.indexOf('REL') > -1 || productList.indexOf('DE') > -1">
                <mat-form-field class="w-full mat-dense-xs " appearance="outline">
                    <mat-label>Année du chiffre d'affaires</mat-label>
                    <input [disabled]="routingService.isDemandeRO()" type="number" matInput [(ngModel)]="client.year">
                </mat-form-field>
            </div>

            <div class="flex"
                *ngIf="productList.indexOf('DE') > -1 || productList.indexOf('TPEH') > -1 || productList.indexOf('DAT') > -1">
                <mat-form-field class="w-full mat-dense-xs " appearance="outline">
                    <mat-label>Effectif</mat-label>
                    <input [disabled]="routingService.isDemandeRO()" matInput type="number"
                        [(ngModel)]="client.workForceNumber">
                </mat-form-field>
            </div>

            <div class="flex" *ngIf="productList.indexOf('DAT') > -1">
                <mat-form-field class="w-full mat-dense-xs " appearance="outline">
                    <mat-label>Date création</mat-label>
                    <input [disabled]="routingService.isDemandeRO()" matInput type="date"
                        [(ngModel)]="client.creationDate">
                </mat-form-field>
            </div>
            <div class="flex" *ngIf="productList.indexOf('DAT') > -1">
                <mat-form-field class="w-full mat-dense-xs " appearance="outline">
                    <mat-label>RC</mat-label>
                    <input [disabled]="routingService.isDemandeRO()" matInput type="text" [(ngModel)]="client.rcNumber">
                </mat-form-field>
            </div>

        </div>


    </div>
    <div class="w-full flex justify-end p-4 gap-x-2">
        <button mat-raised-button [color]="'primary'" (click)="saveCustomerCard()">Enregistrer</button>
    </div>

    <!--<div class="w-full flex justify-end p-4 gap-x-2">
        <button mat-raised-button (click)="onPrevious()">Précédent</button>
        <button mat-raised-button (click)="onNext()">Suivant</button>
    </div>-->

</card>