<card class="w-full filter-article bg-gray-50 mt-4 flex-col">
	<div class="m-8">
		<div class="w-full grid grid-cols-2 md:grid-cols-4 gap-x-6 mt-4">
			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Coût global</mat-label>
					<input
						matInput
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
					/>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Prix</mat-label>
					<input
						matInput
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
					/>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Superficie</mat-label>
					<input matInput type="number" />
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Ville</mat-label>
					<mat-select>
						<mat-option
							*ngFor="
								let item of [
									{ id: 1, type: 'Rabat', libelle: 'Rabat' },
									{ id: 2, type: 'Casablanca', libelle: 'Casablanca' }
								]
							"
							[value]="item.id"
						>
							<span>{{ item.id }} - {{ item.libelle }}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Numéro TF</mat-label>
					<input matInput />
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Nature TF</mat-label>
					<input matInput />
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Adresse</mat-label>
					<input matInput />
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Vendeur du logement</mat-label>
					<mat-select>
						<mat-option
							*ngFor="
								let item of [
									{ id: 1, type: 'vendeur-1', libelle: 'Vendeur 1' },
									{ id: 2, type: 'vendeur-2', libelle: 'vendeur 2' }
								]
							"
							[value]="item.id"
						>
							<span>{{ item.id }} - {{ item.libelle }}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Acquisition dans l'indivision</mat-label>
					<mat-select>
						<mat-option
							*ngFor="
								let item of [
									{ id: 1, type: 'vendeur-1', libelle: 'Vendeur 1' },
									{ id: 2, type: 'vendeur-2', libelle: 'vendeur 2' }
								]
							"
							[value]="item.id"
						>
							<span>{{ item.id }} - {{ item.libelle }}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Type logement actuel</mat-label>
					<mat-select>
						<mat-option
							*ngFor="
								let item of [
									{ id: 1, libelle: 'Location' },
									{ id: 2, libelle: 'Bidonvillois' },
									{ id: 3, libelle: 'MRE' }
								]
							"
							[value]="item.id"
						>
							<span>{{ item.id }} - {{ item.libelle }}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Prix du terrain</mat-label>
					<input
						matInput
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
					/>
				</mat-form-field>
			</div>
			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Pays d'acceuil</mat-label>
					<mat-select>
						<mat-option
							*ngFor="
								let item of [
									{ id: 1, libelle: 'Italie' },
									{ id: 2, libelle: 'Sued' },
									{ id: 3, libelle: 'Suisse' }
								]
							"
							[value]="item.id"
						>
							<span>{{ item.id }} - {{ item.libelle }}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Code filière</mat-label>
					<mat-select>
						<mat-option
							*ngFor="
								let item of [
									{ id: 1, libelle: 'Gestion des entreprises' },
									{ id: 2, libelle: 'Economie et finance' },
									{ id: 3, libelle: 'Expertise comptable' }
								]
							"
							[value]="item.id"
						>
							<span>{{ item.id }} - {{ item.libelle }}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Duré d'étude (année)</mat-label>
					<input matInput type="number" />
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Dénomination compléte écolde</mat-label>
					<input matInput type="text" />
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Dénomination abregée écolde</mat-label>
					<input matInput type="text" />
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Ville écolde</mat-label>
					<mat-select>
						<mat-option
							*ngFor="
								let item of [
									{ id: 1, libelle: 'Rabat' },
									{ id: 2, libelle: 'Casablanca' }
								]
							"
							[value]="item.id"
						>
							<span>{{ item.id }} - {{ item.libelle }}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Diplôme recherché</mat-label>
					<mat-select>
						<mat-option
							*ngFor="
								let item of [
									{ id: 1, libelle: 'Ingénieur d\'état' },
									{ id: 2, libelle: 'Doctorat' }
								]
							"
							[value]="item.id"
						>
							<span>{{ item.id }} - {{ item.libelle }}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Cumul Frais d'Inscription</mat-label>
					<input
						matInput
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
					/>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Cumul Frais de Scolarité</mat-label>
					<input
						matInput
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
					/>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Cumul Autres frais</mat-label>
					<input
						matInput
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
					/>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Nombre d'emplois à créer</mat-label>
					<input matInput type="number" />
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Type de localité</mat-label>
					<mat-select>
						<mat-option
							*ngFor="
								let item of [
									{ id: 1, libelle: 'Location' },
									{ id: 2, libelle: 'Proriété de l\'entreprise/entrepreneur' },
									{ id: 3, libelle: 'Autres' }
								]
							"
							[value]="item.id"
						>
							<span>{{ item.id }} - {{ item.libelle }}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Appréciation</mat-label>
					<mat-select>
						<mat-option
							*ngFor="
								let item of [
									{
										id: 1,
										libelle:
											'activité/environnement favorable induisant une bonne perspective retabilité'
									}
								]
							"
							[value]="item.id"
						>
							<span>{{ item.id }} - {{ item.libelle }}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Implantation rurale</mat-label>
					<mat-select>
						<mat-option
							*ngFor="
								let item of [
									{ id: 1, libelle: 'OUI' },
									{ id: 2, libelle: 'NON' }
								]
							"
							[value]="item.id"
						>
							<span>{{ item.id }} - {{ item.libelle }}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Coût du projet</mat-label>
					<input
						matInput
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
					/>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Exportatrice vers l'afrique</mat-label>
					<mat-select>
						<mat-option
							*ngFor="
								let item of [
									{ id: 1, libelle: 'OUI' },
									{ id: 2, libelle: 'NON' }
								]
							"
							[value]="item.id"
						>
							<span>{{ item.id }} - {{ item.libelle }}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Finalité</mat-label>
					<mat-select>
						<mat-option
							*ngFor="
								let item of [
									{ id: 1, libelle: 'CREATION' },
									{ id: 2, libelle: 'EXPLOITATION' },
									{ id: 3, libelle: 'DEVELOPPEMENT' }
								]
							"
							[value]="item.id"
						>
							<span>{{ item.id }} - {{ item.libelle }}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Type Dossier</mat-label>
					<mat-select>
						<mat-option
							*ngFor="
								let item of [
									{ id: 1, libelle: 'TYPE 1' },
									{ id: 2, libelle: 'TYPE 2' },
									{ id: 2, libelle: 'TYPE 3' }
								]
							"
							[value]="item.id"
						>
							<span>{{ item.id }} - {{ item.libelle }}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Montant du crédit</mat-label>
					<input
						matInput
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
					/>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Date du comité</mat-label>
					<input matInput type="date" />
				</mat-form-field>
			</div>
			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Montant alloué au règlement des fournisseurs</mat-label>
					<input
						matInput
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
					/>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label
						>Montant alloué au règlement des salaire et charges sociales</mat-label
					>
					<input
						matInput
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
					/>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>ratio</mat-label>
					<input matInput type="number" />
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Capitaux propres</mat-label>
					<input
						matInput
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
					/>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Dette MLT</mat-label>
					<input
						matInput
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
					/>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field class="w-full mat-dense-xs" appearance="outline">
					<mat-label>Trésorerie actif</mat-label>
					<input
						matInput
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
					/>
				</mat-form-field>
			</div>
		</div>
	</div>

	<div class="w-full flex justify-end p-4 gap-x-2">
		<button mat-raised-button (click)="onPrevious()">Précédent</button>
		<button mat-raised-button (click)="onNext()">Suivant</button>
	</div>
</card>
