<div class="w-full mt-2 overflow-auto px-2">
	<table
		mat-table
		class="mat-datatable table-simulation bg-white w-full"
		[dataSource]="listHystorique"
	>
		<ng-container [matColumnDef]="displayedColumns[0]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLib[0] }}</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[1]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLib[1] }}</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[1]] }}</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[2]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLib[2] }}</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[2]] }}</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[3]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLib[3] }}</th>
			<td mat-cell *matCellDef="let element" class="text-center">
				{{ element[displayedColumns[3]] }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[4]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLib[4] }}</th>
			<td mat-cell *matCellDef="let element" class="text-center">
				{{ element[displayedColumns[4]] | date: "dd/MM/yyyy HH:mm" }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[5]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLib[5] }}</th>
			<td mat-cell *matCellDef="let element" class="text-center">
				{{ element[displayedColumns[5]] | date: "dd/MM/yyyy HH:mm" }}
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
