<card class="flex flex-col  w-full filter-article  bg-gray-50 mt-4">
    <div class="m-8">

        <!--
['produit','montant','reliquat','action']
-->
        <div>
            <table mat-table class="mat-datatable  bg-white w-full hover" [dataSource]="produitFinancementList">

                <ng-container matColumnDef="productName">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                        Produit
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-left">
                        <span>{{element.productName}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="creditAmount">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                        Montant
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-right">
                        <span>{{element.creditAmount | number:'.2':'es'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef>
                    </th>
                    <td mat-cell *matCellDef="let element ">
                        <mat-checkbox *ngIf="routingService.isDemandeRW()" [color]="'primary'" [(ngModel)]="element.checked"></mat-checkbox>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumn" class="header-table-gry rounded-t-xl"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>

            </table>

            <div class="w-full flex justify-end">
                <button *ngIf="routingService.isDemandeRW()" class="mt-2" mat-raised-button [color]="'primary'" (click)="onPrepareCreateProjectCCg()">Créer Projet</button>
            </div>

        </div>
        <!--<div class="w-full flex justify-end p-4 gap-x-2">
            <button mat-raised-button (click)="onNext()">Suivant</button>
        </div>-->
    </div>
</card>