<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">
<!-- "workflowId":167,"userName":"DIRA Mohamed Amine","entityName":"403-IMZOUREN","userRemark":null,"actionDate":"2022-01-14T12:32:35.000+0000"} -->
    <!-- Main -->
    <div class="flex flex-col flex-auto px-2 py-10 sm:px-16 sm:pb-20">

        <!-- Activity feed -->
        <div class="w-full max-w-3xl">

            <!-- Title -->
            <ng-container *ngIf="demandeService.requestComments as comments; else loading">
                <ng-container *ngIf="comments.length; else noComment">
                    <div class="mt-8">
                        <ol>
                            <!-- Activities -->
                            <ng-container *ngFor="let comment of comments; let i = index; let first = first; let last = last; trackBy: trackByFn">

                                <!-- Date separator -->
                                <ng-container *ngIf="first || !isSameDay(comment.actionDate, comments[i - 1].actionDate)">
                                    <li class="relative flex py-7">
                                        <div class="relative py-2 px-8 text-md font-medium leading-5 rounded-full bg-primary text-on-primary">
                                            {{getRelativeFormat(comment.actionDate)}}
                                        </div>
                                    </li>
                                </ng-container>

                                <!-- Activity -->
                                <li class="relative flex py-7">
                                    <!-- Line -->
                                    <ng-container *ngIf="!last && isSameDay(comment.actionDate, comments[i + 1].actionDate)">
                                        <div class="absolute top-7 left-5 w-0.5 h-full -ml-px bg-gray-300"></div>
                                    </ng-container>

                                    <div class="relative flex flex-auto">
                                        <!-- Icon -->
                                        <ng-container>
                                            <div class="flex flex-shrink-0 items-center justify-center w-10 h-10 mr-4 rounded-full bg-gray-400">
                                                <mat-icon
                                                    class="icon-size-5 text-white"
                                                    [svgIcon]="'heroicons_solid:star'">
                                                </mat-icon>
                                            </div>
                                        </ng-container>

                                        <!-- Content -->
                                        <div class="flex flex-col flex-auto items-start">
                                            <!-- Description -->
                                            <ng-container>
                                                <div> <div class="font-bold">{{ comment.userName }}</div> {{ comment.entityName }}</div>
                                            </ng-container>
                                            <div class="flex flex-col sm:flex-row sm:items-center mt-2 sm:mt-1 sm:space-x-2 text-md leading-5">
                                                <!-- Date -->
                                                <div class="text-secondary">
                                                    {{comment.actionDate | date:'MMM dd, h:mm a'}}
                                                </div>
                                            </div>
                                            <!-- Extra content -->
                                            <ng-container *ngIf="comment.userRemark">
                                                <div class="mt-4 py-4 px-5 rounded-lg bg-gray-200">
                                                    <div class="font-bold">
                                                        {{ comment.userRemark }}
                                                    </div>
                                                    <br>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </li>
                            </ng-container>
                        </ol>
                    </div>
                </ng-container>
            </ng-container>

            <!-- Loading template -->
            <ng-template #loading>
                Loading...
            </ng-template>

            <!-- No Activity template -->
            <ng-template #noComment>
                There are is activity at the moment...
            </ng-template>

        </div>
    </div>

</div>
