<div class="tab-container" style="max-width: 100%; overflow: auto">
    <table mat-table [dataSource]="products" class="mat-datatable small-table"
        width="100%" style="min-width: 500px">
        <ng-container matColumnDef="financialProductName">
            <th mat-header-cell *matHeaderCellDef>Type bien</th>
            <td mat-cell *matCellDef="let element">
                {{ element.financialProductName }}
            </td>
        </ng-container>

        <!-- objet Column -->
        <ng-container matColumnDef="financialObjectCode">
            <th mat-header-cell *matHeaderCellDef>Objet</th>
            <td mat-cell *matCellDef="let element">
                {{ element.financialObjectCode }}
            </td>
        </ng-container>

        <!-- nominalAuth Column -->
        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef>Durée</th>
            <td mat-cell *matCellDef="let element">
               

                <div class="w-full text-md font-bold truncate ml-2 text-right" >
                    {{ element.lastDuration }}
                </div>
            </td>
        </ng-container>

        <!-- encours Column -->
        <ng-container matColumnDef="deferredPeriod">
            <th mat-header-cell *matHeaderCellDef>Différé</th>
            <td mat-cell *matCellDef="let element">
               
                <div class="w-full text-md font-bold truncate ml-2 text-right" >
                    {{ element.lastDeferredPeriod }}
                </div>
            </td>
        </ng-container>

        <!-- crdu Column -->
        <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef>Taux</th>
            <td mat-cell *matCellDef="let element">
               
                <div class="w-full text-md font-bold truncate ml-2 text-right" >
                    {{ element.lastRate }}
                </div>
            </td>
        </ng-container>

        <!-- impaye Column -->
        <ng-container matColumnDef="bonus">
            <th mat-header-cell *matHeaderCellDef matTooltip="Montant accordé">
                Montant Acc.
            </th>
            <td mat-cell *matCellDef="let element">
            
                <div class="w-full text-md font-bold truncate ml-2 text-right" >
                    {{ element.lastAmountGranted | number: ".2":"es" }}
                </div>
            </td>
        </ng-container>

        <!-- nbrImpye Column -->
        <ng-container matColumnDef="derogation">
            <th mat-header-cell *matHeaderCellDef>Dérog</th>
            <td mat-cell *matCellDef="let element">{{ element.derogation }}</td>
        </ng-container>

        <!-- nbrImpye Column -->
        <ng-container matColumnDef="goodAmount">
            <th mat-header-cell *matHeaderCellDef>Mensualité</th>
            <td mat-cell *matCellDef="let element" class="text-right">
                <span >{{
                    element.lastMonthlyPayment | number: ".2":"es"
                    }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef matTooltip="Date de dédut">
                Date de dédut
            </th>
            <td mat-cell *matCellDef="let element">

                <div class="w-full text-md font-bold truncate ml-2 text-center">
                    {{ element.startDate | date: "dd/MM/yyyy" }}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef matTooltip="Date fin">
                Date fin
            </th>
            <td mat-cell *matCellDef="let element">

                <div class="w-full text-md font-bold truncate ml-2 text-center" >
                    {{ element.endDate | date: "dd/MM/yyyy" }}
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>

<div mat-dialog-actions class="flex justify-end">
    <button mat-raised-button color="warn" [mat-dialog-close]="null" cdkFocusInitial>Fermer</button>
</div>