<div class="flex flex-col">
	<div class="overflow-auto">
		<table mat-table [dataSource]="dataSource" class="mat-datatable small-table" width="100%" style="min-width: 500px"
			cdkDropList [cdkDropListData]="dropList" (cdkDropListDropped)="drop($event)" [id]="id">
			<!-- checkbox -->
			<ng-container matColumnDef="-1">
				<th mat-header-cell *matHeaderCellDef class="w-80">
					<mat-checkbox color="white" (change)="toggleAll($event.checked)">
						{{ checkedCount() + " checked"}}
					</mat-checkbox>
				</th>
				<td mat-cell *matCellDef="let request">
					<mat-checkbox [(ngModel)]="request.checked" (change)="checkboxClicked($event.checked, request)">
					</mat-checkbox>
				</td>
			</ng-container>

			<!-- numdossier Column -->
			<ng-container matColumnDef="0">
				<th mat-header-cell *matHeaderCellDef class="w-80">N°</th>
				<td mat-cell *matCellDef="let request">{{ request.requestNumber }}</td>
			</ng-container>
		
			<!-- objet Column -->
			<ng-container matColumnDef="1">
				<th mat-header-cell *matHeaderCellDef>Type</th>
				<td mat-cell *matCellDef="let request">{{ request.creditTypeName }}</td>
			</ng-container>
		
			<!-- nominalAuth Column -->
			<ng-container matColumnDef="2">
				<th mat-header-cell *matHeaderCellDef>Entité création</th>
				<td mat-cell *matCellDef="let request">{{ request.entityName }}</td>
			</ng-container>
		
			<!-- encours Column -->
			<ng-container matColumnDef="3">
				<th mat-header-cell *matHeaderCellDef>Intitulé du compte</th>
				<td mat-cell *matCellDef="let request" class="text-center">{{ request.accountNumber }}</td>
			</ng-container>
		
			<ng-container matColumnDef="4">
				<th mat-header-cell *matHeaderCellDef>Montant Total</th>
				<td mat-cell *matCellDef="let request" class="text-right">{{ request.requestAmount | number: ".2":"es" }}</td>
			</ng-container>
		
			<ng-container matColumnDef="5">
				<th mat-header-cell *matHeaderCellDef>Nbr. Prod.</th>
				<td mat-cell *matCellDef="let request" class="text-right">
					{{ request.productsNumber }}
				</td>
			</ng-container>
		
			<ng-container matColumnDef="6">
				<th mat-header-cell *matHeaderCellDef>Séj.</th>
				<td mat-cell *matCellDef="let request" class="text-right">
					{{ request.stayDuration }}
				</td>
			</ng-container>
		
			<ng-container matColumnDef="7">
				<th mat-header-cell *matHeaderCellDef>Status</th>
				<td mat-cell *matCellDef="let request" class="text-center">
					<mat-icon class="icon-size-4" [class]="'text-{{request.statusColor}}-300'"
						svgIcon="mat_solid:fiber_manual_record"></mat-icon>
				</td>
			</ng-container>
		
			<tr mat-header-row *matHeaderRowDef="['-1', '0', '1', '2', '3', '4', '5', '6', '7']" class="header-table-gry"></tr>
			<tr class="w-full" cdkDrag mat-row *matRowDef="let row; columns: ['-1', '0', '1', '2', '3', '4', '5', '6', '7']"></tr>
		</table>
	</div>
	<div class="bg-card">
		<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 30, 50, 100, 200]"></mat-paginator>
	</div>
</div>
