<h1 mat-dialog-title>Ajout de produits</h1>
<div mat-dialog-content>
	<div class="flex w-full gap-2">
		<form [formGroup]="productForm" (ngSubmit)="onCalculer()" class="w-full flex flex-col gap-4">
			<div class="flex flex-col">
				<div class="flex md:flex-row flex-col w-full mt-3 gap-x-2">
					<mat-form-field class="w-full mat-dense-xs" appearance="outline">
						<mat-label>Type de produit </mat-label>
						<mat-select formControlName="productType">
							<mat-option *ngFor="let item of listTypeProduct" [value]="item.code">
								<span>{{ item.designation }}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field class="w-full mat-dense-xs" appearance="outline">
						<mat-label>Produit de financement</mat-label>
						<mat-select
							formControlName="lastProduct"
							(selectionChange)="resetRateType()"
						>
							<mat-option *ngFor="let item of filtredProductList" [value]="item.id">
								<span>{{ item.designation }}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div *ngIf="isContracted()" class="flex md:flex-row flex-col w-full mt-3 gap-x-2">
					<mat-form-field class="w-full mat-dense-xs" appearance="outline">
						<mat-label>Convention</mat-label>
						<mat-select formControlName="agreement">
							<mat-option *ngFor="let item of filteredAgreements" [value]="item.id">
								<span>{{ item.designation }}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field class="w-full mat-dense-xs" appearance="outline">
						<mat-label>Fournisseur</mat-label>
						<mat-select
							formControlName="provider"
						>
							<mat-option *ngFor="let item of filteredProviders" [value]="item.id">
								<span>{{ item.designation }}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="flex w-full mt-3 gap-x-2">
					<div class="flex flex-col w-full" #selectAutoComplete>
						<ngx-mat-tree-select-input
							class="w-full"
							[options]="filteredListObjetFinancement"
							[controlName]="'financielObject'"
							[canSelectParentNode]="false"
							[placeholder]="'Objet de financement'"
						>
							<input
								class="w-full p-4"
								#searchInput
								placeholder="Chercher"
								(keydown)="$event.stopPropagation()"
								(keyup)="filter(listObjetFinancement, searchInput.value)"
							/>
						</ngx-mat-tree-select-input>
					</div>
				</div>

				<div class="flex w-full mt-3"></div>

				<div class="flex md:flex-row flex-col w-full gap-x-2">
					<mat-form-field appearance="outline" class="w-full mat-dense-xs">
						<mat-label>Montant demandé</mat-label>
						<input
							type="text"
							matInput
							formControlName="lastAmountGranted"
							currencyMask
							[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
						/>
					</mat-form-field>

					<mat-form-field *ngIf="!noSimulation()" appearance="outline" class="w-full mat-dense-xs">
						<mat-label>Apport personnel</mat-label>
						<input
							type="text"
							matInput
							formControlName="lastContributionAmount"
							currencyMask
							[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
						/>
					</mat-form-field>
				</div>

				<div class="flex w-full gap-x-2">
					<mat-form-field class="w-full mat-dense-xs" appearance="outline">
						<mat-label>Type de taux</mat-label>
						<!-- <mat-select formControlName="lastRateType"  (selectionChange)="onRateTypeChange($event.value)"> -->
						<mat-select formControlName="lastRateType">
							<mat-option *ngFor="let item of typeTaux" [value]="item.code">
								<span>{{ item.designation }}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field
						*ngIf="fieldToDisplay == 'T'"
						appearance="outline"
						class="w-full mat-dense-xs"
					>
						<mat-label>Taux</mat-label>
						<input
							matInput
							formControlName="lastRate"
							type="number"
							class="text-right"
						/>
					</mat-form-field>

					<mat-form-field
						*ngIf="fieldToDisplay == 'PB'"
						appearance="outline"
						class="mat-dense-xs w-full"
					>
						<mat-label>Point de base</mat-label>
						<input
							matInput
							formControlName="lastBasePoint"
							type="number"
							class="text-right"
						/>
					</mat-form-field>
				</div>

				<div class="flex md:flex-row flex-col w-full gap-x-2">
					<mat-form-field  *ngIf="!noSimulation()" appearance="outline" class="w-full mat-dense-xs">
						<mat-label>Durée</mat-label>
						<input
							matInput
							formControlName="lastDuration"
							type="number"
							class="text-right"
						/>
					</mat-form-field>

					<mat-form-field *ngIf="!noSimulation()" appearance="outline" class="mat-dense-xs w-full">
						<mat-label>Differé</mat-label>
						<input
							matInput
							formControlName="lastDeferredPeriod"
							type="number"
							class="text-right"
						/>
					</mat-form-field>
				</div>

				<div class="w-full flex gap-2">
					<div class="w-full">
						<mat-form-field
							appearance="outline"
							class="flex-auto w-full mat-dense-xs"
						>
							<mat-label>Date de dédut</mat-label>
							<input
								matInput
								[matDatepicker]="startDatePicker"
								placeholder="Date de dédut"
								formControlName="startDate"
							/>
							<mat-datepicker-toggle matSuffix [for]="startDatePicker">
							</mat-datepicker-toggle>
							<mat-datepicker #startDatePicker [touchUi]="false" [color]="'primary'">
							</mat-datepicker>
						</mat-form-field>
					</div>

					<div  *ngIf="noSimulation()" class="w-full">
						<mat-form-field
							appearance="outline"
							class="flex-auto w-full mat-dense-xs"
						>
							<mat-label>Date fin</mat-label>
							<input
								matInput
								[matDatepicker]="endDatePicker"
								placeholder="Date fin"
								formControlName="endDate"
							/>
							<mat-datepicker-toggle matSuffix [for]="endDatePicker">
							</mat-datepicker-toggle>
							<mat-datepicker #endDatePicker [touchUi]="false" [color]="'primary'">
							</mat-datepicker>
						</mat-form-field>
					</div>
				</div>


				<div *ngIf="!noSimulation()" class="flex w-full">
					<mat-radio-group formControlName="periodicity" class="mt-2">
						<mat-label class="font-semibold">Périodicité</mat-label>
						<mat-radio-button
							*ngFor="let item of perdictees"
							[value]="item.code"
							class="ml-2"
							>{{ item.designation }}</mat-radio-button
						>
					</mat-radio-group>
				</div>
			</div>
			
			<app-simulation-result *ngIf="calculateSuccess" [monthlyPayment]="product.lastMonthlyPayment" [insurance]="product.lastInsurance"></app-simulation-result>

			<div *ngIf="!noSimulation()" class="flex flex-row gap-3 justify-center">
				<button
					mat-raised-button
					[color]="'primary'"
					cdkFocusInitial
					type="submit"
					class="p-3"
				>
					Calculer
				</button>
				<button
					mat-raised-button
					[color]="'warn'"
					(click)="onResit()"
					type="reset"
					class="p-3"
				>
					Réinitialiser
				</button>
			</div>
		</form>
	</div>
</div>
<div mat-dialog-actions class="flex justify-end mt-3">
	<button
	class="mr-2"
		[disabled]="!calculateSuccess && !noSimulation()"
		mat-raised-button
		[color]="'primary'"
		cdkFocusInitial
		(click)="onValide()"
	>
		Enregistrer
	</button>
	<button mat-raised-button [color]="'warn'" (click)="onClose()">Retour</button>
</div>
