<h3 mat-dialog-title>Report d'écheance</h3>
<div mat-dialog-content class="py-10">
    <div class="grid grid-cols-1 gap-4 w-full">
        <div class="w-full">
            <mat-form-field class="w-full mat-dense-xs" appearance="outline">
                <mat-label>Nombre d'écheance à reporter</mat-label>
                <input matInput min="1" step="1" type="number" [(ngModel)]="selectedRow.lastDuration" />
            </mat-form-field>
        </div>

        <div class="w-full">
            <mat-form-field class="w-full mat-dense-xs" appearance="outline">
                <mat-label>Date première echeance</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="selectedRow.firstDeadlineDate" />
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>

    </div>
</div>

<div mat-dialog-actions class="flex justify-end">
    <button mat-raised-button [color]="'primary'"  [mat-dialog-close]="selectedRow" cdkFocusInitial>
        Valider
    </button>
    <button mat-raised-button [color]="'warn'" (click)="onNoClick()">Fermer</button>
</div>
