<mat-expansion-panel class="bg-gray mt-5" [expanded]="true">
	<mat-expansion-panel-header class=" expan-panel header">
		<div class="w-full flex justify-center">
			<h4 class="ml-3 font-bold">Rubrique</h4>
		</div>
	</mat-expansion-panel-header>
	<div class="flex w-full mt-5 items-start flex-col">
		<form
			*ngIf="routingService.isDemandeRW() && hasPrivilege()"
			[formGroup]="rubriqueForm"
			(ngSubmit)="submit()"
			class="w-full"
		>
			<div class="flex md:flex-row flex-col gap-6">
				<mat-form-field
					class="w-80 mt-2 mat-dense-xs mat-no-subscript"
					appearance="outline"
				>
					<mat-label>Rubrique</mat-label>
					<input formControlName="section" matInput />
				</mat-form-field>
				<mat-form-field
					class="w-80 mt-2 mat-dense-xs mat-no-subscript"
					appearance="outline"
				>
					<mat-label>Montant Total</mat-label>
					<input
						type="text"
						currencyMask
						[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
						matInput
						formControlName="amount"
						placeholder="Salaire mensuel"
					/>
				</mat-form-field>
				<button type="submit" mat-raised-button [color]="'primary'" class="w-24">
					Ajouter
				</button>
			</div>
		</form>

		<div class="tab-container mt-5 bg-cam w-full" style="max-width: 100%; overflow: auto">
			<table
				mat-table
				[dataSource]="dataSource"
				class="mat-datatable small-table w-full"
				width="100%"
				style="min-width: 500px"
			>
				<ng-container [matColumnDef]="displayedColumns[0]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[0] }}</th>
					<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
				</ng-container>

				<ng-container [matColumnDef]="displayedColumns[1]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[1] }}</th>
					<td mat-cell *matCellDef="let element" class="text-right">
						{{ element[displayedColumns[1]] | number: ".2":"es" }}
					</td>
				</ng-container>

				<ng-container [matColumnDef]="displayedColumns[2]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[2] }}</th>
					<td mat-cell *matCellDef="let element" class="text-right">
						{{ element[displayedColumns[2]] | number: ".2":"es" }}
					</td>
				</ng-container>

				<ng-container [matColumnDef]="displayedColumns[3]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[3] }}</th>
					<td mat-cell *matCellDef="let element" class="text-right">
						{{ element[displayedColumns[3]] | number: ".2":"es" }}
					</td>
				</ng-container>

				<ng-container [matColumnDef]="displayedColumns[4]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[4] }}</th>
					<td mat-cell *matCellDef="let element" class="text-danger">
						<button
							mat-mini-fab
							class="custom-mini-fab"
							color="primary"
							(click)="showRepports(element)"
						>
							<mat-icon
								class="icon-size-4"
								svgIcon="heroicons_outline:zoom-in"
							></mat-icon>
						</button>
						<button
							*ngIf="routingService.isDemandeRW()"
							mat-mini-fab
							class="custom-mini-fab ml-4"
							color="warn"
							(click)="deleteSection(element)"
						>
							<mat-icon
								class="icon-size-4"
								svgIcon="heroicons_outline:trash"
							></mat-icon>
						</button>
					</td>
				</ng-container>

				<tr
					mat-header-row
					*matHeaderRowDef="displayedColumns"
					class="header-table-gry"
				></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
			</table>
		</div>
		<div class="flex flex-col flex-auto items-end w-full bg-card ">
			<mat-paginator
				[pageSize]="5"
				[pageSizeOptions]="[5, 10, 20, 30, 50, 100, 200]"
			></mat-paginator>
		</div>
	</div>
</mat-expansion-panel>
