<div class="row tab-container bg-cam" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="dataSource"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 900px"
		multiTemplateDataRows
	>
		<ng-container [matColumnDef]="displayedColumns[0]">
			<th mat-header-cell *matHeaderCellDef>TYPE BIEN</th>
			<td mat-cell *matCellDef="let data; let i = dataIndex">
				{{ data[displayedColumns[0]] }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[1]">
			<th mat-header-cell *matHeaderCellDef>PACK</th>
			<td mat-cell *matCellDef="let data">{{ data[displayedColumns[1]] }}</td>
		</ng-container>
		<ng-container [matColumnDef]="displayedColumns[2]">
			<th mat-header-cell *matHeaderCellDef>PRELEV.</th>
			<td mat-cell *matCellDef="let data">{{ data[displayedColumns[2]] }}</td>
		</ng-container>
		<ng-container [matColumnDef]="displayedColumns[3]">
			<th mat-header-cell *matHeaderCellDef>DUREE</th>
			<td mat-cell *matCellDef="let data">{{ data[displayedColumns[3]] }}</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[4]">
			<th mat-header-cell *matHeaderCellDef>DIFFERE</th>
			<td mat-cell *matCellDef="let data">{{ data[displayedColumns[4]] }}</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[5]">
			<th mat-header-cell *matHeaderCellDef>TAUX</th>
			<td mat-cell *matCellDef="let data">
				{{ data[displayedColumns[5]] | number: ".2":"fr" }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[6]">
			<th mat-header-cell *matHeaderCellDef>BONIF</th>
			<td mat-cell *matCellDef="let data">
				{{ data[displayedColumns[6]] | number: ".2":"fr" }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[7]">
			<th mat-header-cell *matHeaderCellDef>DEROG</th>
			<td mat-cell *matCellDef="let data">
				{{ data[displayedColumns[7]] | number: ".2":"fr" }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[8]">
			<th mat-header-cell *matHeaderCellDef>MENSUALITE</th>
			<td mat-cell *matCellDef="let data">
				{{ data[displayedColumns[8]] | number: ".2":"fr" }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[9]">
			<th mat-header-cell *matHeaderCellDef>MONTANT OCTROYE</th>
			<td mat-cell *matCellDef="let data">
				{{ data[displayedColumns[9]] | number: ".2":"fr" }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[10]">
			<th mat-header-cell *matHeaderCellDef>ASSURANCE</th>
			<td mat-cell *matCellDef="let data">
				{{ data[displayedColumns[10]] | number: ".2":"fr" }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[11]">
			<th mat-header-cell *matHeaderCellDef>STATUT CNT</th>
			<td mat-cell *matCellDef="let data">{{ data[displayedColumns[11]] }}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
