<!-- -->

<div class="tab-container mt-5 bg-cam" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="dataSource2"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 500px"
	>
		<!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition"
            ['Numerocompte','Intitulecompte','Dom2019','CA2019','Dom2020','CA2020','Dom2021','CA2021']
            -->
		<!-- numdossier Column -->
		<ng-container [matColumnDef]="displayedColumns2[0]">
			<th mat-header-cell *matHeaderCellDef>Numéro compte</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns2[0]] }}</td>
		</ng-container>

		<!-- objet Column -->
		<ng-container [matColumnDef]="displayedColumns2[1]">
			<th mat-header-cell *matHeaderCellDef>Intitulé compte</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns2[1]] }}</td>
		</ng-container>

		<!-- nominalAuth Column -->
		<ng-container [matColumnDef]="displayedColumns2[2]">
			<th mat-header-cell *matHeaderCellDef>Année Dom.</th>
			<td class="text-center" mat-cell *matCellDef="let element">{{ element[displayedColumns2[2]] }}</td>
		</ng-container>

		<!-- encours Column -->
		<ng-container [matColumnDef]="displayedColumns2[3]">
			<th mat-header-cell *matHeaderCellDef>Domiciliation</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element[displayedColumns2[3]] | number: ".2":"es" }}
			</td>
		</ng-container>

		<ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef class="w-10 text-right">
				<button
					*ngIf="routingService.isDemandeRW()"
					class="custom-mini-fab"
					(click)="rafraichir()"
					mat-mini-fab
					matTooltip="Rafraichir"
					[color]="'secondary'"
				>
					<mat-icon class="icon-size-5" svgIcon="heroicons_solid:refresh"></mat-icon>
				</button>
			</th>
			<td mat-cell *matCellDef="let element"></td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns2" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
	</table>
</div>

<!-- incident de paiement -->
