<div class="tab-container mt-5 bg-cam" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="dataSource"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 500px"
	>
		<ng-container [matColumnDef]="displayedColumns[0]">
			<th mat-header-cell *matHeaderCellDef>Nom & Prénom</th>
			<td mat-cell *matCellDef="let element">{{ element.nompprenom }}</td>
		</ng-container>

		<!-- crdu Column -->
		<ng-container [matColumnDef]="displayedColumns[1]">
			<th mat-header-cell *matHeaderCellDef>N° PPR</th>
			<td mat-cell *matCellDef="let element">{{ element.ppr }}</td>
		</ng-container>

		<!-- crdu Column -->

		<ng-container [matColumnDef]="displayedColumns[2]">
			<th mat-header-cell *matHeaderCellDef>CIN</th>
			<td mat-cell *matCellDef="let element">{{ element.cin }}</td>
		</ng-container>

		<!-- crdu Column -->
		<ng-container [matColumnDef]="displayedColumns[3]">
			<th mat-header-cell *matHeaderCellDef>Mensualité</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element.mensualite | number: ".2":"es" }}
			</td>
		</ng-container>

		<!-- numdossier Column -->
		<ng-container [matColumnDef]="displayedColumns[4]">
			<th mat-header-cell *matHeaderCellDef>Pack</th>
			<td mat-cell *matCellDef="let element">{{ element.pack }}</td>
		</ng-container>

		<!-- objet Column -->
		<ng-container [matColumnDef]="displayedColumns[5]">
			<th mat-header-cell *matHeaderCellDef>Durée</th>
			<td mat-cell *matCellDef="let element">{{ element.duree }}</td>
		</ng-container>

		<!-- encours Column -->
		<ng-container [matColumnDef]="displayedColumns[6]">
			<th mat-header-cell *matHeaderCellDef>Taux</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element.taux | number: ".2":"es" }}
			</td>
		</ng-container>

		<!-- crdu Column -->

		<!-- crdu Column -->
		<ng-container [matColumnDef]="displayedColumns[7]">
			<th mat-header-cell *matHeaderCellDef>Imp.Budgétaire</th>
			<td mat-cell *matCellDef="let element">DGSN</td>
		</ng-container>

		<!-- crdu Column -->
		<ng-container [matColumnDef]="displayedColumns[8]">
			<th mat-header-cell *matHeaderCellDef>statut CNT</th>
			<td mat-cell *matCellDef="let element">{{ element.statutCnt }}</td>
		</ng-container>

		<!-- crdu Column -->
		<ng-container [matColumnDef]="displayedColumns[9]">
			<th mat-header-cell *matHeaderCellDef>Date statut</th>
			<td mat-cell *matCellDef="let element">{{ element.statutDate }}</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[10]">
			<th mat-header-cell *matHeaderCellDef>
				<button
					class="custom-mini-fab"
					mat-mini-fab
					matTooltip="Rafraichir"
					[color]="'secondary'"
				>
					<mat-icon class="icon-size-5" svgIcon="heroicons_solid:refresh"></mat-icon>
				</button>
			</th>
			<td mat-cell *matCellDef="let element">
				<button
					matTooltip="Modifier"
					class="custom-mini-fab"
					mat-mini-fab
					[color]="'primary'"
					(click)="onEdit()"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
				</button>
				<button
					matTooltip="Historique"
					class="custom-mini-fab ml-1"
					mat-mini-fab
					[color]="'primary'"
					(click)="onEdit()"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:zoom-in"></mat-icon>
				</button>
			</td>
		</ng-container>

		<!--
    <ng-container [matColumnDef]="displayedColumns[11]">
      <th mat-header-cell *matHeaderCellDef> Action BO </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn">Annuler réservation</button>
      </td>
    </ng-container>
    <ng-container [matColumnDef]="displayedColumns[12]">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="accent">Historique</button>
      </td>
    </ng-container>
    -->
		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>

	<div class="flex justify-end w-full pt-5 pr-5">
		<button mat-raised-button color="primary">Enregistrer</button>
	</div>
</div>
