<h2 mat-dialog-title *ngIf="dialogMode != 0">Attestation de conformité</h2>
<h2 mat-dialog-title *ngIf="dialogMode == 0">Liste des dossiers</h2>
<mat-dialog-content class="h-100">
	<div class="flex w-full mt-5 items-start flex-col">
		<form [formGroup]="certificateForm" *ngIf="dialogMode != 0" class="w-full">
			<div class="w-full grid sm:grid-cols-2 grid-cols-1 gap-x-3">
				<div class="w-full">
					<mat-form-field
						appearance="outline"
						class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
					>
						<mat-label>Objet</mat-label>
						<textarea
							formControlName="certificateObject"
							matInput
							[rows]="5"
							matTextareaAutosize
						></textarea>
					</mat-form-field>
				</div>

                <div class="w-full">
                    <mat-form-field
                        appearance="outline"
                        class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
                    >
                        <mat-label>Dossiers</mat-label>
                        <textarea
                            formControlName="certificateDossiers"
                            matInput
                            [rows]="5"
                            matTextareaAutosize
                        ></textarea>
                    </mat-form-field>
                </div>

				<!--<div class="w-full">
					<mat-form-field
						appearance="outline"
						class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
					>
						<mat-label>Emanant de</mat-label>
						<textarea
							formControlName="emanatingFrom"
							matInput
							[rows]="5"
							matTextareaAutosize
						></textarea>
					</mat-form-field>
				</div>-->

				<div class="w-full">
					<mat-form-field
						appearance="outline"
						class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
					>
						<mat-label>Observation</mat-label>
						<textarea
							formControlName="observation"
							matInput
							[rows]="5"
							matTextareaAutosize
						></textarea>
					</mat-form-field>
				</div>
				<div class="w-full">
					<mat-form-field
						appearance="outline"
						class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
					>
						<mat-label>Pièces jointes</mat-label>
						<textarea
							formControlName="pj"
							matInput
							[rows]="5"
							matTextareaAutosize
						></textarea>
					</mat-form-field>
				</div>
			</div>
		</form>

		<table
			mat-table
			[dataSource]="listDossierCredit"
			class="mat-datatable small-table w-full"
			width="100%"
			style="min-width: 500px"
		>
			<ng-container [matColumnDef]="displayedColumns[0]">
				<th mat-header-cell *matHeaderCellDef>N°Doss</th>
				<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[1]">
				<th mat-header-cell *matHeaderCellDef>Produit</th>
				<td mat-cell *matCellDef="let element">{{ element[displayedColumns[1]] }}</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[2]">
				<th mat-header-cell *matHeaderCellDef>Montant</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element[displayedColumns[2]] | number: ".2":"es" }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[3]">
				<th mat-header-cell *matHeaderCellDef>Montant Accordé</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element[displayedColumns[3]] | number: ".2":"es" }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[4]">
				<th mat-header-cell *matHeaderCellDef>Taux</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element[displayedColumns[4]] }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[5]">
				<th mat-header-cell *matHeaderCellDef>Durée</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element[displayedColumns[5]] }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[6]">
				<th mat-header-cell *matHeaderCellDef>Périodicité</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element[displayedColumns[6]] }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[7]">
				<th mat-header-cell *matHeaderCellDef>Echéance</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element[displayedColumns[7]] | number: ".2":"es" }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[8]">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let element" class="text-right">
					<div class="w-30 pl-2">
                        <!--[disabled]="element['checked']"-->
						<mat-checkbox
                            *ngIf="routingService.isDemandeRW() && (dialogMode == 1 || dialogMode == 2)"
                            (change)="checkDossier($event,element)"

							color="primary"
							[(ngModel)]="element['checked']"
						></mat-checkbox>

						<button
                            *ngIf="routingService.isDemandeRW() && dialogMode == 0"
							mat-raised-button
							color="warn"
							(click)="onDetacher(element)"
						>
							Détacher
						</button>
					</div>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		</table>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button
		mat-raised-button
		[color]="'primary'"
		(click)="onValiderAdd()"
		*ngIf="routingService.isDemandeRW() && dialogMode != 0"
		[disabled]="!isFormValid()"
	>
		Enregistrer
	</button>
	<button mat-raised-button mat-dialog-close [color]="'warn'">Retour</button>
</mat-dialog-actions>
