<h2 mat-dialog-title>Informations CNT</h2>
<div mat-dialog-content>
	<div class="grid grid-cols-4 sm:col-span-2 gap-4 w-full">
		<div class="flex flex-col font-semibold">
			{{ element[i].cin + " " + element[i].fullname }}
		</div>

		<div class="flex flex-col">PPR : {{ element[i].registrationNumber }}</div>
		<div>
			Produit :
			<span class="font-semibold">
				{{ element[i].products.financialProductName }}
			</span>
		</div>
		<div></div>

		<div class="flex flex-col">
			<mat-form-field class="mat-dense-xs mat-no-subscript">
				<mat-label>TEG</mat-label>
				<input
					type="text"
					matInput
					[(ngModel)]="element[i].products.teg"
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>

		<div class="flex flex-col">
			<mat-form-field class="mat-dense-xs mat-no-subscript">
				<mat-label>Montant Total</mat-label>
				<input
					type="text"
					matInput
					[(ngModel)]="element[i].products.goodAmount"
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>

		<div class="flex flex-col">
			<mat-form-field class="mat-dense-xs mat-no-subscript">
				<mat-label>Montant prêt Net</mat-label>
				<input
					type="text"
					matInput
					[(ngModel)]="element[i].products.loanAmount"
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>

		<div class="flex flex-col">
			<mat-form-field class="mat-dense-xs mat-no-subscript">
				<mat-label>Mensualité Confirmée</mat-label>
				<input
					type="text"
					matInput
					[(ngModel)]="element[i].products.confirmedAmount"
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>
		<div class="flex flex-col">
			<mat-form-field class="mat-dense-xs mat-no-subscript">
				<mat-label>Date debut</mat-label>
				<input type="date" matInput [(ngModel)]="element[i].products.startDate" />
			</mat-form-field>
		</div>

		<div class="flex flex-col">
			<mat-form-field class="mat-dense-xs mat-no-subscript">
				<mat-label>Date Fin</mat-label>
				<input type="date" matInput [(ngModel)]="element[i].products.endDate" />
			</mat-form-field>
		</div>
	</div>
</div>
<div mat-dialog-actions class="flex justify-end">
	<button
		mat-raised-button
		(click)="onSuivant()"
		color="primary"
		[disabled]="i >= element.length - 1"
	>
		Suivant
	</button>
	<button mat-raised-button (click)="onPrec()" color="primary" [disabled]="i == 0">
		Précédent
	</button>
	<button
		mat-raised-button
		(click)="onValide()"
		color="primary"
		[disabled]="i < element.length - 1"
	>
		Enregistrer
	</button>
</div>
