<!--<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 w-full min-w-0">-->
<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 gap-6 w-full min-w-0"  >
    <!--*ngIf="utilsService.hasPrivilege(utilsService.privilegeCodes.SHOW_PARTIE_AGANCE)"-->
    <ng-container >
        <mat-expansion-panel
            [expanded]="true"
            class="rounded-t-xl flex flex-col flex-auto"
            hideToggle
        >
            <mat-expansion-panel-header class=" expan-panel header">
                <div class="w-full flex justify-center">
                    <h4 class="ml-3 font-bold">Partie réservée à l'agence</h4>
                </div>
            </mat-expansion-panel-header>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-4 mt-6">
                <div class="flex items-center" *ngIf="utilsService.hasPrivilege(utilsService.privilegeCodes.MAJ_PARTIE_AGANCE)">
                    <mat-icon role="img" class="mat-icon notranslate icon-size-5 text-primary mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="check-circle" data-mat-icon-namespace="heroicons_solid">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                        </svg>
                    </mat-icon>
                    <div class="ml-2" style="color:blue"><a  >Imprimer Autorisation de Divulgation d’informations personnelles</a></div>
                    <button mat-mini-fab  class="ml-6" [color]="'primary'" style="background-color: blue"
                            (click)="onEditAutorisation()" >
                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:download"></mat-icon>
                    </button>
                </div>
                <div class="flex items-center">
                    <mat-icon role="img" class="mat-icon notranslate icon-size-5 text-primary mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="check-circle" data-mat-icon-namespace="heroicons_solid">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                        </svg>
                    </mat-icon>
                    <div class="ml-2" style="color:green">Autorisation de Divulgation d’informations personnelles signée</div>

                    <button mat-mini-fab  class="ml-6" [color]="'primary'" style="background-color: green"
                            [disabled]="!utilsService.hasPrivilege(utilsService.privilegeCodes.MAJ_PARTIE_AGANCE)" >
                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:download"></mat-icon>
                    </button>
                    <!--(click)="upload()"-->
                    <button mat-mini-fab class="ml-6" [color]="'primary'"  style="background-color: green"
                            *ngIf="utilsService.hasPrivilege(utilsService.privilegeCodes.MAJ_PARTIE_AGANCE)">
                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:upload"></mat-icon>
                    </button>

                </div>
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-4 mt-6">

            </div>
        </mat-expansion-panel>
    </ng-container>

    <mat-divider></mat-divider>
    <!--*ngIf="utilsService.hasPrivilege(utilsService.privilegeCodes.SHOW_PARTIE_DFDD)"-->
    <ng-container >
        <mat-expansion-panel
            [expanded]="true"
            class="rounded-t-xl flex flex-col flex-auto"
            hideToggle
        >

            <mat-expansion-panel-header class=" expan-panel header">
                <div class="w-full flex justify-center">
                    <h4 class="ml-3 font-bold">Partie réservée au DFDD</h4>
                </div>
            </mat-expansion-panel-header>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-4 mt-6">
                <div class="flex w-full">
                    <form class="flex w-full" >
                        <div class="w-full">
                            <div mat-dialog-actions class="flex justify-end mb-4" *ngIf="utilsService.hasPrivilege(utilsService.privilegeCodes.MAJ_PARTIE_DFDD)">
                                <button mat-raised-button class="mr-4" [color]="'primary'" cdkFocusInitial (click)="changeStatus('VR')" > Valider avec réserves  </button>
                                <button mat-raised-button class="mr-4" [color]="'warn'" style="background-color: green"  (click)="changeStatus('VA')" >valider</button>
                                <button mat-raised-button class="mr-4" [color]="'warn'"  (click)="changeStatus('RE')">Refuser</button>
                                <button mat-raised-button class="mr-4" [color]="'warn'"  (click)="changeStatus('MO')">Modifier</button>
                            </div>

                            <div class="flex w-full mb-4">
                                <mat-radio-group name="projectType" id="projectType" [(ngModel)]="projectType"
                                                 [disabled]="!utilsService.hasPrivilege(utilsService.privilegeCodes.MAJ_PARTIE_DFDD)"
                                >
                                    <mat-label class="font-semibold">Type projet</mat-label>
                                    <mat-radio-button value="S"  class="ml-2" >Simple</mat-radio-button >
                                    <mat-radio-button value="C"  class="ml-2" >Complexe</mat-radio-button >
                                </mat-radio-group>
                            </div>

                            <div class="flex w-full mt-3">
                                <mat-form-field
                                    appearance="outline"
                                    class="fuse-mat-textarea flex-auto w-full fuse-mat-dense-xs"
                                >
                                    <mat-label>Commentaire</mat-label>
                                    <textarea name="remark" id="remark"
                                              [disabled]="!utilsService.hasPrivilege(utilsService.privilegeCodes.MAJ_PARTIE_DFDD)"
                                              matInput
                                              [rows]="3"
                                              [(ngModel)]="remark"
                                              matTextareaAutosize
                                    ></textarea>
                                </mat-form-field>
                            </div>

                            <div class="">
                                <div class="flex items-center mb-4">
                                    <mat-icon role="img" class="mat-icon notranslate icon-size-5 text-primary mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="check-circle" data-mat-icon-namespace="heroicons_solid">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                        </svg>
                                    </mat-icon>
                                    <div class="flex flex-col max-w-200 w-full ml-2" style="color:green">REP - Rapport d’éligibilité projet</div>

                                    <button mat-mini-fab  class="ml-6" [color]="'primary'" style="background-color: green"  >
                                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:download" ></mat-icon>
                                    </button>

                                    <!--(click)="upload()"-->
                                    <button *ngIf="utilsService.hasPrivilege(utilsService.privilegeCodes.MAJ_PARTIE_DFDD)" mat-mini-fab class="ml-6" [color]="'primary'"  style="background-color: green"  >
                                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:upload"></mat-icon>
                                    </button>

                                    <button *ngIf="utilsService.hasPrivilege(utilsService.privilegeCodes.MAJ_PARTIE_DFDD)" mat-mini-fab class="ml-6" [color]="'primary'"  style="background-color: red"  >
                                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:x-circle"></mat-icon>
                                    </button>

                                </div>
                                <div class="flex items-center mb-4">
                                    <mat-icon role="img" class="mat-icon notranslate icon-size-5 text-primary mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="check-circle" data-mat-icon-namespace="heroicons_solid">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                        </svg>
                                    </mat-icon>
                                    <div class="flex flex-col max-w-200 w-full ml-2" style="color:green">CE - Certificat de l’équipement</div>

                                    <button mat-mini-fab  class="ml-6" [color]="'primary'" style="background-color: green"  >
                                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:download"></mat-icon>
                                    </button>

                                    <!--(click)="upload()"-->
                                    <button mat-mini-fab class="ml-6" *ngIf="utilsService.hasPrivilege(utilsService.privilegeCodes.MAJ_PARTIE_DFDD)" [color]="'primary'"  style="background-color: green"  >
                                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:upload"></mat-icon>
                                    </button>

                                    <button mat-mini-fab class="ml-6" *ngIf="utilsService.hasPrivilege(utilsService.privilegeCodes.MAJ_PARTIE_DFDD)" [color]="'primary'"  style="background-color: red"  >
                                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:x-circle"></mat-icon>
                                    </button>

                                </div>
                                <div class="flex items-center mb-4">
                                    <mat-icon role="img" class="mat-icon notranslate icon-size-5 text-primary mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="check-circle" data-mat-icon-namespace="heroicons_solid">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                        </svg>
                                    </mat-icon>
                                    <div class="flex flex-col max-w-200 w-full ml-2" style="color:green">LAI - Lettre d'autorisation d'imputation</div>

                                    <button mat-mini-fab  class="ml-6" [color]="'primary'" style="background-color: green"  >
                                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:download"></mat-icon>
                                    </button>

                                    <!--(click)="upload()"-->
                                    <button mat-mini-fab class="ml-6" *ngIf="utilsService.hasPrivilege(utilsService.privilegeCodes.MAJ_PARTIE_DFDD)" [color]="'primary'"  style="background-color: green"  >
                                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:upload"></mat-icon>
                                    </button>

                                    <button mat-mini-fab class="ml-6" *ngIf="utilsService.hasPrivilege(utilsService.privilegeCodes.MAJ_PARTIE_DFDD)" [color]="'primary'"  style="background-color: red"  >
                                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:x-circle"></mat-icon>
                                    </button>

                                </div>
                            </div>


                        </div>
                    </form>
                </div>
            </div>


        </mat-expansion-panel>
    </ng-container>
</div>
