<div class="flex flex-col flex-auto w-full">
	<div class="flex flex-wrap w-full mx-auto p-6 md:p-8">
		<!-- Title and action buttons -->
		<div class="flex items-center w-full justify-end">
			<div class="flex lg:flex-row flex-col gap-4 bg-white border border-gray-300 rounded-md p-3 md:-mt-9 -mt-8 w-full items-center">
				<div class="flex md:flex-row flex-col w-full md:max-w-full max-w-120 gap-4">
					<mat-form-field
						class="mat-dense-xs w-full"
						appearance="outline"
					>
						<mat-label>{{mainSearchField.label}}</mat-label>
						<input matInput [(ngModel)]="critere[mainSearchField.field]" />
					</mat-form-field>
	
					<mat-form-field
						class="mat-dense-xs w-full"
						appearance="outline"
					>
						<mat-label>Utilisateur</mat-label>
						<mat-select
							panelClass="bg-fonce-fonce-"
							[(value)]="critere.userId"
						>
							<mat-option
								*ngFor="let item of users"
								[value]="item.identifiant"
							>
								<span>{{ item.fullName }}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
	
					<mat-form-field
						class="mat-dense-xs w-full"
						appearance="outline"
					>
						<mat-label>Entités</mat-label>
						<mat-select
							panelClass="bg-fonce-fonce-"
							[(value)]="critere.entityId"
						>
							<mat-option
								*ngFor="let item of entities"
								[value]="item.identifiant"
							>
								<span>{{ item.identifiant }}-{{ item.nom }}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="flex sm:flex-row flex-col w-max gap-2">
					<div class="flex gap-2">
						<button
							(click)="loadRequests()"
							mat-flat-button
							[color]="'primary'"
						>
							<mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
							<span class="ml-2">Recherche</span>
						</button>
						<button [color]="'warn'" mat-flat-button (click)="onreset()">
							<mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:refresh'"></mat-icon>
							<span class="ml-2">Réinitialiser</span>
						</button>
					</div>
					
					<button
						(click)="handleRequestAdd()"
						*ngIf="isAddSupported()"
						mat-flat-button
						[color]="'primary'"
					>
						<mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
						<span class="ml-2">Nouvelle Demande</span>
					</button>
				</div>
			</div>
		</div>

		<div class="flex flex-auto overflow-hidden w-full">
			<!-- Products list -->
			<div class="grid grid-cols-1 grid-flow-row gap-0 w-full mt-8 sm:mt-4 rounded-2xl overflow-hidden">
				<!-- New vs. Closed -->
				<div class="flex flex-col flex-auto overflow-auto w-full">
					<table
						mat-table
						class="mat-datatable table-simulation bg-white w-full rounded-t-lg"
						[dataSource]="requestList"
						matSort
						matSortDirection="asc"
						(matSortChange)="sortRequests($event)"
					>
						<ng-container [matColumnDef]="'entityName'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header="entityName">
								Entité création
							</th>
							<td mat-cell *matCellDef="let element">{{ element["entityName"] }}</td>
						</ng-container>
						
						<ng-container [matColumnDef]="'accountName'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header="accountName">Intitulé</th>
							<td mat-cell *matCellDef="let element">
								{{ element["accountName"] }}
							</td>
						</ng-container>

						<ng-container [matColumnDef]="'requestNumber'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header="requestNumber">N° Demande</th>
							<td mat-cell *matCellDef="let element">
								{{ element["requestNumber"] }}
							</td>
						</ng-container>

						<ng-container [matColumnDef]="'accountNumber'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header="accountNumber">N° Compte</th>
							<td mat-cell *matCellDef="let element">
								{{ element["accountNumber"] }}
							</td>
						</ng-container>

						<ng-container [matColumnDef]="'requestAmount'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header="requestAmount">Montant</th>
							<td mat-cell *matCellDef="let element" class="text-right">
								{{ element.requestAmount | number: ".2":"es" }}
							</td>
						</ng-container>

						<ng-container [matColumnDef]="'stayDuration'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header="stayDuration">Durée séjour</th>
							<td mat-cell *matCellDef="let element" class="text-right">
								<div class="flex justify-center items-center">
									<button
										class="text-white bg-ca_primary w-24 rounded-md flex justify-center"
										(click)="onHistoriqueSejour(element)"
									>
										{{ element["stayDuration"] }}j /
										{{ element["globalDuration"] }}j
									</button>
								</div>
							</td>
						</ng-container>

						<ng-container [matColumnDef]="'productsNumber'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header="productsNumber">
								Nbr de produits
							</th>
							<td mat-cell *matCellDef="let element" class="text-right">
								{{ element.productsNumber || 0 }}
							</td>
						</ng-container>

						<ng-container [matColumnDef]="'statusColor'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header="statusColor">Statut</th>
							<td mat-cell *matCellDef="let element" class="text-center">
								<div class="flex gap-2 w-full">
									<span>
										<mat-icon
											[style.color]="element['statusColor']"
											svgIcon="mat_solid:circle"
										></mat-icon>
									</span>
									<span>
										{{ element.statusName }}
									</span>
								</div>
							</td>
						</ng-container>

						<ng-container [matColumnDef]="'creditTypeName'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header="creditTypeName">
								Type de crédit
							</th>
							<td mat-cell *matCellDef="let element" class="text-center">
								{{ element.creditTypeName }}
							</td>
						</ng-container>

						<ng-container [matColumnDef]="'lastUserNamelastEntityName'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header="lastUserNamelastEntityName">Emanant de</th>
							<td mat-cell *matCellDef="let element" class="text-center">
								{{ element.lastEntityName + "/" + element.lastUserName }}
							</td>
						</ng-container>

						<ng-container matColumnDef="Actions">
							<th mat-header-cell *matHeaderCellDef>Actions</th>
							<td mat-cell *matCellDef="let element">
								<div class="flex justify-center items-center">
									<button
										matTooltip="Modifier la demande"
										class="custom-mini-fab bg-ca_green text-white px-6 rounded-md"
										(click)="onEdit(element)"
									>
										Modifier
									</button>
								</div>
							</td>
						</ng-container>

						<tr
							mat-header-row
							*matHeaderRowDef="displayedColumns"
							class="header-table-gry rounded-t-lg"
						></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
					</table>
				</div>
				<div
					[ngClass]="{ hidden: displayPagination() }"
					class="flex flex-col flex-auto items-end w-full bg-card "
				>
					<mat-paginator
						[pageSize]="10"
						[pageSizeOptions]="[5, 10, 20, 30, 50, 100, 200]"
					></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>
