<div class="flex flex-col w-full">
    <div class="w-full flex sm:px-10 px-2 py-3">
        <card class="flex w-full sm:px-8 px-2 py-3 filter-list bg-accent-50">
            <mat-expansion-panel hideToggle class="rounded-t-xl w-full" [expanded]="true">
                <mat-expansion-panel-header
                    class=" expan-panel header"
                    #panelQUI
                    (click)="panelQUI._toggle()"
                >
                    <div class="w-full flex justify-center">
                        <h4 class="ml-3 font-bold">QUI</h4>
                    </div>
                </mat-expansion-panel-header>
                <div class="w-full flex flex-col justify-start py-5">
                    <!--<app-account-find-show (onAccountFetch)="getAccount($event)"></app-account-find-show>-->
                    <form  class="w-full flex md:flex-row flex-col xs:px-10 px-2 gap-3">
                        <mat-form-field
                            class="max-w-100 w-full mat-dense-xs mat-no-subscript pt-1"
                            appearance="outline"
                        >
                            <mat-label>CIN</mat-label>
                            <input matInput name="cin" id="cin" [(ngModel)]="cin"/>
                        </mat-form-field>
                        <button
                            class="max-w-30"
                            mat-raised-button
                            [color]="'primary'"
                            (click)="getAccountByCin()"
                            type="submit"
                        >
                            Rechercher
                        </button>
                    </form>

                    <!-- TODO: put this in its own component -->
                    <div class="w-full flex flex-wrap gap-x-2">
                        <card
                            class="flex flex-col sm:px-8 px-2 py-3 filter-list bg-accent-100 my-2"
                            *ngFor="let item of tiers"
                        >
                            <div class="flex items-start justify-start">
                                <div class="text-lg font-medium tracking-tight leading-6 truncate">
                                    {{ item.cin }}
                                </div>
                                <div
                                    class="
										text-lg
										font-medium
										tracking-tight
										leading-6
										truncate
										ml-3
									"
                                >
                                    {{ item.clientName }}
                                </div>
                            </div>
                            <div class="flex flex-col items-center mt-2">
                                <div class="w-full flex-col self-center justify-center">
                                    <div
                                        class="
											flex
											w-full
											border-0 border-0-b-0 border-0-on-primary-100
										"
                                    >
                                        <div class="w-2/4 pl-2 flex items-center">
                                            Famille Segment
                                        </div>
                                        <div class="w-2/4 py-1 px-4 flex items-center">
                                            <mat-form-field
                                                class="
													w-full
													mat-no-subscript
													bg-white
													mat-dense-xs
												"
                                                appearance="outline"
                                            >
                                                <mat-select
                                                    [(ngModel)]="item.segmentType"
                                                    (selectionChange)="filtrerSegment($event, item)"
                                                >
                                                    <mat-option [value]="">Séléctionnez</mat-option>
                                                    <mat-option
                                                        *ngFor="let fseg of familleSegments"
                                                        [value]="fseg.code"
                                                    >
                                                        {{ fseg.designation }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div
                                        class="
											flex
											w-full
											border-0 border-0-b-0 border-0-on-primary-100
										"
                                    >
                                        <div class="w-2/4 pl-2 flex items-center">Segment</div>
                                        <div class="w-2/4 py-1 px-4 flex items-center">
                                            <mat-form-field
                                                class="
													w-full
													mat-no-subscript
													bg-white
													mat-dense-xs
												"
                                                appearance="outline"
                                            >
                                                <mat-select
                                                    [(ngModel)]="item.segment"
                                                    (selectionChange)="setSegmentName(item, $event)"
                                                >
                                                    <mat-option [value]="">Séléctionnez</mat-option>
                                                    <mat-option
                                                        *ngFor="let seg of filteredSegments"
                                                        [value]="seg.id"
                                                    >
                                                        {{ seg.designation }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div
                                        class="
											flex
											w-full
											border-0 border-0-b-0 border-0-on-primary-100
										"
                                    >
                                        <div class="w-2/4 pl-2 flex items-center">
                                            Revenu Mensuel
                                        </div>
                                        <div class="w-2/4 py-1 px-4 flex items-center">
                                            <mat-form-field
                                                class="
													w-full
													mat-no-subscript mat-dense-xs
												"
                                            >
                                                <input
                                                    [(ngModel)]="item.monthlyPay"
                                                    currencyMask
                                                    [options]="{
														prefix: '',
														thousands: '.',
														decimal: ',',
														suffix: ''
													}"
                                                    matInput
                                                />
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div
                                        class="
											flex
											w-full
											border-0 border-0-b-0 border-0-on-primary-100
										"
                                    >
                                        <div class="w-2/4 pl-2 flex items-center">
                                            Autre revenus mensuels
                                        </div>
                                        <div class="w-2/4 py-1 px-4 flex items-center">
                                            <mat-form-field
                                                class="
													w-full
													mat-no-subscript mat-dense-xs
												"
                                            >
                                                <input
                                                    [(ngModel)]="item.othersMonthlyIncome"
                                                    currencyMask
                                                    [options]="{
														prefix: '',
														thousands: '.',
														decimal: ',',
														suffix: ''
													}"
                                                    matInput
                                                />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <hr class="my-2 border-white border-2" />
                                    <div
                                        class="
											flex
											w-full
											border-0 border-0-b-0 border-0-on-primary-100
										"
                                    >
                                        <div class="w-1/4 pl-2 pt-2">Ech Immo</div>
                                        <div class="w-1/4 px-0">Cam</div>
                                        <div class="w-2/4 py-1 px-4 flex items-center">
                                            <mat-form-field
                                                class="
													w-full
													mat-no-subscript mat-dense-xs
												"
                                            >
                                                <input
                                                    [(ngModel)]="item.monthlyPaymentImmoCam"
                                                    currencyMask
                                                    [options]="{
														prefix: '',
														thousands: '.',
														decimal: ',',
														suffix: ''
													}"
                                                    matInput
                                                />
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div
                                        class="
											flex
											w-full
											border-0
											border-0-b-0
											border-0-t-0
											border-0-on-primary-100
										"
                                    >
                                        <div class="w-1/4 px-0"></div>
                                        <div class="w-1/4 px-0">Conf</div>
                                        <div class="w-2/4 py-1 px-4 flex items-center">
                                            <mat-form-field
                                                class="
													w-full
													mat-no-subscript mat-dense-xs
												"
                                            >
                                                <input
                                                    [(ngModel)]="item.monthlyPaymentImmoConf"
                                                    currencyMask
                                                    [options]="{
														prefix: '',
														thousands: '.',
														decimal: ',',
														suffix: ''
													}"
                                                    matInput
                                                />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!--{{item.monthlyPaymentImmo}}-->
                                    <div
                                        class="
											flex
											w-full
											border-0 border-0-b-0 border-0-on-primary-100
										"
                                    >
                                        <div class="w-1/4 pl-2 pt-2">Ech Conso</div>
                                        <div class="w-1/4 px-0">CAM</div>
                                        <div class="w-2/4 py-1 px-4 flex items-center">
                                            <mat-form-field
                                                class="
													w-full
													mat-no-subscript mat-dense-xs
												"
                                            >
                                                <input
                                                    [(ngModel)]="item.monthlyPaymentConsoCam"
                                                    currencyMask
                                                    [options]="{
														prefix: '',
														thousands: '.',
														decimal: ',',
														suffix: ''
													}"
                                                    matInput
                                                />
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div
                                        class="
											flex
											w-full
											border-0 border-0-t-0 border-0-on-primary-100
										"
                                    >
                                        <div class="w-1/4 px-0"></div>
                                        <div class="w-1/4 px-0">CONF</div>
                                        <div class="w-2/4 py-1 px-4 flex items-center">
                                            <mat-form-field
                                                class="
													w-full
													mat-no-subscript mat-dense-xs
												"
                                            >
                                                <input
                                                    [(ngModel)]="item.monthlyPaymentConsoConf"
                                                    currencyMask
                                                    [options]="{
														prefix: '',
														thousands: '.',
														decimal: ',',
														suffix: ''
													}"
                                                    matInput
                                                />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </card>
                    </div>
                </div>
            </mat-expansion-panel>
        </card>
    </div>

    <div class="w-full flex sm:px-10 px-2 py-3" *ngIf="listCompte">
        <card class="flex flex-col w-full sm:px-8 px-2 py-3 filter-list h-auto bg-accent-50 my-2">
            <mat-expansion-panel hideToggle class="rounded-t-xl" [expanded]="true">
                <!-- list tasbiq FDA SIOB by CIN -->
                <div class="w-full flex-col sm:px-10 px-2">
                    <div class="flex w-full justify-between">
                        <div class="font-bold text-xl mt-4 flex items-center">
                            <mat-icon svgIcon="heroicons_outline:minus-sm" class="mx-2"></mat-icon>
                            <span>Liste des Comptes</span>
                        </div>
                    </div>

                    <div class="w-full mt-2 overflow-auto">
                        <table
                            mat-table
                            class="mat-datatable table-simulation bg-white w-full"
                            [dataSource]="listCompte"
                            matSort
                            matSortDirection="asc"
                        >
                            <ng-container [matColumnDef]="displayedColumnsAccount[0]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsAccountLib[0] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.accountname }}
                                </td>
                            </ng-container>
                            <ng-container [matColumnDef]="displayedColumnsAccount[1]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsAccountLib[1] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.accountnumber }}
                                </td>
                            </ng-container>
                            <ng-container [matColumnDef]="displayedColumnsAccount[2]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsAccountLib[2] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.agency }}
                                </td>
                            </ng-container>
                            <ng-container [matColumnDef]="displayedColumnsAccount[3]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsAccountLib[3] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.madedate }}
                                </td>
                            </ng-container>
                            <ng-container [matColumnDef]="displayedColumnsAccount[4]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsAccountLib[4] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.product }}
                                </td>
                            </ng-container>
                            <ng-container [matColumnDef]="displayedColumnsAccount[5]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsAccountLib[5] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.refnumber }}
                                </td>
                            </ng-container>

                            <ng-container [matColumnDef]="displayedColumnsAccount[6]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsAccountLib[6] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.tiers }}
                                </td>
                            </ng-container>



                            <ng-container [matColumnDef]="displayedColumnsAccount[7]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsAccountLib[7] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-checkbox (change)="onChangeListAccountCheck($event,element)"[checked]="element.selected"> </mat-checkbox>
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumnsAccount"
                                class="header-table-gry"
                            ></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsAccount"></tr>

                        </table>
                    </div>
                </div>
                <!-- list tasbiq FDA SIOB by CIN -->
            </mat-expansion-panel>
        </card>
    </div>

    <div class="w-full flex sm:px-10 px-2 py-3" *ngIf="listCompte">
        <card class="flex flex-col w-full sm:px-8 px-2 py-3 filter-list h-auto bg-accent-50 my-2">
            <mat-expansion-panel hideToggle class="rounded-t-xl" [expanded]="true">
                <mat-expansion-panel-header
                    class=" expan-panel header"
                    #panelQUI
                    (click)="panelQUI._toggle()"
                >
                    <div class="w-full flex justify-center">
                        <h4 class="ml-3 font-bold">QUOI</h4>
                    </div>
                </mat-expansion-panel-header>
                <!--<div class="w-full flex sm:px-10 px-2 mt-10">
                    <mat-form-field
                        appearance="outline"
                        class="mat-textarea flex-auto w-full mat-dense-xs"
                    >
                        <mat-label>Descriptif du projet</mat-label>
                        <textarea
                            matInput
                            [rows]="3"
                            matTextareaAutosize
                            [(ngModel)]="demandeTasbiqFda.objectCredit"
                        ></textarea>
                    </mat-form-field>
                </div>-->

                <!-- list tasbiq FDA SIOB by CIN -->
                <div class="w-full flex-col sm:px-10 px-2">
                    <div class="flex w-full justify-between">
                        <div class="font-bold text-xl mt-4 flex items-center">
                            <mat-icon svgIcon="heroicons_outline:minus-sm" class="mx-2"></mat-icon>
                            <span>Liste des décsions DPA</span>
                        </div>
                    </div>

                    <div class="w-full mt-2 overflow-auto">
                        <table
                            mat-table
                            class="mat-datatable table-simulation bg-white w-full"
                            [dataSource]="listLigneTasbiqFdaSIOB"
                            matSort
                            matSortDirection="asc"
                        >
                            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[0]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsTasbiqFdaLib[0] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.referencedecision }}
                                </td>
                            </ng-container>
                            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[1]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsTasbiqFdaLib[1] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.nomprenombeneficiaire }}
                                </td>
                            </ng-container>
                            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[2]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsTasbiqFdaLib[2] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.cin }}
                                </td>
                            </ng-container>
                            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[3]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsTasbiqFdaLib[3] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.montantdecision }}
                                </td>
                            </ng-container>
                            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[4]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsTasbiqFdaLib[4] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.ribagriculture }}
                                </td>
                            </ng-container>
                            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[5]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsTasbiqFdaLib[5] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.montantdelegation }}
                                </td>
                            </ng-container>

                            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[6]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsTasbiqFdaLib[6] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.ribdelegation }}
                                </td>
                            </ng-container>

                            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[7]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsTasbiqFdaLib[7] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.categorie }}
                                </td>
                            </ng-container>

                            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[8]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsTasbiqFdaLib[8] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.composant }}
                                </td>
                            </ng-container>

                            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[9]">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ displayedColumnsTasbiqFdaLib[9] }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-checkbox (change)="onChange($event,element)"[checked]="element.selected"> </mat-checkbox>
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumnsTasbiqFda"
                                class="header-table-gry"
                            ></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsTasbiqFda"></tr>

                        </table>
                    </div>
                </div>
                <!-- list tasbiq FDA SIOB by CIN -->
            </mat-expansion-panel>
        </card>
    </div>

    <div class="w-full flex justify-end sm:px-10 px-2 py-3">
        <button
            mat-raised-button
            class="w-40 mt-4 ml-2"
            [color]="'primary'"
            (click)="onCreateTasbiqFdaDemande()"
        >
            Valider
        </button>
        <button mat-raised-button class="w-40 mt-4 ml-2" [color]="'warn'" (click)="retour()">
            Retour
        </button>
    </div>
</div>

