<card class="flex flex-col  w-full filter-article  bg-gray-50 mt-4">
    <div class="m-8">
        <div class="flex justify-between">
            <div class="flex flex-wrap items-center font-medium">
                <div class="flex" *ngFor="let item of chemin;let idx=index">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">{{item}}</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap" *ngIf="idx<chemin.length-1">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                    </div>
                </div>
            </div>
            <div *ngIf="editMode>0 ">
                <div
                    class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer text-green-800 bg-green-200">
                    Projet :<strong class="ml-2">{{editedItem.libProduct}} - {{editedItem.overallCreditAmount |number:'.2':'es'}} - {{editedItem.dateAgreement | date:'dd/MM/yyyy'}}</strong>
                </div>
            </div>
        </div>

        <div *ngIf="editMode==0">
            <table mat-table class="mat-datatable  bg-white w-full" [dataSource]="listeProject">
                <ng-container *ngFor="let disCol of deleteActionColumn(displayedColumns); let colIndex = index"
                    [matColumnDef]="disCol">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef
                        [matTooltip]="displayedColumnsToolTip[colIndex]">
                        {{displayedColumnsLib[colIndex]}}
                    </th>
                    <td mat-cell *matCellDef="let element " [ngSwitch]="displayedColumnStructure[colIndex].type"
                        [ngClass]="['currency','number'].indexOf(displayedColumnStructure[colIndex].type)>=0?'text-right':''">

                        <span class="text-right" *ngSwitchCase="'currency'">{{element[disCol] |
                            number:'.2':'es'}}</span>
                        <span class="text-right" *ngSwitchCase="'number'">{{element[disCol] | number:'.2':'es'}}</span>
                        <span *ngSwitchCase="'date'">{{element[disCol] | date:'dd/MM/yyyy'}}</span>
                        <span *ngSwitchCase="'datetime'">{{element[disCol] | date:'dd/MM/yyyy HH:mm'}}</span>
                        <span *ngSwitchDefault>{{element[disCol]}}</span>

                    </td>
                </ng-container>

                <ng-container [matColumnDef]="displayedColumns[displayedColumns.length-1]">
                    <th mat-header-cell *matHeaderCellDef class="text-right pl-1 border-b border-white">

                    </th>
                    <td mat-cell *matCellDef="let element" class="text-right pl-1">

                        <button style="font-size: 13px; height: 30px !important;" mat-raised-button color="primary"
                            class="small" (click)="onAfficheCredit(element)">Crédits</button>

                        <button [disabled]="['CS','DIS','DAT','SA','STPE','ADL','DA','SS','EP'].indexOf(element.productName) > -1" style="font-size: 13px; height: 30px !important" mat-raised-button color="primary"
                            class="small  ml-2" (click)="onAfficheAssocie(element)">Associés</button>

                        <button [disabled]="['CS','SA','STPE','ADL','DA','SS','EP'].indexOf(element.productName) > -1" style="font-size: 13px; height: 30px !important" mat-raised-button color="primary"
                            class="small  ml-2" (click)="onAfficheInformationsSurete(element)">Sûreté</button>

                        <button [disabled]="!ccgService.canReject(element)" style="font-size: 13px; height: 30px !important" mat-raised-button color="primary"
                            class="small  ml-2" (click)="onAfficheInformationsRetour(element)">Retour</button>

                        <button [disabled]="['CS'].indexOf(element.productName) > -1" (click)="onPrepareEdit(element)" mat-mini-fab class="custom-mini-fab ml-2"
                            [color]="'primary'" matTooltip="Modifier">
                            <ng-container *ngIf="routingService.isDemandeRW() && ccgService.canEdit(element); else elseTemplate">
                                <mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
                            </ng-container>
                            <ng-template #elseTemplate>
                                <mat-icon class="icon-size-4" svgIcon="heroicons_outline:eye"></mat-icon>
                            </ng-template>
                        </button>

                        <button [disabled]="!ccgService.canDelete(element)" *ngIf="routingService.isDemandeRW()" (click)="onPreparDelete(element)" mat-mini-fab class="custom-mini-fab ml-2"
                            [color]="'warn'" matTooltip="Supprimer">
                            <mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
                        </button>

                        <button
                            mat-button
                            matTooltip="Actions"
                            (click)="loadProjectActions(element)"
                            [matMenuTriggerFor]="menu"
                        >
                            <mat-icon svgIcon="heroicons_outline:dots-vertical"></mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button
                                *ngFor="let action of element['actions']"
                                (click)="dispatchAction(element, action)"
                                mat-menu-item
                            >
                                {{ action?.actionName }}
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry rounded-t-xl"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>

        <div *ngIf="editMode > 0">
            <app-ccg-project-info-dynamic (newItemEvent)="onRetourEdit($event)" [editedMode]="editMode"
                [editedProject]="editedItem" [demandeDTO]="demandeDTO" [persons]="persons">
            </app-ccg-project-info-dynamic>
        </div>

    </div>

   <!-- <div class="w-full flex justify-end p-4 gap-x-2" *ngIf="editMode == 0">
        <button mat-raised-button (click)="onPrevious()">Précédent</button>
        <button mat-raised-button (click)="onNext()">Suivant</button>
    </div>
-->
</card>