<h3 mat-dialog-title>Déblocage</h3>
<div mat-dialog-content class="py-10">
	<div class="grid grid-cols-1 gap-4 w-full">
		<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Montant déblocage</mat-label>
				<input
					matInput
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>

		<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Date traitement</mat-label>
				<input matInput [matDatepicker]="picker1" />
				<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
				<mat-datepicker #picker1></mat-datepicker>
			</mat-form-field>
		</div>

		<div class="w-full">
			<mat-radio-group>
				<mat-label class="mr-3 font-semibold">Blocage SIOB</mat-label>
				<mat-radio-button value="1" class="mr-3">OUI</mat-radio-button>
				<mat-radio-button value="2" class="mr-3">NON</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
</div>

<div mat-dialog-actions class="flex justify-end">
	<button mat-raised-button (click)="onValide()" [color]="'primary'" cdkFocusInitial>
		Valider
	</button>
	<button mat-raised-button [color]="'warn'" (click)="fermer()">Fermer</button>
</div>
