<mat-expansion-panel [expanded]="true" class="rounded-t-xl flex flex-col flex-auto" hideToggle>
	<mat-expansion-panel-header class=" expan-panel header">
		<div class="w-full flex justify-center">
			<h4 class="ml-3 font-bold">CNT</h4>
		</div>
	</mat-expansion-panel-header>

    <div

        class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700" fxLayoutAlign="flex-end">
        <button mat-raised-button color="accent" class="ml-2" (click)="onEvccEdite()"
                *ngIf="utilsService.hasPrivilegeCnt(utilsService.privilegeCodes.maj_evcc_m) ">
            Imprimer EVCC
            <mat-icon svgIcon="heroicons_outline:cash"></mat-icon>
        </button>


        <button mat-raised-button color="accent" class="ml-2" (click)="onAutorisationCntEdite()"
                *ngIf="utilsService.hasPrivilegeCnt(utilsService.privilegeCodes.maj_autorisation_cnt_m) ">
            Imprimer Autorisation de consultation
            <mat-icon svgIcon="heroicons_outline:hand"></mat-icon>
        </button>
    </div>

	<div class="row tab-container bg-cam mt-3" style="max-width: 100%; overflow: auto">
		<table
			mat-table
			[dataSource]="dataSource"
			class="mat-datatable small-table not-hover"
			width="100%"
			style="min-width: 900px"
			multiTemplateDataRows
		>
			<ng-container [matColumnDef]="displayedColumns[0]">
				<th mat-header-cell *matHeaderCellDef class="min-w-40">Nom prénom</th>
				<td
					mat-cell
					*matCellDef="let data; let i = dataIndex"
					[attr.rowspan]="getRowSpan(i)"
					[style.display]="getRowSpan(i) == 0 ? 'none' : ''"
				>
					{{ data.cin + " " + data.fullname }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[1]">
				<th mat-header-cell *matHeaderCellDef>N° PPR</th>
				<td
					mat-cell
					*matCellDef="let data; let i = dataIndex"
					[attr.rowspan]="getRowSpan(i)"
					[style.display]="getRowSpan(i) == 0 ? 'none' : ''"
				>
					<mat-form-field
						class="mat-dense-xs mat-no-subscript w-20"
						*ngIf="
							routingService.isDemandeRW() &&
							utilsService.hasPrivilegeCnt(utilsService.privilegeCodes.maj_data_cnt_m)
						"
					>
						<input type="text" matInput [(ngModel)]="data.registrationNumber" />
					</mat-form-field>
					<div
						class="w-full text-md font-bold truncate ml-2 text-right"
						*ngIf="
							!utilsService.hasPrivilegeCnt(
								utilsService.privilegeCodes.maj_data_cnt_m
							)
						"
					>
						{{ data.registrationNumber }}
					</div>
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[2]">
				<th mat-header-cell *matHeaderCellDef>Imp.Budg</th>
				<td
					mat-cell
					*matCellDef="let data; let i = dataIndex"
					[attr.rowspan]="getRowSpan(i)"
					[style.display]="getRowSpan(i) == 0 ? 'none' : ''"
				>
					<mat-form-field
						*ngIf="
							routingService.isDemandeRW() &&
							utilsService.hasPrivilegeCnt(utilsService.privilegeCodes.maj_data_cnt_m)
						"
						class="w-60 mt-2 mat-dense-xs mat-no-subscript"
						appearance="outline"
					>
						<mat-label>Imputations</mat-label>
						<mat-select [(ngModel)]="data.budgetAllocation">
							<mat-option *ngFor="let item of listImp" [value]="item.id">
								{{ item.designation }}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<div
						class="w-full text-md font-bold truncate ml-2 text-right"
						*ngIf="
							!utilsService.hasPrivilegeCnt(
								utilsService.privilegeCodes.maj_data_cnt_m
							)
						"
					>
						{{ data.budgetAllocation }}
					</div>
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[3]">
				<th mat-header-cell *matHeaderCellDef>Echéance</th>
				<td mat-cell *matCellDef="let data">
					<mat-form-field
						*ngIf="
							routingService.isDemandeRW() &&
							utilsService.hasPrivilegeCnt(utilsService.privilegeCodes.maj_data_cnt_m)
						"
						class="mat-dense-xs mat-no-subscript w-30"
					>
						<input
							type="text"
							matInput
							[(ngModel)]="data.products.monthlyPayment"
							currencyMask
							[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
						/>
					</mat-form-field>
					<div
						class="w-full text-md font-bold truncate ml-2 text-right"
						*ngIf="
							!utilsService.hasPrivilegeCnt(
								utilsService.privilegeCodes.maj_data_cnt_m
							)
						"
					>
						{{ data.products.amountCnt | number: ".2":"es" }}
					</div>
				</td>
			</ng-container>
			<ng-container [matColumnDef]="displayedColumns[4]">
				<th mat-header-cell *matHeaderCellDef class="min-w-50">Pack</th>
				<td mat-cell *matCellDef="let data">{{ data.products.financialProductName }}</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[5]">
				<th mat-header-cell *matHeaderCellDef>Durée</th>
				<td class="text-right" mat-cell *matCellDef="let element">{{ element.products.duration }}</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[6]">
				<th mat-header-cell *matHeaderCellDef>TAUX</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element.products.rate | number: ".2":"es" }}
				</td>
			</ng-container>

			<!-- 23/2/2022  annulation comentaire -->
            <!--
                <mat-form-field class="mat-dense-xs mat-no-subscript">
                    <input type="text" matInput [(ngModel)]="element.products.teg" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
                </mat-form-field>
                -->
            <!--
			<ng-container [matColumnDef]="displayedColumns[7]">
				<th mat-header-cell *matHeaderCellDef>TEG</th>
				<td mat-cell *matCellDef="let element">

					{{ element.products.teg | number: ".2":"es" }}
				</td>
			</ng-container>
		-->
			<ng-container [matColumnDef]="displayedColumns[7]">
				<th mat-header-cell *matHeaderCellDef>Mnt.Total</th>
				<td class="text-right" mat-cell *matCellDef="let element">
					<!--
                <mat-form-field class="mat-dense-xs mat-no-subscript">
                    <input type="text" matInput [(ngModel)]="element.products.goodAmount" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
                </mat-form-field>
                -->
					{{ element.products.goodAmount | number: ".2":"es" }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[8]">
				<th mat-header-cell *matHeaderCellDef>Mnt.Prêt Net</th>
				<td class="text-right" mat-cell *matCellDef="let element">
					<!--
                <mat-form-field class="mat-dense-xs mat-no-subscript">
                    <input type="text" matInput [(ngModel)]="element.products.loanAmount" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
                </mat-form-field>
                -->
					{{ element.products.loanAmount | number: ".2":"es" }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[9]">
				<th mat-header-cell *matHeaderCellDef>Mens.Confirmée</th>
				<td mat-cell *matCellDef="let element">
					<!--
                <mat-form-field class="mat-dense-xs mat-no-subscript">
                    <input type="text" matInput [(ngModel)]="element.products.confirmedAmount" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
                </mat-form-field>
                -->
					{{ element.products.confirmedAmount | number: ".2":"es" }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[10]">
				<th mat-header-cell *matHeaderCellDef>Date.Deb</th>
				<td mat-cell *matCellDef="let element" class="text-center">
					<!--
                <mat-form-field class="mat-dense-xs mat-no-subscript">
                    <input type="date" matInput [(ngModel)]="element.products.startDate">
                </mat-form-field>
            -->
					{{ element.products.startDate | date: "dd/MM/yyyy" }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[11]">
				<th mat-header-cell *matHeaderCellDef>Date.Fin</th>
				<td mat-cell *matCellDef="let element" class="text-center">
					<!--
                <mat-form-field class="mat-dense-xs mat-no-subscript">
                    <input type="date" matInput [(ngModel)]="element.products.endDate">
                </mat-form-field>
                -->
					{{ element.products.endDate | date: "dd/MM/yyyy" }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[12]">
				<th mat-header-cell *matHeaderCellDef>Statut</th>
				<td mat-cell *matCellDef="let element">{{ element.products.cntStatusName }}</td>
			</ng-container>

			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef>Action</th>
				<td mat-cell *matCellDef="let element">
					<button
						*ngIf="element.products.cntId"
						matTooltip="Historique"
						class="custom-mini-fab ml-1"
						mat-mini-fab
						[color]="'primary'"
						(click)="onHistoric(element)"
					>
						<mat-icon
							class="icon-size-4"
							svgIcon="heroicons_outline:zoom-in"
						></mat-icon>
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		</table>
	</div>

	<div class="w-full flex justify-end mt-2 gap-x-2">
		<button
			*ngIf="
				routingService.isDemandeRW() &&
				utilsService.hasPrivilegeCnt(utilsService.privilegeCodes.maj_data_cnt_m) &&
				utilsService.afficheable(eventCodes.realisation)
			"
			mat-raised-button
			color="primary"
			(click)="onEditer2(dataSource)"
		>
			Modifier
		</button>
		<button
			*ngIf="
				routingService.isDemandeRW() &&
				utilsService.hasPrivilegeCnt(utilsService.privilegeCodes.maj_data_cnt_m)
			"
			mat-raised-button
			color="primary"
			(click)="onRegister()"
		>
			Enregistrer
		</button>
	</div>

	<div *ngIf="routingService.isDemandeRW()" class="w-full flex justify-end mt-2 gap-x-2">
		<button
			*ngFor="let item of listAction"
			mat-raised-button
			color="primary"
			(click)="onExecuteAction(item)"
		>
			{{ item["actionName"] }}
		</button>
	</div>
</mat-expansion-panel>
