/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and app's base styles.
/* ----------------------------------------------------------------------------------------------------- */
/*          */
/* custom mat-input*/

button.small {
	//font-size: 9px !important;
	//line-height: 18px !important;
	height: 2rem !important;
	min-height: 1px !important;
}

table.fixed-layout {
	table-layout: fixed;
	width: 100%; /* must have this set */
}
table.fixed-layout th {
	word-break: break-word;
}


//correction 15 add by SI - V2 Support
// div.blackText * {
//     color: black !important;
// }


//correction 15 add by SI - V2 Support
.labelInputLarge {
    font-size: large !important;
}

.labelInputSemiLarge {
    font-size: medium !important;
}

// TODO: overwrites: this is the big hammer approach, we need to find a way to do it better
// for modals
mat-expansion-panel-header {
	@apply bg-ca_secondary text-white #{!important};
}

mat-expansion-panel-header:hover {
	@apply text-ca_secondary bg-opacity-25 #{!important};
}

mat-expansion-panel-header:focus {
	@apply text-ca_secondary bg-opacity-25 #{!important};
}

// for tables
th {
	@apply bg-ca_secondary;
	border-width: 0 !important;
	color: white !important;
}

.mat-sort-header-content {
	@apply text-white;
}

.mat-sort-header-arrow {
	color: white !important;
}

// for page layouts
.top-header {
	@apply bg-ca_secondary;
}


// for dialogues
// the reason why I use this very strange selector is because the dialogue use the same classes for multiple types of buttons
.swal2-styled[style='display: inline-block; background-color: rgb(48, 133, 214);'] {
	@apply bg-ca_secondary #{!important};
}

// the problem is that fermer/yes have the same classes

app-demande-container {
	.mat-expansion-panel-body {
		margin-right: 15px;
	}
}