<mat-tab-group class="mt-5" [animationDuration]="'300'" mat-align-tabs="center">
	<mat-tab *ngFor="let advice of advices; let idx = index" [label]="advice.entityTypeName">
		<ng-template matTabContent>
			<div class="flex flex-col w-full">
				<!--masquer fait le -->
				<!--<div class="w-full justify-start">
					Fait le <strong>{{ advice.dateCreation | date: "dd/MM/yyyy" }}</strong> par
					<strong>{{ advice.userName }}</strong>
				</div>-->
				<div class="tab-container" style="max-width: 100%; overflow: auto">
					<table
						mat-table
						[dataSource]="advice.identifiant ? advice.products : products"
						class="mat-datatable small-table"
						width="100%"
						style="min-width: 500px"
					>
						<ng-container matColumnDef="financialProductName">
							<th mat-header-cell *matHeaderCellDef>Type bien</th>
							<td mat-cell *matCellDef="let element">
								{{ element.financialProductName }}
							</td>
						</ng-container>

						<!-- objet Column -->
						<ng-container matColumnDef="financialObjectCode">
							<th mat-header-cell *matHeaderCellDef>Objet</th>
							<td mat-cell *matCellDef="let element">
								{{ element.financialObjectCode }}
							</td>
						</ng-container>

						<!-- nominalAuth Column -->
						<ng-container matColumnDef="duration">
							<th mat-header-cell *matHeaderCellDef>Durée</th>
							<td mat-cell *matCellDef="let element">
								<mat-form-field
									*ngIf="
										routingService.isDemandeRW() &&
										utilsService.hasPrivilege(
											utilsService.privilegeCodes.maj_avis_m
										) &&
										(!advice.identifiant ||
											(idx + 1 == advices.length &&
												advice.entityId ==
													authService.user.entityId) && request.userId == authService.user.userId)
									"
									class="
										mat-dense-xs mat-no-subscript
										min-w-0
										w-full
										text-right
									"
								>
									<input
										matInput
										[(ngModel)]="element.lastDuration"
										class="w-full"
									/>
								</mat-form-field>

								<div
									class="w-full text-md font-bold truncate ml-2 text-right"
									*ngIf="
										!(
											utilsService.hasPrivilege(
												utilsService.privilegeCodes.maj_avis_m
											) &&
											(!advice.identifiant ||
												(idx + 1 == advices.length &&
													advice.entityId ==
														authService.user.entityId) && request.userId == authService.user.userId)
										)
									"
								>
									{{ element.lastDuration }}
								</div>
							</td>
						</ng-container>

						<!-- encours Column -->
						<ng-container matColumnDef="deferredPeriod">
							<th mat-header-cell *matHeaderCellDef>Différé</th>
							<td mat-cell *matCellDef="let element">
								<mat-form-field
									*ngIf="
										routingService.isDemandeRW() &&
										utilsService.hasPrivilege(
											utilsService.privilegeCodes.maj_avis_m
										) &&
										(!advice.identifiant ||
											(idx + 1 == advices.length &&
												advice.entityId ==
													authService.user.entityId) && request.userId == authService.user.userId)
									"
									class="
										w-full
										mat-dense-xs mat-no-subscript
										min-w-0
										text-right
									"
								>
									<input matInput [(ngModel)]="element.lastDeferredPeriod" />
								</mat-form-field>
								<div
									class="w-full text-md font-bold truncate ml-2 text-right"
									*ngIf="
										!(
											utilsService.hasPrivilege(
												utilsService.privilegeCodes.maj_avis_m
											) &&
											(!advice.identifiant ||
												(idx + 1 == advices.length &&
													advice.entityId ==
														authService.user.entityId) && request.userId == authService.user.userId)
										)
									"
								>
									{{ element.lastDeferredPeriod }}
								</div>
							</td>
						</ng-container>

						<!-- crdu Column -->
						<ng-container matColumnDef="rate">
							<th mat-header-cell *matHeaderCellDef>Taux</th>
							<td mat-cell *matCellDef="let element">
								<mat-form-field
									*ngIf="
										routingService.isDemandeRW() &&
										utilsService.hasPrivilege(
											utilsService.privilegeCodes.maj_avis_m
										) &&
										(!advice.identifiant ||
											(idx + 1 == advices.length &&
												advice.entityId ==
													authService.user.entityId) && request.userId == authService.user.userId)
									"
									class="
										w-full
										mat-dense-xs mat-no-subscript
										min-w-0
										text-right
									"
								>
									<input matInput [(ngModel)]="element.lastRate" />
								</mat-form-field>
								<div
									class="w-full text-md font-bold truncate ml-2 text-right"
									*ngIf="
										!(
											utilsService.hasPrivilege(
												utilsService.privilegeCodes.maj_avis_m
											) &&
											(!advice.identifiant ||
												(idx + 1 == advices.length &&
													advice.entityId ==
														authService.user.entityId) && request.userId == authService.user.userId)
										)
									"
								>
									{{ element.lastRate }}
								</div>
							</td>
						</ng-container>

						<!-- impaye Column -->
						<ng-container matColumnDef="bonus">
							<th mat-header-cell *matHeaderCellDef matTooltip="Montant accordé">
								Montant Acc.
							</th>
							<td mat-cell *matCellDef="let element">
								<mat-form-field
									*ngIf="
										routingService.isDemandeRW() &&
										utilsService.hasPrivilege(
											utilsService.privilegeCodes.maj_avis_m
										) &&
										(!advice.identifiant ||
											(idx + 1 == advices.length &&
												advice.entityId ==
													authService.user.entityId) && request.userId == authService.user.userId)
									"
									class="
										w-full
										mat-dense-xs mat-no-subscript
										min-w-0
										text-right
									"
								>
									<input
										matInput
										[(ngModel)]="element.lastAmountGranted"
										type="text"
										currencyMask
										[options]="{
											prefix: '',
											thousands: '.',
											decimal: ',',
											suffix: ''
										}"
									/>
								</mat-form-field>
								<div
									class="w-full text-md font-bold truncate ml-2 text-right"
									*ngIf="
										!(
											utilsService.hasPrivilege(
												utilsService.privilegeCodes.maj_avis_m
											) &&
											(!advice.identifiant ||
												(idx + 1 == advices.length &&
													advice.entityId ==
														authService.user.entityId) && request.userId == authService.user.userId)
										)
									"
								>
									{{ element.lastAmountGranted | number: ".2":"es" }}
								</div>
							</td>
						</ng-container>

						<!-- nbrImpye Column -->
						<ng-container matColumnDef="derogation">
							<th mat-header-cell *matHeaderCellDef>Dérog</th>
							<td mat-cell *matCellDef="let element">{{ element.derogation }}</td>
						</ng-container>

						<!-- nbrImpye Column -->
						<ng-container matColumnDef="goodAmount">
							<th mat-header-cell *matHeaderCellDef>Échéance</th>
							<td mat-cell *matCellDef="let element" class="text-right">
								<span *ngIf="checkShowEcheance(element)">{{
									element.lastMonthlyPayment | number: ".2":"es"
								}}</span>
							</td>
						</ng-container>

						<ng-container matColumnDef="startDate">
							<th mat-header-cell *matHeaderCellDef matTooltip="Date de dédut">
								Date de dédut
							</th>
							<td mat-cell *matCellDef="let element">
									<mat-form-field
										*ngIf="
											routingService.isDemandeRW() &&
											utilsService.hasPrivilege(
												utilsService.privilegeCodes.maj_avis_m
											) &&
											(!advice.identifiant ||
												(idx + 1 == advices.length &&
													advice.entityId ==
														authService.user.entityId) && request.userId == authService.user.userId)
										"
										class="
											w-full
											mat-dense-xs mat-no-subscript
											min-w-0
											text-center
										"
									>
										<input
											matInput
											[matDatepicker]="startDatePicker"
											placeholder="Date de dédut"
											[(ngModel)]="element.startDate"
											[disabled]="false"
										/>
										<mat-datepicker-toggle matSuffix [for]="startDatePicker">
										</mat-datepicker-toggle>
										<mat-datepicker #startDatePicker [touchUi]="false" [color]="'primary'">
										</mat-datepicker>
									</mat-form-field>

									<div
										class="w-full text-md font-bold truncate ml-2 text-center"
										*ngIf="
											!(
												utilsService.hasPrivilege(
													utilsService.privilegeCodes.maj_avis_m
												) &&
												(!advice.identifiant ||
													(idx + 1 == advices.length &&
														advice.entityId ==
															authService.user.entityId) && request.userId == authService.user.userId)
											)
										"
									>
										{{ element.startDate | date: "dd/MM/yyyy" }}
									</div>
							</td>
						</ng-container>

						<ng-container matColumnDef="endDate">
							<th mat-header-cell *matHeaderCellDef matTooltip="Date fin">
								Date fin
							</th>
							<td mat-cell *matCellDef="let element">
									<mat-form-field
										*ngIf="
											routingService.isDemandeRW() &&
											utilsService.hasPrivilege(
												utilsService.privilegeCodes.maj_avis_m
											) &&
											(!advice.identifiant ||
												(idx + 1 == advices.length &&
													advice.entityId ==
														authService.user.entityId) && request.userId == authService.user.userId) &&
											noSimulation(element)
										"
										class="
											w-full
											mat-dense-xs mat-no-subscript
											min-w-0
											text-center
										"
									>
										<input
											matInput
											[matDatepicker]="endDatePicker"
											placeholder="Date fin"
											[(ngModel)]="element.endDate"
											[disabled]="false"
										/>
										<mat-datepicker-toggle matSuffix [for]="endDatePicker">
										</mat-datepicker-toggle>
										<mat-datepicker #endDatePicker [touchUi]="false" [color]="'primary'">
										</mat-datepicker>
									</mat-form-field>

									<div
										class="w-full text-md font-bold truncate ml-2 text-center"
										*ngIf="
											!(
												utilsService.hasPrivilege(
													utilsService.privilegeCodes.maj_avis_m
												) &&
												(!advice.identifiant ||
													(idx + 1 == advices.length &&
														advice.entityId ==
															authService.user.entityId) && request.userId == authService.user.userId)
											) && noSimulation(element)
										"
									>
										{{ element.endDate | date: "dd/MM/yyyy" }}
									</div>
							</td>
						</ng-container>

						<tr
							mat-header-row
							*matHeaderRowDef="displayedColumns"
							class="header-table-gry"
						></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
					</table>
				</div>

				<div class="flex flex-col mt-2 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
					<div class="flex flex-col gt-xs:flex-row">
						<ng-container *ngIf="request.creditTypeId == requestTypes.AMAQ">
							<ng-container *ngIf="
											routingService.isDemandeRW() &&
											utilsService.hasPrivilege(utilsService.privilegeCodes.maj_avis_m) &&
											(!advice.identifiant ||
												(idx + 1 == advices.length && advice.entityId == authService.user.entityId && request.userId == authService.user.userId)
											);
											else creationTypeRO;
							">
								<div class="wkf-mat-textarea flex-auto">
									<mat-form-field class="w-full mat-dense-xs mat-no-subscript mt-1">
										<mat-label>Type création</mat-label>
										<mat-select [(ngModel)]="advice.amaqCreation">
											<mat-option
												*ngFor="let type of creationTypes"
												[value]="type.id"
											>
												{{ type.designation }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</ng-container>
							<ng-template #creationTypeRO>
								<div class="w-full text-md font-bold truncate ml-2 mt-2 flex-col">
									<mat-label class="w-full font-normal">Type création : </mat-label>
									<div class="w-full ml-2">
										{{ getCreationTypeName(advice.amaqCreation) }}
									</div>
								</div>
							</ng-template>
						</ng-container>
												
						<!-- <ng-container *ngIf="
							routingService.isDemandeRW() &&
							utilsService.hasPrivilege(utilsService.privilegeCodes.maj_avis_m) &&
							(!advice.identifiant ||
								(idx + 1 == advices.length &&
									advice.entityId == authService.user.entityId) && request.userId == authService.user.userId); else adviceRO">							
							<div class="wkf-mat-textarea flex-auto">
								<mat-radio-group aria-label="Avis" [(ngModel)]="advice.adviceCode">
									<mat-label>Avis</mat-label><br/>
									<mat-radio-button class="pl-1" *ngFor="let code of adviceCodes" [value]="code.code">
										{{ code.name }}
									</mat-radio-button>
								</mat-radio-group>
							</div>
						</ng-container>
						<ng-template #adviceRO>							
							<div class="w-full text-md font-bold truncate ml-2 mt-2 flex-col">
								<mat-label class="w-full font-normal">Avis : </mat-label>
								<div class="w-full ml-2">
									{{ getAdviceCodeName(advice.adviceCode) }}
								</div>
							</div>
						</ng-template> -->
						
						<ng-container *ngIf="
							routingService.isDemandeRW() &&
							utilsService.hasPrivilege(utilsService.privilegeCodes.maj_avis_m) &&
							(!advice.identifiant ||
								(idx + 1 == advices.length &&
									advice.entityId == authService.user.entityId) && request.userId == authService.user.userId); else remarqueRO">						
							<mat-form-field class="wkf-mat-textarea flex-auto">
								<mat-label>Avis</mat-label>
								<textarea
									matInput
									[rows]="3"
									matTextareaAutosize
									[(ngModel)]="advice.opinion"
								></textarea>
							</mat-form-field>
						</ng-container>
						<ng-template #remarqueRO>						
							<div class="w-full text-md font-bold truncate ml-2 mt-2 flex-col">
								<mat-label class="w-full font-normal">Avis : </mat-label>
								<div class="w-full pl-2 whitespace-normal">
									{{ advice.opinion }}
								</div>
							</div>
						</ng-template>

						<ng-container *ngIf="
							routingService.isDemandeRW() &&
							utilsService.hasPrivilege(utilsService.privilegeCodes.maj_avis_m) &&
							(!advice.identifiant ||
								(idx + 1 == advices.length &&
									advice.entityId == authService.user.entityId)  && request.userId == authService.user.userId); else guaranty">						
							<mat-form-field class="wkf-mat-textarea flex-auto">
								<mat-label>Garanties</mat-label>
								<textarea
									matInput
									[rows]="3"
									matTextareaAutosize
									[(ngModel)]="advice.guarantees"
								></textarea>
							</mat-form-field>
						</ng-container>
						<ng-template #guaranty>
							<div class="w-full text-md font-bold truncate ml-2 mt-2 flex-col">
								<mat-label class="w-full font-normal">Garanties : </mat-label>
								<div class="w-full ml-2">
									{{ advice.guarantees }}
								</div>
							</div>
						</ng-template>
						

						<ng-container *ngIf="
							routingService.isDemandeRW() &&
							utilsService.hasPrivilege(utilsService.privilegeCodes.maj_avis_m) &&
							(!advice.identifiant ||
								(idx + 1 == advices.length &&
									advice.entityId == authService.user.entityId) && request.userId == authService.user.userId); else conditionRO">						
							<mat-form-field class="wkf-mat-textarea flex-auto">
								<mat-label>Conditions et réserves</mat-label>
								<textarea
									matInput
									[rows]="3"
									matTextareaAutosize
									[(ngModel)]="advice.conditionsReserves"
								></textarea>
							</mat-form-field>
						</ng-container>
						<ng-template #conditionRO>
							<div class="w-full text-md font-bold truncate ml-2 flex-col mt-2">
								<mat-label class="w-full font-normal"
									>Conditions et réserves :
								</mat-label>
								<div class="w-full ml-2">{{ advice.conditionsReserves }}</div>
							</div>
						</ng-template>
					
					</div>
					<div class="flex justify-end">
						<button
							*ngIf="
								routingService.isDemandeRW() &&
								utilsService.hasPrivilege(utilsService.privilegeCodes.maj_avis_m) &&
								(!advice.identifiant ||
									(idx + 1 == advices.length &&
										advice.entityId == authService.user.entityId) && request.userId == authService.user.userId)
							"
							class="px-8"
							mat-flat-button
							[color]="'primary'"
							(click)="onRegistrate(advice)"
						>
							Enregistrer
						</button>
					</div>
				</div>
			</div>
		</ng-template>
	</mat-tab>
</mat-tab-group>
