<h2 mat-dialog-title>Materials</h2>
<mat-dialog-content class="flex flex-col gap-3">
	<table class="mat-datatable" mat-table [dataSource]="autorisation.materials">
		<ng-container [matColumnDef]="'designation'">
			<th mat-header-cell *matHeaderCellDef>Designation</th>
			<td mat-cell *matCellDef="let element">{{ element["designation"] }}</td>
			<td class="pt-3" mat-footer-cell *matFooterCellDef>
				<mat-form-field appearance="outline">
					<input matInput [(ngModel)]="material.designation" type="text">
				</mat-form-field>
			</td>
		</ng-container>

		<ng-container [matColumnDef]="'wwNumber'">
			<th mat-header-cell *matHeaderCellDef>N° WM</th>
			<td mat-cell *matCellDef="let element">{{ element["wwNumber"] }}</td>
			<td class="pt-3" mat-footer-cell *matFooterCellDef>
				<mat-form-field appearance="outline">
					<input matInput [(ngModel)]="material.wwNumber" type="text">
				</mat-form-field>
			</td>
		</ng-container>

		<ng-container [matColumnDef]="'brand'">
			<th mat-header-cell *matHeaderCellDef>Marque</th>
			<td mat-cell *matCellDef="let element">{{ element["brand"] }}</td>
			<td class="pt-3" mat-footer-cell *matFooterCellDef>
				<mat-form-field appearance="outline">
					<input matInput [(ngModel)]="material.brand" type="text">
				</mat-form-field>
			</td>
		</ng-container>

		<ng-container [matColumnDef]="'model'">
			<th mat-header-cell *matHeaderCellDef>Modele</th>
			<td mat-cell *matCellDef="let element">{{ element["model"] }}</td>
			<td class="pt-3" mat-footer-cell *matFooterCellDef>
				<mat-form-field appearance="outline">
					<input matInput [(ngModel)]="material.model" type="text">
				</mat-form-field>
			</td>
		</ng-container>

		<ng-container [matColumnDef]="'productionYear'">
			<th mat-header-cell *matHeaderCellDef>Annee production</th>
			<td mat-cell *matCellDef="let element">{{ element["productionYear"] }}</td>
			<td class="pt-3" mat-footer-cell *matFooterCellDef>
				<mat-form-field appearance="outline">
					<input matInput [(ngModel)]="material.productionYear" type="text">
				</mat-form-field>
			</td>
		</ng-container>

		<ng-container [matColumnDef]="'action'">
			<th mat-header-cell *matHeaderCellDef>
				<button
					*ngIf="!isReadOnly()"
					(click)="onAdd()"
					mat-mini-fab
					[color]="'secondary'"
					class="custom-mini-fab"
				>
					<mat-icon
						class="icon-size-4"
						svgIcon="heroicons_outline:plus"
					></mat-icon>
				</button>
			</th>
			<td mat-cell *matCellDef="let element">
				<button
					*ngIf="!isReadOnly()"
					(click)="onDelete(element)"
					mat-mini-fab
					[color]="'warn'"
					class="custom-mini-fab"
				>
					<mat-icon
						class="icon-size-4"
						svgIcon="heroicons_outline:trash"
					></mat-icon>
				</button>
			</td>
			<td class="pt-3" mat-footer-cell *matFooterCellDef>
				<button
					(click)="onAppend()"
					mat-mini-fab
					[color]="'primary'"
					class="custom-mini-fab mr-2"
				>
					<mat-icon
						class="icon-size-4"
						svgIcon="heroicons_outline:check"
					></mat-icon>
				</button>
				<button
					(click)="onQuit()"
					mat-mini-fab
					[color]="'warn'"
					class="custom-mini-fab"
				>
					<mat-icon
						class="icon-size-4"
						svgIcon="heroicons_outline:x"
					></mat-icon>
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry rounded-t-xl max-w-full"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="max-w-full"></tr>
        <tr mat-footer-row *matFooterRowDef="getFooterCols()"></tr>
	</table>

	<mat-form-field appearance="outline">
		<mat-label>Documents</mat-label>
		<textarea [disabled]="isReadOnly()" matInput matTextareaAutosize [(ngModel)]="autorisation.documents"></textarea>
	</mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions class="w-full flex justify-end gap-2">
	<button mat-raised-button [color]="'warn'" (click)="close()">
		Fermer
	</button>
	<button *ngIf="!isReadOnly()" [disabled]="!autorisation.materials?.length || !autorisation.documents" mat-raised-button [color]="'primary'" (click)="save()">
		Enregistrer
	</button>
</div>