<div class="flex justify-between mt-1 mb-2 overflow-auto">
    <div class="flex flex-wrap items-center font-medium">
        <div class="flex"
             *ngFor="let item of ['Demande: '+ demande.requestNumber,'Produit: '+product.financialProductName];let idx=index">
            <div>
                <a class="whitespace-nowrap text-primary-500"><strong>{{item}}</strong></a>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap" *ngIf="idx<['Demande','Produit'].length-1">
                <mat-icon class="icon-size-5" style="color: #e30a17;" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
            </div>
        </div>
    </div>
</div>

<mat-expansion-panel [expanded]="true" class="mt-3 bg-gray overflow-auto">
    <div class="min-w-140">

        <div class="w-full py-3 px-7 mt-1">
            <mat-radio-group aria-label="Select an option" [disabled]="demande.committeeStatus =='VA'"
                             [(ngModel)]="product.committeeStatus">
                <mat-radio-button value="AC" class="mx-2">Accordé</mat-radio-button>
                <mat-radio-button value="RJ" class="mx-2">Refusé</mat-radio-button>
                <mat-radio-button value="AJ" class="mx-2">Ajournée</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="w-full flex px-7 py-2 rounded-t-xl header-table-gry">
            <div class="w-1/3"><b>Type</b></div>
            <div class="w-1/3 px-7"><b>Demandé</b></div>
            <div class="w-1/3 px-7"><b>Accordé</b></div>
        </div>
        <mat-divider class="my-1"></mat-divider>
        <div class="w-full flex py-1">
            <div class="w-1/3 px-7">Produit</div>
            <div class="w-1/3 px-7">{{ product.financialProductName }}</div>
            <div class="w-1/3 px-7">
                <mat-form-field class="mat-no-subscript mat-dense-xs w-full" appearance="outline" >
                    <mat-select [(ngModel)]="product.lastProduct" [disabled]="demande.committeeStatus =='VA'">
                        <mat-option *ngFor="let item of listPack" [value]="item.id">
                            {{ item.designation }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <mat-divider class="my-1"></mat-divider>
        <div class="w-full flex py-1">
            <div class="w-1/3 px-7">Montant</div>
            <div class="w-1/3 px-7 text-right">
                {{ product.goodAmount | number: ".2":"fr" }} DH
            </div>
            <div class="w-1/3 px-7 flex justify-end">
                <mat-form-field class="mat-no-subscript mat-dense-xs w-full" appearance="outline">
                    <input matInput [disabled]="demande.committeeStatus =='VA'" [(ngModel)]="product.lastAmountGranted" placeholder="Montant accordé" currencyMask
                           [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }" />
                </mat-form-field>
            </div>
        </div>
        <mat-divider class="my-1"></mat-divider>
        <div class="w-full flex py-1">
            <div class="w-1/3 px-7">Apport</div>
            <div class="w-1/3 px-7 text-right">
                {{ product.contributionAmount | number: ".2":"fr" }} DH
            </div>
            <div class="w-1/3 px-7 flex justify-end">
                <mat-form-field class="mat-no-subscript mat-dense-xs w-full" appearance="outline">
                    <input matInput [disabled]="demande.committeeStatus =='VA'" [(ngModel)]="product.lastContributionAmount" placeholder="Apport" currencyMask
                           [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }" />
                </mat-form-field>
            </div>
        </div>
        <mat-divider class="my-1"></mat-divider>
        <div class="w-full flex py-1">
            <div class="w-1/3 px-7">Durée</div>
            <div class="w-1/3 px-7 text-right">{{ product.duration }}</div>
            <div class="w-1/3 px-7 flex justify-end">
                <mat-form-field class="mat-no-subscript mat-dense-xs w-full" appearance="outline">
                    <input matInput [disabled]="demande.committeeStatus =='VA'" [(ngModel)]="product.lastDuration" placeholder="Durée" currencyMask [options]="{
							prefix: '',
							thousands: '.',
							decimal: ',',
							suffix: '',
							precision: 0
						}" />
                </mat-form-field>
            </div>
        </div>


        <mat-divider class="my-1"></mat-divider>
        <div class="w-full flex py-1">
            <div class="w-1/3 px-7">Taux</div>
            <div class="w-1/3 px-7 text-right">{{product.rate }}</div>
            <div class="w-1/3 px-7 flex justify-end">
                <mat-form-field class="mat-no-subscript mat-dense-xs w-full" appearance="outline">
                    <input matInput [disabled]="demande.committeeStatus =='VA'" [(ngModel)]="product.lastRate" placeholder="Taux" currencyMask
                           [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }" />
                </mat-form-field>
            </div>
        </div>


        <mat-divider class="my-1"></mat-divider>
        <div class="w-full flex py-1">
            <div class="w-1/3 px-7">Différé</div>
            <div class="w-1/3 px-7 text-right">{{product.deferredPeriod }}</div>
            <div class="w-1/3 px-7 flex justify-end">
                <mat-form-field class="mat-no-subscript mat-dense-xs w-full" appearance="outline">
                    <input matInput [disabled]="demande.committeeStatus =='VA'" [(ngModel)]="product.lastDeferredPeriod" placeholder="Différé" currencyMask [options]="{
							prefix: '',
							thousands: '.',
							decimal: ',',
							suffix: '',
							precision: 0
						}" />
                </mat-form-field>
            </div>
        </div>


        <mat-divider class="my-1"></mat-divider>
        <div class="w-full flex py-1">
            <div class="w-1/3 px-7">Echéance</div>
            <div class="w-1/3 px-7 text-right">
                {{ product.monthlyPayment | number: ".2":"fr" }} DH
            </div>
            <div class="w-1/3 px-7 flex justify-end">
                <mat-form-field class="mat-no-subscript mat-dense-xs w-full" appearance="outline">
                    <input matInput [disabled]="demande.committeeStatus =='VA'" [(ngModel)]="product.lastMonthlyPayment" placeholder="Echéance" currencyMask
                           [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }" />
                </mat-form-field>
            </div>
        </div>


        <mat-divider class="my-1"></mat-divider>


        <div class="w-full mt-2">
            <fieldset>
                <div class="w-full flex md:flex-row flex-col gap-3 mt-5 mb-5">
                    <div class="w-full" style="padding-top: 18px;">
                        <mat-checkbox [disabled]="demande.committeeStatus =='VA'" class="" [labelPosition]="'after'" [checked]="product['contracted'] == 'O'"
                                      (change)="showOptions($event)">
                            Crédit conventionné
                        </mat-checkbox>
                    </div>
                    <div class="w-full">
                        <mat-form-field class="mat-no-subscript mat-dense-xs w-full" appearance="fill">
                            <mat-label>Date de dédut</mat-label>
                            <input matInput [disabled]="demande.committeeStatus =='VA'" [matDatepicker]="startDatePicker" placeholder="Date de dédut"
                                   [(ngModel)]="product.startDate" />
                            <mat-datepicker-toggle matSuffix [for]="startDatePicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker [touchUi]="false" [color]="'primary'">
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field class="mat-no-subscript mat-dense-xs w-full" appearance="fill">
                            <mat-label>Date fin</mat-label>
                            <input matInput [disabled]="demande.committeeStatus =='VA'" [matDatepicker]="endDatePicker" placeholder="Date fin"
                                   [(ngModel)]="product.endDate" />
                            <mat-datepicker-toggle matSuffix [for]="endDatePicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #endDatePicker [touchUi]="false" [color]="'primary'">
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="w-full">


                        <mat-form-field class="mat-no-subscript mat-dense-xs w-full" appearance="fill">
                            <mat-label>Type de déblocage</mat-label>
                            <mat-select [disabled]="demande.committeeStatus =='VA'" [(ngModel)]="product.typeUnlock">
                                <mat-option *ngFor="let item of unlockTypeList" [value]="item.code">
                                    {{ item.designation }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field class="mat-no-subscript mat-dense-xs w-full" appearance="fill">
                            <mat-label>Modalité de déblocage</mat-label>
                            <mat-select [disabled]="demande.committeeStatus =='VA'" [(ngModel)]="product.releaseMode">
                                <mat-option *ngFor="let item of releaseModeList" [value]="item.code">
                                    {{ item.designation }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </fieldset>
        </div>

        <mat-divider class="my-1"></mat-divider>

        <div class="w-full mt-2">
            <fieldset>
                <div class="w-full flex md:flex-row flex-col gap-3 mt-5 mb-5">
                    <div class="w-full">
                        <mat-form-field class="mat-no-subscript mat-dense-xs w-full" appearance="fill">
                            <mat-label>description Objet</mat-label>
                            <textarea [disabled]="demande.committeeStatus =='VA'"  [(ngModel)]="product.descriptionobjet" matInput [rows]="3"  matTextareaAutosize></textarea>
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field class="mat-no-subscript mat-dense-xs w-full" appearance="fill">
                            <mat-label>Motif</mat-label>

                            <textarea [disabled]="demande.committeeStatus =='VA'"  [(ngModel)]="product.motif" matInput [rows]="3"  matTextareaAutosize></textarea>

                        </mat-form-field>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>

</mat-expansion-panel>

<!--
<app-guaranties [requestId]="data.requestId" [personId]="17531" ></app-guaranties>
-->
<!-- <mat-divider class="my-3"></mat-divider> -->

<mat-expansion-panel [expanded]="true" class="mt-3 bg-gray">
    <mat-expansion-panel-header class="expan-panel header">
        <div class="w-full flex justify-center">
            <h4 class="ml-3 font-bold">GARANTIES RETENUS</h4>
            <h4 class="ml-3 italic"></h4>
        </div>
    </mat-expansion-panel-header>

    <div class="tab-container mt-5 bg-cam" style="max-width: 100%; overflow: auto">
        <table mat-table [dataSource]="product.guaranties" class="mat-datatable small-table" width="100%"
               style="min-width: 500px">
            <ng-container [matColumnDef]="displayedColumns[0]">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox [disabled]="demande.committeeStatus =='VA'" [(ngModel)]="element.checked" (change)="setProductId(element)"></mat-checkbox>
                </td>
                <td mat-footer-cell *matFooterCellDef class="w-80"></td>
            </ng-container>

            <!-- objet Column -->
            <ng-container [matColumnDef]="displayedColumns[1]">
                <th mat-header-cell *matHeaderCellDef>Référence</th>
                <td mat-cell *matCellDef="let element">{{ element[displayedColumns[1]] }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- nominalAuth Column -->
            <ng-container [matColumnDef]="displayedColumns[2]">
                <th mat-header-cell *matHeaderCellDef>Nature</th>
                <td mat-cell *matCellDef="let element">{{ element[displayedColumns[2]] }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- encours Column -->
            <ng-container [matColumnDef]="displayedColumns[3]">
                <th mat-header-cell *matHeaderCellDef>Montant</th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    {{ element[displayedColumns[3]] | number: ".2":"es" }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container [matColumnDef]="displayedColumns[4]">
                <th mat-header-cell *matHeaderCellDef>Statut</th>
                <td mat-cell *matCellDef="let element" class="text-danger">
                    {{ element[displayedColumns[4]] ? "Annulé" : "" }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container [matColumnDef]="displayedColumns[5]">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    {{ element[displayedColumns[5]] | date: "dd/MM/yyyy" }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container [matColumnDef]="displayedColumns[6]">
                <th mat-header-cell *matHeaderCellDef>Rang</th>
                <td mat-cell *matCellDef="let element" class="">
                    {{ element[displayedColumns[6]] }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container [matColumnDef]="displayedColumns[7]">
                <th mat-header-cell *matHeaderCellDef class="text-right">
                    <button *ngIf="demande.committeeStatus !='VA'" matTooltip="Ajouter" class="custom-mini-fab"
                            mat-mini-fab [color]="'secondary'" (click)="addGuaranty()">
                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus"></mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <button matTooltip="Supprimer" class="custom-mini-fab" mat-mini-fab [color]="'warn'"
                            *ngIf="element.identifiant === undefined" (click)="deleteGuaranty(element)">
                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
                    </button>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</mat-expansion-panel>

<mat-expansion-panel [expanded]="true" class="mt-3 bg-gray">
    <mat-expansion-panel-header class="expan-panel header">
        <div class="w-full flex justify-center">
            <h4 class="ml-3 font-bold">CAUTIONS</h4>
            <h4 class="ml-3 italic"></h4>
        </div>
    </mat-expansion-panel-header>

    <div class="tab-container mt-5 bg-cam" style="max-width: 100%; overflow: auto">
        <table mat-table [dataSource]="product.deposits" class="mat-datatable small-table" width="100%"
               style="min-width: 500px">
            <ng-container [matColumnDef]="cautionDisplayedColumns[0]">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox [disabled]="demande.committeeStatus =='VA'" [(ngModel)]="element.checked" (change)="setProductId(element)"></mat-checkbox>
                </td>
                <td mat-footer-cell *matFooterCellDef class="w-80"></td>
            </ng-container>

            <!-- numdossier Column -->
            <ng-container [matColumnDef]="cautionDisplayedColumns[1]">
                <th mat-header-cell *matHeaderCellDef class="w-80">Prénom</th>
                <td mat-cell *matCellDef="let element">
                    {{ element[cautionDisplayedColumns[1]] }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- objet Column -->
            <ng-container [matColumnDef]="cautionDisplayedColumns[2]">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let element">
                    {{ element[cautionDisplayedColumns[2]] }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- nominalAuth Column -->
            <ng-container [matColumnDef]="cautionDisplayedColumns[3]">
                <th mat-header-cell *matHeaderCellDef>CIN</th>
                <td mat-cell *matCellDef="let element">
                    {{ element[cautionDisplayedColumns[3]] }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- encours Column -->
            <ng-container [matColumnDef]="cautionDisplayedColumns[4]">
                <th mat-header-cell *matHeaderCellDef>Date de naissance</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    {{ element[cautionDisplayedColumns[4]] | date: "dd/MM/yyyy" }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container [matColumnDef]="cautionDisplayedColumns[5]">
                <th mat-header-cell *matHeaderCellDef>Adresse</th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    {{ element[cautionDisplayedColumns[5]] }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container [matColumnDef]="cautionDisplayedColumns[6]">
                <th mat-header-cell *matHeaderCellDef>Statut</th>
                <td mat-cell *matCellDef="let element" class="text-danger">
                    {{ element[cautionDisplayedColumns[6]] ? "Annulé" : "" }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container [matColumnDef]="cautionDisplayedColumns[7]">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    {{ element[cautionDisplayedColumns[7]] | date: "dd/MM/yyyy" }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container [matColumnDef]="cautionDisplayedColumns[8]">
                <th mat-header-cell *matHeaderCellDef class="text-right">
                    <!-- <button matTooltip='Ajouter' class="custom-mini-fab" mat-mini-fab [color]="'primary'" (click)="addCaution()"><mat-icon class="icon-size-4"  svgIcon="heroicons_outline:plus"></mat-icon></button> -->
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <button *ngIf="element.depositId === undefined" matTooltip="Supprimer" class="custom-mini-fab"
                            mat-mini-fab [color]="'warn'" (click)="deleteCaution(element)">
                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
                    </button>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="cautionDisplayedColumns" class="header-table-gry"></tr>
            <tr mat-row *matRowDef="let row; columns: cautionDisplayedColumns"></tr>
        </table>
    </div>

</mat-expansion-panel>

<div mat-dialog-actions class="flex justify-end mt-5">
    <button mat-raised-button class="px-4" [color]="'primary'" *ngIf="demande.committeeStatus !='VA'"
            (click)="onSave()">Enregistrer</button>
</div>

