<div class="flex justify-between">
    <button
        mat-mini-fab
        [color]="'primary'"
        matTooltip="Attacher dossier EVOLAN"
        class="custom-mini-fab"
        (click)="onAddRubrique()"
        matTooltip="Nouvelle rubrique"
    >
        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
    </button>

</div>
<div class="flex flex-col w-full gap-4">
    <div class="flex flex-col w-full shadow-xl mt-4 bg-gray-50 rounded-lg p-4">
        <div class="grid grid-cols-2 gap-6">
            <mat-form-field *ngIf="afficherVolet('champ1')" appearance="outline"
                            class="wkf-mat-textarea flex-auto w-full mat-dense-xs  mat-no-subscript">
                <mat-label>Aperçu sur le secteur d'activité</mat-label>
                <textarea
                    [disabled]="!canEdit()"
                    [(ngModel)]="projectRequestDto.sectorArea"
                    matInput
                    [rows]="3"
                    matTextareaAutosize ></textarea>
            </mat-form-field>
    
            <mat-form-field *ngIf="afficherVolet('champ2')" appearance="outline"
                class="wkf-mat-textarea flex-auto w-full mat-dense-xs  mat-no-subscript">
                <mat-label>Données sur la région/localité d'insertion du projet</mat-label>
                <textarea
                    [disabled]="!canEdit()"
                    [(ngModel)]="projectRequestDto.regionData"
                    matInput
                    [rows]="3"
                    matTextareaAutosize ></textarea>
            </mat-form-field>
    
            <mat-form-field *ngIf="afficherVolet('champ3')" appearance="outline"
                            class="wkf-mat-textarea flex-auto w-full mat-dense-xs  mat-no-subscript">
                <mat-label>Stratégie et mode d'organisation</mat-label>
                <textarea
                    [disabled]="!canEdit()"
                    [(ngModel)]="projectRequestDto.strategyOrganization"
                    matInput
                    [rows]="3"
                    matTextareaAutosize ></textarea>
            </mat-form-field>
    
            <mat-form-field *ngIf="afficherVolet('champ5')" appearance="outline"
                            class="wkf-mat-textarea flex-auto w-full mat-dense-xs  mat-no-subscript">
                <mat-label>Planning de réalisation</mat-label>
                <textarea
                    [disabled]="!canEdit()"
                    [(ngModel)]="projectRequestDto.planning"
                    matInput
                    [rows]="3"
                    matTextareaAutosize ></textarea>
            </mat-form-field>
    
            <mat-form-field *ngIf="afficherVolet('champ6')" appearance="outline"
                            class="wkf-mat-textarea flex-auto w-full mat-dense-xs  mat-no-subscript">
                <mat-label>Etude technique du projet</mat-label>
                <textarea
                    [disabled]="!canEdit()"
                    [(ngModel)]="projectRequestDto.technicalStudy"
                    matInput
                    [rows]="3"
                    matTextareaAutosize ></textarea>
            </mat-form-field>
    
            <mat-form-field *ngIf="afficherVolet('champ7')" appearance="outline"
                            class="wkf-mat-textarea flex-auto w-full mat-dense-xs  mat-no-subscript">
                <mat-label>Compétitivité du projet</mat-label>
                <textarea
                    [disabled]="!canEdit()"
                    [(ngModel)]="projectRequestDto.competitiveness"
                    matInput
                    [rows]="3"
                    matTextareaAutosize ></textarea>
            </mat-form-field>
    
            <mat-form-field *ngIf="afficherVolet('champ8')" appearance="outline"
                            class="wkf-mat-textarea flex-auto w-full mat-dense-xs  mat-no-subscript">
                <mat-label>Capacité de production</mat-label>
                <textarea
                    [disabled]="!canEdit()"
                    [(ngModel)]="projectRequestDto.productionCapacity"
                    matInput
                    [rows]="3"
                    matTextareaAutosize ></textarea>
                </mat-form-field>
                
                <mat-form-field appearance="outline"
                    class="wkf-mat-textarea flex-auto w-full mat-dense-xs  mat-no-subscript">
                    <mat-label>Programme d'investissement</mat-label>
                    <textarea
                        [disabled]="!canEdit()"
                        [(ngModel)]="projectRequestDto.projectProgram"
                        matInput
                        [rows]="3"
                        matTextareaAutosize ></textarea>
                </mat-form-field>

            <!-- <mat-form-field appearance="outline"
                        class="wkf-mat-textarea flex-auto w-full mat-dense-xs  mat-no-subscript">
                <mat-label>Plan de financement</mat-label>
                <textarea
                    matInput
                    [rows]="3"
                    matTextareaAutosize ></textarea>
            </mat-form-field> -->
        </div>

        <div class="w-full flex justify-center m-4">
            <button [disabled]="!canEdit()" mat-raised-button [color]="'primary'" class="w-100" (click)="onValidateProjet()">Enregistrer Projet d'investissement</button>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-2">
        <div *ngIf="afficherVolet('volet1') && projectRequestDto?.projectId" class="mt-3 w-full shadow-xl mt-4 bg-gray-50 rounded-lg">
            <app-batiment-construction [demandeDTO]="demandeDTO" [project]="projectRequestDto"></app-batiment-construction>
        </div>
    
        <div *ngIf="afficherVolet('volet2') && projectRequestDto?.projectId" class="mt-3 w-full shadow-xl mt-4 bg-gray-50 rounded-lg">
            <app-support-foncier [demandeDTO]="demandeDTO" [project]="projectRequestDto"></app-support-foncier>
        </div>
    
        <div *ngIf="afficherVolet('volet3') && projectRequestDto?.projectId" class="mt-3 w-full shadow-xl mt-4 bg-gray-50 rounded-lg">
            <app-moyen-humain [demandeDTO]="demandeDTO" [project]="projectRequestDto"></app-moyen-humain>
        </div>
    
        <div *ngIf="afficherVolet('volet4') && projectRequestDto?.projectId" class="mt-3 w-full shadow-xl mt-4 bg-gray-50 rounded-lg">
            <app-programme-investissement [demandeDTO]="demandeDTO" [project]="projectRequestDto"></app-programme-investissement>
        </div>
    
        <div *ngIf="afficherVolet('volet5')  && projectRequestDto?.projectId" class="mt-3 w-full shadow-xl mt-4 bg-gray-50 rounded-lg">
            <app-plan-financement [demandeDTO]="demandeDTO" [project]="projectRequestDto"></app-plan-financement>
        </div>
    
        <div *ngIf="afficherVolet('volet6')   && projectRequestDto?.projectId" class="mt-3 w-full shadow-xl mt-4 bg-gray-50 rounded-lg">
            <app-chiffre-affaire-prev [demandeDTO]="demandeDTO" [project]="projectRequestDto"></app-chiffre-affaire-prev>
        </div>
    
        <div *ngIf="afficherVolet('volet7')  && projectRequestDto?.projectId" class="mt-3 w-full shadow-xl mt-4 bg-gray-50 rounded-lg">
            <app-taux-utilisation-prev [demandeDTO]="demandeDTO" [project]="projectRequestDto"></app-taux-utilisation-prev>
        </div>
    
        <div *ngIf="projectRequestDto?.projectId" class="w-full shadow-xl mt-4 bg-gray-50 rounded-lg flex flex-col justify-center items-center">
            <app-vertical-table>
                <div vertical-table-header>
                    Chiffre d'affaire
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="chiffre d'affaire" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.turnover" type="text">
                </div>

                <div vertical-table-header>
                    Achats
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="Achats" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.purchases" type="text">
                </div>

                <div vertical-table-header>
                    <div class="font-bold">
                        Marge Brute
                    </div>
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="Marge Brute" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.grossMargin" type="text">
                </div>

                <div vertical-table-header>
                    Frais Personnel
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="Frais Personnel" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.personalCharges" type="text">
                </div>

                <div vertical-table-header>
                    Impôts & Taxes
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="Impôts & Taxes" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.incomeTaxes" type="text">
                </div>

                <div vertical-table-header>
                    Charges Externes
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="Charges Externes" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.externalCharges" type="text">
                </div>

                <div vertical-table-header>
                    Frais Financiers
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="Frais Financiers" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.financialCosts" type="text">
                </div>

                <div vertical-table-header>
                    Autres Charges
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="Autres Charges" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.otherCharges" type="text">
                </div>

                <div vertical-table-header>
                    <div class="font-bold">
                        Total Charges
                    </div>
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="Total Charges" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.totalCharge" type="text">
                </div>

                <div vertical-table-header>
                    Amortissement
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="Amortissement" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.amortization" type="text">
                </div>

                <div vertical-table-header>
                    <div class="font-bold">
                        Résultat avant Impôt
                    </div>
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="Résultat avant Impôt" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.rawResults" type="text">
                </div>

                <div vertical-table-header>
                    IS
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="IS" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.amountIs" type="text">
                </div>

                <div vertical-table-header>
                    <div class="font-bold">
                        Résultat Net
                    </div>
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="Résultat Net" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.netResults" type="text">
                </div>

                <div vertical-table-header>
                    Cash Flow
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="Cash Flow" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.cashFlow" type="text">
                </div>

                <div vertical-table-header>
                    Amortissement CMT
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="Amortissement CMT" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.amortizationcmt" type="text">
                </div>

                <div vertical-table-header>
                    Investissements
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="Investissements" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.investment" type="text">
                </div>

                <div vertical-table-header>
                    TRI
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="TRI" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.tri" type="text">
                </div>

                <div vertical-table-header>
                    VAN
                </div>
                <div vertical-table-data>
                    <input currencyMask placeholder="VAN" matInput [disabled]="!canEdit()" [(ngModel)]="cpc.van" type="text">
                </div>
            </app-vertical-table>

            <div *ngIf="canEdit()" class="flex gap-3 py-3">
                <button mat-raised-button color="primary" (click)="saveCpc()">
                    Enregistrer
                </button>
                
                <button mat-raised-button color="warn" (click)="deleteCpc()">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
