<card class="flex flex-col  w-full filter-article  bg-gray-50 mt-4">
    <div class="m-8">


        <div *ngIf="editMode==0">

            <table mat-table class="mat-datatable  bg-white w-full hover" [dataSource]="listeAssociateProject">

                <ng-container matColumnDef="name">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                        Nom
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-left">
                        <span>{{element.name}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="firstName">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                        Prénom
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-left">
                        <span>{{element.firstName}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cin">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                        CIN
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-left">
                        <span>{{element.cin}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="experience">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                        Experience
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-right">
                        <span>{{element.experience}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="projectEngagement">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                        Engagement Projet
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <span *ngIf="element.projectEngagement=='O'">Exclusive</span>
                        <span *ngIf="element.projectEngagement=='N'">Non exclusif</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="familyConnection">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                        Liaison Familiale
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <span *ngIf="element.familyConnection=='O'">OUI</span>
                        <span *ngIf="element.familyConnection=='N'">NON</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="part">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                        Part (%)
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-right">
                        <span>{{element.part}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef class="border-r border-white pl-1 text-right">
                        <button *ngIf="routingService.isDemandeRW() && ccgService.canEdit(editedProject)" (click)="onPrepareAdd()" mat-mini-fab class="custom-mini-fab" [color]="'primary'"
                            matTooltip="Ajouter">
                            <mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus"></mat-icon>
                        </button>
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-right">

                        <button (click)="onPrepareEdit(element)" mat-mini-fab class="custom-mini-fab"
                            [color]="'primary'" matTooltip="Modifier">
                            <mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
                        </button>

                        <button *ngIf="routingService.isDemandeRW() && ccgService.canEdit(editedProject)" (click)="onPrepareDelete(element)" mat-mini-fab class="custom-mini-fab ml-2"
                            [color]="'warn'" matTooltip="Supprimer">
                            <mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry rounded-t-xl"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>

        <div *ngIf="editMode > 0">
            <app-edit-associe [editedItem]="editedItem" [editMode]="editMode" [editedProject]="editedProject"
                [persons]="persons" (newItemEvent)="onRetourEdit($event)">
            </app-edit-associe>
        </div>

    </div>

    <!--  <div class="w-full flex justify-end p-4 gap-x-2">
        <button mat-raised-button (click)="onPrevious()">Précédent</button>
    </div> -->
</card>