<h3 mat-dialog-title>{{ produit.financialProductName }} / {{ produit.prelevementTypeName }}</h3>
<div mat-dialog-content>
	<div class="grid grid-cols-2 gap-4 w-full">
		<card
			class="flex flex-col max-w-100 w-full px-8 py-3 filter-list h-40 bg-accent-50 my-2"
		>
			<div class="flex flex-col">
				<div class="flex">
					<div>
						Pack : <b class="ml-2">{{ produit.financialProductName }}</b>
					</div>
				</div>
				<div class="flex mt-2">
					<div>
						Nominal : <b class="ml-2"> {{ produit.goodAmount }} </b>
					</div>
				</div>
				<div class="flex mt-2">
					<div>
						Durée : <b class="ml-2"> {{ produit.duration }} </b>
					</div>
				</div>
				<div class="flex mt-2">
					<div>
						Taux : <b class="ml-2"> {{ produit.rate }} </b>
					</div>
				</div>
				<div class="flex mt-2">
					<div>
						Différé d'amourtissement :
						<b class="ml-2"> {{ produit.deferredPeriod }} </b>
					</div>
				</div>
			</div>
		</card>

		<div class="flex flex-col items-end">
			<mat-form-field class="w-full">
				<mat-label>Dossier EVOLAN</mat-label>
				<input
					matInput
					[placeholder]="'N° Dossier'"
					[disabled]="disableInput()"
					[(ngModel)]="dossier.nodoss"
				/>
			</mat-form-field>
			<button
				*ngIf="
					!dossier.reportId &&
					utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
				"
				mat-raised-button
				[color]="'primary'"
				class="w-60 my-1"
				(click)="onAttache()"
			>
				Attacher dossier
			</button>
		</div>
	</div>
	<mat-divider class="w-full my-6"></mat-divider>

	<div class="grid grid-cols-2 gap-4 w-full" *ngIf="dossierAttache || dossier.reportId">
		<!--<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Pack</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.description"
				/>
			</mat-form-field>
		</div>
		<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Montant accordé</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.creditAmount"
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>-->

	

	<!--	<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Durée</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.duration"
				/>
			</mat-form-field>
		</div>
		<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Date d'échéance</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.deadlineDate"
					[matDatepicker]="picker0"
				/>
				<mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
				<mat-datepicker #picker0></mat-datepicker>
			</mat-form-field>
		</div>
			<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Taux</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.rate"
					type="number"
					min="0"
					max="100"
				/>
			</mat-form-field>
		</div>
				<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Différé d'amortissement</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.differed"
					type="number"
				/>
			</mat-form-field>
		</div>
				<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Nominal</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.nominalAmount"
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>
				<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Versement initial</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.versementInitial"
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>

-->
		<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Montant accessoire*</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.accessoryFres"
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>

		<div *ngIf="!simulationFlag" class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Date première echéance*</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.firstDeadlineDate"
					[matDatepicker]="picker1"
				/>
				<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
				<mat-datepicker #picker1></mat-datepicker>
			</mat-form-field>
		</div>

		<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Montant assurance TTC*</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.insuranceAmount"
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>

	

		<div *ngIf="!simulationFlag" class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Date dernière échéance*</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.lastDeadlineDate"
					[matDatepicker]="picker2"
				/>
				<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
				<mat-datepicker #picker2></mat-datepicker>
			</mat-form-field>
		</div>


		<div *ngIf="!simulationFlag" class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Montant des intérêts*</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.interstAmount"
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>
		
		<div *ngIf="!simulationFlag" class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Nombre d'échéance*</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.deadlineNumber"
				/>
			</mat-form-field>
		</div>
		

		<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Montant capital amorti*</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.amortizedCapital"
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>



	<!--	<div *ngIf="!simulationFlag" class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Montant échéance</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.dueAmount"
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>
	
		

		<div  *ngIf="!simulationFlag" class="w-full">
			<mat-radio-group
				[disabled]="
					!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
				"
				[disabled]="disableInput()"
				[(ngModel)]="dossier['periodicity']"
			>
				<mat-label>Périodicité</mat-label>
				<mat-radio-button
					*ngFor="let mens of mensualites"
					[value]="mens.code"
					class="mx-2"
					>{{ mens.designation }}</mat-radio-button
				>
			</mat-radio-group>
		</div>
-->
		

		<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>TEG*</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.teg"
				/>
			</mat-form-field>
		</div>

		<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Montant total du crédit*</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.creditAmount"
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>



		<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Taux variable initial:Partie variable</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.variableRate"
					type="number"
					min="0"
					max="100"
				/>
			</mat-form-field>
		</div>

		<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Taux variable initial:Partie fixe</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.variablePartRate"
					type="number"
					min="0"
					max="100"
				/>
			</mat-form-field>
		</div>

	<!--	<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Frais main levée</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
					"
					matInput
					[disabled]="disableInput()"
					[(ngModel)]="dossier.fres"
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>-->

		<!--mapping a preciser-->
		<!--<div class="w-full">
			<mat-form-field class="w-full mat-dense-xs" appearance="outline">
				<mat-label>Frais par échéance</mat-label>
				<input
					[disabled]="
						!utilsService.hasPrivilege(
							utilsService.privilegeCodes.attacher_dossier_m
						) || disableInput()
					"
					matInput
					currencyMask
					[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				/>
			</mat-form-field>
		</div>-->

		<div mat-dialog-actions class="flex justify-end">
			<button
				mat-raised-button
				(click)="onClose()"
				[color]="'primary'"
				cdkFocusInitial
			>
				Fermer
			</button>

            <button
                *ngIf="
					!disableInput() &&
					utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
				"
                mat-raised-button
                (click)="onValide()"
                [color]="'primary'"
                cdkFocusInitial
            >
                Enregistrer
            </button>

			<button
				*ngIf="
					!disableInput() &&
					dossier.reportId &&
					utilsService.hasPrivilege(utilsService.privilegeCodes.attacher_dossier_m)
				"
				mat-raised-button
				[color]="'warn'"
				(click)="detacherDossier()"
			>
				Détacher dossier
			</button>
		</div>
	</div>
</div>
