<div class="w-full flex justify-end mt-2">
	<button
		*ngIf="
			routingService.isDemandeRW() &&
			utilsService.hasPrivilege(utilsService.privilegeCodes.maj_scoring_m)
		"
		(click)="onScoring()"
		mat-raised-button
		color="primary"
	>
		Scoring
	</button>
</div>
<div class="tab-container mt-5 bg-cam" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="persons"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 500px"
	>
		<!--- Note that these columns can be defined in any order.
			The actual rendered columns are set as a property on the row definition"
			'iddemande','idtiers','datesituation','situationvalidejusquau','typepersonne','nomprenom','refpiecerc'
			-->
		<!-- numdossier Column -->
		<ng-container matColumnDef="0">
			<th mat-header-cell *matHeaderCellDef>Type</th>
			<td mat-cell *matCellDef="let element">{{ element.clientType }}</td>
		</ng-container>

		<!-- objet Column -->
		<ng-container matColumnDef="1">
			<th mat-header-cell *matHeaderCellDef>Client</th>
			<td mat-cell *matCellDef="let element">{{ element.clientName }}</td>
		</ng-container>

		<!-- nominalAuth Column -->
		<ng-container matColumnDef="3">
			<th mat-header-cell *matHeaderCellDef>Ref.Pièce</th>
			<td mat-cell *matCellDef="let element">{{ element.cin }}</td>
		</ng-container>
		<ng-container matColumnDef="4">
			<th mat-header-cell *matHeaderCellDef>RC</th>
			<td mat-cell *matCellDef="let element">{{ element.rcNumber }}</td>
		</ng-container>
		<ng-container matColumnDef="5">
			<th mat-header-cell *matHeaderCellDef>RS</th>
			<td mat-cell *matCellDef="let element">{{ element.entityName }}</td>
		</ng-container>

		<ng-container matColumnDef="6">
			<th mat-header-cell *matHeaderCellDef>Score</th>
			<td mat-cell *matCellDef="let element">{{ element.score }}</td>
		</ng-container>

		<ng-container matColumnDef="7">
			<th mat-header-cell *matHeaderCellDef matTooltip="Catégorie Scoring">Catégorie Sc.</th>
			<td mat-cell *matCellDef="let element">{{ element.scoreCategory }}</td>
		</ng-container>
		<ng-container matColumnDef="8">
			<th mat-header-cell *matHeaderCellDef matTooltip="Score Resultat">Score Res.</th>
			<td mat-cell *matCellDef="let element">{{ element.scoreResult }}</td>
		</ng-container>

		<ng-container matColumnDef="9">
			<th mat-header-cell *matHeaderCellDef>Statut</th>
			<td mat-cell *matCellDef="let element" [matTooltip]="element.scoringStatusName">
				<div
					class="rounded-full h-5 w-5 shadow-lg flex items-center justify-center"
					[style.background]="element.scoringStatusColor"
				></div>
			</td>
		</ng-container>
		<tr
			mat-header-row
			*matHeaderRowDef="['0', '1', '3', '4', '5', '6', '7', '8', '9']"
			class="header-table-gry"
		></tr>
		<tr
			mat-row
			*matRowDef="let row; columns: ['0', '1', '3', '4', '5', '6', '7', '8', '9']"
		></tr>
	</table>
</div>
<div
	class="w-full mt-3"
	*ngIf="
		routingService.isDemandeRW() &&
		idScoring() &&
		utilsService.hasPrivilege(utilsService.privilegeCodes.maj_scoring_m)
	"
>
	<div class="w-full">
		<mat-form-field
			appearance="outline"
			class="wkf-mat-textarea flex-auto w-full mat-dense-xs mat-no-subscript"
		>
			<mat-label class="labelInputLarge">Avis</mat-label>
			<textarea [(ngModel)]="avis" matInput [rows]="3" matTextareaAutosize></textarea>
		</mat-form-field>
	</div>
	<div class="w-full flex justify-end mt-2">
		<button mat-raised-button color="primary" (click)="onAvis()">Enregistrer</button>
	</div>
</div>	
