<card class="flex flex-col  w-full filter-article  bg-gray-50 mt-4">
    <div class="m-8">

        <div *ngIf="editMode==0">

            <table mat-table class="mat-datatable  bg-white w-full hover" [dataSource]="listeSuretyProject">

                <ng-container matColumnDef="suretyCode">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                        Code sûreté
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-left">
                        <span>{{element.suretyCode}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="suretyId">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                        ID sûreté
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-right">
                        <span>{{element.suretyId}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="rank">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                        Rang
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-right">
                        <span>{{element.rank}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                        Montant
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-right">
                        <span>{{element.amount | number:'.2':'es'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="suretyName">
                    <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                        Sûreté
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-left">
                        <span>{{element.suretyName}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef class="border-r border-white pl-1 text-right">
                        <button *ngIf="routingService.isDemandeRW() && ccgService.canEdit(editedProject)" (click)="onPrepareAdd()" mat-mini-fab class="custom-mini-fab" [color]="'primary'"
                            matTooltip="Ajouter">
                            <mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus"></mat-icon>
                        </button>
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-right">

                        <button (click)="onPrepareEdit(element)" mat-mini-fab class="custom-mini-fab"
                            [color]="'primary'" matTooltip="Modifier">
                            <mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
                        </button>

                        <button *ngIf="routingService.isDemandeRW() && ccgService.canEdit(editedProject)" (click)="onPrepareDelete(element)" mat-mini-fab class="custom-mini-fab ml-2"
                            [color]="'warn'" matTooltip="Supprimer">
                            <mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry rounded-t-xl"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>

        <div *ngIf="editMode > 0">
            <app-edit-surete [editedItem]="editedItem" [editMode]="editMode" [editedProject]="editedProject"
                [persons]="persons" [demandeDTO]="demandeDTO" (newItemEvent)="onRetourEdit($event)">
            </app-edit-surete>
        </div>

    </div>

</card>