<div class="tab-container mt-5" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="dataSource"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 500px"
	>
		<!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
		<!-- numdossier Column -->
		<ng-container [matColumnDef]="displayedColumns[0]">
			<th mat-header-cell *matHeaderCellDef>N° dossier</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
		</ng-container>

		<!-- objet Column -->
		<ng-container [matColumnDef]="displayedColumns[1]">
			<th mat-header-cell *matHeaderCellDef>Objet</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[1]] }}</td>
		</ng-container>

		<!-- nominalAuth Column -->
		<ng-container [matColumnDef]="displayedColumns[2]">
			<th mat-header-cell *matHeaderCellDef>Nominal Autorisation</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element[displayedColumns[2]] | number: ".2":"es" }}
			</td>
		</ng-container>

		<!-- encours Column -->
		<ng-container [matColumnDef]="displayedColumns[3]">
			<th mat-header-cell *matHeaderCellDef>En cours</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element[displayedColumns[3]] | number: ".2":"es" }}
			</td>
		</ng-container>

		<!-- crdu Column -->
		<ng-container [matColumnDef]="displayedColumns[4]">
			<th mat-header-cell *matHeaderCellDef>CRDU</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element[displayedColumns[4]] | number: ".2":"es" }}
			</td>
		</ng-container>

		<!-- impaye Column -->
		<ng-container [matColumnDef]="displayedColumns[5]">
			<th mat-header-cell *matHeaderCellDef>Impayé</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element[displayedColumns[5]] | number: ".2":"es" }}
			</td>
		</ng-container>

		<!-- nbrImpye Column -->
		<ng-container [matColumnDef]="displayedColumns[6]">
			<th mat-header-cell *matHeaderCellDef>Nbre Impayé</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[6]] }}</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[7]">
			<th mat-header-cell *matHeaderCellDef>Libellé</th>
			<td mat-cell *matCellDef="let element"></td>
		</ng-container>

		<ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef class="w-10 text-right">
				<button
					*ngIf="routingService.isDemandeRW()"
					(click)="rafraichir()"
					class="custom-mini-fab"
					mat-mini-fab
					matTooltip="Rafraichir"
					[color]="'secondary'"
				>
					<mat-icon class="icon-size-5" svgIcon="heroicons_solid:refresh"></mat-icon>
				</button>
			</th>
			<td mat-cell *matCellDef="let element"></td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
