<div class="tab-container mt-5 bg-cam" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="dataSource"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 500px"
	>
		<!-- numdossier Column -->
		<ng-container [matColumnDef]="displayedColumns[0]">
			<th mat-header-cell *matHeaderCellDef>Nature</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
			<td mat-footer-cell *matFooterCellDef class="w-80"></td>
		</ng-container>

		<!-- objet Column -->
		<ng-container [matColumnDef]="displayedColumns[1]">
			<th mat-header-cell *matHeaderCellDef>Référence</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[1]] }}</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<!-- nominalAuth Column -->
		<ng-container [matColumnDef]="displayedColumns[2]">
			<th mat-header-cell *matHeaderCellDef>Libellé</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[2]] }}</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<!-- encours Column -->
		<ng-container [matColumnDef]="displayedColumns[3]">
			<th mat-header-cell *matHeaderCellDef>Montant</th>
			<td mat-cell *matCellDef="let element" class="text-end text-right">
				{{ element[displayedColumns[3]] | number: ".2":"es" }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>
		<ng-container [matColumnDef]="displayedColumns[4]">
			<th mat-header-cell *matHeaderCellDef>Statut</th>
			<td mat-cell *matCellDef="let element" class="text-danger">
				{{ element[displayedColumns[5]] ? "Annulé" : "" }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>
		<ng-container [matColumnDef]="displayedColumns[5]">
			<th mat-header-cell *matHeaderCellDef>Montant</th>
			<td mat-cell *matCellDef="let element" class="text-center">
				{{ element[displayedColumns[5]] | date: "dd/MM/yyyy" }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>
		<ng-container [matColumnDef]="displayedColumns[6]">
			<th mat-header-cell *matHeaderCellDef class="text-right"></th>
			<td mat-cell *matCellDef="let element" class="text-right"></td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		<tr mat-footer-row *matFooterRowDef="displayedColumnsFooter()"></tr>
	</table>
</div>
