<div class="w-full grid grid-cols-2 md:grid-cols-4 gap-x-6">
    <div *ngIf="['AMAQ','TPE','TPEH','DE','DOXA','RTPE'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Nom/RS</mat-label>
            <input [disabled]="(editMode == 2 && !ccgService.canEdit(editedProject)) || routingService.isDemandeRO()" matInput [(ngModel)]="associe.name" type="text">
        </mat-form-field>
    </div>

    <div *ngIf="['AMAQ','TPE','TPEH','DE','DOXA','RTPE'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Prénom</mat-label>
            <input [disabled]="(editMode == 2 && !ccgService.canEdit(editedProject)) || routingService.isDemandeRO()" matInput [(ngModel)]="associe.firstName" type="text">
        </mat-form-field>
    </div>

    <div *ngIf="['AMAQ','TPE','TPEH','DE','DOXA','RTPE'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Genre</mat-label>
            <mat-select [disabled]="(editMode == 2 && !ccgService.canEdit(editedProject)) || routingService.isDemandeRO()" [(ngModel)]="associe.gender">
                <mat-option *ngFor="let item of [
                            {id:1,libelle:'Masculin'},
                            {id:2,libelle:'Féminin'},
                            {id:3,libelle:'Entreprise'}
                            ]" [value]="item.id">
                    <span>{{item.libelle}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="['AMAQ','DAREL','TPE','DARELH','TPEH','REL','DE','DOXA','RELH','RTPE'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>N°CIN/RC/Passeport/Carte séjour</mat-label>
            <input [disabled]="(editMode == 2 && !ccgService.canEdit(editedProject)) || routingService.isDemandeRO()" matInput [(ngModel)]="associe.cin">
        </mat-form-field>
    </div>

    <div *ngIf="['AMAQ','TPE','TPEH','DE','DOXA','RTPE'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Date de Naissance/Création</mat-label>
            <input [disabled]="(editMode == 2 && !ccgService.canEdit(editedProject)) || routingService.isDemandeRO()" matInput type="date" [(ngModel)]="associe.birthDate">
        </mat-form-field>
    </div>

    <div *ngIf="['AMAQ','TPE','TPEH','DE','RTPE'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Expérience (Année)</mat-label>
            <input [disabled]="(editMode == 2 && !ccgService.canEdit(editedProject)) || routingService.isDemandeRO()" matInput type="number" [(ngModel)]="associe.experience">
        </mat-form-field>
    </div>

    <div *ngIf="['AMAQ','DE'].indexOf(editedProject.productName) > -1">
        <mat-radio-group [disabled]="(editMode == 2 && !ccgService.canEdit(editedProject)) || routingService.isDemandeRO()" aria-label="Select an option" [(ngModel)]="associe.projectEngagement">
            <mat-label>Engagement projet</mat-label><br />
            <mat-radio-button value="O" class="pl-1">Exclusive</mat-radio-button>
            <mat-radio-button value="N" class="pl-1">Non exclusif</mat-radio-button>
        </mat-radio-group>
    </div>

    <div *ngIf="['AMAQ','DE'].indexOf(editedProject.productName) > -1">
        <mat-radio-group [disabled]="(editMode == 2 && !ccgService.canEdit(editedProject)) || routingService.isDemandeRO()" aria-label="Select an option" [(ngModel)]="associe.familyConnection">
            <mat-label>Liaison familiale avec les associés</mat-label><br />
            <mat-radio-button value="O" class="pl-1">OUI</mat-radio-button>
            <mat-radio-button value="N" class="pl-1">NON</mat-radio-button>
        </mat-radio-group>
    </div>

    <div *ngIf="['AMAQ','TPE','DE','DOXA','RTPE'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Part (%)</mat-label>
            <input [disabled]="(editMode == 2 && !ccgService.canEdit(editedProject)) || routingService.isDemandeRO()" matInput [(ngModel)]="associe.part" type="number" min="0" max="100">
            <mat-error *ngIf="associe.part<0 || associe.part>100">Veuillez saisir une valeur entre 0 et 100</mat-error>
        </mat-form-field>
    </div>

    <div *ngIf="['AMAQ','DE'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Niveau d'instruction</mat-label>
            <mat-select [disabled]="(editMode == 2 && !ccgService.canEdit(editedProject)) || routingService.isDemandeRO()" [(ngModel)]="associe.instructionLevel">
                <mat-option *ngFor="let niveauInstruction of listeNiveauInstruction" [value]="niveauInstruction.id">
                    <span>{{niveauInstruction.designation}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>
<div class="w-full flex justify-end gap-2">
    <button [disabled]="(editMode == 2 && !ccgService.canEdit(editedProject)) || routingService.isDemandeRO()" mat-raised-button [color]="'primary'" (click)="saveAssociateProject()">Enregistrer</button>
    <button mat-raised-button [color]="'warn'" (click)="onReturn()">Retour</button>
</div>