<div class="w-full grid md:grid-cols-4 grid-cols-2 mt-2">
	<div>Numéro de compte</div>
	<div class="font-bold">{{ account?.accountNumber }}</div>

	<div>Intitulé de compte</div>
	<div class="font-bold">{{ account?.accountName }}</div>

	<div>Produit</div>
	<div class="font-bold">{{ account?.productName }}</div>

	<div>Agence</div>
	<div class="font-bold">{{ account?.agencyName }}</div>

	<div>Date ouverture</div>
	<div class="font-bold">{{ account?.openningDate | date: "dd/MM/yyyy" }}</div>

	<div>Solde</div>
	<div class="font-bold" [ngClass]="{ 'text-green-600': account?.sens == 'CR', 'text-red-600': account?.sens == 'DB'}">
		{{ account?.accountBalance | number: ".2":"es" }} {{ account?.sens }}
	</div>
</div>