<div class="flex flex-col flex-auto w-full">
	<div class="flex flex-wrap w-full mx-auto p-6 md:p-8">

		<div class="flex flex-auto overflow-hidden">
			<!-- Products list -->

			<div class="grid grid-cols-1 grid-flow-row gap-0 w-full mt-8 sm:mt-4">
				<!-- New vs. Closed -->
				<div class="flex flex-col flex-auto overflow-auto w-full">
					<table
						mat-table
						[dataSource]="dataSource"
						class="mat-datatable bg-white w-full rounded-t-lg min-w-256"
					>
						<!-- numdossier Column -->
						<ng-container [matColumnDef]="displayedColumns[0]">
							<th class="text-center" mat-header-cell *matHeaderCellDef>TYPE COMITÉ</th>
							<td mat-cell *matCellDef="let element">
								{{ element.committeTypeName }}
							</td>
						</ng-container>

                        <!-- N° PV -->
                        <ng-container [matColumnDef]="displayedColumns[1]">
                            <th class="text-center" mat-header-cell *matHeaderCellDef>N° PV</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.numeropv }}
                            </td>
                        </ng-container>

						<!-- objet Column -->
						<ng-container [matColumnDef]="displayedColumns[2]">
							<th class="text-center" mat-header-cell *matHeaderCellDef>DATE</th>
							<td mat-cell *matCellDef="let element" class="text-center">
								{{ element.committeeDate | date: "dd/MM/yyyy" }}
							</td>
						</ng-container>

						<!-- nominalAuth Column -->
						<ng-container [matColumnDef]="displayedColumns[3]">
							<th class="text-center" mat-header-cell *matHeaderCellDef>NBR.DEMANDES</th>
							<td class="text-right" mat-cell *matCellDef="let element">{{ element.totalRequest }}</td>
						</ng-container>
						<!-- nominalAuth Column -->
						<ng-container [matColumnDef]="displayedColumns[4]">
							<th class="text-center" mat-header-cell *matHeaderCellDef>TRAITEES</th>
							<td class="text-right" mat-cell *matCellDef="let element">
								{{
									element.totalValidatedRequest * 1 +
										element.totalRejectedRequest * 1 +
										element.totalAdjournedRequest * 1
								}}
							</td>
						</ng-container>
						<!-- nominalAuth Column -->
						<ng-container [matColumnDef]="displayedColumns[5]">
							<th class="text-center" mat-header-cell *matHeaderCellDef>NON TRAITEES</th>
							<td class="text-right" mat-cell *matCellDef="let element">
								{{
									element.totalRequest * 1 -
										(element.totalValidatedRequest * 1 +
											element.totalRejectedRequest * 1 +
											element.totalAdjournedRequest * 1)
								}}
							</td>
						</ng-container>
						<!-- encours Column -->
						<ng-container [matColumnDef]="displayedColumns[6]">
							<th class="text-center" style="max-width: 150px !important" mat-header-cell *matHeaderCellDef>DESCRIPTION</th>
							<td mat-cell *matCellDef="let element" style="max-width: 150px !important">
								{{ element[displayedColumns[5]] }}
							</td>
						</ng-container>

						<!-- crdu Column -->
						<ng-container [matColumnDef]="displayedColumns[7]">
							<th class="text-center" mat-header-cell *matHeaderCellDef>STATUT</th>
							<td mat-cell *matCellDef="let element">
								{{ element.statusName }}
							</td>
						</ng-container>

						<ng-container [matColumnDef]="displayedColumns[8]">
							<th class="text-center" mat-header-cell *matHeaderCellDef class="text-right">
								<button
									(click)="onAdd()"
									matTooltip="Ajouter"
									mat-mini-fab
									[color]="'secondary'"
									class="custom-mini-fab"
								>
									<mat-icon
										class="icon-size-4"
										svgIcon="heroicons_outline:plus"
									></mat-icon>
								</button>
							</th>
							<td mat-cell *matCellDef="let element" class="text-right">
								<button
									(click)="onEdit(element)"
									matTooltip="Editer"
									mat-mini-fab
									[color]="'primary'"
									class="custom-mini-fab"
								>
									<mat-icon
										class="icon-size-4"
										svgIcon="heroicons_outline:pencil"
									></mat-icon>
								</button>
								<button
									(click)="onTraiter(element)"
									matTooltip="Traiter"
									mat-mini-fab
									[color]="'primary'"
									class="custom-mini-fab ml-1"
								>
									<mat-icon class="icon-size-4" svgIcon="feather:cpu"></mat-icon>
								</button>

                                <button
                                    (click)="onEditePvComite(element)"
                                    matTooltip="Pv Comité"
                                    mat-mini-fab
                                    [color]="'primary'"
                                    class="custom-mini-fab ml-1"
                                >
                                    <mat-icon class="icon-size-4" svgIcon="heroicons_outline:document-download">PV</mat-icon>
                                </button>

							</td>
						</ng-container>

						<tr
							mat-header-row
							*matHeaderRowDef="displayedColumns"
							class="header-table-gry"
						></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
					</table>
				</div>
				<div class="w-full flex justify-end bg-white">
					<mat-paginator
						[length]="dataSource?.totalElements$ | async"
						[pageSize]="10"
						[pageSizeOptions]="[5, 10, 20, 30, 50, 100, 200]"
					></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>
