/* Variables */
$navigation-compact-width: 112;

navigation {
	/* Compact appearance overrides */
	&.navigation-appearance-compact {
		width: #{$navigation-compact-width}px;
		min-width: #{$navigation-compact-width}px;
		max-width: #{$navigation-compact-width}px;

		/* Left positioned */
		&.navigation-position-left {
			/* Side mode */
			&.navigation-mode-side {
				margin-left: -#{$navigation-compact-width}px;
			}

			/* Opened */
			&.navigation-opened {
				margin-left: 0;
			}
		}

		/* Right positioned */
		&.navigation-position-right {
			/* Side mode */
			&.navigation-mode-side {
				margin-right: -#{$navigation-compact-width}px;
			}

			/* Opened */
			&.navigation-opened {
				margin-right: 0;
			}

			/* Aside wrapper */
			.navigation-aside-wrapper {
				left: auto;
				right: #{$navigation-compact-width}px;
			}
		}

		/* Wrapper */
		.navigation-wrapper {
			/* Content */
			.navigation-content {
				> navigation-aside-item,
				> navigation-basic-item {
					.navigation-item-wrapper {
						margin: 4px 8px 0 8px;

						.navigation-item {
							flex-direction: column;
							justify-content: center;
							padding: 12px;
							border-radius: 6px;

							.navigation-item-icon {
								margin-right: 0;
							}

							.navigation-item-title-wrapper {
								margin-top: 8px;

								.navigation-item-title {
									font-size: 12px;
									font-weight: 500;
									text-align: center;
									line-height: 16px;
								}

								.navigation-item-subtitle {
									display: none !important;
								}
							}

							.navigation-item-badge {
								position: absolute;
								top: 12px;
								left: 64px;
							}
						}
					}

					> navigation-collapsable-item {
						display: none;
					}

					> navigation-group-item {
						> .navigation-item-wrapper {
							display: none;
						}
					}
				}
			}
		}

		/* Aside wrapper */
		.navigation-aside-wrapper {
			left: #{$navigation-compact-width}px;
		}
	}
}
