/* Variables */
$navigation-width: 280;
$navigation-dense-width: 56;

navigation {
	/* Dense appearance overrides */
	&.navigation-appearance-dense {
		&:not(.navigation-mode-over) {
			width: #{$navigation-dense-width}px;
			min-width: #{$navigation-dense-width}px;
			max-width: #{$navigation-dense-width}px;

			/* Left positioned */
			&.navigation-position-left {
				/* Side mode */
				&.navigation-mode-side {
					margin-left: -#{$navigation-dense-width}px;
				}

				/* Opened */
				&.navigation-opened {
					margin-left: 0;
				}
			}

			/* Right positioned */
			&.navigation-position-right {
				/* Side mode */
				&.navigation-mode-side {
					margin-right: -#{$navigation-dense-width}px;
				}

				/* Opened */
				&.navigation-opened {
					margin-right: 0;
				}

				/* Aside wrapper */
				.navigation-aside-wrapper {
					left: auto;
					right: #{$navigation-dense-width}px;
				}

				&.navigation-hover {
					.navigation-aside-wrapper {
						left: auto;
						right: #{$navigation-width}px;
					}
				}
			}
		}

		/* Wrapper */
		.navigation-wrapper {
			/* Content */
			.navigation-content {
				navigation-aside-item,
				navigation-basic-item,
				navigation-collapsable-item,
				navigation-group-item {
					.navigation-item-wrapper {
						.navigation-item {
							width: #{$navigation-width}px - 24px;
							min-width: #{$navigation-width}px - 24px;
							max-width: #{$navigation-width}px - 24px;

							.navigation-item-arrow,
							.navigation-item-badge,
							.navigation-item-title-wrapper {
								transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
							}
						}
					}
				}

				navigation-group-item {
					&:first-of-type {
						margin-top: 0;
					}
				}
			}
		}

		&:not(.navigation-hover):not(.navigation-mode-over) {
			/* Wrapper */
			.navigation-wrapper {
				/* Content */
				.navigation-content {
					.navigation-item-wrapper {
						.navigation-item {
							padding: 12px 16px;

							.navigation-item-arrow,
							.navigation-item-badge,
							.navigation-item-title-wrapper {
								white-space: nowrap;
								opacity: 0;
							}
						}
					}

					navigation-collapsable-item {
						.navigation-item-children {
							// display: none;
							.navigation-item-wrapper {
								.navigation-item {
									.navigation-item-arrow,
									.navigation-item-badge,
									.navigation-item-title-wrapper {
										opacity: 1 !important;
									}
								}
							}
						}
					}

					navigation-group-item {
						> .navigation-item-wrapper {
							.navigation-item {
								&:before {
									content: "";
									position: absolute;
									top: 20px;
									width: 23px;
									border-top-width: 2px;
								}
							}
						}
					}
				}
			}
		}

		/* Aside wrapper */
		.navigation-aside-wrapper {
			left: #{$navigation-dense-width}px;
		}

		/* Hover */
		&.navigation-hover {
			.navigation-wrapper {
				width: #{$navigation-width}px;

				.navigation-content {
					.navigation-item-wrapper {
						.navigation-item {
							.navigation-item-arrow,
							.navigation-item-badge,
							.navigation-item-title-wrapper {
								white-space: nowrap;
								animation: removeWhiteSpaceNoWrap 1ms linear 350ms;
								animation-fill-mode: forwards;
							}
						}
					}
				}
			}

			.navigation-aside-wrapper {
				left: #{$navigation-width}px;
			}
		}
	}
}

@keyframes removeWhiteSpaceNoWrap {
	0% {
		white-space: nowrap;
	}
	99% {
		white-space: nowrap;
	}
	100% {
		white-space: normal;
	}
}

.top-agency-menu {
	.mat-select-arrow, .mat-select-min-line {
		@apply text-white #{!important};
	}
}

