/* Variables */
$navigation-thin-width: 80;

navigation {
	/* Thin appearance overrides */
	&.navigation-appearance-thin {
		width: #{$navigation-thin-width}px;
		min-width: #{$navigation-thin-width}px;
		max-width: #{$navigation-thin-width}px;

		/* Left positioned */
		&.navigation-position-left {
			&.navigation-mode-side {
				margin-left: -#{$navigation-thin-width}px;
			}

			&.navigation-opened {
				margin-left: 0;
			}
		}

		/* Right positioned */
		&.navigation-position-right {
			&.navigation-mode-side {
				margin-right: -#{$navigation-thin-width}px;
			}

			&.navigation-opened {
				margin-right: 0;
			}

			.navigation-aside-wrapper {
				left: auto;
				right: #{$navigation-thin-width}px;
			}
		}

		/* Wrapper */
		.navigation-wrapper {
			/* Content */
			.navigation-content {
				> navigation-aside-item,
				> navigation-basic-item {
					flex-direction: column;
					justify-content: center;
					height: 64px;
					min-height: 64px;
					max-height: 64px;
					padding: 0 16px;

					.navigation-item-wrapper {
						display: flex;
						align-items: center;
						justify-content: center;

						.navigation-item {
							justify-content: center;
							padding: 12px;
							border-radius: 4px;

							.navigation-item-icon {
								margin: 0;
							}

							.navigation-item-arrow,
							.navigation-item-badge-content,
							.navigation-item-title-wrapper {
								display: none;
							}
						}
					}
				}

				> navigation-collapsable-item {
					display: none;
				}

				> navigation-group-item {
					> .navigation-item-wrapper {
						display: none;
					}
				}
			}
		}

		/* Aside wrapper */
		.navigation-aside-wrapper {
			left: #{$navigation-thin-width}px;
		}
	}
}
