<div class="flex flex-col w-full">
<!-- list tasbiq FDA SIOB by CIN -->
<div class="w-full flex-col sm:px-10 px-2">
    <div class="flex w-full justify-between">
        <div class="font-bold text-xl mt-4 flex items-center">
            <mat-icon svgIcon="heroicons_outline:minus-sm" class="mx-2"></mat-icon>
            <span>Liste des décsions FDA</span>
        </div>
    </div>

    <div class="w-full mt-2 overflow-auto">
        <table
            mat-table
            class="mat-datatable table-simulation bg-white w-full"
            [dataSource]="listLigneTasbiqFdaSIOB"
            matSort
            matSortDirection="asc"
        >
            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[0]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ displayedColumnsTasbiqFdaLib[0] }}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.referencedecision }}
                </td>
            </ng-container>
            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[1]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ displayedColumnsTasbiqFdaLib[1] }}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.nomprenombeneficiaire }}
                </td>
            </ng-container>
            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[2]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ displayedColumnsTasbiqFdaLib[2] }}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.cin }}
                </td>
            </ng-container>
            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[3]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ displayedColumnsTasbiqFdaLib[3] }}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.montantdecision }}
                </td>
            </ng-container>
            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[4]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ displayedColumnsTasbiqFdaLib[4] }}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.ribagriculture }}
                </td>
            </ng-container>
            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[5]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ displayedColumnsTasbiqFdaLib[5] }}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.montantdelegation }}
                </td>
            </ng-container>

            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[6]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ displayedColumnsTasbiqFdaLib[6] }}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.ribdelegation }}
                </td>
            </ng-container>

            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[7]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ displayedColumnsTasbiqFdaLib[7] }}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.categorie }}
                </td>
            </ng-container>

            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[8]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ displayedColumnsTasbiqFdaLib[8] }}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.composant }}
                </td>
            </ng-container>

            <ng-container [matColumnDef]="displayedColumnsTasbiqFda[9]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ displayedColumnsTasbiqFdaLib[9] }}
                </th>
                <td mat-cell *matCellDef="let element">

                </td>
            </ng-container>

            <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsTasbiqFda"
                class="header-table-gry"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTasbiqFda"></tr>

        </table>
    </div>
</div>
<!-- list tasbiq FDA SIOB by CIN -->

<div class="w-full flex-col sm:px-10 px-2 pt-8">
    <div class="w-full mt-2 overflow-auto">
        <div class="flex items-center mb-4">
            <mat-icon role="img" class="mat-icon notranslate icon-size-5 text-primary mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="check-circle" data-mat-icon-namespace="heroicons_solid">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
            </mat-icon>
            <div class="flex flex-col max-w-200 w-full ml-2" style="color:{{affaireregulier=='O'?'green':'red'}}">Le client a un flux d’affaire régulier </div>

            <mat-radio-group aria-label="Select an option" (change)="onChangeCondition($event, 'C1')" [(ngModel)]="affaireregulier">
                <mat-radio-button value="O">Oui </mat-radio-button>
                <mat-radio-button value="N">Non </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="flex items-center mb-4">
            <mat-icon role="img" class="mat-icon notranslate icon-size-5 text-primary mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="check-circle" data-mat-icon-namespace="heroicons_solid">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
            </mat-icon>
            <div class="flex flex-col max-w-200 w-full ml-2" style="color:{{impaye3annees=='O'?'green':'red'}}">Il n’a pas d’impayés antérieurs à 3 années </div>

            <mat-radio-group aria-label="Select an option" (change)="onChangeCondition($event,'C2')" [(ngModel)]="impaye3annees">
                <mat-radio-button value="O">Oui </mat-radio-button>
                <mat-radio-button value="N">Non </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="flex items-center mb-4">
            <mat-icon role="img" class="mat-icon notranslate icon-size-5 text-primary mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="check-circle" data-mat-icon-namespace="heroicons_solid">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
            </mat-icon>
            <div class="flex flex-col max-w-200 w-full ml-2" style="color:{{beneficierprefifda=='O'?'green':'red'}}">Le client n’a pas bénéficier d’un préfinancement FDA dans le cadre du projet objet de la demande encours </div>

            <mat-radio-group aria-label="Select an option" (change)="onChangeCondition($event,'C3')" [(ngModel)]="beneficierprefifda">
                <mat-radio-button value="O">Oui </mat-radio-button>
                <mat-radio-button value="N">Non </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>
</div>
