<div class="tab-container mt-5 bg-cam" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="dataSource1"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 500px"
	>
		<!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
		<!-- numdossier Column -->
		<ng-container [matColumnDef]="displayedColumns1[0]">
			<th mat-header-cell *matHeaderCellDef>Agence</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns1[0]] }}</td>
		</ng-container>

		<!-- objet Column -->
		<ng-container [matColumnDef]="displayedColumns1[1]">
			<th mat-header-cell *matHeaderCellDef>Produit compte</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns1[1]] }}</td>
		</ng-container>

		<!-- nominalAuth Column -->
		<ng-container [matColumnDef]="displayedColumns1[2]">
			<th mat-header-cell *matHeaderCellDef>N° Compte</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns1[2]] }}</td>
		</ng-container>

		<!-- encours Column -->
		<ng-container [matColumnDef]="displayedColumns1[3]">
			<th mat-header-cell *matHeaderCellDef>Intitulé compte</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns1[3]] }}</td>
		</ng-container>

		<!-- crdu Column -->
		<ng-container [matColumnDef]="displayedColumns1[4]">
			<th mat-header-cell *matHeaderCellDef>Solde</th>
			<td
				mat-cell
				*matCellDef="let element"
				[ngClass]="{
					'text-green-600': element.sens == 'CR',
					'text-red-600': element.sens == 'DB',
					'text-right': true
				}"
			>
				<div class="font-extrabold">
					{{ element[displayedColumns1[4]] | number: ".2":"es" }} {{ element.sens }}
				</div>
			</td>
		</ng-container>

		<ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef class="w-10 text-right">
				<button
					*ngIf="routingService.isDemandeRW()"
					class="custom-mini-fab"
					(click)="rafraichir()"
					mat-mini-fab
					matTooltip="Rafraichir"
					[color]="'secondary'"
				>
					<mat-icon class="icon-size-5" svgIcon="heroicons_solid:refresh"></mat-icon>
				</button>
			</th>
			<td mat-cell *matCellDef="let element"></td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns1" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
	</table>
</div>
