<mat-expansion-panel [expanded]="true" class="col-span-2 rounded-t-xl" hideToggle>
	<mat-expansion-panel-header
		#panelINFO
		(click)="panelINFO._toggle()"
		class="expan-panel header"
	>
		<div class="w-full flex justify-center">
			<h4 class="ml-3 font-bold">Infos</h4>
		</div>
	</mat-expansion-panel-header>

	<div class="flex flex-col items-center mt-2">
		<div *ngIf="!editObject" class="flex items-center justify-start w-full mt-1 text-secondary">
			<div class="text-md font-medium ml-2">
				Projet : <span class="font-bold">{{ demandeDTO?.requestObject }}</span>
			</div>
			<div class="text-sm font-normal ml-2">
				<button
					*ngIf="
						mode == 'E' &&
						utilsService.hasPrivilege(utilsService.privilegeCodes.maj_demande_m) &&
						routingService.isDemandeRW()
					"
					(click)="onEditObjet()"
					[color]="'primary'"
					mat-mini-fab
					matTooltip="Editer objet de la demande"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
				</button>
			</div>
		</div>

		<div class="flex items-center justify-start w-full mt-1 text-secondary">
			<div class="text-md font-bold truncate ml-2">
				{{ demandeDTO?.financialNatureName }} / {{ demandeDTO?.goodLocationName }}
			</div>
		</div>
		<div
			*ngIf="demandeDTO?.creditTypeId == requestTypes.HABITAT"
			class="flex items-center justify-start w-full mt-1 text-secondary"
		>
			<div class="text-md font-medium ml-2">
				Convention : <span class="font-bold">{{ demandeDTO?.conventionName }}</span>
			</div>
		</div>
		<div
			*ngIf="demandeDTO?.creditTypeId != requestTypes.HORS_AGRI && demandeDTO?.creditTypeId != requestTypes.AMAQ && !demandeService.__isDemandeOther(demandeDTO)"
			class="flex items-center justify-start w-full mt-1 text-secondary"
		>
			<div class="text-md font-medium ml-2">
				Segment : <span class="font-bold">{{ demandeDTO?.segmentName }}</span>
			</div>
		</div>
		<div
			*ngIf="demandeDTO?.creditTypeId == requestTypes.AMAQ"
			class="flex items-center justify-start w-full mt-1 text-secondary"
		>
			<div class="text-md font-medium ml-2">
				Type création : <span class="font-bold">{{ demandeDTO?.amaqCreationName }}</span>
			</div>
		</div>
		<div class="flex items-center justify-start w-full mt-1 text-secondary">
			<a
				(click)="onclickSejour()"
				class="cursor-pointer p-2 bg-gray-50 hover:bg-gray-100 hover:shadow-lg rounded-lg"
			>
				<div class="text-md font-medium ml-2">
					Durée globale: <span class="font-bold">{{ demandeDTO?.globalDuration }}</span> j
				</div>
				<div class="text-md font-medium ml-2">
					Durée du séjour :
					<span class="font-bold">{{ demandeDTO?.stayDuration }}</span> j
				</div>
			</a>
		</div>

		<div class="flex items-center justify-start w-full mt-1 text-secondary">
			<div class="text-md font-medium ml-2">
				Affectée le
				<span class="font-bold">{{
					demandeDTO?.assignmentDate | date: "dd/MM/YYYY HH:mm"
				}}</span>
				à : <span class="font-bold">{{ demandeDTO?.userName }}</span> en tant que :
				<span class="font-bold">{{ demandeDTO?.profilName }}</span>
			</div>
		</div>
		<div *ngIf="editObject" class="flex items-center justify-start w-full mt-1 text-secondary">
			<div class="w-3/4 my-0 py-2 px-2">
				<mat-form-field
					appearance="outline"
					class="w-full mat-dense-xs mat-no-subscript"
				>
					<input [(ngModel)]="demandeDTO.requestObject" matInput />
				</mat-form-field>
			</div>
			<div class="w-1/8 my-0 py-0">
				<button (click)="onValidEditObjet()" [color]="'primary'" mat-mini-fab>
					<mat-icon svgIcon="heroicons_outline:check"></mat-icon>
				</button>
			</div>
			<div class="w-1/8 my-0 py-0 mx-1">
				<button (click)="editObject = false" [color]="'warn'" mat-mini-fab>
					<mat-icon svgIcon="heroicons_outline:ban"></mat-icon>
				</button>
			</div>
		</div>
	</div>
</mat-expansion-panel>
