<div class="flex justify-between">
    <button
        mat-mini-fab
        [color]="'primary'"
        matTooltip="Configurer l'affichage"
        class="custom-mini-fab"
        (click)="onAddRubrique()"
        matTooltip="Nouvelle rubrique"
    >
        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
    </button>

    <button *ngIf="hasPriv()" mat-raised-button [color]="'primary'" class="w-100" (click)="onValidatePresentation()">Enregistrer Présentation de l'entreprise</button>
    <!-- <button mat-raised-button [color]="'primary'" class="w-50" (click)="onAddDocument()">Document</button> -->
</div>

<div class="w-full grid grid-cols-2 gap-4">
    <div class="w-full shadow-xl mt-4 bg-gray-50 rounded-lg p-4" *ngIf="afficherVolet('volet1')">
        <mat-label class="font-bold">Présentation du secteur d'activité</mat-label>
        <mat-form-field appearance="outline"
                        class="wkf-mat-textarea flex-auto w-full mat-dense-xs  mat-no-subscript mt-2">
            <mat-label>Présentation du secteur d'activité</mat-label>
            <textarea
                [disabled]="!hasPriv()"
                [(ngModel)]="presentationDto.companyPresentation"
                matInput
                [rows]="3"
                matTextareaAutosize >
            </textarea>
        </mat-form-field>
    </div>

    <div class="w-full shadow-xl mt-4 bg-gray-50 rounded-lg p-4" *ngIf="afficherVolet('volet2')">
        <mat-label class="font-bold">Présentation de la société,de ses organisateurs et de ses promoteurs</mat-label>
        <mat-form-field appearance="outline"
                        class="wkf-mat-textarea flex-auto w-full mat-dense-xs  mat-no-subscript  mt-2">
            <mat-label>Présentation de la société,de ses organisateurs et de ses promoteurs</mat-label>
            <textarea
                [disabled]="!hasPriv()"
                [(ngModel)]="presentationDto.businessSectorPresentation"
                matInput
                [rows]="3"
                matTextareaAutosize >
            </textarea>
        </mat-form-field>
    </div>
    <!---->
    <ng-container *ngIf="presentationDto?.presentationId">
        <div class="w-full shadow-xl mt-4 bg-gray-50 rounded-lg p-4" *ngIf="afficherVolet('volet3')">

            <div>
                <mat-label class="mt-1 font-extrabold">Organisation commerciale :</mat-label>
            </div>

            <div class="m-4">
                <mat-label class="mt-1 font-bold">Clients</mat-label>
            </div>

            <table mat-table class="mat-datatable small-table  bg-white not-hover fixed-layout mt-2" [dataSource]="clientdataSource">

                <ng-container  matColumnDef="1">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Client</th>
                    <td mat-cell   *matCellDef="let element">
                        {{element.label}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="organizationDto.label">
                        </mat-form-field>

                    </td>
                </ng-container>

                <ng-container  matColumnDef="2">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Mode et delai de règlement</th>
                    <td mat-cell   *matCellDef="let element ;">
                        {{ element.payementChoice}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
						<mat-radio-group [(ngModel)]="organizationDto.payementChoice">
							<mat-radio-button value="C" class="ml-2">Chèque</mat-radio-button>
							<mat-radio-button value="V" class="ml-2">Virement</mat-radio-button>
						</mat-radio-group>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="3">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Local/Etranger</th>
                    <td mat-cell   *matCellDef="let element ;">
                        {{ element.foreignLocal}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
						<mat-radio-group  [(ngModel)]="organizationDto.foreignLocal">
							<mat-radio-button value="L" class="ml-2">Local</mat-radio-button>
							<mat-radio-button value="E" class="ml-2">Etranger</mat-radio-button>
						</mat-radio-group>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="action">
                    <th mat-header-cell class="border-r border-white pl-1 w-30" *matHeaderCellDef ><button *ngIf="hasPriv()" mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter une ligne" [color]="'secondary'" (click)="onAddClient()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus-sm"></mat-icon></button></th>
                    <td mat-cell   *matCellDef="let element ;">
                        <button *ngIf="hasPriv()" mat-mini-fab class="custom-mini-fab" matTooltip="Supprimer" [color]="'warn'" (click)="onDeleteClient(element)" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon></button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <button mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter" [color]="'primary'" (click)="onValidAddClient()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:check"></mat-icon></button>
                        <button mat-mini-fab class="custom-mini-fab ml-1" matTooltip="Retour" [color]="'warn'" (click)="addClient=false" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:x"></mat-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['1','2','3','action']" class="header-table-gry rounded-t-xl max-w-full"></tr>
                <tr mat-row *matRowDef="let row; columns: ['1','2','3','action']" class="max-w-full"></tr>
                <tr mat-footer-row *matFooterRowDef="getClientFooterCols()"></tr>

            </table>

            <div class="m-4"><mat-label class="font-bold">Fournisseurs</mat-label></div>

            <table mat-table class="mat-datatable small-table  bg-white not-hover fixed-layout mt-2" [dataSource]="fournisseurdataSource">
                <ng-container  matColumnDef="1">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Fournisseur</th>
                    <td mat-cell   *matCellDef="let element">
                        {{element.label}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline"
                                        class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="organizationDto.label">
                        </mat-form-field>

                    </td>
                </ng-container>

                <ng-container  matColumnDef="2">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Mode et delai de règlement</th>
                    <td mat-cell   *matCellDef="let element ;">
                        {{ element.payementChoice}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
						<mat-radio-group [(ngModel)]="organizationDto.payementChoice">
							<mat-radio-button value="C" class="ml-2">Chèque</mat-radio-button>
							<mat-radio-button value="V" class="ml-2">Virement</mat-radio-button>
						</mat-radio-group>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="3">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Local/Etranger</th>
                    <td mat-cell   *matCellDef="let element ;">
                        {{ element.foreignLocal}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
						<mat-radio-group  [(ngModel)]="organizationDto.foreignLocal">
							<mat-radio-button value="L" class="ml-2">Local</mat-radio-button>
							<mat-radio-button value="E" class="ml-2">Etranger</mat-radio-button>
						</mat-radio-group>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="action">
                    <th mat-header-cell class="border-r border-white pl-1 w-30" *matHeaderCellDef ><button *ngIf="hasPriv()" mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter une ligne" [color]="'secondary'" (click)="onAddFournisseur()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus-sm"></mat-icon></button></th>
                    <td mat-cell   *matCellDef="let element ;">
                        <button *ngIf="hasPriv()" mat-mini-fab class="custom-mini-fab" matTooltip="Supprimer" [color]="'warn'" (click)="onDeleteFournisseur(element)" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon></button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <button mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter" [color]="'primary'" (click)="onValidAddFournisseur()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:check"></mat-icon></button>
                        <button mat-mini-fab class="custom-mini-fab ml-1" matTooltip="Retour" [color]="'warn'" (click)="addfournisseur=false" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:x"></mat-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['1','2','3','action']" class="header-table-gry rounded-t-xl max-w-full"></tr>
                <tr mat-row *matRowDef="let row; columns: ['1','2','3','action']" class="max-w-full"></tr>
                <tr mat-footer-row *matFooterRowDef="getFournisseurFooterCols()"></tr>

            </table>

            <div class="m-4">
                <mat-label class="mt-1 font-bold">Concurrence</mat-label>
            </div>

            <table mat-table class="mat-datatable small-table  bg-white not-hover fixed-layout mt-2" [dataSource]="concurrentdataSource">
                <!--{principauxConcurent:'Concurrent 1',partMarche:'50',marque:'Ellitium',autre:''}-->
                <ng-container  matColumnDef="1">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Principaux concurrent</th>
                    <td mat-cell   *matCellDef="let element">
                        {{element.label}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline"
                                        class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="competitionDto.label">
                        </mat-form-field>

                    </td>
                </ng-container>

                <ng-container  matColumnDef="2">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Part du marché(%)</th>
                    <td class="text-right" mat-cell   *matCellDef="let element ;">
                        {{ element.partMarket}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="competitionDto.partMarket">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="3">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Marque</th>
                    <td mat-cell   *matCellDef="let element ;">
                        {{ element.mark}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline"  class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="competitionDto.mark">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container  matColumnDef="4">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Autre</th>
                    <td mat-cell   *matCellDef="let element ;">
                        {{ element.autre}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline"  class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="competitionDto.autre">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="action">
                    <th mat-header-cell class="border-r border-white pl-1 w-30" *matHeaderCellDef ><button *ngIf="hasPriv()" mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter une ligne" [color]="'secondary'" (click)="onAddConcurrent()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus-sm"></mat-icon></button></th>
                    <td mat-cell   *matCellDef="let element ;">
                        <button *ngIf="hasPriv()" mat-mini-fab class="custom-mini-fab" matTooltip="Supprimer" [color]="'warn'" (click)="onDeleteConcurrent(element)" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon></button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <button mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter" [color]="'primary'" (click)="onValidAddConcurrent()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:check"></mat-icon></button>
                        <button mat-mini-fab class="custom-mini-fab ml-1" matTooltip="Retour" [color]="'warn'" (click)="addConcurrent=false" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:x"></mat-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['1','2','3','4','action']" class="header-table-gry rounded-t-xl max-w-full"></tr>
                <tr mat-row *matRowDef="let row; columns: ['1','2','3','4','action']" class="max-w-full"></tr>
                <tr mat-footer-row *matFooterRowDef="getConcurrentFooterCols()"></tr>

            </table>
        </div>

        <div class="w-full shadow-xl mt-4 bg-gray-50 rounded-lg p-4" *ngIf="afficherVolet('volet4')">

            <div>
                <mat-label class="mt-1 font-extrabold">Moyens de production :</mat-label>

            </div>
            <div class="m-4">
                <mat-label class="mt-1 font-bold">Humains</mat-label>
            </div>


            <table mat-table class="mat-datatable small-table  bg-white not-hover fixed-layout mt-2" [dataSource]="humainsdataSource">
                <ng-container  matColumnDef="1">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Catégorie</th>
                    <td mat-cell   *matCellDef="let element">
                        {{element.personCategory}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="humainResourceDto.personCategory">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="2">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Commercial</th>
                    <td class="text-right" mat-cell   *matCellDef="let element ;">
                        {{ element.commercialNumber}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline"
                                        class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="humainResourceDto.commercialNumber" currencyMask>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="3">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Administratif</th>
                    <td class="text-right" mat-cell   *matCellDef="let element ;">
                        {{ element.administrativeNumber}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline"
                                        class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="humainResourceDto.administrativeNumber" currencyMask>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container  matColumnDef="4">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Production</th>
                    <td class="text-right" mat-cell   *matCellDef="let element ;">
                        {{ element.productionNumber}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="humainResourceDto.productionNumber" currencyMask>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container  matColumnDef="5">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Total</th>
                    <td class="text-right" mat-cell   *matCellDef="let element ;">
                        {{ (element.personNumber? element.personNumber:(element.productionNumber+element.administrativeNumber+element.commercialNumber)) | number :'.2' :'es' }}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>

                    </td>
                </ng-container>
                <ng-container  matColumnDef="action">
                    <th mat-header-cell class="border-r border-white pl-1 w-30" *matHeaderCellDef ><button *ngIf="hasPriv()" mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter une ligne" [color]="'secondary'" (click)="onAddMyenHumain()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus-sm"></mat-icon></button></th>
                    <td mat-cell   *matCellDef="let element ;">
                        <button *ngIf="hasPriv()" mat-mini-fab class="custom-mini-fab" matTooltip="Supprimer" [color]="'warn'" (click)="onDeleteHumain(element)" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon></button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <button mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter" [color]="'primary'" (click)="onValidAddMyenHumain()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:check"></mat-icon></button>
                        <button mat-mini-fab class="custom-mini-fab ml-1" matTooltip="Retour" [color]="'warn'" (click)="addMyenHumain=false" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:x"></mat-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['1','2','3','4','5','action']" class="header-table-gry rounded-t-xl max-w-full"></tr>
                <tr mat-row *matRowDef="let row; columns: ['1','2','3','4','5','action']" class="max-w-full"></tr>
                <tr mat-footer-row *matFooterRowDef="getHumainFooterCols()"></tr>

            </table>

            <div class="m-4"><mat-label class="font-bold">Immeubles</mat-label></div>

            <table mat-table class="mat-datatable small-table  bg-white not-hover fixed-layout mt-2" [dataSource]="immeubledataSource">
                <!--
                {designation:'Immeuble 1',lieu:'Rabat',superficie:300,location:'Location'}
                -->
                <ng-container  matColumnDef="1">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Titre</th>
                    <td mat-cell   *matCellDef="let element">
                        {{element.landTitle}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="projectBuildingDto.landTitle">
                        </mat-form-field>

                    </td>
                </ng-container>

                <ng-container  matColumnDef="2">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Propriétaire</th>
                    <td mat-cell   *matCellDef="let element ;">
                        {{ element.owner}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="projectBuildingDto.owner">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="3">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Superficie</th>
                    <td mat-cell   *matCellDef="let element ;">
                        {{ element.size}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline"
                                        class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="number" class="w-full" matInput [(ngModel)]="projectBuildingDto.size">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container  matColumnDef="4">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Quota</th>
                    <td mat-cell   *matCellDef="let element ;">
                        {{ element.quota}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline"
                                        class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="number" class="w-full" matInput [(ngModel)]="projectBuildingDto.quota">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="5">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Adresse</th>
                    <td mat-cell   *matCellDef="let element ;">
                        {{ element.adress}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="projectBuildingDto.adress">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="6">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Valeur</th>
                    <td mat-cell   *matCellDef="let element ;">
                        {{ element.value}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="number" class="w-full" matInput [(ngModel)]="projectBuildingDto.value">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="7">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Type de bien</th>
                    <td mat-cell   *matCellDef="let element ;">
                        {{ element.goodTypeId}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="number" class="w-full" matInput [(ngModel)]="projectBuildingDto.goodTypeId">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="8">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Statut</th>
                    <td mat-cell   *matCellDef="let element ;">
                        {{ element.statusName}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="number" class="w-full" matInput [(ngModel)]="projectBuildingDto.statusName">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="action">
                    <th mat-header-cell class="border-r border-white pl-1 w-20" *matHeaderCellDef ><button *ngIf="hasPriv()" mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter une ligne" [color]="'secondary'" (click)="onAddMyenImmeuble()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus-sm"></mat-icon></button></th>
                    <td mat-cell   *matCellDef="let element ;">
                        <button *ngIf="element.status !== 'AN' && hasPriv()" mat-mini-fab class="custom-mini-fab" matTooltip="Supprimer" [color]="'warn'" (click)="onDeleteImmeuble(element)" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon></button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <button mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter" [color]="'primary'" (click)="onValidAddMyenImmeuble()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:check"></mat-icon></button>
                        <button mat-mini-fab class="custom-mini-fab ml-1" matTooltip="Retour" [color]="'warn'" (click)="addImmeuble=false" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:x"></mat-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['1','2','3','4','5','6','7','8','action']" class="header-table-gry rounded-t-xl max-w-full"></tr>
                <tr mat-row *matRowDef="let row; columns: ['1','2','3','4','5','6','7','8','action']" class="max-w-full"></tr>
                <tr mat-footer-row *matFooterRowDef="getImmeubleFooterCols()"></tr>

            </table>

            <div class="m-4"><mat-label class="font-bold">Equipements</mat-label></div>

            <table mat-table class="mat-datatable small-table  bg-white not-hover fixed-layout mt-2" [dataSource]="equipementdataSource">

                <ng-container  matColumnDef="1">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Nature</th>
                    <td mat-cell   *matCellDef="let element">
                        {{element.category}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="equipmentDto.category">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="2">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Désignation</th>
                    <td mat-cell   *matCellDef="let element ;">
                        {{ element.label}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="text" class="w-full" matInput [(ngModel)]="equipmentDto.label">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="3">
                    <th mat-header-cell class="border-r border-white pl-1" *matHeaderCellDef >Estimation</th>
                    <td class="text-right" mat-cell   *matCellDef="let element ;">
                        {{ element.value}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <mat-form-field appearance="outline" class="w-full mat-dense-xs  mat-no-subscript">
                            <input type="number" class="w-full" matInput [(ngModel)]="equipmentDto.value">
                        </mat-form-field>
                    </td>
                </ng-container>


                <ng-container  matColumnDef="action">
                    <th mat-header-cell class="border-r border-white pl-1 w-30" *matHeaderCellDef ><button *ngIf="hasPriv()" mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter une ligne" [color]="'secondary'" (click)="onAddMyenEquipement()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus-sm"></mat-icon></button></th>
                    <td mat-cell   *matCellDef="let element ;">
                        <button *ngIf="hasPriv()" mat-mini-fab class="custom-mini-fab" matTooltip="Supprimer" [color]="'warn'" (click)="onDeleteEquipement(element)" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon></button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <button mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter" [color]="'primary'" (click)="onValidAddMyenEquipement()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:check"></mat-icon></button>
                        <button mat-mini-fab class="custom-mini-fab ml-1" matTooltip="Retour" [color]="'warn'" (click)="addEquipement=false" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:x"></mat-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['1','2','3','action']" class="header-table-gry rounded-t-xl max-w-full"></tr>
                <tr mat-row *matRowDef="let row; columns: ['1','2','3','action']" class="max-w-full"></tr>
                <tr mat-footer-row *matFooterRowDef="getEquipementFooterCols()"></tr>

            </table>
        </div>

        
        <!--diagnostic financier-->

        <div class="w-full shadow-xl mt-4 bg-gray-50 rounded-lg p-4 col-span-2 border" *ngIf="afficherVolet('volet6')">
			<div class="flex border-b relative justify-center items-center">
				<div class="absolute top-0 left-0">
					<mat-label class="mt-1 font-bold">Diagnostic financier</mat-label>
				</div>
	
				<div class="grid grid-rows-2 justify-self-center mx-auto gap-2 justify-center items-center my-4">
			
					<div class="flex justify-center items-center gap-4">
						<button
							*ngFor="let y of getYears()" (click)="yearChanged(y)"
							[ngClass]="year == y ? 'bg-primary text-white' : 'bg-indigo-50 text-black'"
							class=" shadow-xl h-10 text-center flex items-center justify-center rounded-full font-bold px-5">
								{{ y }}
						</button>
					</div>
				</div>
			</div>
            <div class="flex gap-10 justify-center items-center">
				<div class="flex flex-col gap-2">
					<!-- Bilan synthétitque -->
					<div class="flex flex-col">
						<div class="my-2">
							<mat-label class="mt-1 font-bold">Bilan synthétitque</mat-label>
						</div>
	
						<app-vertical-table>
							<div vertical-table-header>
								Actif immobilisé
							</div>
							<div vertical-table-data>
								{{bilanSyntetique?.fixedAsset | number: '.2'}}
							</div>
	
							<div vertical-table-header>
								Actif circulant
							</div>
							<div vertical-table-data>
								{{ bilanSyntetique?.circulatingAsset | number: '.2'}}
							</div>
	
							<div vertical-table-header>
								Trésorerie actif
							</div>
							<div vertical-table-data>
								{{ bilanSyntetique?.cashAsset | number: '.2'}}
							</div>
	
							<div vertical-table-header class="font-bold">
								Total actif
							</div>
							<div vertical-table-data class="font-bold">
								{{ bilanSyntetique?.totalAsset | number: '.2'}}
							</div>
	
							<div vertical-table-header>
								Financement permanent
							</div>
							<div vertical-table-data>
								{{ bilanSyntetique?.permanentFunding | number: '.2'}}
							</div>
	
							<div vertical-table-header>
								Passif circulant
							</div>
							<div vertical-table-data>
								{{ bilanSyntetique?.circulatingLiability | number: '.2'}}
							</div>
	
							<div vertical-table-header>
								Trésorerie passif
							</div>
							<div vertical-table-data>
								{{ bilanSyntetique?.liabilityCash | number: '.2'}}
							</div>
	
							<div vertical-table-header class="font-bold">
								Total passif
							</div>
							<div vertical-table-data class="font-bold">
								{{ bilanSyntetique?.totalLiabilities | number: '.2'}}
							</div>
						</app-vertical-table>
					</div>
	
					<!-- analyse de structure -->
					<div class="flex flex-col">
						<div class="my-2">
							<mat-label class="mt-1 font-bold">Analyse de structure</mat-label>
						</div>
	
						<app-vertical-table>
							<div vertical-table-header>Actif immobilisé</div>
							<div vertical-table-data>
								{{ analyseStructure?.fixedAsset | number: '.2'}}
							</div>
			
							<div vertical-table-header>FDR</div>
							<div vertical-table-data>
								{{ analyseStructure?.fdr| number: '.2'}}
							</div>
			
							<div vertical-table-header>BFDR</div>
							<div vertical-table-data>
								{{ analyseStructure?.bfr | number: '.2'}}
							</div>
	
							<div vertical-table-header>Trésorerie Nette</div>
							<div vertical-table-data>
								{{ analyseStructure?.netCash | number: '.2'}}
							</div>
						</app-vertical-table>
					</div>
				</div>

                <!--Activité-->
                <div class="flex flex-col">
                    <div class="my-4">
                        <mat-label class="mt-1 font-bold">Activité</mat-label>
                    </div>

                    <app-vertical-table>
						<div vertical-table-header>Chiffre d'affaire</div>
						<div vertical-table-data>
							{{activite?.salesFigures | number: '.2' }}
						</div>
        
						<div vertical-table-header>Résultat d'exploitation</div>
						<div vertical-table-data>
							{{ activite?.operatingResult | number:'.2' }}
						</div>
                        
						<div vertical-table-header>Charges d'interêt</div>
						<div vertical-table-data>
							{{ activite?.interestCharges| number:'.2' }}
						</div>

                        <div vertical-table-header>Résultat Net</div>
						<div vertical-table-data>
							{{ activite?.netResult | number:'.2' }}
						</div>
                        
        
						<div vertical-table-header>Amortissement</div>
						<div vertical-table-data>
							{{ activite?.amortization | number:'.2' }}
						</div>
                        
						<div vertical-table-header>Cash Flow</div>
						<div vertical-table-data>
							{{ activite?.cashFlow | number:'.2' }}
						</div>
						
                        <div vertical-table-header>Résultat net de l'exploitation</div>
						<div vertical-table-data>
							{{ activite?.netOperationResult | number:'.2' }}
						</div>
                        
						<div vertical-table-header>Consommation de l'exercice</div>
						<div vertical-table-data>
							{{ activite?.exerciceConsumption | number:'.2' }}
						</div>
                        
						<div vertical-table-header>Valeur ajoutée</div>
						<div vertical-table-data>
							{{ activite?.addedValue | number:'.2' }}
						</div>
                        
						<div vertical-table-header>EBE</div>
						<div vertical-table-data>
							{{ activite?.ebe | number:'.2' }}
						</div>
                        
						<div vertical-table-header>Résultat financier</div>
						<div vertical-table-data>
							{{ activite?.bottomLine | number:'.2' }}
						</div>
                        
						<div vertical-table-header>Résultat courant</div>
						<div vertical-table-data>
							{{ activite?.currentResult | number:'.2' }}
						</div>
                        
						<div vertical-table-header>Impots sur les résultats</div>
						<div vertical-table-data>
							{{ activite?.incomeTax | number:'.2' }}
						</div>
                        
						<div vertical-table-header>Production de l'exercice</div>
						<div vertical-table-data>
							{{ activite?.productionExercice | number:'.2' }}
						</div>        
                    </app-vertical-table>
                </div>
            </div>
        </div>
    </ng-container>
</div>
