<div class="flex">
	<div class="flex flex-col vertical-table-header border rounded-md rounded-r-none p-2">
		<ng-content select="[vertical-table-header]"></ng-content>
	</div>

	<div class="flex flex-col  vertical-table-data border border-l-0 rounded-md rounded-l-none p-2">
		<ng-content select="[vertical-table-data]"></ng-content>
	</div>
</div>
