<mat-expansion-panel hideToggle class="rounded-t-xl flex flex-col flex-auto" [expanded]="true">
	<mat-expansion-panel-header class=" expan-panel header">
		<div class="w-full flex justify-center">
			<h4 class="ml-3 font-bold">Incidents de paiement</h4>
			<h4 class="ml-3 italic">
				( Situation du {{ dateSituation | date: "dd/MM/yyyy HH:mm":"0" }} )
			</h4>
		</div>
	</mat-expansion-panel-header>
	<div class="tab-container bg-cam mt-5" style="max-width: 100%; overflow: auto">
		<table
			mat-table
			[dataSource]="dataSource3"
			class="mat-datatable small-table"
			width="100%"
			style="min-width: 500px"
		>
			<!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition"
            ['ncheque','montant','dateeffetinjonction','datediffusioninjonction','regularisation','annulation','statut']
            -->
			<!-- numdossier Column -->
			<ng-container [matColumnDef]="displayedColumns3[0]">
				<th mat-header-cell *matHeaderCellDef>N° chèque</th>
				<td mat-cell *matCellDef="let element">{{ element[displayedColumns3[0]] }}</td>
			</ng-container>

			<!-- objet Column -->
			<ng-container [matColumnDef]="displayedColumns3[1]">
				<th mat-header-cell *matHeaderCellDef>Montant</th>
				<td mat-cell *matCellDef="let element">{{ element[displayedColumns3[1]] }}</td>
			</ng-container>

			<!-- nominalAuth Column -->
			<ng-container [matColumnDef]="displayedColumns3[2]">
				<th mat-header-cell *matHeaderCellDef>Date Effet Injonction</th>
				<td mat-cell *matCellDef="let element" class="text-center">
					{{ element[displayedColumns3[2]] | date: "dd/MM/YYYY" }}
				</td>
			</ng-container>

			<!-- encours Column -->
			<ng-container [matColumnDef]="displayedColumns3[3]">
				<th mat-header-cell *matHeaderCellDef>Date Diffusion Injonction</th>
				<td mat-cell *matCellDef="let element" class="text-center">
					{{ element[displayedColumns3[3]] | date: "dd/MM/YYYY" }}
				</td>
			</ng-container>

			<!-- crdu Column -->
			<ng-container [matColumnDef]="displayedColumns3[4]">
				<th mat-header-cell *matHeaderCellDef>Régularisation</th>
				<td mat-cell *matCellDef="let element">
					{{ element[displayedColumns3[4]] | date: "dd/MM/YYYY" }}
				</td>
			</ng-container>

			<!-- crdu Column -->
			<ng-container [matColumnDef]="displayedColumns3[5]">
				<th mat-header-cell *matHeaderCellDef>Annulation</th>
				<td mat-cell *matCellDef="let element" class="text-center">
					{{ element[displayedColumns3[5]] | date: "dd/MM/YYYY" }}
				</td>
			</ng-container>

			<!-- crdu Column -->
			<ng-container [matColumnDef]="displayedColumns3[6]">
				<th mat-header-cell *matHeaderCellDef>Statut</th>
				<td mat-cell *matCellDef="let element">
					<span [matTooltip]="element[displayedColumns3[6]]">
						<mat-icon
							[style.color]="element[displayedColumns3[6]] ? 'green' : 'red'"
							svgIcon="mat_solid:circle"
						></mat-icon>
					</span>
				</td>
			</ng-container>
			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef class="w-10 text-right">
					<button
						*ngIf="routingService.isDemandeRW()"
						(click)="rafraichir()"
						class="custom-mini-fab"
						mat-mini-fab
						matTooltip="Rafraichir"
						[color]="'secondary'"
					>
						<mat-icon class="icon-size-5" svgIcon="heroicons_solid:refresh"></mat-icon>
					</button>
				</th>
				<td mat-cell *matCellDef="let element"></td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns3" class="header-table-gry"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
		</table>
	</div>
</mat-expansion-panel>
