<mat-expansion-panel [expanded]="true" class="bg-gray">
	<mat-expansion-panel-header class=" expan-panel header">
		<div class="w-full flex justify-center">
			<h4 class="ml-3 font-bold">BIENS OBJET DE FINANCEMENT</h4><h3 class="ml-3 font">(Informations relatives au Propriétaire)</h3>
			<h4 class="ml-3 italic"></h4>
		</div>
	</mat-expansion-panel-header>
	<div class="tab-container mt-5 bg-cam" style="max-width: 100%; overflow: auto">
		<table
			mat-table
			[dataSource]="dataSource"
			class="mat-datatable small-table"
			width="100%"
			style="min-width: 500px"
		>
			<!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
			<!-- numdossier Column -->
			<ng-container [matColumnDef]="displayedColumns[0]">
				<th mat-header-cell *matHeaderCellDef>Type bien</th>
				<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
				<td mat-footer-cell *matFooterCellDef class="w-50">
					<mat-form-field *ngIf="routingService.isDemandeRW()" class="w-full">
						<mat-select [(ngModel)]="fiancialObjectDto.goodTypeId">
							<mat-option [value]="">Séléctionnez</mat-option>
							<mat-option *ngFor="let item of listBien" [value]="item.id">
								{{ item.designation }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</td>
			</ng-container>

			<!-- objet Column -->
			<ng-container [matColumnDef]="displayedColumns[1]">
				<th mat-header-cell *matHeaderCellDef>N° Titre</th>
				<td mat-cell *matCellDef="let element">{{ element[displayedColumns[1]] }}</td>
				<td mat-footer-cell *matFooterCellDef>
					<mat-form-field *ngIf="routingService.isDemandeRW()">
						<mat-label>N° Titre</mat-label>
						<input matInput [(ngModel)]="fiancialObjectDto[displayedColumns[1]]" />
					</mat-form-field>
				</td>
			</ng-container>

			<!-- nominalAuth Column -->
			<ng-container [matColumnDef]="displayedColumns[2]">
				<th mat-header-cell *matHeaderCellDef>Propiétaire</th>
				<td mat-cell *matCellDef="let element">{{ element[displayedColumns[2]] }}</td>
				<td mat-footer-cell *matFooterCellDef>
					<mat-form-field *ngIf="routingService.isDemandeRW()">
						<mat-label>Propiétaire</mat-label>
						<input matInput [(ngModel)]="fiancialObjectDto[displayedColumns[2]]" />
					</mat-form-field>
				</td>
			</ng-container>

			<!-- encours Column -->
			<ng-container [matColumnDef]="displayedColumns[3]">
				<th mat-header-cell *matHeaderCellDef>Superficie (m²)</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element[displayedColumns[3]] | number: ".2":"es" }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<mat-form-field *ngIf="routingService.isDemandeRW()">
						<mat-label>Superficie (m²)</mat-label>
						<input matInput [(ngModel)]="fiancialObjectDto[displayedColumns[3]]" />
					</mat-form-field>
				</td>
			</ng-container>

			<!-- crdu Column -->
			<ng-container [matColumnDef]="displayedColumns[4]">
				<th mat-header-cell *matHeaderCellDef>Adresse</th>
				<td mat-cell *matCellDef="let element">{{ element[displayedColumns[4]] }}</td>
				<td mat-footer-cell *matFooterCellDef>
					<mat-form-field *ngIf="routingService.isDemandeRW()">
						<mat-label>Adresse</mat-label>
						<input matInput [(ngModel)]="fiancialObjectDto[displayedColumns[4]]" />
					</mat-form-field>
				</td>
			</ng-container>

			<!-- impaye Column -->
			<ng-container [matColumnDef]="displayedColumns[5]">
				<th mat-header-cell *matHeaderCellDef>Prix Achat</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element[displayedColumns[5]] | number: ".2":"es" }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<mat-form-field *ngIf="routingService.isDemandeRW()">
						<mat-label>Prix Achat</mat-label>
						<input matInput [(ngModel)]="fiancialObjectDto[displayedColumns[5]]" />
					</mat-form-field>
					<mat-form-field *ngIf="routingService.isDemandeRW()">
						<mat-label>Quota</mat-label>
						<input matInput [(ngModel)]="fiancialObjectDto.quota" />
					</mat-form-field>
				</td>
			</ng-container>

			<!-- nbrImpye Column -->
			<ng-container [matColumnDef]="displayedColumns[6]">
				<th mat-header-cell *matHeaderCellDef>Justif transaction</th>
				<td mat-cell *matCellDef="let element">{{ element[displayedColumns[6]] }}</td>
				<td mat-footer-cell *matFooterCellDef>
					<mat-form-field *ngIf="routingService.isDemandeRW()">
						<mat-label>Justif transaction</mat-label>
						<input matInput [(ngModel)]="fiancialObjectDto[displayedColumns[6]]" />
					</mat-form-field>
				</td>
			</ng-container>
			<ng-container [matColumnDef]="displayedColumns[7]">
				<th mat-header-cell *matHeaderCellDef class="text-right">
					<button
						*ngIf="
							routingService.isDemandeRW() &&
							utilsService.hasPrivilege(
								utilsService.privilegeCodes.maj_objet_financement_m
							)
						"
						matTooltip="Ajouter"
						class="custom-mini-fab"
						mat-mini-fab
						[color]="'secondary'"
						(click)="onAdd2()"
					>
						<mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus"></mat-icon>
					</button>
				</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					<button
						*ngIf="
							routingService.isDemandeRW() &&
							utilsService.hasPrivilege(
								utilsService.privilegeCodes.maj_objet_financement_s
							) &&
							!element[displayedColumns[8]]
						"
						matTooltip="Supprimer"
						class="custom-mini-fab"
						mat-mini-fab
						[color]="'warn'"
						(click)="onDelete(element)"
					>
						<mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
					</button>

                    <button
                        *ngIf="
							routingService.isDemandeRW() &&
							utilsService.hasPrivilege(
								utilsService.privilegeCodes.maj_objet_financement_m
							)
						"
                        matTooltip="Modifier"
                        class="custom-mini-fab mx-2"
                        mat-mini-fab
                        [color]="'secondary'"
                        (click)="onUpdate(element)"
                    >
                        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
                    </button>

				</td>
				<td mat-footer-cell *matFooterCellDef>
					<button
						*ngIf="routingService.isDemandeRW()"
						class="custom-mini-fab"
						mat-mini-fab
						[color]="'primary'"
						(click)="onAdd()"
					>
						<mat-icon class="icon-size-4" svgIcon="heroicons_outline:check"></mat-icon>
					</button>
					<button
						*ngIf="routingService.isDemandeRW()"
						class="custom-mini-fab"
						mat-mini-fab
						[color]="'warn'"
						(click)="editStat = 0"
					>
						<mat-icon class="icon-size-4" svgIcon="heroicons_outline:ban"></mat-icon>
					</button>
				</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
			<tr mat-footer-row *matFooterRowDef="displayedColumnsFooter()"></tr>
		</table>
	</div>
</mat-expansion-panel>
