<h2 mat-dialog-title>Crédit bureau</h2>
<mat-dialog-content class="mat-typography">
	<mat-tab-group>
		<mat-tab label="Identification"> Content 1 </mat-tab>
		<mat-tab label="Sommaire des crédits"> Content 2 </mat-tab>
		<mat-tab label="Détails crédits"> Content 3 </mat-tab>
		<mat-tab label="Informations négatives"> Content 3 </mat-tab>
		<mat-tab label="Requêtes précédents"> Content 3 </mat-tab>
		<mat-tab label="Erreurs"> Content 3 </mat-tab>
	</mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-raised-button mat-dialog-close>Retour</button>
</mat-dialog-actions>
