<router-outlet>
	<div class="splash-screen" *ngIf="loaderService.isLoading | async">
		<img src="assets/images/logo/logo-white.png" alt="CAM logo" />
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>
</router-outlet>
