:host {
	display: flex;
	flex: 1 1 auto;
	width: 100%;
	height: 100%;
}

.loader-class {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.3;
	z-index: 5000;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader-class .loader {
	z-index: 3000 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
	padding: 14px 10px !important;
	border-top: 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
	margin: 0 !important;
}
::ng-deep .mat-form-field span.mat-form-field-label-wrapper label {
	/*color:orange !important;*/
}

::ng-deep .mat-form-field.mat-focused span.mat-form-field-label-wrapper label {
	/*color:green !important;*/
}
mat-form-field {
	width: 100% !important;
}
/***************************************************************************************************/
/*/ mat-icon-stepper selected color change */
::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
	background-color: red !important;
}

/*/input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #dddddd !important;
}
*/
/*/mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #484848!important;
}
*/
/*/ mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.8!important;
}
*/
/*/ mat-input carent color
::ng-deep .mat-input-element {
    caret-color: red!important;
}
*/
/*/ mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: red!important;
}
*/
/*/ mat-label normal state style
::ng-deep .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;

}
*/
/*/ mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: red!important;
}
 */
/*/ mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red!important;
}
*/
