<div class="navigation-wrapper relative">
	<!-- Header -->
	<div class="navigation-header">
		<ng-content select="[navigationHeader]"></ng-content>
	</div>

	<!-- Content -->
	<div
		class="navigation-content"
		style="position: unset;"
		#navigationContent
		scrollbar
		[scrollbarOptions]="{ wheelPropagation: inner, suppressScrollX: true }"
	>
		<!-- Content header -->
		<div class="navigation-content-header">
			<ng-content select="[navigationContentHeader]"></ng-content>
			<div class="flex bg-ca_primary h-14 items-center">
				<button class="px-4" (click)="toggleNavigationAppearance()">
					<ng-container *ngIf="appearance == 'dense'; else elseTemplate">
						<mat-icon class="navigation-item-icon text-white" [svgIcon]="'heroicons_outline:menu'"></mat-icon>
					</ng-container>
					<ng-template #elseTemplate>
						<mat-icon class="navigation-item-icon text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
					</ng-template>
				</button>
				
				<div class="navigation-label hidden w-3/4 ">
					<div class="flex bg-white rounded-sm gap-2 py-2 px-1">
						<mat-icon
							class="icon-size-5 text-ca_gray_light"
							[svgIcon]="'heroicons_solid:search'"
						></mat-icon>
						<input [formControl]="searchControl" class="text-black" matInput placeholder="Recherche"/>
					</div>
				</div>
			</div>
		</div>

		<!-- Items -->
		<ng-container *ngFor="let item of filteredNavigation; trackBy: trackByFn">
			<!-- Skip the hidden items -->
			<ng-container *ngIf="(item.hidden && !item.hidden(item)) || !item.hidden">
				<!-- Basic -->
				<navigation-basic-item
					*ngIf="item.type === 'basic'"
					[item]="item"
					[name]="name"
				></navigation-basic-item>

				<!-- Collapsable -->
				<navigation-collapsable-item
					*ngIf="item.type === 'collapsable'"
					[item]="item"
					[name]="name"
					[autoCollapse]="autoCollapse"
				></navigation-collapsable-item>
			</ng-container>
		</ng-container>

		<!-- Content footer -->
		<div class="navigation-content-footer">
			<ng-content select="[navigationContentFooter]"></ng-content>
		</div>
	</div>

	<!-- Footer -->
	<div class="navigation-footer">
		<div class="flex bg-ca_primary h-14 justify-around items-center cursor-pointer" (click)="signOut()">
			<mat-icon
				class="navigation-item-icon text-white"
				[svgIcon]="'logout'"
			></mat-icon>
			<span class="navigation-label hidden -ml-30">
				Déconnexion
			</span>
		</div>
		<ng-content select="[navigationFooter]"></ng-content>
	</div>
</div>

<!-- Aside -->
<div
	class="navigation-aside-wrapper"
	*ngIf="activeAsideItemId"
	scrollbar
	[scrollbarOptions]="{ wheelPropagation: false, suppressScrollX: true }"
	[@fadeInLeft]="position === 'left'"
	[@fadeInRight]="position === 'right'"
	[@fadeOutLeft]="position === 'left'"
	[@fadeOutRight]="position === 'right'"
>
	<!-- Items -->
	<ng-container *ngFor="let item of navigation; trackBy: trackByFn">
		<!-- Skip the hidden items -->
		<ng-container *ngIf="(item.hidden && !item.hidden(item)) || !item.hidden">
			<!-- Aside -->
			<navigation-aside-item
				*ngIf="item.type === 'aside' && item.id === activeAsideItemId"
				[item]="item"
				[name]="name"
				[autoCollapse]="autoCollapse"
			></navigation-aside-item>
		</ng-container>
	</ng-container>
</div>
