<div class="tab-container mt-5 bg-cam w-full" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="dataSource"
		class="mat-datatable small-table w-full"
		width="100%"
		style="min-width: 500px"
	>
		<!-- numdossier Column -->
		<ng-container [matColumnDef]="displayedColumns[0]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[0] }}</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
		</ng-container>

		<!-- objet Column -->
		<ng-container [matColumnDef]="displayedColumns[1]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[1] }}</th>
			<td mat-cell *matCellDef="let element">{{element.certificateDossiers}} </td>
		</ng-container>

		<!-- nominalAuth Column -->
		<ng-container [matColumnDef]="displayedColumns[2]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[2] }}</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[2]] }}</td>
		</ng-container>

		<!-- encours Column -->
		<ng-container [matColumnDef]="displayedColumns[3]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[3] }}</th>
			<td mat-cell *matCellDef="let element" class="text-end">
				{{ element[displayedColumns[3]] }}
			</td>
		</ng-container>
        <!--*ngIf="
        routingService.isDemandeRW() &&
        utilsService.hasPrivilege(this.privileges.maj_cert_m)
        "-->
		<ng-container [matColumnDef]="displayedColumns[4]">
			<th mat-header-cell *matHeaderCellDef>
				<button   *ngIf="showAddButton()"
					mat-mini-fab

					class="custom-mini-fab"
					color="secondary"
					(click)="onPrepareAdd()"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus"></mat-icon>
				</button>
			</th>
			<td mat-cell *matCellDef="let element" class="text-danger">
				<button
					mat-button
					[matMenuTriggerFor]="menu"
					matTooltip="Actions"
					(click)="loadCertificateActionsPrivs(element)"
				>
					<mat-icon svgIcon="heroicons_outline:dots-vertical"></mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button
						*ngIf="routingService.isDemandeRW() && showUpdateButton(element['privs'])"
						mat-menu-item
						(click)="onPrepareEdit(element)"
					>
						Modifier
					</button>

                    <button
                        *ngIf="routingService.isDemandeRW()"
                        mat-menu-item
                        (click)="onEditAttestation(element)"
                    >
                        Imprimer
                    </button>

					<button mat-menu-item (click)="onListDossiers(element)">Dossiers</button>
					<button
						*ngFor="let action of element['actions']"
						(click)="certificateDispatchAction(action, element)"
						mat-menu-item
					>
						{{ action?.actionName }}
					</button>
				</mat-menu>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
