<div class="flex flex-col w-full">
	<div class="w-full flex xs:px-10 px-2 py-3">
		<card class="flex w-full xs:px-8 px-2 py-3 filter-list bg-accent-50">
			<mat-expansion-panel hideToggle class="rounded-t-xl w-full" [expanded]="true">
				<mat-expansion-panel-header
						class=" expan-panel header"
					#panelQUI
					(click)="panelQUI._toggle()"
				>
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">QUI</h4>
					</div>
				</mat-expansion-panel-header>
				<div class="w-full flex flex-col justify-start py-5">
                    <app-account-find-show (onAccountFetch)="getAccount($event)"></app-account-find-show>
					<!-- TODO: put this in its own component -->
					<div class="w-full flex flex-wrap gap-x-2">
						<card
							class="flex flex-col sm:px-8 px-2 py-3 filter-list bg-accent-100 my-2"
							*ngFor="let item of tiers"
						>
							<div class="flex items-start justify-start">
								<div class="text-lg font-medium tracking-tight leading-6 truncate">
									{{ item.cin }}
								</div>
								<div
									class="
										text-lg
										font-medium
										tracking-tight
										leading-6
										truncate
										ml-3
									"
								>
									{{ item.clientName }}
								</div>
							</div>
							<div class="flex flex-col items-center mt-2">
								<div class="w-full flex-col self-center justify-center">
									<div
										class="
											flex
											w-full
											border-0 border-0-b-0 border-0-on-primary-100
										"
									>
										<div class="w-2/4 pl-2 flex items-center">
											Famille Segment
										</div>
										<div class="w-2/4 py-1 px-4 flex items-center">
											<mat-form-field
												class="
													w-full
													mat-no-subscript
													bg-white
													mat-dense-xs
												"
												appearance="outline"
											>
												<mat-select
													[(ngModel)]="item.segmentType"
													(selectionChange)="filtrerSegment($event, item)"
												>
													<mat-option [value]="">Séléctionnez</mat-option>
													<mat-option
														*ngFor="let fseg of familleSegments"
														[value]="fseg.code"
													>
														{{ fseg.designation }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>

									<div
										class="
											flex
											w-full
											border-0 border-0-b-0 border-0-on-primary-100
										"
									>
										<div class="w-2/4 pl-2 flex items-center">Segment</div>
										<div class="w-2/4 py-1 px-4 flex items-center">
											<mat-form-field
												class="
													w-full
													mat-no-subscript
													bg-white
													mat-dense-xs
												"
												appearance="outline"
											>
												<mat-select
													[(ngModel)]="item.segment"
													(selectionChange)="setSegmentName(item, $event)"
												>
													<mat-option [value]="">Séléctionnez</mat-option>
													<mat-option
														*ngFor="let seg of filteredSegments"
														[value]="seg.id"
													>
														{{ seg.designation }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>

									<div
										class="
											flex
											w-full
											border-0 border-0-b-0 border-0-on-primary-100
										"
									>
										<div class="w-2/4 pl-2 flex items-center">
											Revenu Mensuel
										</div>
										<div class="w-2/4 py-1 px-4 flex items-center">
											<mat-form-field
												class="
													w-full
													mat-no-subscript mat-dense-xs
												"
											>
												<input
													[(ngModel)]="item.monthlyPay"
													currencyMask
													[options]="{
														prefix: '',
														thousands: '.',
														decimal: ',',
														suffix: ''
													}"
													matInput
												/>
											</mat-form-field>
										</div>
									</div>

									<div
										class="
											flex
											w-full
											border-0 border-0-b-0 border-0-on-primary-100
										"
									>
										<div class="w-2/4 pl-2 flex items-center">
											Autre revenus mensuels
										</div>
										<div class="w-2/4 py-1 px-4 flex items-center">
											<mat-form-field
												class="
													w-full
													mat-no-subscript mat-dense-xs
												"
											>
												<input
													[(ngModel)]="item.othersMonthlyIncome"
													currencyMask
													[options]="{
														prefix: '',
														thousands: '.',
														decimal: ',',
														suffix: ''
													}"
													matInput
												/>
											</mat-form-field>
										</div>
									</div>
									<hr class="my-2 border-white border-2" />
									<div
										class="
											flex
											w-full
											border-0 border-0-b-0 border-0-on-primary-100
										"
									>
										<div class="w-1/4 pl-2 pt-2">Ech Immo</div>
										<div class="w-1/4 px-0">Cam</div>
										<div class="w-2/4 py-1 px-4 flex items-center">
											<mat-form-field
												class="
													w-full
													mat-no-subscript mat-dense-xs
												"
											>
												<input
													[(ngModel)]="item.monthlyPaymentImmoCam"
													currencyMask
													[options]="{
														prefix: '',
														thousands: '.',
														decimal: ',',
														suffix: ''
													}"
													matInput
												/>
											</mat-form-field>
										</div>
									</div>

									<div
										class="
											flex
											w-full
											border-0
											border-0-b-0
											border-0-t-0
											border-0-on-primary-100
										"
									>
										<div class="w-1/4 px-0"></div>
										<div class="w-1/4 px-0">Conf</div>
										<div class="w-2/4 py-1 px-4 flex items-center">
											<mat-form-field
												class="
													w-full
													mat-no-subscript mat-dense-xs
												"
											>
												<input
													[(ngModel)]="item.monthlyPaymentImmoConf"
													currencyMask
													[options]="{
														prefix: '',
														thousands: '.',
														decimal: ',',
														suffix: ''
													}"
													matInput
												/>
											</mat-form-field>
										</div>
									</div>
									<!--{{item.monthlyPaymentImmo}}-->
									<div
										class="
											flex
											w-full
											border-0 border-0-b-0 border-0-on-primary-100
										"
									>
										<div class="w-1/4 pl-2 pt-2">Ech Conso</div>
										<div class="w-1/4 px-0">CAM</div>
										<div class="w-2/4 py-1 px-4 flex items-center">
											<mat-form-field
												class="
													w-full
													mat-no-subscript mat-dense-xs
												"
											>
												<input
													[(ngModel)]="item.monthlyPaymentConsoCam"
													currencyMask
													[options]="{
														prefix: '',
														thousands: '.',
														decimal: ',',
														suffix: ''
													}"
													matInput
												/>
											</mat-form-field>
										</div>
									</div>

									<div
										class="
											flex
											w-full
											border-0 border-0-t-0 border-0-on-primary-100
										"
									>
										<div class="w-1/4 px-0"></div>
										<div class="w-1/4 px-0">CONF</div>
										<div class="w-2/4 py-1 px-4 flex items-center">
											<mat-form-field
												class="
													w-full
													mat-no-subscript mat-dense-xs
												"
											>
												<input
													[(ngModel)]="item.monthlyPaymentConsoConf"
													currencyMask
													[options]="{
														prefix: '',
														thousands: '.',
														decimal: ',',
														suffix: ''
													}"
													matInput
												/>
											</mat-form-field>
										</div>
									</div>
								</div>
							</div>
						</card>
					</div>
				</div>
			</mat-expansion-panel>
		</card>
	</div>

	<div class="w-full flex xs:px-10 px-2 py-3 sm:max-w-full max-w-11/12" *ngIf="compte">
		<card class="flex flex-col w-full xs:px-8 px-1 py-3 filter-list h-auto bg-accent-50 my-2">
			<mat-expansion-panel hideToggle class="rounded-t-xl" [expanded]="true">
				<mat-expansion-panel-header
						class=" expan-panel header"
					#panelQUI
					(click)="panelQUI._toggle()"
				>
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">QUOI</h4>
					</div>
				</mat-expansion-panel-header>
				<div class="flex flex-col xs:px-10 px-2">
					<div class="w-full flex mt-10">
						<mat-form-field
							appearance="outline"
							class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
						>
							<mat-label>Descriptif du projet</mat-label>
							<textarea
								matInput
								[rows]="3"
								matTextareaAutosize
								[(ngModel)]="consoDemande.objectCredit"
							></textarea>
						</mat-form-field>
					</div>
	
					<!--produits-->
					<div class="w-full flex-col">
						<div class="flex w-full justify-between">
							<div class="font-bold text-xl mt-4 flex items-center">
								<mat-icon svgIcon="heroicons_outline:minus-sm" class="mx-2"></mat-icon>
								<span>Liste des produits</span>
							</div>
							<button
								mat-raised-button
								class="w-40 mt-4 ml-2"
								[color]="'primary'"
								(click)="onAddProduct()"
								matTooltip="Ajouter des produits"
							>
								Ajouter
							</button>
						</div>
	
						<div class="w-full mt-2 overflow-auto">
							<table
								mat-table
								class="mat-datatable table-simulation bg-white w-full"
								[dataSource]="listProducts"
								matSort
								matSortDirection="asc"
							>
								<ng-container [matColumnDef]="displayedColumns[0]">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>
										{{ displayedColumnsLib[0] }}
									</th>
									<td mat-cell *matCellDef="let element">
										{{ element.productName }}
									</td>
								</ng-container>
	
								<ng-container [matColumnDef]="displayedColumns[1]">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>
										{{ displayedColumnsLib[1] }}
									</th>
									<td mat-cell *matCellDef="let element" class="text-right">
										{{ element["lastAmountGranted"] | number: ".2":"es" }}
									</td>
								</ng-container>
	
								<ng-container [matColumnDef]="displayedColumns[2]">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>
										{{ displayedColumnsLib[2] }}
									</th>
									<td mat-cell *matCellDef="let element" class="text-right">
										{{ element["lastDuration"] }}
									</td>
								</ng-container>
	
								<ng-container [matColumnDef]="displayedColumns[3]">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>
										{{ displayedColumnsLib[3] }}
									</th>
									<td mat-cell *matCellDef="let element" class="text-right">
										{{ element["lastRate"] | number: ".2":"es" }}
									</td>
								</ng-container>
	
								<ng-container [matColumnDef]="displayedColumns[4]">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>
										{{ displayedColumnsLib[4] }}
									</th>
									<td mat-cell *matCellDef="let element" class="text-right">
										{{ element["lastDeferredPeriod"] | number: ".2":"es" }}
									</td>
								</ng-container>
	
								<ng-container [matColumnDef]="displayedColumns[5]">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>
										{{ displayedColumnsLib[5] }}
									</th>
									<td mat-cell *matCellDef="let element" class="">
										{{ element["periodicity"] }} - {{ element["periodicityName"] }}
									</td>
								</ng-container>
	
								<ng-container [matColumnDef]="displayedColumns[6]">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>
										{{ displayedColumnsLib[6] }}
									</th>
									<td mat-cell *matCellDef="let element" class="text-right">
										{{ element["lastMonthlyPayment"] | number: ".2":"es" }}
									</td>
								</ng-container>
	
								<ng-container [matColumnDef]="displayedColumns[7]">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>
										{{ displayedColumnsLib[7] }}
									</th>
									<td mat-cell *matCellDef="let element" class="text-right">
										{{ element["lastInsurance"] | number: ".2":"es" }}
									</td>
								</ng-container>
	
								<ng-container [matColumnDef]="displayedColumns[8]">
									<th mat-header-cell *matHeaderCellDef mat-sort-header></th>
									<td mat-cell *matCellDef="let element" class="text-right">
										<button
											(click)="onDelete(element)"
											[color]="'warn'"
											mat-mini-fab
											class="custom-mini-fab"
											matTooltip="Supprimer"
										>
											<mat-icon
												class="icon-size-4"
												svgIcon="heroicons_outline:trash"
											></mat-icon>
										</button>
	
										<button
											(click)="onUpdate(element)"
											[color]="'primary'"
											mat-mini-fab
											class="custom-mini-fab m-1"
											matTooltip="Modifier"
										>
											<mat-icon class="icon-size-4" svgIcon="edit"></mat-icon>
										</button>
									</td>
								</ng-container>
	
								<tr
									mat-header-row
									*matHeaderRowDef="displayedColumns"
									class="header-table-gry"
								></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
							</table>
						</div>
					</div>
				</div>
			</mat-expansion-panel>
		</card>
	</div>

	<div class="w-full flex justify-end pr-10 pt-3">
		<button
			mat-raised-button
			class="max-w-40 mt-4 ml-2"
			[color]="'primary'"
			(click)="onCreateConsoDemande()"
		>
			Valider
		</button>
		<button mat-raised-button class="max-w-40 mt-4 ml-2" [color]="'warn'" (click)="retour()">
			Retour
		</button>
	</div>
</div>
