<div class="flex flex-col w-full">
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
		<mat-checkbox *ngFor="let item of listRubrique" class="ml-3" [(ngModel)]="item.checked">{{
			item.libelle
		}}</mat-checkbox>
	</div>
</div>

<div class="flex justify-end w-full mt-2">
	<button mat-raised-button (click)="onSelectRubrique()" class="w-40" [color]="'primary'">
		Afficher
	</button>
</div>
