<div
	class="navigation-item-wrapper"
	[class.navigation-item-has-subtitle]="!!item.subtitle"
	[ngClass]="item.classes?.wrapper"
	[matTooltip]="item.title"
>
	<div
		class="navigation-item"
		[ngClass]="{ 'navigation-item-disabled': item.disabled, 'navigation-item-active-forced': hasActiveChild() }"
	>
		<!-- (click)="toggleCollapsable()" -->
		<!-- Icon -->
		<mat-icon
			class="navigation-item-icon"
			[ngClass]="item.classes?.icon"
			*ngIf="item.icon"
			[svgIcon]="item.icon"
		></mat-icon>

		<!-- Title & Subtitle -->
		<div class="navigation-item-title-wrapper">
			<div class="navigation-item-title whitespace-nowrap">
				<span [ngClass]="item.classes?.title">
					{{ item.title }}
				</span>
			</div>
			<div class="navigation-item-subtitle" *ngIf="item.subtitle">
				<span [ngClass]="item.classes?.subtitle">
					{{ item.subtitle }}
				</span>
			</div>
		</div>

		<!-- Badge -->
		<div class="navigation-item-badge" *ngIf="item.badge">
			<div class="navigation-item-badge-content" [ngClass]="item.badge.classes">
				{{ item.badge.title }}
			</div>
		</div>

		<!-- Arrow -->
		<mat-icon
			class="navigation-item-arrow icon-size-4"
			[svgIcon]="'heroicons_solid:chevron-down'"
		></mat-icon>
	</div>
</div>

<div class="navigation-item-children absolute left-full bg-ca_secondary" *ngIf="!isCollapsed" @expandCollapse>
	<ng-container *ngFor="let item of item.children; trackBy: trackByFn">
		<!-- Skip the hidden items -->
		<ng-container *ngIf="(item.hidden && !item.hidden(item)) || !item.hidden">
			<!-- Basic -->
			<navigation-basic-item
				*ngIf="item.type === 'basic'"
				[item]="item"
				[name]="name"
			></navigation-basic-item>

			<!-- Collapsable -->
			<navigation-collapsable-item
				*ngIf="item.type === 'collapsable'"
				[item]="item"
				[name]="name"
				[autoCollapse]="autoCollapse"
			></navigation-collapsable-item>

			<!-- Divider -->
			<navigation-divider-item
				*ngIf="item.type === 'divider'"
				[item]="item"
				[name]="name"
			></navigation-divider-item>

			<!-- Group -->
			<navigation-group-item
				*ngIf="item.type === 'group'"
				[item]="item"
				[name]="name"
			></navigation-group-item>

			<!-- Spacer -->
			<navigation-spacer-item
				*ngIf="item.type === 'spacer'"
				[item]="item"
				[name]="name"
			></navigation-spacer-item>
		</ng-container>
	</ng-container>
</div>
