<div
	style="
	background-image: url('assets/images/logo/money-tree.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	"
	class="
		flex flex-col
		sm:flex-row
		items-center
		md:items-start
		sm:justify-center
		md:justify-start
		flex-auto
		min-w-0
	"
>
	<div
		class="
			flex
			items-center
			justify-center
			w-full md:w-160
			h-full
			py-8
			px-4
			relative
		"
		style="background: transparent linear-gradient(331deg, #FFFFFF 0%, rgba(255, 255, 255, 0.29) 100%) 0% 0% no-repeat padding-box;"
	>
	<div class="w-full h-2 absolute top-0 bg-ca_green"></div>
	<div class="w-full h-2 absolute bottom-0 bg-ca_primary"></div>
		<div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0 flex flex-col justify-center items-center">
			<!-- Logo -->
			<div class="w-40 mx-auto">
				<img src="assets/images/logo/logo.svg" />
			</div>

			<!-- Title -->
			<div class="mt-8 text-lg tracking-tight leading-tight text-ca-green">
				BIENVENUE DANS VOTRE ESPACE
			</div>
			<div class="flex items-baseline mt-0.5 font-medium"></div>

			<!-- Alert -->
			<alert
				class="mt-8 -mb-4"
				*ngIf="showAlert"
				[appearance]="'outline'"
				[showIcon]="false"
				[type]="alert.type"
				[@shake]="alert.type === 'error'"
			>
				{{ alert.message }}
			</alert>

			<!-- Sign in form -->
			<form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm" (submit)="signIn()">
				<!-- Email field
                <mat-form-field class="w-full">
                    <mat-label>Login</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="signInForm.get('email').hasError('required')">
                        Email address is required
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                   -->
				<!-- username -->
				<mat-form-field class="w-full">
					<!-- <mat-label>Login</mat-label> -->
					<div class="flex">
						<div class="bg-ca_primary flex justify-center items-center" style="min-height: 40px; min-width: 40px; border-radius: 5px 0 0 5px; margin-right: 10px;">
							<mat-icon
								class="icon-size-5 text-white"
								[svgIcon]="'heroicons_solid:user'" 
							></mat-icon>
						</div>
						<input id="username" matInput [formControlName]="'username'" placeholder="Login" />
					</div>
					<mat-error> Nom utilisateur obligatoire</mat-error>
					<!-- <mat-error *ngIf="signInForm.get('username').hasError('required')">
						Nom utilisateur obligatoire
					</mat-error> -->
				</mat-form-field>

				<!-- Password field -->
				<mat-form-field class="w-full">
					<!-- <mat-label>Mot de passe</mat-label> -->
					<div class="flex">
						<div class="bg-ca_primary flex justify-center items-center" style="min-height: 40px; min-width: 40px; border-radius: 5px 0 0 5px; margin-right: 10px;">
							<mat-icon
								class="icon-size-5 text-white"
								[svgIcon]="'heroicons_solid:lock-closed'"
							></mat-icon>
						</div>
						<input id="password" matInput type="password" [formControlName]="'password'" #passwordField placeholder="Mot de passe"/>
					</div>
					<button
						tabindex="-1"
						mat-icon-button
						type="button"
						(click)="
							passwordField.type === 'password'
								? (passwordField.type = 'text')
								: (passwordField.type = 'password')
						"
						matSuffix
					>
						<mat-icon
							class="icon-size-5"
							*ngIf="passwordField.type === 'password'"
							[svgIcon]="'heroicons_solid:eye'"
						></mat-icon>
						<mat-icon
							class="icon-size-5"
							*ngIf="passwordField.type === 'text'"
							[svgIcon]="'heroicons_solid:eye-off'"
						></mat-icon>
					</button>
					<mat-error> Password Obligatoire </mat-error>
				</mat-form-field>

				<div class="flex justify-center text-gray-500">
					<span>Mot de passe oublier ?</span>
				</div>
				<!-- Actions -->

				<!-- Submit button -->
				<button
					class="w-full mt-6 text-white flex justify-center items-center bg-ca_primary"
					style="border-radius: 8px; width: 388px; height: 45px;"
					[disabled]="signInForm.disabled"
					type="submit"
				>
					<span *ngIf="!signInForm.disabled"> Se connecter </span>
					<mat-progress-spinner
						*ngIf="signInForm.disabled"
						[diameter]="24"
						[mode]="'indeterminate'"
					></mat-progress-spinner>
				</button>
			</form>
		</div>
	</div>
</div>
