<div class="row tab-container bg-cam" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="dataSource"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 900px"
		multiTemplateDataRows
	>
		<ng-container [matColumnDef]="'financialObjectName'" *ngIf="request.creditTypeId == requestTypes.HABITAT">
			<th mat-header-cell *matHeaderCellDef>Type Bien</th>
			<td mat-cell *matCellDef="let data; let i = dataIndex">
				{{ data["financialObjectName"] }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="'financialProductName'">
			<th mat-header-cell *matHeaderCellDef>Produit Financement</th>
			<td mat-cell *matCellDef="let data">{{ data["financialProductName"] }}</td>
		</ng-container>

		<ng-container [matColumnDef]="'prelevementTypeCode'">
			<th mat-header-cell *matHeaderCellDef>Prelev.</th>
			<td mat-cell *matCellDef="let data">{{ typeToString(data["prelevementTypeCode"]) }}</td>
		</ng-container>

		<ng-container [matColumnDef]="'goodAmount'">
			<th mat-header-cell *matHeaderCellDef>Montant À Financer</th>
			<td mat-cell *matCellDef="let data" class="text-right">
				{{ data["goodAmount"] | number: ".2":"fr" }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="'rate'">
			<th mat-header-cell *matHeaderCellDef>Taux</th>
			<td mat-cell *matCellDef="let data" class="text-right">
				{{ data["rate"] | number: ".2":"fr" }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="'duration'">
			<th mat-header-cell *matHeaderCellDef>Duree</th>
			<td class="text-right" mat-cell *matCellDef="let data">{{ data["duration"] }}</td>
		</ng-container>

		<ng-container [matColumnDef]="'differe'">
			<th mat-header-cell *matHeaderCellDef>Differe</th>
			<td mat-cell *matCellDef="let data">{{ data["differe"] }}</td>
		</ng-container>

		<ng-container [matColumnDef]="'monthlyPayment'">
			<th mat-header-cell *matHeaderCellDef>Montant Échéance</th>
			<td mat-cell *matCellDef="let data" class="text-right">
				{{ data["monthlyPayment"] | number: ".2":"fr" }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="'insurance'">
			<th mat-header-cell *matHeaderCellDef>Assurance</th>
			<td mat-cell *matCellDef="let data" class="text-right">
				{{ data["insurance"] | number: ".2":"fr" }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="'cntStatusName'">
			<th mat-header-cell *matHeaderCellDef>Statut Cnt</th>
			<td mat-cell *matCellDef="let data">{{ data["cntStatusName"] }}</td>
		</ng-container>

		<ng-container [matColumnDef]="'startDate'">
			<th mat-header-cell *matHeaderCellDef>Date De Début</th>
			<td mat-cell *matCellDef="let data" class="text-center">
				{{ data["startDate"] | date: "dd/MM/yyyy" }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="'endDate'">
			<th mat-header-cell *matHeaderCellDef>Date Fin</th>
			<td mat-cell *matCellDef="let data" class="text-center">
				{{ data["endDate"] | date: "dd/MM/yyyy" }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="'Evolan'">
			<th mat-header-cell *matHeaderCellDef>Evolan</th>
			<td mat-cell *matCellDef="let element">
                {{element.nodoss}}
            </td>
		</ng-container>

		<ng-container [matColumnDef]="'Action'">
			<th mat-header-cell *matHeaderCellDef>Action</th>
			<td mat-cell *matCellDef="let element">
				<button
					mat-mini-fab
					[color]="'primary'"
					matTooltip="Attacher dossier EVOLAN"
					class="custom-mini-fab"
					(click)="onAttache(element)"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:paper-clip"></mat-icon>
				</button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		<!-- to be removed: a hacky-ish way to hook into network requests -->
		{{
			checkColPriv()
		}}
	</table>
</div>
