<div class="bg-indigo-50 flex-col w-full sm:p-10 p-2">
	<mat-expansion-panel hideToggle class="rounded-t-xl" [expanded]="true">
		<mat-expansion-panel-header class="mb-5">
			<div class="w-full flex justify-center">
				<h4 class="ml-3 font-bold">{{ state ? "MODIFIER" : "NOUVEAU" }} COMITE</h4>
			</div>
		</mat-expansion-panel-header>
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-12 gap-2 w-full min-w-0">
			<mat-expansion-panel hideToggle class="md:col-span-4 rounded-t-xl" [expanded]="true">
				<mat-expansion-panel-header class="expan-panel header" #panel1 (click)="panel1._toggle()">
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">TYPE</h4>
					</div>
				</mat-expansion-panel-header>

				<div class="flex flex-col pt-2">
					<div class="flex mb-5" *ngIf="state">
						<mat-label class="w-1/3">N° comité: </mat-label>
						<span class="pl-2 w-2/3"><strong>{{comiteEntet.committeNumber}}</strong></span>
					</div>

					<div class="flex flex-col gt-xs:flex-row">
						<mat-form-field class="flex-auto gt-xs:pr-3">
							<mat-label>Type de comité</mat-label>
							<mat-select [(ngModel)]="comiteEntet.committeeType" [compareWith]="compareObjects">
								<mat-option *ngFor="let item of objects" [value]="item.code">
									{{ item.designation }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<!-- date et heure -->
					<div class="flex flex-col gt-xs:flex-row">
						<mat-form-field class="flex-auto gt-xs:pr-3">
							<input matInput [matDatepicker]="picker" placeholder="choisir une date"
								[(ngModel)]="comiteEntet.committeeDate" [disabled]="false" />
							<mat-datepicker-toggle matSuffix [for]="picker">
							</mat-datepicker-toggle>
							<mat-datepicker #picker [touchUi]="false" [color]="'primary'">
							</mat-datepicker>
						</mat-form-field>
					</div>
				</div>
			</mat-expansion-panel>

			<mat-expansion-panel hideToggle class="md:col-span-7 rounded-t-xl" [expanded]="true">
				<mat-expansion-panel-header class="expan-panel header" style="" #panel2 (click)="panel2._toggle()">
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">INTERVENANTS</h4>
					</div>
				</mat-expansion-panel-header>

				<div class="grid grid-cols-1 overflow-hidden pt-2">
					<!-- Form Array -->
					<div class="flex flex-col flex-auto overflow-auto" *ngIf="isReady" (submit)="onSave()">
						<table>
							<tr>
								<td class="w-30"></td>
								<td class="w-40"></td>
								<td class="text-center w-5">
									<button matTooltip="Ajouter intervenant" mat-mini-fab class="custom-mini-fab mb-4"
										[color]="'primary'" (click)="addNewItem()">
										<mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus"></mat-icon>
									</button>
								</td>
							</tr>
							<tr *ngFor="let item of comiteEntet.participants; let i = index">
								<ng-container>
									<td class="px-2">
										<mat-form-field class="w-full">
											<mat-select required="" [(ngModel)]="comiteEntet.participants[i].qualityCode">
												<mat-option *ngFor="let quality of qualitys; let j=index"
													[value]="quality.code">
													{{quality.designation}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</td>

									<td class="px-2">
										<mat-form-field class="w-full">
											<mat-select required="" [(ngModel)]="comiteEntet.participants[i].participantId">
												<mat-option *ngFor="let option of usersList"
													[value]="option.identifiant">
													{{ option.fullName }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</td>

									<td class="w-5 text-center">
										<button matTooltip="Supprimer intervenant" mat-mini-fab
											class="custom-mini-fab mb-4" [color]="'warn'" (click)="removeItem(item,i)">
											<mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
										</button>
									</td>
								</ng-container>
							</tr>
						</table>
					</div>
				</div>
			</mat-expansion-panel>
			
			<div class="flex md:flex-col flex-row gap-2">
				<button mat-raised-button [color]="'primary'" style="width: 86px" (click)="onSaveCommite()">
					Enregistrer
				</button>
				<button mat-raised-button [color]="'warn'" style="width: 86px;" (click)="onRetour()">
					Retour
				</button>
			</div>
		</div>
	</mat-expansion-panel>

	<mat-expansion-panel hideToggle class="rounded-t-xl mt-5" [expanded]="true">
		<mat-expansion-panel-header class="mb-5">
			<div class="w-full flex justify-center">
				<h4 class="ml-3 font-bold">Demandes élligibles</h4>
			</div>
		</mat-expansion-panel-header>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full min-w-0" cdkDropListGroup>
			<mat-expansion-panel hideToggle class="rounded-t-xl" [expanded]="true">
				<mat-expansion-panel-header class="expan-panel header" style="" #panelList
					(click)="panelList._toggle()">
					<div class="w-full flex justify-center items-center gap-3">
						<h4 class="ml-3 font-bold">Liste des demandes</h4>
						<button (click)="moveRequests(todo)" [disabled]="!bucket.length" mat-raised-button>
							affecter ({{bucket.length}})
						</button>
					</div>
				</mat-expansion-panel-header>
				<div class="flex overflow-auto">
					<div cdkDropList [cdkDropListData]="todo" class="example-list min-w-160" (cdkDropListDropped)="drop($event)">
						<div class="
								flex
								border-indigo-100 border-b
								px-4
								items-center
								py-1
								cursor-pointer
								text-sm
								font-bold
								header-table-gry
								rounded-t-xl
								mt-2
							">
							<div class="flex-initial w-40 pl-0">
								<mat-checkbox (change)="toggleAll($event.checked, todo)">
									{{ checkedCount(todo) + " checked"}}
								</mat-checkbox>
							</div>
							<div class="flex-initial w-40 pl-0">N°Demande</div>
							<div class="flex-initial w-40 pl-2">Date</div>
							<div class="flex-initial w-30 pl-2">Type demande</div>
							<div class="flex-initial w-40 pl-2">Intitulé Compte</div>
							<div class="flex-initial w-20">Statut</div>
							<div class="flex-initial w-5"></div>
						</div>
						<div class="
								flex
								border-indigo-100 border-b
								px-4
								items-center
								py-1
								cursor-pointer
								text-14
							" *ngFor="let item of todo" cdkDrag>
							<div class="flex-initial break-words w-40 pl-0">
								<mat-checkbox [(ngModel)]="item.checked" (change)="checkboxClicked($event.checked, item)">
								</mat-checkbox>
							</div>
							<div class="flex-initial break-words w-40 pl-0">
								{{ item.requestNumber }}
							</div>
							<div class="flex-initial w-40 pl-2">
								{{ item.creationDate | date: "dd/MM/yy HH:mm" }}
							</div>
							<div class="flex-initial w-30 pl-2">{{ item.creditTypeName }}</div>
							<div class="flex-initial break-words w-40 pl-2">
								{{ item.accountNumber }}
							</div>
							<div class="flex-initial w-20 pl-2" [matTooltip]="item.statusName">
								<div class="
										rounded-full
										h-5
										w-5
										shadow-lg
										flex
										items-center
										justify-center
									" [style.background]="item.statusColor"></div>
							</div>
							<div class="w-5">
								<button matTooltip="Plus de detail" mat-mini-fab class="custom-mini-fab"
									[color]="'primary'">
									<mat-icon class="icon-size-4" svgIcon="heroicons_outline:zoom-in"></mat-icon>
								</button>
							</div>
						</div>
					</div>
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel hideToggle class="rounded-t-xl" [expanded]="true">
				<mat-expansion-panel-header class="expan-panel header" style="" #panelaffecte
					(click)="panelaffecte._toggle()">
					<div class="w-full flex justify-center items-center gap-3">
						<h4 class="ml-3 font-bold">Demandes programmées</h4>
						<button (click)="moveRequests(done)" [disabled]="!bucket.length" mat-raised-button>
							affecter ({{bucket.length}})
						</button>
					</div>
				</mat-expansion-panel-header>
				<div class="flex overflow-auto">
					<div cdkDropList [cdkDropListData]="done" class="example-list min-w-160" (cdkDropListDropped)="drop($event)">
						<div class="
								flex
								border-indigo-100 border-b
								px-4
								items-center
								py-1
								cursor-pointer
								text-sm
								font-bold
								header-table-gry
								rounded-t-xl
								mt-2
							">
							<div class="flex-initial w-40 pl-0">
								<mat-checkbox (change)="toggleAll($event.checked, done)">
									{{ checkedCount(done) + " checked"}}
								</mat-checkbox>
							</div>
							<div class="flex-initial w-40 pl-0">N°Demande</div>
							<div class="flex-initial w-40 pl-2">Date</div>
							<div class="flex-initial w-30 pl-2">Type demande</div>
							<div class="flex-initial w-40 pl-2">Intitulé Compte</div>
							<div class="flex-initial w-20">Statut</div>
							<div class="flex-initial w-5"></div>
						</div>
						<div class="
								flex
								border-indigo-100 border-b
								px-4
								items-center
								py-1
								cursor-pointer
							" *ngFor="let item of done" cdkDrag>
							<div class="flex-initial break-words w-40 pl-0">
								<mat-checkbox [(ngModel)]="item.checked" (change)="checkboxClicked($event.checked, item)">
								</mat-checkbox>
							</div>
							<div class="flex-initial break-words w-40 pl-0">
								{{ item.requestNumber }}
							</div>
							<div class="flex-initial w-40 pl-2">
								{{ item.creationDate | date: "dd/MM/yy HH:mm" }}
							</div>
							<div class="flex-initial w-30 pl-2">{{ item.creditTypeName }}</div>
							<div class="flex-initial break-words w-40 pl-2">
								{{ item.accountNumber }}
							</div>
							<div class="flex-initial w-20 pl-2" [matTooltip]="item.statusName">
								<div class="
										rounded-full
										h-5
										w-5
										shadow-lg
										flex
										items-center
										justify-center
									" [style.background]="item.statusColor"></div>
							</div>
							<div class="w-5">
								<button (click)="ondemandDetail(item)" matTooltip="Plus de detail" mat-mini-fab
									class="custom-mini-fab" [color]="'primary'">
									<mat-icon class="icon-size-4" svgIcon="heroicons_outline:zoom-in"></mat-icon>
								</button>
							</div>
						</div>
					</div>
				</div>
			</mat-expansion-panel>
		</div>
	</mat-expansion-panel>
</div>