<div class="tab-container mt-5 bg-cam" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="dataSource"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 500px"
	>
		<!-- numdossier Column -->
		<ng-container [matColumnDef]="displayedColumns[0]">
			<th mat-header-cell *matHeaderCellDef class="w-80">Nature</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
			<td mat-footer-cell *matFooterCellDef>
				<mat-form-field *ngIf="routingService.isDemandeRW()" class="w-full">
					<mat-label>Nature</mat-label>
					<mat-select [(ngModel)]="fiancialObjectDto.goodTypeId">
						<mat-option [value]="">Séléctionnez</mat-option>
						<mat-option *ngFor="let item of listBien" [value]="item.id">
							{{ item.designation }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
		</ng-container>

		<!-- objet Column -->
		<ng-container [matColumnDef]="displayedColumns[1]">
			<th mat-header-cell *matHeaderCellDef>Référence</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[1]] }}</td>
			<td mat-footer-cell *matFooterCellDef>
				<mat-form-field *ngIf="routingService.isDemandeRW()">
					<mat-label>Référence</mat-label>
					<input matInput [(ngModel)]="fiancialObjectDto.landTitle" />
				</mat-form-field>
			</td>
		</ng-container>

		<!-- nominalAuth Column -->
		<ng-container [matColumnDef]="displayedColumns[2]">
			<th mat-header-cell *matHeaderCellDef>Description</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[2]] }}</td>
			<td mat-footer-cell *matFooterCellDef>
				<mat-form-field *ngIf="routingService.isDemandeRW()">
					<mat-label>Description</mat-label>
					<input matInput [(ngModel)]="fiancialObjectDto.observation" />
				</mat-form-field>
			</td>
		</ng-container>

		<!-- encours Column -->
		<ng-container [matColumnDef]="displayedColumns[3]">
			<th mat-header-cell *matHeaderCellDef>Valeur</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element[displayedColumns[3]] | number: ".2":"es" }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<mat-form-field *ngIf="routingService.isDemandeRW()">
					<mat-label> Montant </mat-label>
					<input matInput [(ngModel)]="fiancialObjectDto.value" />
				</mat-form-field>
				<mat-form-field *ngIf="routingService.isDemandeRW()">
					<mat-label> Part (%)</mat-label>
					<input matInput [(ngModel)]="fiancialObjectDto.quota" />
				</mat-form-field>
			</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[4]">
			<th mat-header-cell *matHeaderCellDef>Part (%)</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element[displayedColumns[4]] | number: ".2":"es" }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>



		<ng-container [matColumnDef]="'action'">
			<th mat-header-cell *matHeaderCellDef class="text-right">
				<button
					*ngIf="
						routingService.isDemandeRW() &&
						utilsService.hasPrivilege(utilsService.privilegeCodes.maj_patrimoine_m)
					"
					matTooltip="Ajouter"
					class="custom-mini-fab"
					mat-mini-fab
					[color]="'secondary'"
					(click)="onAdd2()"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus"></mat-icon>
				</button>
			</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				<button
					matTooltip="Supprimer"
					*ngIf="
						routingService.isDemandeRW() &&
						utilsService.hasPrivilege(utilsService.privilegeCodes.maj_patrimoine_s) &&
						!element['annulationDate']
					"
					class="custom-mini-fab"
					mat-mini-fab
					[color]="'warn'"
					(click)="onDelete(element)"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
				</button>

                <button
                    *ngIf="
						routingService.isDemandeRW() &&
						utilsService.hasPrivilege(utilsService.privilegeCodes.maj_patrimoine_m) &&
						!element['annulationDate']
					"
                    matTooltip="Modifier"
                    class="custom-mini-fab mx-2"
                    mat-mini-fab
                    [color]="'secondary'"
                    (click)="onUpdate(element)"
                >
                    <mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
                </button>

			</td>
			<td mat-footer-cell *matFooterCellDef class="text-right">
				<button
					*ngIf="routingService.isDemandeRW()"
					mat-icon-button
					color="primary"
					(click)="onAdd()"
				>
					<mat-icon svgIcon="heroicons_outline:check"></mat-icon>
				</button>
				<button
					*ngIf="routingService.isDemandeRW()"
					mat-icon-button
					color="warn"
					(click)="editStat = 0"
				>
					<mat-icon svgIcon="heroicons_outline:ban"></mat-icon>
				</button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		<tr mat-footer-row *matFooterRowDef="displayedColumnsFooter()"></tr>
	</table>
</div>
