<h2 mat-dialog-title *ngIf="casTraite === 1">Ajout bien</h2>
<h2 mat-dialog-title *ngIf="casTraite === 2">Ajout garantie</h2>
<h2 mat-dialog-title *ngIf="casTraite === 3">Ajout patrimoine</h2>
<div mat-dialog-content>
	<!--objet de financement-->
	<div class="w-full md:px-4 grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-4" *ngIf="casTraite === 1">
		<mat-form-field class="w-full">
			<mat-label>Type du bien</mat-label>
			<mat-select [(ngModel)]="fiancialObjectDto.goodTypeId">
				<mat-option *ngFor="let item of listBien" [value]="item.id">
					{{ item.designation }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<!-- objet Column -->

		<mat-form-field class="w-full">
			<mat-label>N° Titre</mat-label>
			<input matInput [(ngModel)]="fiancialObjectDto[displayedColumns[1]]" />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Propiétaire</mat-label>
			<input matInput [(ngModel)]="fiancialObjectDto[displayedColumns[2]]" />
		</mat-form-field>

		<!-- encours Column -->

		<mat-form-field class="w-30">
			<mat-label>Superficie (m²)</mat-label>
			<input
				matInput
				class="text-right"
				currencyMask
				[(ngModel)]="fiancialObjectDto[displayedColumns[3]]"
			/>
		</mat-form-field>

		<!-- crdu Column -->

		<mat-form-field>
			<mat-label>Adresse</mat-label>
			<input matInput [(ngModel)]="fiancialObjectDto[displayedColumns[4]]" />
		</mat-form-field>

		<!-- impaye Column -->

		<mat-form-field>
			<mat-label>Prix Achat</mat-label>
			<input
				matInput
				[(ngModel)]="fiancialObjectDto[displayedColumns[5]]"
				currencyMask
				[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
			/>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Justif transaction</mat-label>
			<input matInput [(ngModel)]="fiancialObjectDto[displayedColumns[6]]" />
		</mat-form-field>

		<mat-form-field class="w-30">
			<mat-label>Part (%) </mat-label>
			<input matInput class="text-right" currencyMask [(ngModel)]="fiancialObjectDto.quota" />
		</mat-form-field>
	</div>

	<!--garantie-->
	<div class="w-full md:px-4 grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-4" *ngIf="casTraite === 2">
		<mat-form-field>
			<mat-label>Nature</mat-label>
			<mat-select
				[(ngModel)]="guartiesDTO.nature"
				(selectionChange)="guarantySetNatureName($event.value)"
			>
				<mat-option *ngFor="let item of listBien" [value]="item.id">
					{{ item.designation }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Référence</mat-label>
			<input matInput [(ngModel)]="guartiesDTO.reference" />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Description</mat-label>
			<input matInput [(ngModel)]="guartiesDTO.description" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Observation</mat-label>
			<input matInput [(ngModel)]="guartiesDTO.observation" />
		</mat-form-field>

		<mat-form-field>
			<mat-label> Valeur </mat-label>
			<input
				matInput
				currencyMask
				[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				[(ngModel)]="guartiesDTO.value"
			/>
		</mat-form-field>
		<mat-form-field>
			<mat-label> Rang </mat-label>
			<input matInput min="0" step="1" (keypress)="keyPressNumbers($event)" type="number" [(ngModel)]="guartiesDTO.rank" />
		</mat-form-field>

        <mat-form-field>
            <mat-label> Total charges </mat-label>
            <input matInput currencyMask
                   [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }" [(ngModel)]="guartiesDTO.totalcharges" />
        </mat-form-field>

	</div>
	<!--patrimoine-->
	<div class="w-full md:px-4 grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-4" *ngIf="casTraite === 3">
		<mat-form-field class="w-full">
			<mat-label>Nature</mat-label>
			<mat-select [(ngModel)]="patrimonyDto.goodTypeId">
				<mat-option [value]="">Séléctionnez</mat-option>
				<mat-option *ngFor="let item of listBien" [value]="item.id">
					{{ item.designation }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Référence</mat-label>
			<input matInput [(ngModel)]="patrimonyDto.landTitle" />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Description</mat-label>
			<input matInput [(ngModel)]="patrimonyDto.observation" />
		</mat-form-field>

		<mat-form-field>
			<mat-label> Valeur </mat-label>
			<input
				matInput
				currencyMask
				[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
				[(ngModel)]="patrimonyDto.value"
			/>
		</mat-form-field>

		<mat-form-field class="w-30">
			<mat-label> Part (%)</mat-label>
			<input matInput currencyMask [(ngModel)]="patrimonyDto.quota" />
		</mat-form-field>
		<!---->
	</div>
</div>
<div mat-dialog-actions class="flex justify-end">
	<button mat-raised-button (click)="onValide()" [color]="'primary'" cdkFocusInitial>
		Enregistrer
	</button>
	<button mat-raised-button [mat-dialog-close]="true" [color]="'warn'">Fermer</button>
</div>
