<div class="w-full flex-col">
	<div class="w-full">
		<mat-form-field class="w-full">
			<mat-label>Utilisateur</mat-label>
			<mat-select [(ngModel)]="data['userId']">
				<mat-option *ngFor="let item of data?.action?.users" [value]="item['userId']">
					{{ item.userName }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<div class="w-full">
		<mat-form-field
			appearance="outline"
			class="wkf-mat-textarea flex-auto w-full mat-dense-xs mat-no-subscript"
		>
			<mat-label>Commentaire</mat-label>
			<textarea [(ngModel)]="data['note']" matInput [rows]="3" matTextareaAutosize></textarea>
		</mat-form-field>
	</div>

	<div class="w-full flex justify-end mt-2">
		<button mat-raised-button color="primary" (click)="onExecuter()">Enregistrer</button>
	</div>
</div>
