<h2 mat-dialog-title>Ajouter Demande de crédit</h2>
<div mat-dialog-content>
    <app-account-find-show (onAccountFetch)="onFetchAccount($event)"></app-account-find-show>

    <div class="w-auto max-w-full mt-8 items-center">
        <table
            mat-table
            class="mat-datatable table-simulation bg-white w-full"
            [dataSource]="simulationList"
            matSort
            matSortDirection="asc"
        >
            <ng-container matColumnDef="nomPrenom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                    Relation
                </th>
                <td mat-cell *matCellDef="let element" class="w-80">
                    {{ element.clientName }}
                </td>
            </ng-container>
            <ng-container matColumnDef="cin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center w-10">
                    CIN
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.cin }}
                </td>
            </ng-container>

            <ng-container matColumnDef="goodNature">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                    Nature du bien
                </th>
                <td mat-cell *matCellDef="let element" matTooltip="{{ financialObjectName }}">
                    {{ element.financialObject }}
                </td>
            </ng-container>
            <ng-container matColumnDef="pack">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Pack</th>
                <td mat-cell *matCellDef="let element" class="w-100">{{ element.packName }}</td>
            </ng-container>

            <ng-container matColumnDef="prelevementType">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="text-center w-5"
                    matTooltip="Type prélèvement"
                >
                    T.P.
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                    [matTooltip]="element.sampleTypeName"
                    class="text-center"
                >
                    {{ element.sampleTypeCode }}
                </td>
            </ng-container>

            <ng-container matColumnDef="duration">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="text-right w-5"
                    matTooltip="Durée"
                >
                    D
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    {{ element.duration }}
                </td>
            </ng-container>

            <ng-container matColumnDef="deferred">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="text-center w-5"
                    matTooltip="Différé"
                >
                    Dif.
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    {{ element.deferredPeriod }}
                </td>
            </ng-container>

            <ng-container matColumnDef="rate">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="text-center w-5"
                    matTooltip="Taux"
                >
                    Tx
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">{{ element.rate }}</td>
            </ng-container>

            <ng-container matColumnDef="monthlyPayment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                    Echéance
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    {{ element.monthlyPayment | number: ".2":"fr" }}
                </td>
            </ng-container>
            <ng-container matColumnDef="goodAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                    Mnt du bien
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    {{ element.amountRequested | number: ".2":"fr" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="amountGranted">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                    Mnt accordé
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    {{ element.amountFinanced | number: ".2":"fr" }}
                </td>
            </ng-container>
            <ng-container matColumnDef="otherFees">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                    Autres frais
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    {{ element.othersFees | number: ".2":"fr" }}
                </td>
            </ng-container>
            <ng-container matColumnDef="contributionAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                    Apport
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    {{ element.contributionAmount | number: ".2":"fr" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"></th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <mat-checkbox [color]="'primary'" [(ngModel)]="element['checked']">
                    </mat-checkbox>
                </td>
            </ng-container>
            <tr
                mat-header-row
                *matHeaderRowDef="displayedSimulationColumns"
                class="header-table-gry"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedSimulationColumns"></tr>
        </table>
    </div>
</div>
<div mat-dialog-actions class="flex justify-end">
    <div class="flex flex-col w-full">
        <div class="w-52 mt-3">
            <mat-form-field
                appearance="outline"
                class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
            >
                <mat-label>Date 1ère échéance</mat-label>
                <input
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Date de dédut"
                    [(ngModel)]="demandeToCreate['startDate']"
                    [disabled]="false"
                />
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker [touchUi]="false" [color]="'primary'">
                </mat-datepicker>
            </mat-form-field>
        </div>
        <!--<div class="w-full mt-2">
            <mat-form-field
                appearance="outline"
                class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
            >
                <mat-label>Objet de crédit</mat-label>
                <textarea
                    [(ngModel)]="demandeToCreate['objectCredit']"
                    matInput
                    [rows]="5"
                    matTextareaAutosize
                ></textarea>
            </mat-form-field>
        </div>-->
    </div>
    <div class="flex gap-1 mt-4">
        <button mat-raised-button (click)="onValide()" [color]="'primary'" cdkFocusInitial>
            Demander ce crédit
        </button>
        <button mat-raised-button [mat-dialog-close]="true" [color]="'warn'">Fermer</button>
    </div>
</div>
