<div class="md:flex w-full">
	<div class="w-full md:w-3/8">
		<mat-tab-group class="px-0 mt-2 mb-0" [animationDuration]="'500'" mat-align-tabs="center">
			<!-- Home -->
			<mat-tab
				label="Tier {{ i + 1 }} : {{ tierInst?.personId }}  "
				class="px-0 mb-0"
				*ngFor="let tierInst of ficheSignaletique?.persons; let i = index"
			>
				<ng-template matTabContent>
					<!--<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 w-full min-w-0">-->
					<div
						class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 gap-6 w-full min-w-0"
					>
						<div class="grid grid-cols-2 gap-x-4 gap-y-2 w-full mt-1">
							<div
								class="
									flex
									text-md
									font-medium
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								Id Tier
							</div>
							<div
								class="
									flex
									text-md
									font-semibold
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								{{ tierInst?.personId }}
							</div>

							<div
								class="
									flex
									text-md
									font-medium
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								Raison sociale
							</div>
							<div
								class="
									flex
									text-md
									font-semibold
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								{{ tierInst?.entityName }}
							</div>

							<div
								class="
									flex
									text-md
									font-medium
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								Groupe
							</div>
							<div
								class="
									flex
									text-md
									font-semibold
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							></div>

							<div
								class="
									flex
									text-md
									font-medium
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								N°RC
							</div>
							<div
								class="
									flex
									text-md
									font-semibold
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								{{ tierInst?.registrationNumber }}
							</div>

							<div
								class="
									flex
									text-md
									font-medium
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								Date de création
							</div>
							<div
								class="
									flex
									text-md
									font-semibold
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								{{ tierInst?.creationDate | date: "dd/MM/yyyy" }}
							</div>

							<div
								class="
									flex
									text-md
									font-medium
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								Ville RC
							</div>
							<div
								class="
									flex
									text-md
									font-semibold
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								{{ tierInst?.courtName }}
							</div>

							<div
								class="
									flex
									text-md
									font-medium
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								ICE
							</div>
							<div
								class="
									flex
									text-md
									font-semibold
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								{{ tierInst?.ice }}
							</div>

							<div
								class="
									flex
									text-md
									font-medium
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								Adresse siège social
							</div>
							<div
								class="
									flex
									text-md
									font-semibold
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								{{ tierInst?.adress }}
							</div>

							<div
								class="
									flex
									text-md
									font-medium
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								Capital
							</div>
							<div
								class="
									flex
									text-md
									font-semibold
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								{{ tierInst?.capital }}
							</div>

							<div
								class="
									flex
									text-md
									font-medium
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								Objet social
							</div>
							<div
								class="
									flex
									text-md
									font-semibold
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							></div>

							<div
								class="
									flex
									text-md
									font-medium
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								Téléphones
							</div>
							<div
								class="
									flex
									text-md
									font-semibold
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								{{ tierInst?.phoneNumber }}
							</div>

							<div
								class="
									flex
									text-md
									font-medium
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								E-Mail
							</div>
							<div
								class="
									flex
									text-md
									font-semibold
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								{{ tierInst?.email }}
							</div>

							<div
								class="
									flex
									text-md
									font-medium
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								Forme juridique
							</div>
							<div
								class="
									flex
									text-md
									font-semibold
									bg-accent-200
									border border-accent-400
									shadow-lg
									px-3
									py-1
									justify-center
									items-center
									rounded-lg
								"
							>
								{{ tierInst?.legalStatusName }}
							</div>
						</div>
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</div>
	<div class="w-full md:w-5/8 mt-5 pl-4">
		<div class="w-full flex flex-col">
			<div class="w-full font-semibold text-md">Associés et gérants</div>
			<div class="w-full mt-4 font-semibold text-md">Répartition capital</div>
			<div class="w-full">
				<table mat-table [dataSource]="listPartner" class="mat-datatable w-full">
					<ng-container matColumnDef="nom">
						<th mat-header-cell *matHeaderCellDef class="px-1">
							Nom prénom / Raison sociale
						</th>
						<td mat-cell *matCellDef="let element">{{ element.beneficalOwnerName }}</td>
					</ng-container>
					<ng-container matColumnDef="perct">
						<th mat-header-cell *matHeaderCellDef class="px-1">%</th>
						<td class="text-right" mat-cell *matCellDef="let element">{{ element.beneficalOwnerPart }}</td>
					</ng-container>
					<ng-container matColumnDef="CINRC">
						<th mat-header-cell *matHeaderCellDef class="px-1">CIN/RC</th>
						<td mat-cell *matCellDef="let element">
							{{ element.beneficalOwnerNumber }}
						</td>
					</ng-container>

					<ng-container matColumnDef="dateNaiss">
						<th mat-header-cell *matHeaderCellDef class="px-1">
							Date naissance/Date création
						</th>
						<td class="text-right" mat-cell *matCellDef="let element">{{ element.creationDate | date: "dd/MM/yyyy" }}</td>
					</ng-container>

					<ng-container matColumnDef="activite">
						<th mat-header-cell *matHeaderCellDef class="px-1">Activité principale</th>
						<td mat-cell *matCellDef="let element">{{ element.activityName }}</td>
					</ng-container>

					<ng-container matColumnDef="diplome">
						<th mat-header-cell *matHeaderCellDef class="px-1">
							Diplôme/Qualification
						</th>
						<td mat-cell *matCellDef="let element">
							<mat-form-field
								class="mat-no-subscript mat-dense-xs w-30"
								appearance="outline"
							>
								<input [disabled]="!hasWritePriv()" matInput [(ngModel)]="element.diploma" />
							</mat-form-field>
						</td>
					</ng-container>
					<ng-container matColumnDef="experience">
						<th mat-header-cell *matHeaderCellDef matTooltip="Expérience" class="px-1">
							Exp
						</th>
						<td mat-cell *matCellDef="let element">
							<mat-form-field
								class="mat-no-subscript mat-dense-xs w-20"
								appearance="outline"
							>
								<input [disabled]="!hasWritePriv()"
									matInput
									width
									type="number"
									[(ngModel)]="element.experience"
								/>
							</mat-form-field>
						</td>
					</ng-container>
					<!-- <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="px-1">  </th>
                        <td mat-cell *matCellDef="let element">

                        </td>
                    </ng-container> -->
					<tr
						mat-header-row
						*matHeaderRowDef="[
							'nom',
							'perct',
							'CINRC',
							'dateNaiss',
							'activite',
							'diplome',
							'experience'
						]"
						class="header-table-gry"
					></tr>
					<tr
						mat-row
						*matRowDef="
							let row;
							columns: [
								'nom',
								'perct',
								'CINRC',
								'dateNaiss',
								'activite',
								'diplome',
								'experience'
							]
						"
					></tr>
				</table>
			</div>
			<div class="w-full mt-4 font-semibold text-md">Gérance</div>
			<div class="w-full">
				<table
					mat-table
					[dataSource]="listManagers"
					class="mat-datatable w-full max-w-full"
				>
					<ng-container matColumnDef="nom">
						<th mat-header-cell *matHeaderCellDef class="px-1">Nom prénom</th>
						<td mat-cell *matCellDef="let element">{{ element.managerName }}</td>
					</ng-container>
					<ng-container matColumnDef="qualite">
						<th mat-header-cell *matHeaderCellDef class="px-1">Qualité</th>
						<td mat-cell *matCellDef="let element">
							{{ element.qualityName }}
						</td>
					</ng-container>
					<ng-container matColumnDef="dureemandat">
						<th mat-header-cell *matHeaderCellDef class="px-1">Durée mandat</th>
						<td mat-cell *matCellDef="let element">N/A</td>
					</ng-container>

					<ng-container matColumnDef="dateexpiration">
						<th mat-header-cell *matHeaderCellDef class="px-1">Date expiration</th>
						<td mat-cell *matCellDef="let element">N/A</td>
					</ng-container>

					<ng-container matColumnDef="cin">
						<th mat-header-cell *matHeaderCellDef class="px-1">CIN</th>
						<td mat-cell *matCellDef="let element">{{ element.managerNumber }}</td>
					</ng-container>

					<ng-container matColumnDef="datenaiss">
						<th mat-header-cell *matHeaderCellDef class="px-1">Date de naissance</th>
						<td class="text-right" mat-cell *matCellDef="let element">{{ element.creationDate | date: "dd/MM/yyyy" }}</td>
					</ng-container>
					<ng-container matColumnDef="actitvite">
						<th mat-header-cell *matHeaderCellDef class="px-1">Activité principale</th>
						<td mat-cell *matCellDef="let element">{{ element.activityName }}</td>
					</ng-container>
					<ng-container matColumnDef="diplome">
						<th mat-header-cell *matHeaderCellDef class="px-1">
							Diplôme/Qualification
						</th>
						<td mat-cell *matCellDef="let element">
							<mat-form-field
								class="mat-no-subscript mat-dense-xs w-30"
								appearance="outline"
							>
								<input [disabled]="!hasWritePriv()" matInput [(ngModel)]="element.diploma" />
							</mat-form-field>
						</td>
					</ng-container>
					<ng-container matColumnDef="experience">
						<th mat-header-cell *matHeaderCellDef class="px-1">Exp</th>
						<td mat-cell *matCellDef="let element">
							<mat-form-field
								class="mat-no-subscript mat-dense-xs w-20"
								appearance="outline"
							>
								<input [disabled]="!hasWritePriv()"
									matInput
									width
									type="number"
									[(ngModel)]="element.experience"
								/>
							</mat-form-field>
						</td>
					</ng-container>
					<!-- <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="px-1">  </th>
                        <td mat-cell *matCellDef="let element">

                        </td>
                    </ng-container> -->
					<tr
						mat-header-row
						*matHeaderRowDef="[
							'nom',
							'qualite',
							'dureemandat',
							'dateexpiration',
							'cin',
							'datenaiss',
							'actitvite',
							'diplome',
							'experience'
						]"
						class="header-table-gry"
					></tr>
					<tr
						mat-row
						*matRowDef="
							let row;
							columns: [
								'nom',
								'qualite',
								'dureemandat',
								'dateexpiration',
								'cin',
								'datenaiss',
								'actitvite',
								'diplome',
								'experience'
							]
						"
					></tr>
				</table>
			</div>
		</div>

		
		<div class="w-full mt-2 flex justify-end">
			<button *ngIf="hasWritePriv()" mat-raised-button [color]="'primary'" (click)="updateDataSheet()" class="w-40">
				Enregistrer
			</button>
		</div>
	</div>
</div>
