<!-- Button -->
<button class="p-2">
	<div class="flex justify-center items-center gap-3">
		<span class="relative w-10 h-10">
			<img class="rounded-full border-2 border-white" src="assets/images/avatars/brian-hughes.jpg" />
			<span class="absolute right-0 bottom-0 w-3 h-3 rounded-full bg-green-500"></span>
		</span>

		<div class="flex flex-col justify-start items-start text-xs">
			<div class="font-bold">
				{{ user.fullName }}
			</div>
			<div class="font-small">
				{{ user.profilName }}
			</div>
			<div class="font-extralight">
				({{ user.entityName }})
			</div>
		</div>
	</div>
</button>
