<div class="w-full grid grid-cols-2 md:grid-cols-3 gap-x-6" *ngIf="['DSI','DAT','DIS'].indexOf(editedProject.productName) == -1">

    <div>
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Famille</mat-label>
            <mat-select [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" (selectionChange)="getNatureSurete()" [(ngModel)]="garantieMereId">
                <mat-option *ngFor="let item of listeFamilleSurete" [value]="item.id">
                    <span>{{item.designation}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Nature</mat-label>
            <mat-select [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" (selectionChange)="getCodeSurete()" [(ngModel)]="natureId">
                <mat-option *ngFor="let item of listeNatureSurete" [value]="item.id">
                    <span>{{item.designation}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Code</mat-label>
            <mat-select [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" [(ngModel)]="surete.suretyCode">
                <mat-option *ngFor="let item of listeCodeSurete" [value]="item.id">
                    <span>{{item.designation}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Identifiant sureté</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput [(ngModel)]="surete.suretyId" type="number">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Rang</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput [(ngModel)]="surete.rank" type="number">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Montant</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput [(ngModel)]="surete.amount" type="text" currencyMask
                [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
        </mat-form-field>
    </div>

</div>

<div class="w-full grid grid-cols-2 md:grid-cols-1 gap-x-6" *ngIf="editedProject.productName == 'DIS' || editedProject.productName == 'DAT'">
    <div>
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Sûreté</mat-label>
            <textarea [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput [(ngModel)]="surete.suretyName"></textarea>
        </mat-form-field>
    </div>
</div>

<div class="w-full flex justify-end gap-2">
    <button [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" mat-raised-button [color]="'primary'" (click)="saveSuretyeProject()">Enregistrer</button>
    <button mat-raised-button [color]="'warn'" (click)="onReturn()">Retour</button>
</div>