<mat-expansion-panel class="bg-gray mt-5 w-full" [expanded]="true">
	<mat-expansion-panel-header class=" expan-panel header">
		<div class="w-full flex justify-center">
			<h4 class="ml-3 font-bold">SAISIE GARANTIE SUR EG</h4>
		</div>
	</mat-expansion-panel-header>
	<div class="flex w-full mt-5 items-start flex-col">
		<div class="w-full flex">
			<!-- <button mat-raised-button [color]="'primary'" class="px-8 mx-10">Déblocage</button> -->
			<button mat-raised-button class="px-8 mx-4">Historique</button>
		</div>
		<div class="w-full mt-5 bg-cam" style="max-width: 100%; overflow: auto">
			<table
				mat-table
				[dataSource]="dataSource"
				class="mat-datatable small-table"
				width="100%"
				style="min-width: 500px"
			>
				<!-- numdossier Column -->
				<ng-container [matColumnDef]="displayedColumns[0]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[0] }}</th>
					<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
					<td mat-footer-cell *matFooterCellDef class="w-80"></td>
				</ng-container>

				<!-- objet Column -->
				<ng-container [matColumnDef]="displayedColumns[1]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[1] }}</th>
					<td mat-cell *matCellDef="let element" class="text-right">
						{{ element[displayedColumns[1]] | number: ".2":"es" }}
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>

				<!-- nominalAuth Column -->
				<ng-container [matColumnDef]="displayedColumns[2]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[2] }}</th>
					<td mat-cell *matCellDef="let element" class="text-center">
						{{ element[displayedColumns[2]] }}
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>

				<!-- encours Column -->
				<ng-container [matColumnDef]="displayedColumns[3]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[3] }}</th>
					<td mat-cell *matCellDef="let element" class="text-center">
						{{ element[displayedColumns[3]] }}
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>
				<ng-container [matColumnDef]="displayedColumns[4]">
					<th mat-header-cell *matHeaderCellDef>
						{{ displayedColumnsLielle[4] }}
					</th>
					<td mat-cell *matCellDef="let element" class="text-danger">
						{{ element[displayedColumns[4]] | number: ".2":"es" }}
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>
				<ng-container [matColumnDef]="displayedColumns[5]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[5] }}</th>
					<td mat-cell *matCellDef="let element" class="">
						{{ element[displayedColumns[5]] }}
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>

				<ng-container [matColumnDef]="displayedColumns[6]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[6] }}</th>
					<td mat-cell *matCellDef="let element" class="">
						{{ element[displayedColumns[6]] }}
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>
				<ng-container [matColumnDef]="displayedColumns[7]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[7] }}</th>
					<td mat-cell *matCellDef="let element" class="">
						<!-- <button mat-raised-button (click)="onDebloque(element)" [color]="'primary'">
                            Débloquer
                        </button> -->
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>

				<tr
					mat-header-row
					*matHeaderRowDef="displayedColumns"
					class="header-table-gry"
				></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
				<tr mat-footer-row *matFooterRowDef="displayedColumnsFooter()"></tr>
			</table>
		</div>
	</div>
</mat-expansion-panel>
