<div class="flex flex-col flex-auto w-full">
	<div class="flex flex-wrap w-full mx-auto p-6 md:p-8">
		<!-- Title and action buttons -->
		<div class="flex items-center justify-between w-full">
			<div>
				<!-- <div class="text-3xl font-semibold tracking-tight leading-8">
					Sort des avals
				</div> -->
				<div class="font-medium tracking-tight text-secondary"></div>
			</div>
			<div class="flex items-center ml-6">
				<button #clickMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="searchMenu" mat-stroked-button>
					<mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:filter'"></mat-icon>
					<span class="ml-2">Recherche</span>
				</button>

				<mat-menu #searchMenu="matMenu" yPosition="below" xPosition="before" class="panel-searche">
					<div class="flex flex-col flex-auto overflow-hidden bg-card p-3" (click)="$event.stopPropagation()">
						<div class="flex flex-wrap items-start mt-2">
							<div class="flex md:flex-row flex-col w-full gap-1">
								<mat-form-field class="w-full mat-dense-xs" appearance="outline">
									<mat-label>N° Compte</mat-label>
									<input matInput [(ngModel)]="critere.numerodecompte" />
								</mat-form-field>

								<mat-form-field class="w-full mat-dense-xs" appearance="outline">
									<mat-label>CIN</mat-label>
									<input matInput [(ngModel)]="critere.cin" />
								</mat-form-field>

								<mat-form-field class="w-full mat-dense-xs" appearance="outline">
									<mat-label>Nom</mat-label>
									<input matInput [(ngModel)]="critere.nom" />
								</mat-form-field>
							</div>
						</div>
						<div class="w-full flex md:flex-row flex-col justify-end p-3 gap-3">
							<button [color]="'primary'" mat-flat-button (click)="onRechercher()">
								Rechercher
							</button>
							<button [color]="'primary'" mat-flat-button (click)="onReset()">
								Réinitialiser
							</button>
						</div>
					</div>
				</mat-menu>
			</div>
		</div>

		<div class="flex flex-auto overflow-hidden w-full">
			<!-- Products list -->
			<div class="grid grid-cols-1 grid-flow-row gap-0 w-full mt-8 sm:mt-4">
				<!-- New vs. Closed -->
				<div class="flex flex-col flex-auto w-full">
					<div class="overflow-auto">
						<table mat-table class="mat-datatable bg-white w-full hover rounded-t-lg"
							[dataSource]="sortDemandeCCDataSource" matSort (matSortChange)="announceSortChange($event)">
	
							<ng-container matColumnDef="numerodecompte">
								<th mat-header-cell class="text-center" *matHeaderCellDef
									mat-sort-header>
									N° Compte
								</th>
								<td mat-cell *matCellDef="let element">
									<span>{{element.numerodecompte}}</span>
								</td>
							</ng-container>
	
							<ng-container matColumnDef="tiers">
								<th mat-header-cell class="text-center pl-5" *matHeaderCellDef
									mat-sort-header>
									Tiers
								</th>
								<td mat-cell *matCellDef="let element">
									<span>{{element.tiers}}</span>
								</td>
							</ng-container>
							<ng-container matColumnDef="agence">
								<th mat-header-cell class="text-center  pl-5" *matHeaderCellDef
									mat-sort-header>
									Agence
								</th>
								<td mat-cell *matCellDef="let element">
									<span>{{element.agence}}</span>
								</td>
							</ng-container>
							<ng-container matColumnDef="nom">
								<th mat-header-cell class="text-center  pl-5" *matHeaderCellDef
									mat-sort-header>
									Nom
								</th>
								<td mat-cell *matCellDef="let element">
									<span>{{element.nom}}</span>
								</td>
							</ng-container>
							<ng-container matColumnDef="prenom">
								<th mat-header-cell class="text-center  pl-5" *matHeaderCellDef
									mat-sort-header>
									Prénom
								</th>
								<td mat-cell *matCellDef="let element">
									<span>{{element.prenom}}</span>
								</td>
							</ng-container>
							<ng-container matColumnDef="referencepiece">
								<th mat-header-cell class="text-center  pl-5" *matHeaderCellDef
									mat-sort-header>
									CIN
								</th>
								<td mat-cell *matCellDef="let element">
									<span>{{element.referencepiece}}</span>
								</td>
							</ng-container>
	
							<ng-container matColumnDef="reponse">
								<th mat-header-cell class="text-center  pl-5" *matHeaderCellDef
									mat-sort-header>
									Sort
								</th>
								<td mat-cell *matCellDef="let element">
									<span [ngSwitch]="element.reponse">
	
										<mat-icon *ngSwitchCase="'ACCEPTE'" [matTooltip]="element.reponse"
											[style.color]="'#34d399'" svgIcon="mat_solid:circle"></mat-icon>
	
										<mat-icon *ngSwitchCase="'REJET'" [matTooltip]="element.reponse"
											[style.color]="'#fb7185'" svgIcon="mat_solid:circle"></mat-icon>
	
										<mat-icon *ngSwitchDefault [matTooltip]="element.reponse" [style.color]="'#778599'"
											class="icon-size-6 animate-spin-slow" [svgIcon]="'heroicons_outline:clock'">
										</mat-icon>
	
									</span>
	
								</td>
							</ng-container>
							<ng-container matColumnDef="motifrejet">
								<th mat-header-cell class=" pl-5" *matHeaderCellDef mat-sort-header>
									Motif
								</th>
								<td mat-cell *matCellDef="let element">
									<span>{{element.motifrejet}}</span>
								</td>
							</ng-container>
	
							<ng-container matColumnDef="Actions">
								<th mat-header-cell *matHeaderCellDef class="pl-5">
									Actions
								</th>
								<td mat-cell *matCellDef="let element" class="text-right">
	
									<button *ngIf="element.reponse!='En attente de traitement'"
										(click)="onPreparePrint(element)" mat-mini-fab class="custom-mini-fab"
										class="custom-mini-fab ml-2" [color]="'primary'" matTooltip="Imprimer">
										<mat-icon class="icon-size-4" svgIcon="heroicons_outline:printer"></mat-icon>
									</button>
									<button *ngIf="element.reponse!='En attente de traitement'"
										(click)="onPrepareArchive(element)" mat-mini-fab class="custom-mini-fab"
										class="custom-mini-fab ml-2" [color]="'primary'" matTooltip="Archiver">
										<mat-icon class="icon-size-4" svgIcon="heroicons_outline:archive"></mat-icon>
									</button>
	
								</td>
							</ng-container>
	
							<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry rounded-t-xl">
							</tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	
						</table>
					</div>
					<div class="flex flex-col flex-auto items-end w-full bg-card ">
						<mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons
							aria-label="Select page of periodic elements">
						</mat-paginator>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br><br><br>