<h2 mat-dialog-title *ngIf="dialogMode != 0">Autorisation de déblocage</h2>
<h2 mat-dialog-title *ngIf="dialogMode == 0">Liste des dossiers</h2>
<mat-dialog-content class="h-100">
	<div class="flex w-full mt-5 items-start flex-col">
		<div class="w-full grid md:grid-cols-2 grid-cols-1 gap-x-3" *ngIf="dialogMode != 0">
			<div class="w-full">
				<mat-form-field
					appearance="outline"
					class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
				>
					<mat-label>Objet</mat-label>
					<textarea
						[(ngModel)]="attestationConformite['object']"
						matInput
						[rows]="3"
						matTextareaAutosize
					></textarea>
				</mat-form-field>
			</div>

			<div class="w-full">
				<mat-form-field
					appearance="outline"
					class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
				>
					<mat-label>Observation</mat-label>
					<textarea
						[(ngModel)]="attestationConformite['observation']"
						matInput
						[rows]="3"
						matTextareaAutosize
					></textarea>
				</mat-form-field>
			</div>
		</div>

		<table
			mat-table
			[dataSource]="listDossierCredit"
			class="mat-datatable small-table w-full"
			width="100%"
			style="min-width: 500px"
		>
			<ng-container [matColumnDef]="displayedColumns[0]">
				<th mat-header-cell *matHeaderCellDef>N°Doss</th>
				<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[1]">
				<th mat-header-cell *matHeaderCellDef>Produit</th>
				<td mat-cell *matCellDef="let element">{{ element[displayedColumns[1]] }}</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[2]">
				<th mat-header-cell *matHeaderCellDef>Montant</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element[displayedColumns[2]] | number: ".2":"es" }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[3]">
				<th mat-header-cell *matHeaderCellDef>Montant Accordé</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element[displayedColumns[3]] | number: ".2":"es" }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[4]">
				<th mat-header-cell *matHeaderCellDef>Taux</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element[displayedColumns[4]] }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[5]">
				<th mat-header-cell *matHeaderCellDef>Durée</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element[displayedColumns[5]] }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[6]">
				<th mat-header-cell *matHeaderCellDef>Périodicité</th>
				<td mat-cell *matCellDef="let element" class="text-end">
					{{ element[displayedColumns[6]] }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[7]">
				<th mat-header-cell *matHeaderCellDef>Echéance</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element[displayedColumns[7]] | number: ".2":"es" }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[8]">
				<th mat-header-cell *matHeaderCellDef>Mnt à Débloquer</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					<mat-form-field
						*ngIf="element['checked'] || dialogMode == 0"
						class="mat-dense-xs mat-no-subscript mt-1"
					>
						<input
							[disabled]="dialogMode == 0"
							matInput
							[(ngModel)]="element[displayedColumns[8]]"
							currencyMask
							[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
						/>
					</mat-form-field>
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[9]">
				<th mat-header-cell *matHeaderCellDef>Montant justificatif</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					<mat-form-field
						*ngIf="element['checked'] || dialogMode == 0"
						class="mat-dense-xs mat-no-subscript mt-1"
					>
						<input
							[disabled]="dialogMode == 0"
							matInput
							[(ngModel)]="element[displayedColumns[9]]"
							currencyMask
							[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
						/>
					</mat-form-field>
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[10]">
				<th mat-header-cell *matHeaderCellDef>Justificatif</th>
				<td mat-cell *matCellDef="let element" class="text-end">
					<div class="w-40 pl-2">
						<mat-form-field
							*ngIf="element['checked'] || dialogMode == 0"
							class="mat-dense-xs mat-no-subscript mt-1"
						>
							<input
								[disabled]="dialogMode == 0"
								matInput
								[(ngModel)]="element[displayedColumns[10]]"
							/>
						</mat-form-field>
					</div>
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[11]">
				<th mat-header-cell *matHeaderCellDef>Rubrique</th>
				<td mat-cell *matCellDef="let element" class="text-end">
					<mat-form-field
						*ngIf="element['checked'] || dialogMode == 0"
						class="w-full mat-dense-xs mat-no-subscript mt-1"
					>
						<mat-select
							[disabled]="dialogMode == 0"
							[(ngModel)]="element[displayedColumns[11]]"
						>
							<mat-option
								*ngFor="let section of sections"
								[value]="section.sectionId"
							>
								{{ section.section }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</td>
			</ng-container>

			<ng-container [matColumnDef]="displayedColumns[12]">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let element" class="text-end">
					<mat-checkbox
						*ngIf="dialogMode != 0"
						color="primary"
						[(ngModel)]="element['checked']"
					></mat-checkbox>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		</table>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-raised-button [color]="'primary'" (click)="onValiderAdd()" *ngIf="dialogMode != 0">
		Enregistrer
	</button>
	<button mat-button mat-dialog-close>Retour</button>
</mat-dialog-actions>
