<div class="tab-container mt-5 bg-cam w-full" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="dataSource"
		class="mat-datatable small-table w-full"
		width="100%"
		style="min-width: 500px"
	>
		<!-- numdossier Column -->
		<ng-container [matColumnDef]="displayedColumns[0]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[0] }}</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
		</ng-container>

		<!-- objet Column -->
		<ng-container [matColumnDef]="displayedColumns[1]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[1] }}</th>
			<td mat-cell *matCellDef="let element">
				<div class="flex-justify-center">
					{{ element[displayedColumns[1]] | date: "dd/MM/yyyy" }}
				</div>
			</td>
		</ng-container>

		<!-- nominalAuth Column -->
		<ng-container [matColumnDef]="displayedColumns[2]">
			<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[2] }}</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[2]] }}</td>
		</ng-container>

		<!-- encours Column -->
		<ng-container [matColumnDef]="displayedColumns[3]">
			<th mat-header-cell *matHeaderCellDef>
				<button
					mat-mini-fab
					*ngIf="
						hasAddPriv()
					"
					class="custom-mini-fab"
					color="secondary"
					(click)="onAdd()"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus"></mat-icon>
				</button>
			</th>
			<td mat-cell *matCellDef="let element" class="text-danger">
				<button
					mat-button
					[matMenuTriggerFor]="menu"
					matTooltip="Actions"
					(click)="loadActions(element)"
				>
					<mat-icon svgIcon="heroicons_outline:dots-vertical"></mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button
						(click)="showDetails(element)"
						mat-menu-item
					>
						Détail
					</button>
					<button
						*ngFor="let action of element['actions']"
						(click)="dispatchAction(action, element)"
						mat-menu-item
					>
						{{ action?.actionName }}
					</button>
				</mat-menu>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
