<!--

    afficher dans les cas suivants:
    1-si contractId est null et le privilege existe dans demande events
    2- si contratId non null et le privilege existe dans la liste des privilege OPC
-->
<mat-expansion-panel class="bg-gray mt-5" [expanded]="true">
	<mat-expansion-panel-header class=" expan-panel header">
		<div class="w-full flex justify-center">
			<h4 class="ml-3 font-bold">{{demandeService.getOpcTitle()}}</h4>
		</div>
	</mat-expansion-panel-header>
	<div class="w-full flex justify-start mt-3 gap-x-4">
		<div *ngFor="let item of listOpc; let idx = index" class="relative">
			<button
				mat-raised-button
				(click)="onSelectOpc(item)"
				[color]="opc && item.contractId === opc?.contractId ? 'primary' : ''"
			>
				{{item.contractTypeName?item.contractTypeName:(demandeService.getOpcTitle()+( idx + 1))}}
			</button>
			<mat-icon
				*ngIf="
					routingService.isDemandeRW() &&
					utilsService.hasPrivilegeOpc(utilsService.privilegeCodes.maj_contrat_s)
				"
				matTooltip="Supprimer OPC"
				(click)="deleteOpc(item)"
				class="icon-size-4 absolute -top-1 -right-3 text-red-500 cursor-pointer"
				svgIcon="heroicons_outline:trash"
			></mat-icon>
		</div>

		<button
			*ngIf="routingService.isDemandeRW()"
			(click)="onPrepareAddOpc()"
			mat-mini-fab
			class="ml-6"
			[color]="'primary'"
		>
			<mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus"></mat-icon>
		</button>
	</div>
	<div class="w-full m-0 p-0" *ngIf="opc">
		<div class="flex flex-col w-full mt-6" *ngIf="opc">
			<div class="w-full flex justify-start items-center">
				PRODUITS

				<div
					*ngFor="let item of opc.reports"
					class="
						ml-2
						relative
						flex
						items-center
						px-4
						py-3
						rounded-full
						cursor-pointer
						text-green-800
						bg-green-200
					"
				>
					<span class="ml-2"
						>{{ item.productName }} - {{ item.creditAmount | number: ".2":"es" }}</span
					>
					<button
						*ngIf="
							routingService.isDemandeRW() &&
							((utilsService.hasPrivilegeOpc(
								utilsService.privilegeCodes.maj_contrat_m
							) &&
								opc?.contractId) ||
								(utilsService.afficheable(eventCodes.contrat) &&
									!opc?.contractId))
						"
						color="warn"
						mat-mini-fab
						class="custom-mini-fab ml-1.5"
						matTooltip="Supprimer produit"
						(click)="detacherReport(item)"
					>
						<mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
					</button>
				</div>

				<button
					*ngIf="
						routingService.isDemandeRW() &&
						((utilsService.hasPrivilegeOpc(utilsService.privilegeCodes.maj_contrat_m) &&
							opc?.contractId) ||
							(utilsService.afficheable(eventCodes.contrat) &&
								!opc?.contractId))
					"
					(click)="onAddProduct()"
					mat-mini-fab
					class="ml-3 custom-mini-fab"
					[color]="'primary'"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
				</button>
			</div>

			<mat-form-field
				*ngIf="
					routingService.isDemandeRW() &&
					((utilsService.hasPrivilegeOpc(utilsService.privilegeCodes.maj_contrat_m) &&
						opc?.contractId) ||
						(utilsService.afficheable(eventCodes.contrat) &&
							!opc?.contractId))
				"
				class="w-60 mt-2 mat-dense-xs mat-no-subscript"
				appearance="outline"
			>
				<mat-label>Type Contract</mat-label>
				<mat-select [(ngModel)]="opc.contractType" [compareWith]="compareId">
					<mat-option *ngFor="let item of typeContracts" [value]="item.id">
						{{ item.designation }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<div
				class="w-full text-md font-bold truncate ml-2 mt-2 flex-col"
				*ngIf="
					!(
						(utilsService.hasPrivilegeOpc(utilsService.privilegeCodes.maj_contrat_m) &&
							opc?.contractId) ||
						(utilsService.afficheable(eventCodes.contrat) &&
							!opc?.contractId)
					)
				"
			>
				<mat-label class="w-full font-normal">Type Contract : </mat-label>
				<div class="w-full ml-2">
					{{ opc.contractTypeName }}
				</div>
			</div>
		</div>

		<div class="w-full grid md:grid-cols-2 grid-cols-1 gap-2 mt-5">
			<mat-expansion-panel class="bg-gray mt-5" [expanded]="true">
				<mat-expansion-panel-header class=" expan-panel header">
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">DESIGNATION DE LA BANQUE</h4>
					</div>
				</mat-expansion-panel-header>

				<div class="w-full flex flex-col gap-x-4 gap-y-0 mt-5 overflow-auto">
					<div class="w-full">
						<mat-form-field
							*ngIf="
								routingService.isDemandeRW() &&
								((utilsService.hasPrivilegeOpc(
									utilsService.privilegeCodes.maj_contrat_m
								) &&
									opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId))
							"
							class="w-full mat-dense-xs"
							appearance="outline"
						>
							<mat-label>La banque représentée par</mat-label>
							<input matInput [(ngModel)]="opc.representedBy" />
						</mat-form-field>

						<div
							class="w-full text-md font-bold truncate ml-2 mt-2 flex"
							*ngIf="
								!(
									(utilsService.hasPrivilegeOpc(
										utilsService.privilegeCodes.maj_contrat_m
									) &&
										opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId)
								)
							"
						>
							<span class="font-normal">La banque représentée par : </span>
							<div class="ml-2">
								{{ opc.representedBy }}
							</div>
						</div>
					</div>

					<div class="w-full">
						<mat-form-field
							*ngIf="
								routingService.isDemandeRW() &&
								((utilsService.hasPrivilegeOpc(
									utilsService.privilegeCodes.maj_contrat_m
								) &&
									opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId))
							"
							class="w-full mat-dense-xs"
							appearance="outline"
						>
							<mat-label
								>Agissant en vertu des pouvoirs qui lui/leurs sont conféré(s) par
							</mat-label>
							<input matInput />
						</mat-form-field>

						<div
							class="w-full text-md font-bold truncate ml-2 mt-2 flex"
							*ngIf="
								!(
									(utilsService.hasPrivilegeOpc(
										utilsService.privilegeCodes.maj_contrat_m
									) &&
										opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId)
								)
							"
						>
							<span class="font-normal"
								>Agissant en vertu des pouvoirs qui lui/leurs sont conféré(s) par :
							</span>
							<div class="ml-2">
								<!--TODO-->
							</div>
						</div>
					</div>

					<div class="w-full">
						<mat-form-field
							*ngIf="
								routingService.isDemandeRW() &&
								((utilsService.hasPrivilegeOpc(
									utilsService.privilegeCodes.maj_contrat_m
								) &&
									opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId))
							"
							class="w-full mat-dense-xs"
							appearance="outline"
						>
							<mat-label>En vertu de</mat-label>
							<input matInput />
						</mat-form-field>

						<div
							class="w-full text-md font-bold truncate ml-2 mt-2 flex"
							*ngIf="
								!(
									(utilsService.hasPrivilegeOpc(
										utilsService.privilegeCodes.maj_contrat_m
									) &&
										opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId)
								)
							"
						>
							<span class="font-normal">En vertu de : </span>
							<div class="ml-2">
								<!--TODO-->
							</div>
						</div>
					</div>
				</div>
			</mat-expansion-panel>

			<mat-expansion-panel class="bg-gray mt-5" [expanded]="true">
				<mat-expansion-panel-header class=" expan-panel header">
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">INFORMATIONS EMPRUNTEUR(S)</h4>
					</div>
				</mat-expansion-panel-header>

				<div class="w-full grid md:grid-cols-2 grid-cols-1 gap-2 overflow-auto">
					<span class="font-bold md:col-span-2 col-span-1">Identité de l'emprunteur : </span>

					<span class="font-normal">Nom et prénom / Dénomination : </span>
					<div class="w-full ml-2 font-bold">
						{{ person?.clientName }}
					</div>

					<span class="font-normal">Date, lieu de naissance / RC : </span>
					<div class="w-full ml-2 font-bold">
						{{ person?.birthDate | date: "dd/MM/yyyy" }}
					</div>

					<span class="font-normal">Adresse : </span>
					<div class="w-full ml-2 font-bold">
						{{ person?.adressName }}
					</div>

					<span class="font-normal">CIN : </span>
					<div class="ml-2 font-bold">
						{{ person?.cin }}
					</div>
				</div>
			</mat-expansion-panel>

			<mat-expansion-panel
				class="bg-gray w-full"
				[expanded]="true"
				style="height: max-content"
			>
				<mat-expansion-panel-header class=" expan-panel header">
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">CAUTION</h4>
					</div>
				</mat-expansion-panel-header>
				<div class="w-full mt-5 overflow-auto">
					<table
						mat-table
						[dataSource]="deposits"
						class="mat-datatable small-table"
						width="100%"
						style="min-width: 500px"
					>
						<ng-container [matColumnDef]="cautionDisplayedColumns[0]">
							<th mat-header-cell *matHeaderCellDef class="w-80">Prénom</th>
							<td mat-cell *matCellDef="let element">
								{{ element[cautionDisplayedColumns[0]] }}
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<ng-container [matColumnDef]="cautionDisplayedColumns[1]">
							<th mat-header-cell *matHeaderCellDef>Nom</th>
							<td mat-cell *matCellDef="let element">
								{{ element[cautionDisplayedColumns[1]] }}
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<ng-container [matColumnDef]="cautionDisplayedColumns[2]">
							<th mat-header-cell *matHeaderCellDef>CIN</th>
							<td mat-cell *matCellDef="let element">
								{{ element[cautionDisplayedColumns[2]] }}
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<ng-container [matColumnDef]="cautionDisplayedColumns[3]">
							<th mat-header-cell *matHeaderCellDef>Date de naissance</th>
							<td mat-cell *matCellDef="let element" class="text-center">
								{{ element[cautionDisplayedColumns[3]] | date: "dd/MM/yyyy" }}
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<ng-container [matColumnDef]="cautionDisplayedColumns[4]">
							<th mat-header-cell *matHeaderCellDef>Adresse</th>
							<td mat-cell *matCellDef="let element" class="text-right">
								{{ element[cautionDisplayedColumns[4]] }}
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<ng-container [matColumnDef]="cautionDisplayedColumns[5]">
							<th mat-header-cell *matHeaderCellDef>Statut</th>
							<td mat-cell *matCellDef="let element" class="text-danger">
								{{ element[cautionDisplayedColumns[5]] ? "Annulé" : "" }}
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<ng-container [matColumnDef]="cautionDisplayedColumns[6]">
							<th mat-header-cell *matHeaderCellDef>Date</th>
							<td mat-cell *matCellDef="let element" class="text-center">
								{{ element[cautionDisplayedColumns[6]] | date: "dd/MM/yyyy" }}
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<tr
							mat-header-row
							*matHeaderRowDef="cautionDisplayedColumns"
							class="header-table-gry"
						></tr>
						<tr mat-row *matRowDef="let row; columns: cautionDisplayedColumns"></tr>
						<tr mat-footer-row *matFooterRowDef="cautionDisplayedColumns"></tr>
					</table>
				</div>
			</mat-expansion-panel>

			<mat-expansion-panel
				class="bg-gray w-full"
				[expanded]="true"
				style="height: max-content"
			>
				<mat-expansion-panel-header class=" expan-panel header">
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">ASSURANCE</h4>
					</div>
				</mat-expansion-panel-header>
				<div class="w-full flex-col mt-5">
					<div class="w-full">
						<mat-form-field
							*ngIf="
								routingService.isDemandeRW() &&
								((utilsService.hasPrivilegeOpc(
									utilsService.privilegeCodes.maj_contrat_m
								) &&
									opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId))
							"
							class="w-full mat-dense-xs"
							appearance="outline"
						>
							<mat-label>Dénomination assureur</mat-label>
							<input matInput [(ngModel)]="opc.insuranceCompagny" />
						</mat-form-field>

						<div
							class="w-full text-md font-bold truncate ml-2 mt-2 flex"
							*ngIf="
								!(
									(utilsService.hasPrivilegeOpc(
										utilsService.privilegeCodes.maj_contrat_m
									) &&
										opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId)
								)
							"
						>
							<mat-label class="font-normal">Dénomination assureur : </mat-label>
							<div class="ml-2">
								{{ opc.insuranceCompagny }}
							</div>
						</div>
					</div>

					<div class="w-full">
						<mat-form-field
							*ngIf="
								routingService.isDemandeRW() &&
								((utilsService.hasPrivilegeOpc(
									utilsService.privilegeCodes.maj_contrat_m
								) &&
									opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId))
							"
							class="w-full mat-dense-xs"
							appearance="outline"
						>
							<mat-label>Adresse assureur</mat-label>
							<input matInput [(ngModel)]="opc.insuranceAdress" />
						</mat-form-field>

						<div
							class="w-full text-md font-bold truncate ml-2 mt-2 flex"
							*ngIf="
								!(
									(utilsService.hasPrivilegeOpc(
										utilsService.privilegeCodes.maj_contrat_m
									) &&
										opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId)
								)
							"
						>
							<mat-label class="font-normal">Adresse assureur : </mat-label>
							<div class="ml-2">
								{{ opc.insuranceAdress }}
							</div>
						</div>
					</div>

					<div class="w-full">
						<mat-form-field
							*ngIf="
								routingService.isDemandeRW() &&
								((utilsService.hasPrivilegeOpc(
									utilsService.privilegeCodes.maj_contrat_m
								) &&
									opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId))
							"
							class="w-full mat-dense-xs"
							appearance="outline"
						>
							<mat-label>Durée</mat-label>
							<input matInput [(ngModel)]="opc.insuranceDuration" />
						</mat-form-field>

						<div
							class="w-full text-md font-bold truncate ml-2 mt-2 flex"
							*ngIf="
								!(
									(utilsService.hasPrivilegeOpc(
										utilsService.privilegeCodes.maj_contrat_m
									) &&
										opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId)
								)
							"
						>
							<mat-label class="font-normal">Durée : </mat-label>
							<div class="ml-2">
								{{ opc.insuranceDuration }}
							</div>
						</div>
					</div>
					<div class="w-full">
						<mat-form-field
							*ngIf="
								routingService.isDemandeRW() &&
								((utilsService.hasPrivilegeOpc(
									utilsService.privilegeCodes.maj_contrat_m
								) &&
									opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId))
							"
							appearance="outline"
							class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
						>
							<mat-label>Risques couverts</mat-label>
							<textarea
								[(ngModel)]="opc.insuranceRisk"
								matInput
								[rows]="3"
								matTextareaAutosize
							></textarea>
						</mat-form-field>

						<div
							class="w-full text-md font-bold truncate ml-2 mt-2 flex"
							*ngIf="
								!(
									(utilsService.hasPrivilegeOpc(
										utilsService.privilegeCodes.maj_contrat_m
									) &&
										opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId)
								)
							"
						>
							<mat-label class="font-normal">Risques couverts : </mat-label>
							<div class="ml-2">
								{{ opc.insuranceRisk }}
							</div>
						</div>
					</div>

					<div class="w-full mt-1">
						<mat-radio-group
							[disabled]="
								!(
									(utilsService.hasPrivilegeOpc(
										utilsService.privilegeCodes.maj_contrat_m
									) &&
										opc?.contractId) ||
									(utilsService.afficheable(eventCodes.contrat) &&
										!opc?.contractId)
								)
							"
							[(ngModel)]="opc.insurancePrime"
						>
							<mat-label>Prime périodique</mat-label>
							<mat-radio-button value="P" class="mx-1"
								>Prime périodique</mat-radio-button
							>
							<mat-radio-button value="U" class="mx-1">Prime unique</mat-radio-button>
						</mat-radio-group>
					</div>
				</div>
			</mat-expansion-panel>

			<mat-expansion-panel
				class="bg-gray w-full"
				[expanded]="true"
				style="height: max-content"
			>
				<mat-expansion-panel-header class=" expan-panel header">
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">GARANTIES</h4>
					</div>
				</mat-expansion-panel-header>
				<div class="w-full flex-col mt-5 overflow-auto">
					<table
						mat-table
						[dataSource]="guaranties"
						class="mat-datatable small-table"
						width="100%"
						style="min-width: 500px"
					>
						<ng-container [matColumnDef]="guarantiesDisplayedColumns[0]">
							<th mat-header-cell *matHeaderCellDef>Référence</th>
							<td mat-cell *matCellDef="let element">
								{{ element[guarantiesDisplayedColumns[0]] }}
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<ng-container [matColumnDef]="guarantiesDisplayedColumns[1]">
							<th mat-header-cell *matHeaderCellDef>Nature</th>
							<td mat-cell *matCellDef="let element">
								{{ element[guarantiesDisplayedColumns[1]] }}
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<ng-container [matColumnDef]="guarantiesDisplayedColumns[2]">
							<th mat-header-cell *matHeaderCellDef>Montant</th>
							<td mat-cell *matCellDef="let element" class="text-right">
								{{ element[guarantiesDisplayedColumns[2]] | number: ".2":"es" }}
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<ng-container [matColumnDef]="guarantiesDisplayedColumns[3]">
							<th mat-header-cell *matHeaderCellDef>Rang</th>
							<td mat-cell *matCellDef="let element" class="text-right">
								{{ element[guarantiesDisplayedColumns[3]] }}
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<ng-container [matColumnDef]="guarantiesDisplayedColumns[4]">
							<th mat-header-cell *matHeaderCellDef>Statut</th>
							<td mat-cell *matCellDef="let element" class="text-danger">
								{{ element[guarantiesDisplayedColumns[4]] ? "Annulé" : "" }}
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>
						<ng-container [matColumnDef]="guarantiesDisplayedColumns[5]">
							<th mat-header-cell *matHeaderCellDef>Date</th>
							<td mat-cell *matCellDef="let element" class="text-center">
								{{ element[guarantiesDisplayedColumns[5]] | date: "dd/MM/yyyy" }}
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<tr
							mat-header-row
							*matHeaderRowDef="guarantiesDisplayedColumns"
							class="header-table-gry"
						></tr>
						<tr mat-row *matRowDef="let row; columns: guarantiesDisplayedColumns"></tr>
						<tr mat-footer-row *matFooterRowDef="guarantiesDisplayedColumns"></tr>
					</table>
				</div>
			</mat-expansion-panel>

			<mat-expansion-panel
				class="bg-gray w-full"
				[expanded]="true"
				style="height: max-content"
				*ngIf="opc?.contractId"
			>
				<mat-expansion-panel-header class=" expan-panel header">
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">Date remise/Acceptation</h4>
					</div>
				</mat-expansion-panel-header>

				<div class="flex gap-2 overflow-auto">
					<div class="w-full flex flex-col mt-5">
						<div class="w-full  flex justify-left">
							<mat-form-field
								*ngIf="routingService.isDemandeRW()"
								class="max-w-90 mat-dense-xs"
								appearance="outline"
							>
								<mat-label>Date remise client</mat-label>
								<input
									[disabled]="
										 opc?.contractId != null

									"
									matInput
									[(ngModel)]="opc.offerDate"
									[matDatepicker]="picker0"
								/>
								<mat-datepicker-toggle
									matSuffix
									[for]="picker0"
								></mat-datepicker-toggle>
								<mat-datepicker #picker0></mat-datepicker>
							</mat-form-field>
                            <button mat-raised-button color="accent"  (click)="uploadWithType(3)" class="block">
                                <mat-icon class="icon-size-4 mr-2" svgIcon="heroicons_outline:upload"></mat-icon>
                                Accusé de remise
                            </button>
						</div>
						<div class="w-full   flex justify-left"
							*ngIf="
								(listAction &&
									listAction.length > 0 &&
									listAction[0]['actionCode'] == 'AC') ||
								opc.acceptanceDate
							"
						>
							<mat-form-field
								*ngIf="routingService.isDemandeRW()"
								class="max-w-90 mat-dense-xs"
								appearance="outline"
							>
								<mat-label>Date d'accéptation</mat-label>
								<input
								[disabled]="
								!(
									utilsService.hasPrivilegeOpc(
										utilsService.privilegeCodes.acp_contrat_m
									) && opc?.contractId != null
								)
							"
									matInput
									[(ngModel)]="opc.acceptanceDate"
									[matDatepicker]="picker1"
								/>
								<mat-datepicker-toggle
									matSuffix
									[for]="picker1"
								></mat-datepicker-toggle>
								<mat-datepicker #picker1></mat-datepicker>
							</mat-form-field>
                            <button mat-raised-button color="accent" *ngIf="opc?.statusCode == 'CON_AC'"  (click)="uploadWithType(4)" class="block">
                                <mat-icon class="icon-size-4 mr-2" svgIcon="heroicons_outline:upload"></mat-icon>
                                Contrat
                            </button>

						</div>

					</div>

                    <!--<div class="w-full mt-5">
                        <button
                            mat-mini-fab
                            class="ml-6"
                            [color]="'primary'"
                            (click)="upload()"
                        >
                            Accusé de remise
                            <mat-icon class="icon-size-4" svgIcon="heroicons_outline:upload"></mat-icon>
                        </button>
					</div>-->
				</div>
			</mat-expansion-panel>
		</div>

		<div *ngIf="routingService.isDemandeRW()" class="w-full flex justify-center mt-5 gap-2">
			<button
				*ngIf="
					(utilsService.hasPrivilegeOpc(utilsService.privilegeCodes.maj_contrat_m) &&
						opc?.contractId &&
						opc?.statusCode == 'CON_SA') ||
					(utilsService.afficheable(eventCodes.contrat) && !opc?.contractId)
				"
				mat-raised-button
				[color]="'primary'"
				(click)="saveOpc()"
			>
				Enregistrer
			</button>

            <button *ngIf="utilsService.hasPrivilegeOpc(utilsService.privilegeCodes.imp_contrat_c)"
                mat-raised-button
                color="primary"
                (click)="onEditContrat(opc)"
            >
                Imprimer
            </button>

			<button
				*ngFor="let item of listAction"
				mat-raised-button
				color="primary"
				(click)="onExecuter(item)"
			>
				{{ item["actionName"] }}
			</button>
		</div>
	</div>
</mat-expansion-panel>
