app-simulation-form {
	.range-bar {
		background-color: var(--color-1);
		border-radius: 15px;
		display: block;
		height: 4px;
		position: relative;
		width: 100%;
	}

	.range-quantity {
		background-color: var(--color-2);
		border-radius: 15px;
		display: block;
		height: 100%;
		width: 0;
	}

	.range-handle {
		background-color: #fff;
		border: 7px solid var(--color-2);
		border-radius: 100%;
		cursor: move;
		height: 25px;
		width: 25px;
		left: 0;
		top: -10px;
		position: absolute;
	}

	.range-min,
	.range-max {
		color: #181819;
		font-size: 0.875rem;
		height: 20px;
		position: absolute;
		text-align: center;
		top: 10px;
	}

	.range-min,
	.range-max {
		display: none;
	}

	.vertical {
		height: 100%;
		width: 4px;
	}

	.vertical .range-quantity {
		bottom: 0;
		height: 0;
		position: absolute;
		width: 100%;
	}

	.vertical .range-handle {
		bottom: 0;
		left: -13px;
		top: auto;
	}

	.vertical .range-min,
	.vertical .range-max {
		left: -10px;
		right: auto;
		top: auto;
	}

	.vertical .range-min {
		bottom: -30px;
	}

	.vertical .range-max {
		top: -30px;
	}

	.unselectable {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.range-disabled {
		cursor: default;
	}

	.slider-wrapper {
		border: 1px solid #e0e0e0;
		border-bottom: 0;
		padding-top: 15px;
		position: relative;
	}

	.slider-wrapper .slider--res {
		position: absolute;
		top: -15px;
		left: 50%;
		transform: translateX(-50%);
		border: 1px solid #d4d4d4;
		background-color: #f0f0f0;
		font-weight: 600;
		padding: 3px 20px;
		border-radius: 10px;
		width: 50%;
		text-align: center;
	}

	.slider-wrapper label {
		margin-bottom: 1.2rem;
		padding-left: 15px;
	}

	.slider--footer {
		padding-top: 0.5rem;
		font-weight: 600;
	}

	.slider--footer div div:last-child {
		text-align: right;
	}
	.slider-sim {
		position: absolute !important;
		bottom: -70%;
		left: 0;
	}
	.slider--currency.small {
		position: absolute;
		right: 10px;
		top: 6px;
	}
	.display-box.small {
		outline: none !important;
		border: none;
		background: transparent;
		text-align: center;
	}
	.slider--res.small {
		width: 80% !important;
	}

	.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
		background-color: white !important;
	}

	.field-error {
		color: red;
		border-color: red !important;
	}
}


.mat-column-libelle {
    border-right: 1px solid currentColor;
    padding-right: 24px;
    width: 50%;
    font-size: 12pt !important;
}

.mat-column-check {
    width: 5%;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-valeur {
    border-right: 1px solid currentColor;
    padding-right: 24px;
    width: 35%;
}


#derogation {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


#derogation td, #derogation th {
    border: 1px solid #ddd;
    padding: 8px;
}

#derogation tr:nth-child(even){background-color: #f2f2f2;}

#derogation tr:hover {background-color: #ddd;}

#derogation th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #64748b;
    color: white;
}
