<button
	class="custom-mini-fab absolute sm:left-10 left-2 top-1"
	mat-mini-fab
	color="primary"
	(click)="goBack()"
>
	<mat-icon class="icon-size-4" svgIcon="heroicons_outline:reply"></mat-icon>
</button>

<div class="flex flex-col flex-auto min-w-0 " >
	<!-- Header -->
	<div
		class="
			flex flex-col
			sm:flex-row
			flex-0
			sm:items-center
			sm:justify-between
			sm:py-10
			sm:px-12
			p-8
			border-b
			bg-card
		"
	>
		<div class="flex-1 min-w-0">
			<!-- Breadcrumbs -->
			<div class="flex flex-wrap items-center font-medium">
				<div>
					<a
						class="whitespace-nowrap text-primary-500"
						(click)="goBack()"
						routerLinkActive="router-link-active"
						>Simulation</a
					>
				</div>
				<div class="flex items-center ml-1 whitespace-nowrap">
					<mat-icon
						class="icon-size-5 text-secondary"
						svgIcon="heroicons_solid:chevron-right"
					></mat-icon>
					<a class="ml-1 text-primary-500">{{ title }}</a>
				</div>
			</div>
			<!-- Title -->
		</div>
	</div>

	<!-- Main -->
	<div class="flex-auto sm:p-10 p-2 bg-gray-300 text-black">
		<div class="w-full">
			<!-- Sectioned form with dividers -->
			<form [formGroup]="simulationForm" (ngSubmit)="OnSimulate()">
				<mat-expansion-panel hideToggle class="bg-gray-100 rounded-t-xl" [expanded]="true">
					<mat-expansion-panel-header class="">
						<div class="w-full flex justify-center">
							<h4 class="ml-3 font-bold">QUI ?</h4>
						</div>
					</mat-expansion-panel-header>
					<div
						class="
							flex flex-col
							w-full
							mt-1
							px-8
							pt-3
							bg-card
							shadow
							rounded-t-xl
							overflow-hidden
							blackText
						"
					>
						<div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-x-6 w-full">
							<div class="flex flex-col flex-auto">
								<div class="flex-col mt-1 w-full">
									<mat-form-field
										class="w-40 mat-dense-xs"
										appearance="outline"
									>
										<mat-label>CIN</mat-label>
										<input formControlName="cin" matInput placeholder="CIN" />
									</mat-form-field>
								</div>
								<div class="flex flex-col mt-1 w-full">
									<mat-form-field
										class="w-full mat-dense-xs"
										appearance="outline"
									>
										<mat-label class=""> Milieu du bien / Type</mat-label>
										<input
											[value]="getValue()"
											disabled
											matInput
											placeholder="Milieu du bien / Type"
											class="w-full"
										/>
									</mat-form-field>
								</div>
								<div class="flex flex-col mt-1 w-full">
									<mat-form-field
										class="w-full mat-dense-xs"
										appearance="outline"
									>
										<mat-label>Nom et prénom *</mat-label>
										<input
											style="text-transform: uppercase"
											matInput
											formControlName="clientName"
											placeholder="Nom et prénom"
										/>
										<mat-icon
											class="icon-size-5"
											matPrefix
											svgIcon="heroicons_solid:user"
										></mat-icon>
									</mat-form-field>
								</div>

								<div class="flex flex-col mt-1 w-full">
									<mat-form-field
										[ngClass]="formFieldHelpers"
										class="w-40 mat-dense-xs"
										appearance="outline"
									>
										<mat-label>Date Naissance *</mat-label>
										<input
											formControlName="birthDate"
											matInput
											[matDatepicker]="picker1"
										/>
										<mat-datepicker-toggle
											matSuffix
											[for]="picker1"
										></mat-datepicker-toggle>
										<mat-datepicker #picker1></mat-datepicker>
									</mat-form-field>
								</div>
								<div class="flex md:flex-row flex-col mt-1 w-full gap-3">
									<mat-form-field
										class="w-50 mat-dense-xs"
										appearance="outline"
									>
										<mat-label>Tél</mat-label>
										<input
											matInput
											formControlName="phoneNumber"
											placeholder="Téléphone"
										/>
										<mat-icon
											class="icon-size-5"
											matPrefix
											svgIcon="heroicons_solid:phone"
										></mat-icon>
									</mat-form-field>
									<mat-form-field
										class="w-50 mat-dense-xs"
										appearance="outline"
									>
										<mat-label>E-mail</mat-label>
										<input
											style="text-transform: uppercase"
											matInput
											formControlName="email"
											placeholder="E-mail"
										/>
										<mat-icon
											class="icon-size-5"
											matPrefix
											svgIcon="heroicons_solid:mail"
										></mat-icon>
									</mat-form-field>
								</div>

								<div class="flex sm:flex-row flex-col mt-1 w-full gap-2 sm:items-center my-5">
									<div class="flex flex-col">
										<mat-radio-group
											formControlName="activityStatus"
											class="w-auto"
											(ngModelChange)="setSeniorityValidators()"
										>
											<mat-radio-button
												[value]="item.code"
												class="mx-1"
												*ngFor="let item of activityStatus"
												>{{ item.designation }}</mat-radio-button
											>
										</mat-radio-group>
									</div>
									<div
										class="flex flex-col -mb-5"
										*ngIf="simulationForm.get('activityStatus').value === 'A'"
									>
										<mat-form-field
											class="mat-dense-xs"
											appearance="outline"
										>
											<mat-label>Ancienneté emploi (mois)</mat-label>
											<input
												type="number"
												matInput
												formControlName="seniority"
											/>
										</mat-form-field>
									</div>
								</div>
								<div class="flex mt-1 w-full">
									<mat-form-field
										class="w-full mat-dense-xs"
										appearance="outline"
									>
										<mat-label>Objet de credit</mat-label>
										<input
											style="text-transform: uppercase"
											formControlName="objectCredit"
											matInput
											placeholder="Objet de credit"
										/>
									</mat-form-field>
								</div>
							</div>
							<div class="flex flex-col flex-auto">
								<div class="flex flex-col mt-1 w-full">
									<mat-form-field
										class="flex-auto mat-dense-xs"
										appearance="outline"
									>
										<mat-label>Famille Segment</mat-label>
										<mat-select
											formControlName="segmentType"
											(selectionChange)="filtrerSegment($event)"
										>
											<mat-option [value]="">Séléctionnez</mat-option>
											<mat-option
												*ngFor="let item of familleSegments"
												[value]="item.code"
											>
												{{ item.designation }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="flex flex-col mt-1 w-full">
									<mat-form-field
										class="flex-auto mat-dense-xs"
										appearance="outline"
									>
										<mat-label>Segment</mat-label>
										<mat-select
											formControlName="segment"
											(selectionChange)="onChangeSegment($event)"
										>
											<mat-option [value]="">Séléctionnez</mat-option>
											<mat-option
												*ngFor="let item of segmentsDB"
												[value]="item.id"
											>
												{{ item.designation }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="flex mt-1 w-full">
									<mat-form-field
										class="flex-auto mat-dense-xs"
										appearance="outline"
									>
										<mat-label>Organisme</mat-label>
										<mat-select
											formControlName="organism"
											(selectionChange)="onChangeOrganisme($event)"
										>
											<mat-option [value]="">Séléctionnez</mat-option>
											<mat-option
												*ngFor="let item of organismsDB"
												[value]="item.id"
											>
												{{ item.designation }}
											</mat-option>
											<mat-option [value]="">Autre</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="flex mt-1 w-full">
									<mat-form-field
										class="flex-auto mat-dense-xs"
										appearance="outline"
									>
										<mat-label>Convention</mat-label>
										<mat-select formControlName="convention" name="Segment" (selectionChange)="conventionChanged($event.value)">
											<mat-option [value]="">Séléctionnez</mat-option>
											<mat-option
												*ngFor="let item of conventionsDB"
												[value]="item.id"
											>
												{{ item.designation }}
											</mat-option>
											<mat-option [value]="">Pas de convention</mat-option>
										</mat-select>
									</mat-form-field>
								</div>

								<div class="grid grid-cols-1 md:grid-cols-2 gap-2">
									<mat-form-field
										class="w-full mat-dense-xs labelInput"
										appearance="outline"
									>
										<mat-label class="labelInputLarge"  >Salaire mensuel *</mat-label>
										<input
											type="text"
											currencyMask
											matInput
											formControlName="monthlyPay"
											placeholder="Salaire mensuel"
										/>
									</mat-form-field>
									<mat-form-field
										class="w-full mat-dense-xs"
										appearance="outline"
									>
										<mat-label class="labelInputLarge">Autres revenus mensuels</mat-label>
										<input
											formControlName="othersMonthlyIncome"
											type="text"
											currencyMask
											matInput
											placeholder="Autres revenus mensuels"
										/>
									</mat-form-field>

									<mat-form-field
										class="w-full mat-dense-xs"
										appearance="outline"
									>
										<mat-label class="labelInputSemiLarge">Échéances Immos CAM</mat-label>
										<input
											formControlName="monthlyPaymentImmoCam"
											type="text"
											currencyMask
											matInput
											placeholder="Échéances Immos CAM"
										/>
									</mat-form-field>
									<mat-form-field
										class="w-full mat-dense-xs"
										appearance="outline"
									>
										<mat-label class="labelInputSemiLarge">Échéances Immos CONF</mat-label>
										<input
											formControlName="monthlyPaymentImmoConf"
											type="text"
											currencyMask
											matInput
											placeholder="Échéances Immos CONF"
										/>
									</mat-form-field>

									<mat-form-field
										class="w-full mat-dense-xs"
										appearance="outline"
									>
										<mat-label class="labelInputSemiLarge">Échéances Conso CAM</mat-label>
										<input
											type="text"
											currencyMask
											matInput
											formControlName="monthlyPaymentConsoCam"
											placeholder="Échéances Conso CAM"
										/>
									</mat-form-field>
									<mat-form-field
										class="w-full mat-dense-xs"
										appearance="outline"
									>
										<mat-label class="labelInputSemiLarge">Échéances Conso CONF</mat-label>
										<input
											formControlName="monthlyPaymentConsoConf"
											type="text"
											currencyMask
											matInput
											placeholder="Échéances Conso CONF"
										/>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</mat-expansion-panel>

				<mat-expansion-panel
					hideToggle
					class="bg-gray-100 rounded-t-xl mt-3"
					[expanded]="true"
				>
					<mat-expansion-panel-header class="">
						<div class="w-full flex justify-center">
							<h4 class="ml-3 font-bold">SIMULATEUR</h4>
						</div>
					</mat-expansion-panel-header>
					<div
						class="
							flex flex-col
							w-full
							mt-1
							px-8
							pt-3
							bg-card
							shadow
							rounded-t-xl
							overflow-hidden
						"
					>
						<div class="flex flex-col">
							<div class="flex flex-auto mb-3">
								<mat-radio-group [disabled]="simRO" formControlName="financielObject">
									<mat-radio-button
										*ngFor="let item of finacialObjects"
										[value]="item.code"
										class="mx-1"
										>{{ item.designation }}</mat-radio-button
									>
								</mat-radio-group>
							</div>
						</div>

						<div class="flex flex-col">
							<div class="flex flex-auto mb-6">
								<mat-radio-group [disabled]="simRO" formControlName="prelevementType">
									<mat-radio-button
										*ngFor="let item of prelevemntType"
										[value]="item.code"
										class="mx-1"
										>{{ item.designation }}</mat-radio-button
									>
								</mat-radio-group>
							</div>
						</div>

						<div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
							<div class="flex flex-col flex-auto">
								<div class="range-group">
									<div class="slider-wrapper">
										<div [ngClass]="{'field-error': hasError('goodAmount')}" class="slider--res flex justify-between small bg-gray-50">
											<input
												[disabled]="simRO"
												class="display-box max-w-full min-w-0 bg-transparent border-0"
												type="text"
												formControlName="goodAmount"
												[max]="getGoodAmountMax()"
												currencyMask
											/>
											<span class="pl-1">MAD</span>
										</div>
										<label>Montant de bien</label>
										<mat-slider
											class="w-full px-0 slider-sim"
											color="primary"
											[disabled]="simRO"
											[invert]="false"
											[max]="getGoodAmountMax()"
											[min]="0"
											[step]="1000"
											[thumbLabel]="false"
											[tickInterval]="getSliderTickInterval()"
											[value]="simulationForm.get('goodAmount').value"
											(change)="
												simulationForm
													.get('goodAmount')
													.setValue($event.value)
											"
											[vertical]="false"
											aria-labelledby="example-name-label"
										>
										</mat-slider>
									</div>

									<div class="slider--footer">
										<div class="grid grid-cols-2">
											<div class="flex flex-col flex-auto">0</div>
											<div class="flex flex-col flex-auto">
												{{ getGoodAmountMax() | thousandSuffix: 2 }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="flex flex-col flex-auto">
								<div class="range-group">
									<div class="slider-wrapper">
										<div [ngClass]="{'field-error': hasError('contributionAmount')}" class="slider--res small flex justify-between bg-gray-50">
											<input
												[disabled]="simRO"
												class="display-box max-w-full min-w-0 bg-transparent border-0"
												type="text"
												formControlName="contributionAmount"
												[max]="getContributionAmountMax()"
												currencyMask
											/>
											<span class="pl-1">MAD</span>
										</div>
										<label>Apport Personnel</label>
										<mat-slider
											class="w-full px-0 slider-sim"
											color="primary"
											[disabled]="simRO"
											[invert]="false"
											[max]="getContributionAmountMax()"
											[min]="0"
											[step]="1000"
											[thumbLabel]="false"
											[tickInterval]="getSliderTickInterval()"
											(change)="
												simulationForm
													.get('contributionAmount')
													.setValue($event.value)
											"
											[value]="simulationForm.get('contributionAmount').value"
											[vertical]="false"
											aria-labelledby="example-name-label"
										>
										</mat-slider>
									</div>

									<div class="slider--footer">
										<div class="grid grid-cols-2">
											<div class="flex flex-col flex-auto">0</div>
											<div class="flex flex-col flex-auto">
												{{ getContributionAmountMax() | thousandSuffix: 2 }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="flex flex-col flex-auto">
								<div class="range-group">
									<div class="slider-wrapper">
										<div [ngClass]="{'field-error': hasError('othersFees')}" class="slider--res small flex justify-between bg-gray-50">
											<input
												[disabled]="simRO"
												class="display-box max-w-full min-w-0 bg-transparent border-0"
												type="text"
												formControlName="othersFees"
												[max]="getFeesMax()"
												currencyMask
											/>
											<!--<span id="js-display-mdb" class="display-box">0</span>-->
											<span class="pl-1">MAD</span>
										</div>
										<label>Frais Annexes</label>
										<mat-slider
											class="w-full px-0 slider-sim"
											color="primary"
											[disabled]="simRO"
											[invert]="false"
											[max]="getFeesMax()"
											[min]="0"
											[step]="1000"
											[thumbLabel]="false"
											[tickInterval]="getSliderTickInterval()"
											(change)="
												simulationForm
													.get('othersFees')
													.setValue($event.value)
											"
											[value]="simulationForm.get('othersFees').value"
											[vertical]="false"
											aria-labelledby="example-name-label"
										>
										</mat-slider>
									</div>

									<div class="slider--footer">
										<div class="grid grid-cols-2">
											<div class="flex flex-col flex-auto">0</div>
											<div class="flex flex-col flex-auto">
												{{ getFeesMax() | thousandSuffix: 2 }}
											</div>
											<!-- <div class="flex flex-col flex-auto">{{getFeesMax() / 1000}} K</div> -->
										</div>
									</div>
								</div>
							</div>
							<div class="flex flex-col flex-auto">
								<div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-2">
									<div class="flex flex-col flex-auto">
										<div class="range-group">
											<div class="slider-wrapper">
												<div [ngClass]="{'field-error': hasError('duration')}" class="slider--res small flex justify-between bg-gray-50">
													<input
														[disabled]="simRO"
														class="display-box max-w-full min-w-0 bg-transparent border-0"
														type="text"
														formControlName="duration"
														[max]="getDurationMax()"
														name="duration"
													/>
													<!--<span id="js-display-mdb" class="display-box">0</span>-->
													<span class="pl-1">Mois</span>
												</div>
												<label>Durée demandée</label>
												<mat-slider
													class="w-full px-0 slider-sim"
													color="primary"
													[disabled]="simRO"
													[invert]="false"
													[max]="getDurationMax()"
													[min]="0"
													[step]="1"
													[thumbLabel]="false"
													[tickInterval]="getSliderTickInterval()"
													(change)="
														simulationForm
															.get('duration')
															.setValue($event.value)
													"
													[value]="simulationForm.get('duration').value"
													[vertical]="false"
													aria-labelledby="example-name-label"
												>
												</mat-slider>
											</div>

											<div class="slider--footer">
												<div class="grid grid-cols-2">
													<div class="flex flex-col flex-auto">0</div>
													<div class="flex flex-col flex-auto">
														{{ getDurationMax() }} Mois
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="flex flex-col flex-auto">
										<div class="range-group">
											<div class="slider-wrapper">
												<div [ngClass]="{'field-error': hasError('deferredPeriod')}" class="slider--res small flex justify-between bg-gray-50">
													<input
														[disabled]="simRO"
														class="display-box max-w-full min-w-0 bg-transparent border-0"
														type="text"
														formControlName="deferredPeriod"
														[max]="getDeferredPeriodMax()"
														name="deferredPeriod"
													/>
													<!--<span id="js-display-mdb" class="display-box">0</span>-->
													<span class="pl-1">Mois</span>
												</div>
												<label>Différé Demandé</label>
												<mat-slider
													class="w-full px-0 slider-sim"
													[color]="'primary'"
													[disabled]="simRO"
													[invert]="false"
													[max]="getDeferredPeriodMax()"
													[min]="0"
													[step]="1"
													[thumbLabel]="false"
													[tickInterval]="getSliderTickInterval()"
													(change)="
														simulationForm
															.get('deferredPeriod')
															.setValue($event.value)
													"
													[value]="
														simulationForm.get('deferredPeriod').value
													"
													[vertical]="false"
													aria-labelledby="example-name-label"
												>
												</mat-slider>
											</div>

											<div class="slider--footer">
												<div class="grid grid-cols-2">
													<div class="flex flex-col flex-auto">0</div>
													<div class="flex flex-col flex-auto">
														{{ getDeferredPeriodMax() }} Mois
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div *ngIf="bonuses?.length" class="flex flex-col flex-auto">
								<div class="flex mb-5">
									<mat-radio-group [disabled]="simRO" formControlName="naturePoints">
										<mat-radio-button
											*ngFor="let bonus of bonuses"
											[value]="bonus.codeNaturePoints"
											class="mx-1"
										>
											{{ bonus.nameNaturePoints }}
										</mat-radio-button>
									</mat-radio-group>
								</div>

								<div class="range-group" *ngIf="simulationForm.get('naturePoints').value">
									<div class="slider-wrapper">
										<div [ngClass]="{'field-error': hasError('points')}" class="slider--res small flex justify-between bg-gray-50">
											<input
												[disabled]="simRO"
												class="display-box max-w-full min-w-0 bg-transparent border-0"
												type="text"
												formControlName="points"
												[max]="getPointMax()"
											/>
											<span class="pl-1">Point</span>
										</div>
										<label>Bonus Points</label>
										<mat-slider
											class="w-full px-0 slider-sim"
											color="primary"
											[disabled]="simRO"
											[invert]="false"
											[max]="getPointMax()"
											[min]="0"
											[step]="1"
											[thumbLabel]="false"
											[tickInterval]="getSliderTickInterval()"
											(change)="
												simulationForm
													.get('points')
													.setValue($event.value)
											"
											[value]="simulationForm.get('points').value"
											[vertical]="false"
											aria-labelledby="example-name-label"
										>
										</mat-slider>
									</div>

									<div class="slider--footer">
										<div class="grid grid-cols-2">
											<div class="flex flex-col flex-auto">0</div>
											<div class="flex flex-col flex-auto">
												{{ getPointMax() }} Point
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="flex flex-col gap-2" *ngIf="showInsuranceInclusion">
								<label>
									inclure l'assurance dans le montant de credit ?:
								</label>
								<mat-radio-group [disabled]="simRO" formControlName="flagInssurance">
									<mat-radio-button value="O" class="mx-1">
										Oui
									</mat-radio-button>
									<mat-radio-button value="N" class="mx-1">
										Non
									</mat-radio-button>
								</mat-radio-group>
							</div>

						</div>
                        <hr />
                        <div style="color:black !important;" class="grid grid-cols-1 md:grid-cols-5 gap-5 text-black"  >
                            <label >
                                Avec dérogation  ?:
                            </label>
                            <mat-radio-group [disabled]="simRO" formControlName="flagDerogation" label="Avec dérogation ?">
                                <mat-radio-button value="O" class="mx-1">
                                    Oui
                                </mat-radio-button>
                                <mat-radio-button value="N" class="mx-1">
                                    Non
                                </mat-radio-button>
                            </mat-radio-group>

                            <mat-form-field *ngIf="isDerogationChecked()"
                                class="flex-auto mat-dense-xs"
                                appearance="outline"
                            >
                                <mat-label>Type dérogation</mat-label>
                                <mat-select [disabled]="simRO"
                                    (selectionChange)="filterTypeDerogation($event)"
                                >
                                    <mat-option [value]="">Séléctionnez</mat-option>
                                    <mat-option
                                        *ngFor="let item of dataSourceDerogationParams"
                                        [value]="item.code"
                                    >
                                        {{ item.libelle }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!--formControlName="segmentType"
                            (selectionChange)="filtrerSegment($event)"-->


                            <mat-form-field *ngIf="instTypeDerogation.flagsaisi ==='O'"
                                class="w-full mat-dense-xs labelInput"
                                appearance="outline"
                            >
                                <mat-label class="labelInputLarge"  >{{instTypeDerogation.libelle}} *</mat-label>
                                <input [disabled]="simRO"
                                    type="text"
                                    currencyMask
                                    matInput
                                    formControlName="derogationValeur"
                                    placeholder="{{instTypeDerogation.libelle}}"
                                />
                            </mat-form-field>

                            <button *ngIf="isDerogationChecked()"
                                (click)="AddTypederogation()"
                                class="px-6 ml-3"
                                mat-flat-button
                                [color]="'primary'"
                                    type="button"
                            >
                                Ajouter ({{dataSourceDerogationParamsSelected.length}})
                            </button>

                        </div>

                        <div class="w-auto max-w-full mt-8 items-center overflow-auto" *ngIf="isDerogationChecked()">
                            <table id="derogation" class="mat-datatable table-simulation bg-white w-full">
                                <tr>
                                 <!--   <th style="text-align: center">Code</th>-->
                                    <th style="text-align: center">Libelle</th>
                                    <th style="text-align: center">Valeur</th>
                                    <th style="text-align: center">Action</th>
                                </tr>

                                <tr *ngFor="let item of dataSourceDerogationParamsSelected">
                                  <!--  <td style="text-align: center">{{item.derogation}}</td>-->
                                    <td style="text-align: center">{{item.libelle}}</td>
                                    <td>{{item.valeur}}</td>
                                    <td style="text-align: center">
                                        <button
                                            matTooltip="Supprimer"
                                            mat-mini-fab
                                            class="custom-mini-fab"
                                            [color]="'warn'"
                                            (click)="onDeleteTypeDerigation(item)"
                                        >
                                            <mat-icon
                                                class="icon-size-4"
                                                svgIcon="heroicons_outline:trash"
                                            ></mat-icon>
                                        </button>

                                    </td>
                                </tr>

                            </table>
                        </div>

						<div
							class="
								flex
								items-center
								justify-end
								border-t
								-mx-8
								mt-8
								px-8
								py-5
								bg-gray-50

							"
						>
							<button
								*ngIf="!simRO"
								type="submit"
								class="px-6 ml-3"
								mat-flat-button
								[color]="!simulationForm.valid ? 'warn' : 'primary'"
							>
								Simuler
							</button>
						</div>
					</div>
				</mat-expansion-panel>
			</form>

			<div class="w-auto max-w-full mt-8 items-center overflow-auto">
				<table
					mat-table
					class="mat-datatable table-simulation bg-white w-full"
					[dataSource]="simulationList.filter(isParent)"
					matSort
					matSortDirection="asc"
				>
					<ng-container matColumnDef="goodNature">
						<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
							Objet
						</th>
						<td
							mat-cell
							*matCellDef="let element"
							matTooltip="{{
								getNatureBienLibelle(
									element.goodNature,
									element.financialObjectName
								)
							}}"
						>
							<div class="font-bold">
								{{
									getNatureBienCode(
										element.goodNature,
										element.financialObjectName,
										element.financielObject
									)
								}}<!--{{getNatureBienLibelle(element.goodNature,element.financialObjectName)}} -->
							</div>
							<div class="pl-4 pt-2" *ngFor="let sim of getChildren(element)">
								<div [ngClass]="{'opacity-0': getNatureBienCode(sim.goodNature, sim.financialObjectName, sim.financielObject) == getNatureBienCode(element.goodNature, element.financialObjectName, element.financielObject)}">
									{{ getNatureBienCode(sim.goodNature, sim.financialObjectName, sim.financielObject) }}
								</div>
							</div>
						</td>
					</ng-container>
					<ng-container matColumnDef="pack">
						<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                            Produit de financement
                        </th>
						<td
							mat-cell
							*matCellDef="let element"
						>
							<div class="font-bold">
								{{ element.pack }}
							</div>
							<div class="pl-4 pt-2" *ngFor="let sim of getChildren(element)">
								<div [ngClass]="{'opacity-0': sim.pack == element.pack}">
									{{ sim.pack }}
								</div>
							</div>
						</td>
					</ng-container>

					<ng-container matColumnDef="prelevementType">
						<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center" >
							Type prélèv
						</th>
						<td
							mat-cell
							*matCellDef="let element"
							[matTooltip]="getTypePrelevLibelle(element.prelevementTypeResult)"
						>
							<div class="font-bold">
								{{ getTypePrelev(element.prelevementTypeResult) }}
							</div>
							<div class="pl-4 pt-2" *ngFor="let sim of getChildren(element)">
								<div [ngClass]="{'opacity-0': sim.prelevementTypeResult == element.prelevementTypeResult}">
									{{ getTypePrelev(sim.prelevementTypeResult) }}
								</div>
							</div>
						</td>
					</ng-container>

                    <ng-container matColumnDef="amountGranted">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                            Mnt à financer
                        </th>
						<td
							mat-cell
							*matCellDef="let element"
						>
							<div class="font-bold text-end">
								{{ element.amountGranted | number: ".2":"fr" }}
							</div>
							<div class="pl-4 pt-2 text-end" *ngFor="let sim of getChildren(element)">
								<div [ngClass]="{'opacity-0': sim.amountGranted == element.amountGranted}">
									{{ sim.amountGranted | number: ".2":"fr" }}
								</div>
							</div>
						</td>
                    </ng-container>

                    <ng-container matColumnDef="contributionAmount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                            Apport
                        </th>
						<td
							mat-cell
							*matCellDef="let element"
						>
							<div class="font-bold text-end">
								{{ element.contributionAmount | number: ".2":"fr" }}
							</div>
							<div class="pl-4 pt-2 text-end" *ngFor="let sim of getChildren(element)">
								<div [ngClass]="{'opacity-0': sim.contributionAmount == element.contributionAmount}">
									{{ sim.contributionAmount | number: ".2":"fr" }}
								</div>
							</div>
						</td>
                    </ng-container>

                    <ng-container matColumnDef="goodAmount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                            Mnt du bien
                        </th>
						<td
							mat-cell
							*matCellDef="let element"
						>
							<div class="font-bold text-end">
                            	{{ element.goodAmount | number: ".2":"fr" }}
							</div>
							<div class="pl-4 pt-2 text-end" *ngFor="let sim of getChildren(element)">
								<div [ngClass]="{'opacity-0': sim.goodAmount == element.goodAmount}">
									{{ sim.goodAmount | number: ".2":"fr" }}
								</div>
							</div>
						</td>
                    </ng-container>

					<ng-container matColumnDef="duration">
						<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center" >
							Durée
						</th>
						<td mat-cell *matCellDef="let element" class="text-right">
							<div class="font-bold">
								{{ element.duration }}
							</div>
							<div class="pl-4 pt-2" *ngFor="let sim of getChildren(element)">
								<div [ngClass]="{'opacity-0': sim.duration == element.duration}">
									{{ sim.duration }}
								</div>
							</div>
						</td>
					</ng-container>

                    <ng-container matColumnDef="rate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                            Taux standard
                        </th>
						<td
							mat-cell
							*matCellDef="let element"
							class="text-center"
						>
							<div class="font-bold text-end">
								{{ element.rate }}
							</div>
							<div class="pl-4 pt-2 text-end" *ngFor="let sim of getChildren(element)">
								<div [ngClass]="{'opacity-0': sim.rate == element.rate}">
									{{ sim.rate }}
								</div>
							</div>
						</td>
                    </ng-container>


                    <ng-container matColumnDef="tauxApplique">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                            Taux appliqué
                        </th>
						<td
							mat-cell
							*matCellDef="let element"
							class="text-center"
						>
							<div class="font-bold text-end">
								{{element.tauxApplique}}
							</div>
							<div class="pl-4 pt-2 text-end" *ngFor="let sim of getChildren(element)">
								<div [ngClass]="{'opacity-0': sim.tauxApplique == element.tauxApplique}">
									{{ sim.tauxApplique }}
								</div>
							</div>
						</td>
                    </ng-container>

					<ng-container matColumnDef="deferred">
						<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center" >
							Différé
						</th>
						<td mat-cell *matCellDef="let element" class="text-right">
							<div class="font-bold">
								{{ element.deferredPeriod }}
							</div>
							<div class="pl-4 pt-2" *ngFor="let sim of getChildren(element)">
								<div [ngClass]="{'opacity-0': sim.deferredPeriod == element.deferredPeriod}">
									{{ sim.deferredPeriod }}
								</div>
							</div>
						</td>
					</ng-container>

                    <ng-container matColumnDef="monthlyPayment">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                            Echéance
                        </th>
						<td mat-cell *matCellDef="let element" >
							<div class="font-bold text-end">
								<div class="flex flex-col">
									<div>
										{{ element.monthlyPayment | number: ".2":"fr" }}
									</div>
									<div *ngIf="element.codeNaturePoints">
										({{ element.points }}pts / {{getNaturePointsName(element.codeNaturePoints)}})
									</div>
									<div style="text-decoration: line-through; color: red;" *ngIf="element.monthlyPaymentInitial != element.monthlyPayment">
										{{ element.monthlyPaymentInitial | number: ".2":"fr" }}
									</div>
								</div>
							</div>
							<div class="pl-4 pt-2 text-end" *ngFor="let sim of getChildren(element)">
								<div [ngClass]="{'opacity-0': sim.monthlyPayment == element.monthlyPayment}">
									<div class="flex gap-3">
										<div>
											{{ sim.monthlyPayment | number: ".2":"fr" }}
										</div>
										<div style="text-decoration: line-through;" *ngIf="sim.monthlyPaymentInitial != sim.monthlyPayment">
											{{ sim.monthlyPaymentInitial | number: ".2":"fr" }}
										</div>

									</div>
								</div>

							</div>
						</td>
                    </ng-container>

                    <ng-container matColumnDef="insurance">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                            Assurance
                        </th>
						<td
							mat-cell
							*matCellDef="let element"
						>
							<div class="font-bold text-end">
								{{ element.insurance | number: ".2":"fr" }}
							</div>
							<div class="pl-4 pt-2 text-end" *ngFor="let sim of getChildren(element)">
								<div [ngClass]="{'opacity-0': sim.insurance == element.insurance}">
									{{ sim.insurance | number: ".2":"fr" }}
								</div>
							</div>
						</td>
                    </ng-container>

					<ng-container matColumnDef="otherFees">
						<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center" >
							Autres frais
						</th>
						<td mat-cell *matCellDef="let element" class="text-right">
							<div class="font-bold">
								{{ element.othersFees | number: ".2":"fr" }}
							</div>
							<div class="pl-4 pt-2" *ngFor="let sim of getChildren(element)">
								<div [ngClass]="{'opacity-0': sim.othersFees == element.othersFees}">
									{{ sim.othersFees | number: ".2":"fr" }}
								</div>
							</div>
						</td>
					</ng-container>

                    <!--<ng-container matColumnDef="bonus">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                            Bonif
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-end">
                            {{ element.bonus }}
                        </td>
                    </ng-container>-->

					<ng-container matColumnDef="action">
						<th
							mat-header-cell
							*matHeaderCellDef
							mat-sort-header
							class="text-center"
						></th>
						<td mat-cell *matCellDef="let element" class="text-right">
							<div
							*ngIf="!simRO"
							class="flex flex-col"
							>
								<button
									matTooltip="Supprimer"
									mat-mini-fab
									class="custom-mini-fab"
									[color]="'warn'"
									(click)="onDeleteSimRow(element)"
								>
									<mat-icon
										class="icon-size-4"
										svgIcon="heroicons_outline:trash"
									></mat-icon>
								</button>
								<button
									*ngFor="let sim of getChildren(element)"
									matTooltip="Supprimer"
									mat-mini-fab
									class="custom-mini-fab mt-2"
									[color]="'warn'"
									(click)="onDeleteSimRow(sim)"
								>
									<mat-icon
										class="icon-size-4"
										svgIcon="heroicons_outline:trash"
									></mat-icon>
								</button>
							</div>
						</td>
					</ng-container>
					<tr
						mat-header-row
						*matHeaderRowDef="displayedSimulationColumns"
						class="header-table-gry"
					></tr>
					<tr mat-row *matRowDef="let row; columns: displayedSimulationColumns"></tr>
				</table>
			</div>
			<div class="w-auto max-w-full mt-8 items-center">
				<div class="w-full flex justify-end">
					<button
						*ngIf="!simRO"
						(click)="onSubmitSimulations()"
						[disabled]="registerDemande"
						class="px-6 ml-3"
						mat-flat-button
						color="primary"
					>
						Enregistrer
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
