<h1 mat-dialog-title>Ajout de produits</h1>
<div mat-dialog-content>
	<div class="flex w-full">
		<form class="flex flex-col w-full gap-3" [formGroup]="productForm" (ngSubmit)="onCalculer($event)">
			<div class="flex flex-col">
				<div class="flex w-full mt-3">
					<mat-form-field class="mat-dense-xs w-full p-x-2" appearance="outline">
						<mat-label>Personne</mat-label>
						<mat-select formControlName="personId">
							<mat-option *ngFor="let item of data.persons" [value]="item.personId">
								{{ item.cin }} / {{ item.clientName }} / {{ item.segmentName }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="flex w-full mt-3 gap-x-2">
					<mat-form-field class="w-full mat-dense-xs" appearance="outline">
						<mat-label>Produit de financement</mat-label>
						<mat-select formControlName="lastProduct">
							<mat-option
								*ngFor="let item of listProduitFinancement"
								[value]="item.id"
							>
								<span>{{ item.designation }}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="flex w-full mt-3 gap-x-2">
					<div class="flex flex-col w-full">
						<ngx-mat-tree-select-input
							class="w-full"
							[options]="filteredListObjetFinancement"
							[canSelectParentNode]="false"
							[controlName]="'financielObject'"
							[placeholder]="'Objet de financement'"
						>
							<input
								class="w-full p-4"
								#searchInput
								placeholder="Chercher"
								(keydown)="$event.stopPropagation()"
								(keyup)="filter(listObjetFinancement, searchInput.value)"
							/>
						</ngx-mat-tree-select-input>
					</div>
				</div>

				<div class="flex w-full mb-4">
					<mat-radio-group formControlName="lastPrelevementType">
						<mat-label class="font-semibold">Type de prélèvement</mat-label>
						<mat-radio-button
							*ngFor="let item of typePrelevement"
							[value]="item.code"
							class="ml-2"
							>{{ item.designation }}</mat-radio-button
						>
					</mat-radio-group>
				</div>

				<div class="flex lg:flex-row flex-col w-full gap-x-2">
					<mat-form-field appearance="outline" class="mat-dense-xs w-full">
						<mat-label>Montant demandé</mat-label>
						<input
							type="text"
							matInput
							formControlName="lastAmountGranted"
							currencyMask
							[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
						/>
					</mat-form-field>

					<mat-form-field appearance="outline" class="mat-dense-xs w-full">
						<mat-label>Apport personnel</mat-label>
						<input
							type="text"
							matInput
							formControlName="lastContributionAmount"
							currencyMask
							[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
						/>
					</mat-form-field>
				</div>

				<div class="flex w-full lg:flex-row flex-col gap-x-2">
					<mat-form-field appearance="outline" class="mat-dense-xs w-full">
						<mat-label>Durée</mat-label>
						<input
							matInput
							formControlName="lastDuration"
							type="number"
							class="text-right"
						/>
					</mat-form-field>

					<mat-form-field appearance="outline" class="mat-dense-xs w-full">
						<mat-label>Taux</mat-label>
						<input
							matInput
							formControlName="lastRate"
							type="number"
							class="text-right"
						/>
					</mat-form-field>

					<mat-form-field appearance="outline" class="mat-dense-xs w-full">
						<mat-label>Differé</mat-label>
						<input
							matInput
							formControlName="lastDeferredPeriod"
							type="number"
							class="text-right"
						/>
					</mat-form-field>
				</div>
				
				<div class="w-full">
					<mat-form-field
						appearance="outline"
						class="flex-auto w-full mat-dense-xs"
					>
						<mat-label>Date de dédut</mat-label>
						<input
							matInput
							[matDatepicker]="picker"
							placeholder="Date de dédut"
							formControlName="startDate"
							[disabled]="false"
						/>
						<mat-datepicker-toggle matSuffix [for]="picker">
						</mat-datepicker-toggle>
						<mat-datepicker #picker [touchUi]="false" [color]="'primary'">
						</mat-datepicker>
					</mat-form-field>
				</div>

				<div class="flex w-full">
					<mat-radio-group formControlName="periodicity" class="mt-2">
						<mat-label class="font-semibold">Périodicité</mat-label>
						<mat-radio-button
							*ngFor="let item of perdictees"
							[value]="item.code"
							class="ml-2"
							>{{ item.designation }}</mat-radio-button
						>
					</mat-radio-group>
				</div>
			</div>

			<app-simulation-result *ngIf="calculateSuccess" [monthlyPayment]="product.lastMonthlyPayment" [insurance]="product.lastInsurance"></app-simulation-result>

			<div class="flex flex-row gap-3 justify-center">
				<button
					mat-raised-button
					[color]="'primary'"
					cdkFocusInitial
					type="submit"
					class="p-3"
				>
					Calculer
				</button>
				<button
					mat-raised-button
					type="reset"
					[color]="'warn'"
					(click)="onResit()"
					class="p-3"
				>
					Réinitialiser
				</button>
			</div>
		</form>
	</div>
</div>
<div mat-dialog-actions class="flex justify-end mt-4 gap-2">
	<button
		[disabled]="!calculateSuccess"
		mat-raised-button
		[color]="'primary'"
		cdkFocusInitial
		(click)="onValide()"
	>
		Enregistrer
	</button>

	<button mat-raised-button [color]="'warn'" (click)="onClose()">Retour</button>
</div>
