
    <div class="w-full grid grid-cols-2 md:grid-cols-4 gap-x-6" *ngIf="['DA','SA','ADL','CS','AMAQ','DAT','DE','DIS','DOXA','REL','RELH','RTPE'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label *ngIf="['CS'].indexOf(editedProject.productName) == -1">Type Crédit</mat-label>
            <mat-label *ngIf="['CS'].indexOf(editedProject.productName) > -1">Mécanisme</mat-label>
            <mat-select [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" [(ngModel)]="credit.creditType">
                <mat-option *ngFor="let item of listeTypeCredit" [value]="item.id">
                    <span>{{item.designation}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

<div class="w-full grid grid-cols-2 md:grid-cols-4 gap-x-6" *ngIf="['SS','STPE', 'EP'].indexOf(editedProject.productName) > -1 || (['DA','SA','ADL','CS','AMAQ','DAT','DE','DIS','DOXA','REL','RELH','RTPE'].indexOf(editedProject.productName) > -1 && credit.creditType != null)">

    <div>
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label *ngIf="editedProject.productName != 'CS'">N° Dossier</mat-label>
            <mat-label *ngIf="editedProject.productName == 'CS'">N° Crédit OAV</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || true)" matInput [(ngModel)]="credit.bankCreditNumber" type="text" required [formControl]="bankCreditNumber"
                [errorStateMatcher]="matcher">
            <mat-error>Obligatoire</mat-error>
        </mat-form-field>
    </div>
    <div *ngIf="['STPE'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>N° crédit Damane Intelak</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput [(ngModel)]="credit.creditDiId" type="text">
            <mat-error>Obligatoire</mat-error>
        </mat-form-field>
    </div>

    <div *ngIf="['DIS','DOXA','REL','RELH','RTPE'].indexOf(editedProject.productName) > -1 || (editedProject.productName=='AMAQ' && credit.creditType == 170) || (editedProject.productName == 'DE' && credit.creditType == 7)">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Objet</mat-label>
                <textarea [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())"  matInput [(ngModel)]="credit.object"></textarea>
        </mat-form-field>
    </div>

    <div *ngIf="(editedProject.productName == 'DE' && credit.creditType == 8) || (editedProject.productName =='AMAQ' && credit.creditType == 180)">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>ID banque ligne crédit</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput type="text" [(ngModel)]="credit.creditLineBankId">
        </mat-form-field>
    </div>

    <div *ngIf="['ADL','AMAQ','DA','DAT','DE','DIS','DOXA','REL','RELH','RTPE','SA','STPE','EP'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Montant Crédit</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput [(ngModel)]="credit.amount" currencyMask
                [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }" required>
        </mat-form-field>
    </div>

    <div *ngIf="['ADL','DA','AMAQ','DAT','DE','DIS','DOXA','REL','RELH','RTPE','EP'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Taux d'interêt</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput type="number" [(ngModel)]="credit.benefitRate">
        </mat-form-field>
    </div>

    <div *ngIf="['SA','ADL','DA','DIS','DOXA','REL','RELH','RTPE','STPE','EP'].indexOf(editedProject.productName) > -1  || (editedProject.productName=='AMAQ' && credit.creditType == 170) || (editedProject.productName=='DE' && credit.creditType == 7)">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Durée</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput type="number" [(ngModel)]="credit.duration">
        </mat-form-field>
    </div>

    <div *ngIf="['DA','DIS','DOXA','REL','RELH','RTPE','EP'].indexOf(editedProject.productName) > -1  || (editedProject.productName=='AMAQ' && credit.creditType == 170) || (editedProject.productName=='DE' && credit.creditType == 7)">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Différé</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput type="number" [(ngModel)]="credit.differed">
        </mat-form-field>
    </div>

    <div *ngIf="['DA','SA','ADL'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Objet de crédit</mat-label>
            <mat-select [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" [(ngModel)]="credit.creditObject">
                <mat-option *ngFor="let item of listeObjetCredit" [value]="item.id">
                    <span>{{item.designation}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="['EP'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Taux d'interêt de retard (%)</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput type="number" [(ngModel)]="credit.delayBenefitRate">
        </mat-form-field>
    </div>

    <div *ngIf="['DA'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Type de prime actuarielle</mat-label>
            <mat-select [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" [(ngModel)]="credit.primeType">
                <mat-option *ngFor="let item of typePrimeActuarielList" [value]="item.id">
                    <span>{{item.id}} - {{item.designation}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="['DA'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Frais Capitalises</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput type="number" [(ngModel)]="credit.capitalizedSum">
        </mat-form-field>
    </div>

    <div *ngIf="['DIS','DOXA','REL','RELH','RTPE','EP'].indexOf(editedProject.productName) > -1 || (editedProject.productName=='AMAQ' && credit.creditType == 170) || (editedProject.productName=='DE' && credit.creditType == 7)">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Périodicité</mat-label>
            <mat-select [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" [(ngModel)]="credit.periodicity">
                <mat-option *ngFor="let item of listePeriodicite" [value]="item.id">
                    <span>{{item.designation}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="['REL','DOXA','REL','RELH','RTPE'].indexOf(editedProject.productName) > -1 || (editedProject.productName=='AMAQ' && credit.creditType == 170) || (editedProject.productName == 'DE' && credit.creditType == 7)">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Mode d'amortissement</mat-label>
            <mat-select [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" [(ngModel)]="credit.dampingMode">
                <mat-option *ngFor="let amortissement of listeAmortissement" [value]="amortissement.id">
                    <span>{{amortissement.designation}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="['ADL','RTPE','AMAQ','SA','DA','DI','DE'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Quotité de finacement (%)</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput type="number" [(ngModel)]="credit.financingQuota">
        </mat-form-field>
    </div>

    <div *ngIf="['REL','RELH','RTPE'].indexOf(editedProject.productName) > -1">
        <mat-radio-group [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" aria-label="Select an option" [(ngModel)]="credit.flagSurety">
            <mat-label>Existance sureté? </mat-label>
            <mat-radio-button value="O" class="pl-1">OUI</mat-radio-button>
            <mat-radio-button value="N" class="pl-1">NON</mat-radio-button>
        </mat-radio-group>
    </div>

    <div *ngIf="['DAT'].indexOf(editedProject.productName) > -1 || (editedProject.productName =='AMAQ' && credit.creditType == 180) || (editedProject.productName=='DE' && credit.creditType == 8)">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Date échéance</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput type="date" [(ngModel)]="credit.deadline">
        </mat-form-field>
    </div>

    <div *ngIf="(editedProject.productName == 'AMAQ' && credit.creditType == 180) || (editedProject.productName == 'DE' && credit.creditType == 8)">
        <mat-radio-group [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" aria-label="Select an option" [(ngModel)]="credit.cumulFlag">
            <mat-label>Cumulable: </mat-label>
            <mat-radio-button value="O" class="pl-1">OUI</mat-radio-button>
            <mat-radio-button value="N" class="pl-1">NON</mat-radio-button>
        </mat-radio-group>
    </div>

    <div *ngIf="['DAT'].indexOf(editedProject.productName) > -1 || (editedProject.productName == 'AMAQ' && credit.creditType == 180) || (editedProject.productName == 'DE' && credit.creditType == 8)">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Type Ligne</mat-label>
            <mat-select [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" [(ngModel)]="credit.lineType">
                <mat-option *ngFor="let typeLigne of listeTypeLigne" [value]="typeLigne.id">
                    <span>{{typeLigne.designation}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="['DAT'].indexOf(editedProject.productName) > -1 || (editedProject.productName == 'AMAQ' && credit.creditType == 180) || (editedProject.productName == 'DE' && credit.creditType == 8)">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Détail type ligne</mat-label>
            <textarea [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput [(ngModel)]="credit.detailLineType"></textarea>
        </mat-form-field>
    </div>

    <div *ngIf="['DOXA'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Ancienne Clé Oxygène</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput type="text" [(ngModel)]="credit.oxygeneCcgId">
        </mat-form-field>
    </div>


    <div *ngIf="['DAT'].indexOf(editedProject.productName) > -1">
        <mat-radio-group [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" aria-label="Select an option" [(ngModel)]="credit.flagjumele">
            <mat-label>Jumelé?</mat-label>
            <mat-radio-button value="O" class="pl-1">OUI</mat-radio-button>
            <mat-radio-button value="N" class="pl-1">NON</mat-radio-button>
        </mat-radio-group>
    </div>


    <!--///////////////////////////////////////////////////////////////////////-->
    <!--///////////////////////////////////////////////////////////////////////-->

    <div *ngIf="['CS'].indexOf(editedProject.productName) > -1">
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Taux d'endettement</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" matInput type="number" [(ngModel)]="credit.benefitRate">
        </mat-form-field>
    </div>

    <!--///////////////////////////////////////////////////////////////////////-->
    <!--///////////////////////////////////////////////////////////////////////-->


</div>

<div class="w-full grid grid-cols-2 md:grid-cols-4 gap-x-6" *ngIf="editedProject.productName == 'CS'">
    <div>
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Echéance réduite estimée</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" disabled matInput type="text" value="282.64">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Restourne</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" disabled matInput type="text" value="282.64">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Echéance pleine estimée</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" disabled matInput type="text" value="290.03">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="w-full mat-dense-xs" appearance="outline">
            <mat-label>Libellé tarification à séléctionner dans l'OAV</mat-label>
            <input [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" disabled matInput type="text" value=" ">
        </mat-form-field>
    </div>
</div>



<div class="w-full flex justify-end gap-2">
    <button [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" mat-raised-button [color]="'accent'" *ngIf="editedProject.productName == 'CS'">Simuler</button>
    <button [disabled]="editMode == 2 && (!ccgService.canEdit(editedProject) || routingService.isDemandeRO())" mat-raised-button [color]="'primary'" (click)="saveCreditProject()">Enregistrer</button>
    <button mat-raised-button [color]="'warn'" (click)="onReturn()">Retour</button>
</div>


<div class="w-full mt-10 mb-10" *ngIf="editedProject.productName == 'CS'">
    <h3 class="text-center"><b>Convention</b></h3>

    <table mat-table class="mat-datatable small-table bg-white w-full hover" [dataSource]="convention">

        <ng-container matColumnDef="mecanisme">
            <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                Mécanisme
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <span>{{element.mecanisme}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="plafond">
            <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                Plafond (dh)
            </th>
            <td mat-cell *matCellDef="let element" class="text-right">
                <span>{{element.plafond | number:'.2':'es'}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="echelle">
            <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                Echelle
            </th>
            <td mat-cell *matCellDef="let element" class="text-left">
                <span>{{element.echelle}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="dureeMaxRembourss">
            <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                Durée Max de Rembourssement (mois)
            </th>
            <td mat-cell *matCellDef="let element">
                <span>{{element.dureeMaxRembourss}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="tauxHT">
            <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                Taux HT(%)
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <span>{{element.tauxHT}}</span>
            </td>
        </ng-container>


        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef class="border-r border-white pl-1 text-right">
                <button *ngIf="routingService.isDemandeRW()" (click)="onPrepareAdd()" mat-mini-fab class="custom-mini-fab" [color]="'secondary'"
                    matTooltip="Ajouter">
                    <mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus"></mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element" class="text-right">

                <button (click)="onPrepareEdit(element)" mat-mini-fab class="custom-mini-fab" [color]="'primary'"
                    matTooltip="Modifier">
                    <mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
                </button>

                <button *ngIf="routingService.isDemandeRW()" (click)="onPrepareDelete(element)" mat-mini-fab class="custom-mini-fab ml-2" [color]="'warn'"
                    matTooltip="Supprimer">
                    <mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry rounded-t-xl"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div>