<div class="w-full overflow-auto flex">
    <div class="flex gap-x-3 mt-5 py-4 mx-auto px-4" style="width: fit-content;">
        <button mat-raised-button [color]="selectedTab===1?'primary':''" (click)="onSelectTab(1)">Initialisation</button>
        <button mat-raised-button [color]="selectedTab===2?'primary':''" (click)="onSelectTab(2)">Identification Client</button>
        <button mat-raised-button [color]="selectedTab===3?'primary':''" (click)="onSelectTab(3)">Infos Client</button>
        <button mat-raised-button [color]="selectedTab===4?'primary':''" (click)="onSelectTab(4)">Projet</button>
       <!-- <button mat-raised-button [color]="selectedTab===5?'primary':''" (click)="onSelectTab(5)">Associé</button> -->
    </div>
</div>

<app-ccg-init *ngIf="selectedTab===1" [demandeDTO]="demandeDTO" [persons]="persons" (emmteur)="onReciveEvent($event)"></app-ccg-init>
<app-client-identity *ngIf="selectedTab===2" [demandeDTO]="demandeDTO" [persons]="persons" (emmteur)="onReciveEvent($event)"></app-client-identity>
<app-client-infos *ngIf="selectedTab===3" [demandeDTO]="demandeDTO" [persons]="persons" (emmteur)="onReciveEvent($event)"></app-client-infos>
<app-ccg-projet-infr-table *ngIf="selectedTab===4" [demandeDTO]="demandeDTO" [persons]="persons" (emmteur)="onReciveEvent($event)"></app-ccg-projet-infr-table>
<!-- <app-ccg-associe-info *ngIf="selectedTab===5" [demandeDTO]="demandeDTO" (emmteur)="onReciveEvent($event)"></app-ccg-associe-info> -->

