.main-content,
div,
span {
	font-family: "Open Sans", sans-serif !important;
}

td.no-over {
	background-color: white !important;
}
table.mat-datatable {
	background: white !important;
}

.cacherDoc {
	width: 600px;
	position: absolute;
	right: -600px;
	top: 120px;
	z-index: 100;
	transition: all 500ms;
}
.afficherDoc {
	width: 600px;
	position: absolute;
	right: 50px;
	top: 120px;
	z-index: 100;
	transition: all 500ms;
}

.action-bar {
	/* background-color: white; */
	position: fixed;
	z-index: 50;
	bottom: 55px;
	left: 50%;
	transform: translateX(-48%);
	border-radius: 50px;
}
