<button
	class="custom-mini-fab absolute sm:left-10 left-2 top-1"
	mat-mini-fab
	color="primary"
	(click)="onRetour()"
>
	<mat-icon class="icon-size-4" svgIcon="heroicons_outline:reply"></mat-icon>
</button>
<div class="bg-indigo-50 flex-col w-full mt-10 sm:px-10 px-2">
	<mat-expansion-panel [expanded]="true" class="rounded-t-xl" hideToggle>
		<mat-expansion-panel-header class=" mb-5 h-auto min-h-14">
			<app-entete-demande class="w-full" [request]="request" [persons]="persons"></app-entete-demande>
		</mat-expansion-panel-header>
		<div class="flex flex-col gap-3">
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-6 w-full min-w-0">
				<!-- Summary -->
				<div class="col-span-2">
					<app-demande-qui
						[demandeDTO]="request"
						[persons]="persons"
					></app-demande-qui>
				</div>

				<!-- Overdue -->
				<div class="col-span-2">
					<app-demande-info [demandeDTO]="request"></app-demande-info>
				</div>

				<!-- Issues -->
				<div class="md:col-span-1 col-span-2">
					<mat-expansion-panel [expanded]="true" class="w-full rounded-t-xl h-full" hideToggle>
						<mat-expansion-panel-header class=" expan-panel header">
							<div class="w-full flex justify-center">
								<h4 class="ml-3 font-bold">Dernier Commentaire</h4>
							</div>
						</mat-expansion-panel-header>
						<div *ngIf="demandeService.requestComments && demandeService.requestComments[0] as lastComment" class="flex flex-col justify-center items-center mt-8">
							<div>{{ lastComment?.actionDate | date: 'dd/MM/yyyy hh:mm'}}</div>
							<br>
							<br>
							<div>
								<p> <b>{{lastComment?.userName}}</b>  {{lastComment?.entityName}}</p>
								<br>
								<p class="ml-2 italic">{{lastComment?.userRemark}}</p>
							</div>
						</div>
					</mat-expansion-panel>
				</div>
			</div>

			<div
				class="
					flex-auto
					bg-card
					shadow
					rounded-2xl
					overflow-auto
				"
			>
				<app-products-simple></app-products-simple>
			</div>
		</div>
	</mat-expansion-panel>
	<!--  *************************************************************************************** -->

	<mat-expansion-panel [expanded]="true" class="rounded-t-xl mt-10 min-h-100" hideToggle>
		<mat-expansion-panel-header
				class=" mb-5"
			#panelContainer
			(click)="panelContainer._toggle()"
		>
			<div class="w-full flex justify-center">
				<h4 class="ml-3 font-bold"></h4>
			</div>
		</mat-expansion-panel-header>
		<mat-tab-group
			(selectedTabChange)="tabChange($event)"
			[animationDuration]="'500'"
			class="px-0"
			mat-align-tabs="center"
		>
			<!-- Home -->
			<mat-tab
				class="px-0"
				label="Vision 360"
				*ngIf="utilsService.afficheable(eventCodes.vision_360)"
			>
				<ng-template matTabContent>
					<!--<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 w-full min-w-0">-->
					<div
						class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 gap-6 w-full min-w-0"
					>
						<!-- Endettement CAM -->
						<mat-expansion-panel
							[expanded]="true"
							class="rounded-t-xl flex flex-col flex-auto"
							hideToggle
						>
							<mat-expansion-panel-header class=" expan-panel header">
								<div class="w-full flex justify-center">
									<h4 class="ml-3 font-bold">Endettement CAM</h4>
									<h4 class="ml-3 italic">
										( Situation du
										{{ dateSituation | date: "dd/MM/yyyy HH:mm":"0" }} )
									</h4>
								</div>
							</mat-expansion-panel-header>
							<app-endettement-cam
								(onSituationChanged)="onNewSituation($event)"
							></app-endettement-cam>
						</mat-expansion-panel>

						<mat-divider></mat-divider>

						<!--Situation des comptes CAM-->
						<mat-expansion-panel
							[expanded]="true"
							class="rounded-t-xl flex flex-col flex-auto"
							hideToggle
						>
							<mat-expansion-panel-header class=" expan-panel header">
								<div class="w-full flex justify-center">
									<h4 class="ml-3 font-bold">Situation des comptes CAM</h4>
									<h4 class="ml-3 italic">
										( Situation du
										{{ dateSituationCompt | date: "dd/MM/yyyy HH:mm":"0" }} )
									</h4>
								</div>
							</mat-expansion-panel-header>
							<app-situation-comptes
								(onSituationChanged)="onNewSituationCompt($event)"
							></app-situation-comptes>
						</mat-expansion-panel>
						<mat-divider></mat-divider>
						<!--Domiciliations-->
						<mat-expansion-panel
							[expanded]="true"
							class="rounded-t-xl flex flex-col flex-auto"
							hideToggle
						>
							<mat-expansion-panel-header class=" expan-panel header">
								<div class="w-full flex justify-center">
									<h4 class="ml-3 font-bold">Domiciliations</h4>
									<h4 class="ml-3 italic">
										( Situation du
										{{ dateSituationDom | date: "dd/MM/yyyy HH:mm":"0" }} )
									</h4>
								</div>
							</mat-expansion-panel-header>
							<app-domiciliation
								(onSituationChanged)="onNewSituationDom($event)"
							></app-domiciliation>
						</mat-expansion-panel>
						<mat-divider></mat-divider>
						<!--Incidents de paiement-->

						<app-incident-paiement></app-incident-paiement>
					</div>
				</ng-template>
			</mat-tab>

			<mat-tab
				*ngIf="
					utilsService.afficheable(eventCodes.detail_dem)
				"
				label="Détail demande"
				class="px-0"
			>
				<ng-template matTabContent>
					<app-detail-demande></app-detail-demande>
				</ng-template>
			</mat-tab>

            <!-- Tasbiq FDA-->
            <mat-tab *ngIf="request.creditTypeId===21"
                label="Tasbiq FDA"
                class="px-0"
            >
                <ng-template matTabContent>
                    <app-tasbiq-fda-request-window></app-tasbiq-fda-request-window>
                </ng-template>
            </mat-tab>

			<!-- demande invistissement specific -->
			<mat-tab
				label="Fiche signalétique"
				*ngIf="
					utilsService.afficheable(eventCodes.fiche_sign)
				"
			>
				<ng-template matTabContent>
					<mat-expansion-panel class="mt-3" [expanded]="true">
						<mat-expansion-panel-header class=" expan-panel header">
							<div class="w-full flex justify-center">
								<h4 class="ml-3 font-bold">Fiche signalétique</h4>
								<h4 class="ml-3 italic">( Situation du 10/07/2021 )</h4>
							</div>
						</mat-expansion-panel-header>
						<app-fiche-signaletique></app-fiche-signaletique>
					</mat-expansion-panel>
				</ng-template>
			</mat-tab>

			<mat-tab
				label="Présentation de l'entreprise"
				class="px-0"
				*ngIf="
					utilsService.afficheable(eventCodes.present_entrep)
				"
			>
				<ng-template matTabContent>
					<app-presentation-entreprise [demandeDTO]="request" [requestId]="request?.requestId"></app-presentation-entreprise>
				</ng-template>
			</mat-tab>

			<mat-tab
				label="Projet d'investissement"
				class="px-0"
				*ngIf="
					utilsService.afficheable(eventCodes.projet_inv)
				"
			>
				<ng-template matTabContent>
					<app-projet-investissement ></app-projet-investissement>
				</ng-template>
			</mat-tab>
			<!-- /demande invistissement specific -->

			<mat-tab
				label="Revenus & charges"
				*ngIf="utilsService.afficheable(eventCodes.revenu_charge)"
			>
				<ng-template matTabContent>
					<mat-expansion-panel [expanded]="true" class="mt-3">
						<mat-expansion-panel-header class=" expan-panel header">
							<div class="w-full flex justify-center">
								<h4 class="ml-3 font-bold">Revenus et charges</h4>
							</div>
						</mat-expansion-panel-header>

						<app-revenu-charge></app-revenu-charge>
					</mat-expansion-panel>
				</ng-template>
			</mat-tab>

            <mat-tab
                class="px-0"
                label="Etude ISTIDAMA"
                *ngIf="utilsService.afficheable(eventCodes.istidama)"
            >
                <ng-template matTabContent>
                    <app-istidama-window-request></app-istidama-window-request>
                </ng-template>

            </mat-tab>

			<mat-tab
				label="Crédit bureau"
				*ngIf="utilsService.afficheable(eventCodes.credit_bureau)"
			>
				<ng-template matTabContent>
					<mat-expansion-panel
						[expanded]="true"
						class="rounded-t-xl flex flex-col flex-auto"
						hideToggle
					>
						<mat-expansion-panel-header class=" expan-panel header">
							<div class="w-full flex justify-center">
								<h4 class="ml-3 font-bold">Crédit bureau</h4>
							</div>
						</mat-expansion-panel-header>
						<app-credit-bureau></app-credit-bureau>
					</mat-expansion-panel>
				</ng-template>
			</mat-tab>

			<mat-tab label="CNT" *ngIf="utilsService.afficheable(eventCodes.etude_cnt)">
				<ng-template matTabContent>
					<app-cnt-tableau></app-cnt-tableau>
				</ng-template>
			</mat-tab>

			<mat-tab
				label="Etude"
				*ngIf="utilsService.afficheable(eventCodes.etude_demande)"
			>
				<ng-template matTabContent>
					<!-- TODO: remove explicit numbers -->

					<mat-expansion-panel [expanded]="true" class="mt-3 bg-gray" >
						<mat-expansion-panel-header class="expan-panel header">
							<div class="w-full flex justify-center">
								<h4 class="ml-3 font-bold">Description</h4>
								<h4 class="ml-3 italic"></h4>
							</div>
						</mat-expansion-panel-header>

						<app-detail-demande></app-detail-demande>

					</mat-expansion-panel>
					<app-objet-financement *ngIf="request.creditTypeId==1 "></app-objet-financement>
					<mat-divider class="bg-gray-100"></mat-divider>
					<mat-expansion-panel [expanded]="true" class="mt-3 bg-gray">
						<mat-expansion-panel-header class=" expan-panel header">
							<div class="w-full flex justify-center">
								<h4 class="ml-3 font-bold">Garanties proposées</h4>
								<h4 class="ml-3 italic"></h4>
							</div>
						</mat-expansion-panel-header>
						<app-guaranties
							[personId]="request?.personId"
							[listBien]="listBien"
						></app-guaranties>
					</mat-expansion-panel>

					<mat-divider></mat-divider>

					<mat-expansion-panel [expanded]="true" class="mt-3 bg-gray">
						<mat-expansion-panel-header class=" expan-panel header">
							<div class="w-full flex justify-center">
								<h4 class="ml-3 font-bold">Patrimoine immobilier</h4>
								<h4 class="ml-3 italic"></h4>
							</div>
						</mat-expansion-panel-header>

						<app-patrimony [listBien]="listBien"></app-patrimony>
					</mat-expansion-panel>

					<mat-expansion-panel [expanded]="true" class="mt-3 bg-gray" *ngIf="request.creditTypeId==1 || request.creditTypeId==2">
						<mat-expansion-panel-header class="expan-panel header">
							<div class="w-full flex justify-center">
								<h4 class="ml-3 font-bold">Cautions Solidaires</h4>
								<h4 class="ml-3 italic"></h4>
							</div>
						</mat-expansion-panel-header>

						<app-cautions></app-cautions>
					</mat-expansion-panel>

				</ng-template>
			</mat-tab>

			<mat-tab
				label="Scoring"
				*ngIf="utilsService.afficheable(eventCodes.scoring)"
			>
				<ng-template matTabContent>
					<app-scoring></app-scoring>
				</ng-template>
			</mat-tab>

			<mat-tab
				label="Scoring Agri"
				*ngIf="utilsService.afficheable(eventCodes.scoring_agr)"
			>
				<ng-template matTabContent>
					<app-scoring-agri></app-scoring-agri>
				</ng-template>
			</mat-tab>

			<mat-tab label="Avis" *ngIf="utilsService.afficheable(eventCodes.avis)">
				<ng-template matTabContent>
					<mat-expansion-panel [expanded]="true" class="bg-gray">
						<mat-expansion-panel-header class=" expan-panel header">
							<div class="w-full flex justify-center">
								<h4 class="ml-3 font-bold">Avis</h4>
								<h4 class="ml-3 italic"></h4>
							</div>
						</mat-expansion-panel-header>
						<app-avis></app-avis>
					</mat-expansion-panel>
				</ng-template>
			</mat-tab>

			<mat-tab label="Decision" *ngIf="utilsService.afficheable(eventCodes.comite)">
				<ng-template matTabContent>
					<app-decision></app-decision>
				</ng-template>
			</mat-tab>

			<mat-tab
				label="Réalisation"
				*ngIf="utilsService.afficheable(eventCodes.realisation)"
			>
				<ng-template matTabContent>
					<div class="flex flex-col sm:flex-row items-start overflow-auto">
						<div class="mt-2 mb-7 mx-auto flex gap-10 p-6">
							<button
								(click)="realisationPanel(1)"
								*ngIf="utilsService.afficheable(eventCodes.contrat)"
								[ngClass]="
									realisationPanl == 1
										? 'bg-primary text-white'
										: 'bg-indigo-50 text-black'
								"
								class="
									shadow-xl
									h-15
									text-center
									flex
									items-center
									justify-center
									rounded-full
									font-extrabold
									relative
								"
							>
								<span class="px-3 w-30">{{demandeService.getOpcTitle()}}</span>
							</button>

							<button
								(click)="realisationPanel(2)"
								*ngIf="utilsService.afficheable(eventCodes.convention)"
								[ngClass]="
									realisationPanl == 2
										? 'bg-primary text-white'
										: 'bg-indigo-50 text-black'
								"
								class="
									shadow-xl
									h-15
									text-center
									flex
									items-center
									justify-center
									rounded-full
									font-extrabold
									relative
								"
							>
								<span class="px-3 w-30">Crédit conventionné</span>
							</button>

							<button
								(click)="realisationPanel(3)"
								*ngIf="utilsService.afficheable(eventCodes.garantie)"
								[ngClass]="
									realisationPanl == 3
										? 'bg-primary text-white'
										: 'bg-indigo-50 text-black'
								"
								class="
									shadow-xl
									h-15
									text-center
									flex
									items-center
									justify-center
									rounded-full
									font-extrabold
									relative
								"
							>
								<span class="px-3 w-30">Constitution de garantie</span>
							</button>

							<button
								(click)="realisationPanel(4)"
								*ngIf="utilsService.afficheable(eventCodes.livraison)"
								[ngClass]="
									realisationPanl == 4
										? 'bg-primary text-white'
										: 'bg-indigo-50 text-black'
								"
								class="
									shadow-xl
									h-15
									text-center
									flex
									items-center
									justify-center
									rounded-full
									font-extrabold
									relative
								"
							>
								<span class="px-3 w-30">Autorisation de livraison</span>
							</button>

							<button
								(click)="realisationPanel(5)"
                                *ngIf="utilsService.afficheable(eventCodes.conformite)"
								[ngClass]="
									realisationPanl == 5
										? 'bg-primary text-white'
										: 'bg-indigo-50 text-black'
								"
								class="
									shadow-xl
									h-15
									text-center
									flex
									items-center
									justify-center
									rounded-full
									font-extrabold
									relative
								"
							>
								<span class="px-3 w-30">Attestation de conformité</span>
							</button>
							<button
								(click)="realisationPanel(6)"
								*ngIf="utilsService.afficheable(eventCodes.deblocage)"
								[ngClass]="
									realisationPanl == 6
										? 'bg-primary text-white'
										: 'bg-indigo-50 text-black'
								"
								class="
									shadow-xl
									h-15
									text-center
									flex
									items-center
									justify-center
									rounded-full
									font-extrabold
									relative
								"
							>
								<span class="px-3 w-30">Rubrique</span>
							</button>
							<button
								(click)="realisationPanel(7)"
								*ngIf="utilsService.afficheable(eventCodes.deblocage)"
								[ngClass]="
									realisationPanl == 7
										? 'bg-primary text-white'
										: 'bg-indigo-50 text-black'
								"
								class="
									shadow-xl
									h-15
									text-center
									flex
									items-center
									justify-center
									rounded-full
									font-extrabold
									relative
								"
							>
								<span class="px-3 w-30">Autorisation de déblocage</span>
							</button>
							<button
								(click)="realisationPanel(8)"
								*ngIf="utilsService.afficheable(eventCodes.deblocage) && false"
								[ngClass]="
									realisationPanl == 8
										? 'bg-primary text-white'
										: 'bg-indigo-50 text-black'
								"
								class="
									shadow-xl
									h-15
									text-center
									flex
									items-center
									justify-center
									rounded-full
									font-extrabold
									relative
								"
							>
								<span class="px-3 w-30">Déblocage et mise en place</span>
							</button>
						</div>
					</div>

					<app-opc
						*ngIf="
							realisationPanl == 1 &&
							utilsService.afficheable(eventCodes.contrat)
						"
					></app-opc>
					<div
						*ngIf="
							realisationPanl == 2 &&
							utilsService.afficheable(eventCodes.convention)
						"
					>
					<app-cc-container [demandeDTO]="request" [persons]="persons"></app-cc-container>
					</div>
					<app-constitution
						*ngIf="
							realisationPanl == 3 &&
							utilsService.afficheable(eventCodes.garantie)
						"
					></app-constitution>

					<app-autorisation-livraison *ngIf="
							realisationPanl == 4 &&
							utilsService.afficheable(eventCodes.livraison)
						"
					></app-autorisation-livraison>
					<app-attestation-conformite-table
                        *ngIf=" realisationPanl == 5 && utilsService.afficheable(eventCodes.conformite)"
					></app-attestation-conformite-table>

					<app-rubrique
						*ngIf="
							realisationPanl == 6 &&
							utilsService.afficheable(eventCodes.deblocage)"
					></app-rubrique>

					<app-autorisation-deblocage-table
						*ngIf="
							realisationPanl == 7 &&
							utilsService.afficheable(eventCodes.deblocage)
						"
					></app-autorisation-deblocage-table>

					<app-deblocage
						*ngIf="
							realisationPanl == 8 &&
							utilsService.afficheable(eventCodes.deblocage)
						"
					></app-deblocage>
				</ng-template>
			</mat-tab>

			<mat-tab
			class="px-0"
			label="Historique"
			>
			<ng-template matTabContent>
				<!--<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 w-full min-w-0">-->
				<div
					class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 gap-6 w-full min-w-0"
				>
					<!-- Endettement CAM -->
					<mat-expansion-panel
						[expanded]="true"
						class="rounded-t-xl flex flex-col flex-auto"
						hideToggle
					>
						<mat-expansion-panel-header class=" expan-panel header">
							<h1 class="flex justify-center items-center w-full font-bold">Timeline</h1>
						</mat-expansion-panel-header>
						<app-comments></app-comments>
					</mat-expansion-panel>
				</div>
			</ng-template>
			</mat-tab>

		</mat-tab-group>
		<div class="action-bar flex" style="width: 90%;">
			<app-demande-action class="w-full" *ngIf="routingService.isDemandeRW()"></app-demande-action>
		</div>

		<div
			(click)="toggleDocCaontainer()"
			class="
				flex
				items-center
				justify-center
				right-0
				w-10
				h-10
				shadow-lg
				rounded-l-lg
				z-100
				cursor-pointer
				bg-opacity-90 bg-green-600
			"
			matTooltip="Liste des documents"
			style="position: absolute; right: 0; top: 70px"
		>
			<mat-icon
				[svgIcon]="'heroicons_outline:folder-open'"
				class="icon-size-5 text-white"
			></mat-icon>
		</div>

		<div
			(click)="toggleDocCaontainer()"
			*ngIf="toggledDoc"
			style="
				position: fixed;
				top: 0;
				z-index: 100;
				left: 0;
				width: 100vw;
				height: 100vh;
				background-color: #7a7575;
				opacity: 0.4;
			"
		>
			tarik
		</div>
		<div
			*ngIf="toggledDoc"
			[@inOutAnimation]
			style="position: absolute; top: 120px; z-index: 200; width: 600px; right: 20px; max-width: 90vw;"
		>
			<app-demande-docs></app-demande-docs>
		</div>
	</mat-expansion-panel>
</div>
