<mat-expansion-panel class="bg-gray mt-5" [expanded]="true">
	<mat-expansion-panel-header class=" expan-panel header">
		<div class="w-full flex justify-center">
			<h4 class="ml-3 font-bold">SAISIE GARANTIE SUR EG</h4>
		</div>
	</mat-expansion-panel-header>
	<div class="flex w-full mt-5 items-start flex-col">
		<div
			class="w-full flex"
			*ngIf="
				routingService.isDemandeRW() &&
				utilsService.hasPrivilege(privileges.maj_garantie_realisation_m)
			"
		>
			<mat-form-field
				class="w-80 mt-2 mat-dense-xs mat-no-subscript"
				appearance="outline"
			>
				<mat-label>ID Sûreté</mat-label>
				<input matInput [(ngModel)]="idGuarantie" />
			</mat-form-field>
			<button
				mat-raised-button
				[color]="'primary'"
				class="px-8 mx-10"
				(click)="onAddGarantieFromExterne(idGuarantie)"
			>
				Ajouter
			</button>
		</div>
		<div class="tab-container mt-5 bg-cam w-full" style="max-width: 100%; overflow: auto">
			<table
				mat-table
				[dataSource]="dataSource"
				class="mat-datatable small-table"
				width="100%"
				style="min-width: 500px"
			>
				<!-- numdossier Column -->
				<ng-container [matColumnDef]="displayedColumns[0]">
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let element">
						<mat-checkbox
							[disabled]="element.boId"
							*ngIf="routingService.isDemandeRW() && element.guarantyId"
							[(ngModel)]="element.checked"
						></mat-checkbox>
					</td>
					<td mat-footer-cell *matFooterCellDef class="w-80"></td>
				</ng-container>

				<!-- numdossier Column -->
				<ng-container [matColumnDef]="displayedColumns[1]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[1] }}</th>
					<td mat-cell *matCellDef="let element">{{ element[displayedColumns[1]] }}</td>
					<td mat-footer-cell *matFooterCellDef class="w-80"></td>
				</ng-container>

				<!-- objet Column -->
				<ng-container [matColumnDef]="displayedColumns[2]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[2] }}</th>
					<td mat-cell *matCellDef="let element">{{ element[displayedColumns[2]] }}</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>

				<!-- nominalAuth Column -->
				<ng-container [matColumnDef]="displayedColumns[3]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[3] }}</th>
					<td mat-cell *matCellDef="let element" class="text-right">
						{{ element[displayedColumns[3]] | number: ".2":"es" }}
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>

				<!-- encours Column -->
				<ng-container [matColumnDef]="displayedColumns[4]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[4] }}</th>
					<td mat-cell *matCellDef="let element" class="text-end">
						{{ element[displayedColumns[4]] }}
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>
				<ng-container [matColumnDef]="displayedColumns[5]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[5] }}</th>
					<td mat-cell *matCellDef="let element" class="text-danger">
						{{ element[displayedColumns[5]] }}
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>
				<ng-container [matColumnDef]="displayedColumns[6]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[6] }}</th>
					<td mat-cell *matCellDef="let element" class="">
						{{ element[displayedColumns[6]] }}
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>

				<ng-container [matColumnDef]="displayedColumns[7]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[7] }}</th>
					<td mat-cell *matCellDef="let element" class="">
						{{ element[displayedColumns[7]] }}
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>
				<ng-container [matColumnDef]="displayedColumns[8]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[8] }}</th>
					<td mat-cell *matCellDef="let element" class="text-right">
						{{ element[displayedColumns[8]] | number: ".2":"es" }}
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>

				<ng-container [matColumnDef]="displayedColumns[9]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[9] }}</th>
					<td mat-cell *matCellDef="let element" class="text-right">
						{{ element[displayedColumns[9]] | number: ".2":"es" }}
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>

				<ng-container [matColumnDef]="displayedColumns[10]">
					<th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLielle[10] }}</th>
					<td mat-cell *matCellDef="let element" class="">
						{{ element[displayedColumns[10]] }}
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>

				<ng-container matColumnDef="status">
					<th mat-header-cell *matHeaderCellDef>Statut</th>
					<td
						mat-cell
						*matCellDef="let element"
						class=""
						[matTooltip]="element.statusName"
					>
						<div
							class="rounded-full h-5 w-5 shadow-lg flex items-center justify-center"
							[style.background]="element.statusColor"
						></div>
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>

				<ng-container [matColumnDef]="'action'">
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let element" class="">
						<ng-container *ngIf="element.guarantyId; else deleteButton">
							<button
								mat-button
								[matMenuTriggerFor]="menu"
								matTooltip="Actions"
								(click)="loadGaurantyActionsPrivs(element)"
							>
								<mat-icon svgIcon="heroicons_outline:dots-vertical"></mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button
									*ngFor="let action of element['actions']"
									(click)="guarantyDispatchAction(action, element)"
									mat-menu-item
								>
									{{ action?.actionName }}
								</button>
								<button
									*ngIf="
										routingService.isDemandeRW() &&
										communService.hasPrivilege(
											privileges.attacher_garantie_doss_m,
											element['privs']
										)
									"
									(click)="onAttacheReport(element)"
									mat-menu-item
								>
									Attacher
								</button>
								<button (click)="onListDossiers(element)" mat-menu-item>
									Dossiers
								</button>
							</mat-menu>
						</ng-container>

						<ng-template #deleteButton>
							<button
								color="warn"
								mat-mini-fab
								class="custom-mini-fab ml-1.5"
								matTooltip="Supprimer guaranty"
								(click)="detacherGuaranty(element)"
							>
								<mat-icon
									class="icon-size-4"
									svgIcon="heroicons_outline:trash"
								></mat-icon>
							</button>
						</ng-template>
					</td>
					<td mat-footer-cell *matFooterCellDef></td>
				</ng-container>

				<tr
					mat-header-row
					*matHeaderRowDef="displayedColumns"
					class="header-table-gry"
				></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
				<tr mat-footer-row *matFooterRowDef="displayedColumnsFooter()"></tr>
			</table>
		</div>
		<div *ngIf="routingService.isDemandeRW()" class="w-full flex justify-end gap-x-2">
			<button
				mat-raised-button
				color="primary"
				[disabled]="!afficherButtonEnregistrer()"
				(click)="saveGaranties()"
			>
				Enregistrer
			</button>
			<button
				mat-raised-button
				color="primary"
				(click)="creerBordereau()"
				*ngIf="garantiesChecked()"
			>
				Créer Bordereau
			</button>
		</div>
	</div>
</mat-expansion-panel>

<hr class="my-8" />

<mat-expansion-panel class="bg-gray" [expanded]="true" style="width: fit-content;">
	<mat-expansion-panel-header class=" expan-panel header">
		<div class="flex justify-center">
			<h4 class="ml-3 font-bold">BORDEREAU D'ENVOI</h4>
		</div>
	</mat-expansion-panel-header>

	<div class="tab-container mt-5 bg-cam overflow-auto" style="width: fit-content;">
		<table
			mat-table
			[dataSource]="bordereauDasource"
			class="mat-datatable small-table w-auto"
		>
			<!-- numdossier Column -->
			<ng-container matColumnDef="observation">
				<th mat-header-cell *matHeaderCellDef>Observation</th>
				<td mat-cell *matCellDef="let element">
					{{ element.observation }}
				</td>
			</ng-container>

			<ng-container matColumnDef="boNumber">
				<th mat-header-cell *matHeaderCellDef>N°Bordereau</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element.boNumber }}
				</td>
			</ng-container>

			<ng-container matColumnDef="countGuaranties">
				<th mat-header-cell *matHeaderCellDef>Nbr.Garanties</th>
				<td mat-cell *matCellDef="let element" class="text-right">
					{{ element.guaranties?.length }}
				</td>
			</ng-container>

			<ng-container [matColumnDef]="'action'">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let element" class="gap-x-2">
					<button
						mat-button
						[matMenuTriggerFor]="bordereauActions"
						matTooltip="Actions"
						(click)="loadBordereauActionsPrivs(element)"
					>
						<mat-icon svgIcon="heroicons_outline:dots-vertical"></mat-icon>
					</button>
					<mat-menu
						#bordereauActions="matMenu"
						[ngClass]="{
							hidden: !(element['guarantyId'] && element['actions']?.length)
						}"
					>
						<button
							*ngFor="let action of element['actions']"
							(click)="bordereauDispatchAction(action, element)"
							mat-menu-item
						>
							{{ action?.actionName }}
						</button>
						<button
							(click)="onTelechrgerBordereau()"
							color="primary"
							class="custom-mini-fab"
							mat-menu-item
						>
							Télécharger bordereau à signer
						</button>
						<button
							*ngIf="routingService.isDemandeRW()"
							(click)="fileInput.click()"
							color="primary"
							class="custom-mini-fab"
							mat-menu-item
						>
							Charger bordereau signé
						</button>

                        <button
                            *ngIf="routingService.isDemandeRW()"
                            (click)="onEditBordereau(element)"
                            color="primary"
                            class="custom-mini-fab"
                            mat-menu-item
                        >
                            Imprimer bordereau
                        </button>

						<button (click)="onListGuaranties(element)" mat-menu-item>
							les Sûretés
						</button>
					</mat-menu>
					<!-- <div class="w-full flex gap-x-2">
						<button (click)="onBordereauGarantie(element)" color="primary"  mat-mini-fab class="custom-mini-fab" matTooltip="Garanties">
							<mat-icon class="icon-size-4" svgIcon="heroicons_outline:dots-horizontal"></mat-icon>
						</button>
						<button [disabled]="element['statusCode']=='VA'" (click)="signer(element)" color="primary" mat-mini-fab class="custom-mini-fab" matTooltip="Signer bordereau">
							<mat-icon class="icon-size-4" svgIcon="heroicons_outline:finger-print"></mat-icon>
						</button>
						<button (click)="onDeleteSignedBordereau(element)" color="warn"  mat-mini-fab class="custom-mini-fab" matTooltip="Supprimer le bordereau signé">
							<mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
						</button>
					</div> -->
				</td>
			</ng-container>

			<tr
				mat-header-row
				*matHeaderRowDef="['observation', 'boNumber', 'countGuaranties', 'action']"
				class="header-table-gry"
			></tr>
			<tr
				mat-row
				*matRowDef="
					let row;
					columns: ['observation', 'boNumber', 'countGuaranties', 'action']
				"
			></tr>
		</table>
	</div>
	<input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />
</mat-expansion-panel>
