<h2 mat-dialog-title>Ajout caution</h2>
<div mat-dialog-content>
	<form class="w-full md:px-4 grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-4" [formGroup]="cautionForm">
		<mat-form-field>
			<mat-label>CIN</mat-label>
			<input matInput formControlName="reference" />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Prenom</mat-label>
			<input matInput formControlName="firstName" />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Nom</mat-label>
			<input matInput formControlName="lastName" />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Adresse</mat-label>
			<input matInput formControlName="adress" />
		</mat-form-field>

		<mat-form-field class="flex-auto gt-xs:pr-3">
			<mat-label> Date de Naissance </mat-label>
			<input
				matInput
				[matDatepicker]="picker"
				placeholder="Choose a date"
				formControlName="birthDate"
			/>

			<mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
			<mat-datepicker #picker [touchUi]="false" [color]="'primary'"> </mat-datepicker>
		</mat-form-field>
	</form>
</div>

<div mat-dialog-actions class="flex justify-end">
	<button
		mat-raised-button
		class="px-4"
		[disabled]="!cautionForm.valid"
		[color]="'primary'"
		(click)="addCaution()"
	>
		<span class="w-30">Enregistrer</span>
	</button>
	<button mat-raised-button [mat-dialog-close]="true" [color]="'warn'">Fermer</button>
</div>
