<div class="flex flex-col w-full" cdkDropListGroup>
	<div class="flex w-full grid grid-cols-1 gap-4 mt-10 px-2">
		<mat-expansion-panel *ngIf="myAssignements" [expanded]="false" class="w-full rounded-t-xl" hideToggle>
			<mat-expansion-panel-header
					class="expan-panel header"
			>
				<div class="w-full flex justify-center">
					<h4 class="ml-3 font-bold">{{myAssignements?.profilName}}</h4>
				</div>
			</mat-expansion-panel-header>
			
			<card
				*ngFor="let user of myAssignements?.users"
				class="flex flex-col w-full px-8 py-3 filter-list bg-accent-50 my-2"
			>
				<div class="flex pb-2 justify-between">
					<div class="flex gap-2 items-center">
						<mat-icon class="icon-size-4" svgIcon="heroicons_outline:user"></mat-icon>
						<b class="ml-2">{{ user?.userName }}</b>
						<button mat-raised-button color="primary" (click)="assignBucketRequests(user.userId)" [disabled]="!bucket.length">
							affecter ({{ bucket.length }})
						</button>
					</div>
					<div>
						<b>({{ user?.requests.length }})</b>
					</div>
				</div>
				<app-super-table (check)="bucketAddRequest($event)" (uncheck)="bucketDeleteRequest($event)" [id]="user.userId" [dropList]="user.requests" [drop]="dropHandler"></app-super-table>
			</card>
		<div class="flex flex-col flex-auto items-end w-full bg-card">
		</div>
	</mat-expansion-panel>

	<div class="grid md:grid-cols-2 grid-cols-1 gap-2">
		<div *ngFor="let assignementGroup of assignements">
			<mat-expansion-panel [expanded]="false" class="rounded-t-xl" hideToggle>
				<mat-expansion-panel-header
					class="expan-panel header"
				>
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">{{assignementGroup.profilName}}</h4>
					</div>
				</mat-expansion-panel-header>
				
				<card
					*ngFor="let user of assignementGroup.users"
					class="flex flex-col w-full px-8 py-3 filter-list bg-accent-50 my-2"
				>
					<div class="flex pb-2 justify-between">
						<div class="flex gap-2 items-center">
							<mat-icon class="icon-size-4" svgIcon="heroicons_outline:user"></mat-icon>
							<b class="ml-2">{{ user?.userName }}</b>
							<button mat-raised-button color="primary" (click)="assignBucketRequests(user.userId)" [disabled]="!bucket.length">
								affecter ({{ bucket.length }})
							</button>
						</div>
						<div>
							<b>({{ user?.requests.length }})</b>
						</div>
					</div>
					<app-super-table (check)="bucketAddRequest($event)" (uncheck)="bucketDeleteRequest($event)" [id]="user.userId" [dropList]="user.requests" [drop]="dropHandler"></app-super-table>
				</card>
			</mat-expansion-panel>
		</div>
	</div>
	</div>
</div>
