<div class="flex flex-col w-full">
	<div class="w-full flex sm:px-10 px-2 py-3">
		<card class="flex w-full sm:px-8 px-2 py-3 filter-list bg-accent-50">
			<mat-expansion-panel hideToggle class="rounded-t-xl w-full" [expanded]="true">
				<mat-expansion-panel-header
						class=" expan-panel header"
					#panelQUI
					(click)="panelQUI._toggle()"
				>
					<div class="w-full flex justify-center">
						<h4 class="ml-3 font-bold">QUI</h4>
					</div>
				</mat-expansion-panel-header>

				<form (ngSubmit)="onCreateDemande()" [formGroup]="requestForm">
					<div class="w-full flex flex-col justify-start py-5 sm:px-10 px-2">
						<app-account-find-show (onAccountFetch)="getAccount($event)"></app-account-find-show>
						<div *ngIf="account" class="gap-2">
							<div class="w-full flex mt-2" *ngIf="creditTypeId !==8 && creditTypeId !==10">
								<mat-form-field
									appearance="outline"
									class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
								>
									<mat-label>Projet</mat-label>
									<input type="text" matInput formControlName="objectCredit">
								</mat-form-field>
							</div>

                            <div class="w-auto max-w-full mt-4 items-center overflow-auto" >
                                <mat-expansion-panel-header class=" expan-panel header">
                                    <div class="w-full flex justify-center">
                                        <h4 class="ml-3 font-bold">LISTE ENDETTEMENTS</h4>
                                    </div>
                                </mat-expansion-panel-header>

                                <div class="w-full flex flex-col  mt-5 overflow-auto">
                                <table id="LISTENDETTEMENTS" class="mat-datatable table-simulation bg-white w-full">
                                    <tr>
                                        <!--   <th style="text-align: center">Code</th>-->
                                        <th style="text-align: center"></th>
                                        <th style="text-align: center">Numéro de dossier</th>
                                        <th style="text-align: center">Produit</th>
                                        <th style="text-align: center">Durée</th>
                                        <th style="text-align: center">Taux</th>
                                        <th style="text-align: center">Montant écheance</th>
                                        <th style="text-align: center">Autorisation</th>
                                        <th style="text-align: center">Encours</th>
                                        <th style="text-align: center">CRDU</th>
                                        <th style="text-align: center">Montant impayé</th>
                                        <th style="text-align: center">Nombre impayé</th>
                                    </tr>

                                    <tr *ngFor="let item of dataSourceListeDossierEndettement">
                                        <td style="text-align: left">
                                            <button  *ngIf="checkIfAdded(item) && creditTypeId===8" style="background-color: #3f51b5;" mat-raised-button color="primary" type="button" (click)="onReporterAutorisation(item)">Demander report</button>
                                            <button  *ngIf="checkIfAdded(item) && creditTypeId===10" style="background-color: #3f51b5;" mat-raised-button color="primary" type="button" (click)="onDemandeBasculement(item)">Demander Basculement</button>
                                        </td>
                                        <td style="text-align: left">{{item.numerodossier}}</td>
                                        <td style="text-align: left">{{item.produit}}</td>
                                        <td style="text-align: center">{{item.duree}}</td>
                                        <td style="text-align: center">{{item.taux}}</td>
                                        <td style="text-align: right">{{item.montantecheance}}</td>
                                        <td style="text-align: right">{{item.autorisation}}	</td>
                                        <td style="text-align: right">{{item.encours}}</td>
                                        <td style="text-align: right">{{item.crdu}}</td>
                                        <td style="text-align: right">{{item.mtimpaye}}</td>
                                        <td style="text-align: center">{{item.nbrimpaye}}</td>
                                    </tr>
                                </table>
                                    </div>
                            </div>

                            <div class="w-auto max-w-full mt-4 items-center overflow-auto" >
                                <mat-expansion-panel-header class=" expan-panel header">
                                    <div class="w-full flex justify-center">
                                        <h4 class="ml-3 font-bold">LISTE DEMANDE DE BASCULEMENT</h4>
                                    </div>
                                </mat-expansion-panel-header>

                                <div class="w-full flex flex-col  mt-5 overflow-auto">
                                    <table id="LISTENDETTEMENTSCHOISI" class="mat-datatable table-simulation bg-white w-full">
                                        <tr>
                                            <!--   <th style="text-align: center">Code</th>-->
                                            <th style="text-align: center"></th>
                                            <th style="text-align: center">Numéro de dossier</th>
                                            <th style="text-align: center">Produit</th>
                                            <th style="text-align: center">Durée</th>
                                            <th style="text-align: center">Taux</th>
                                            <th style="text-align: center">Montant écheance</th>
                                            <th style="text-align: center">Autorisation</th>
                                            <th style="text-align: center">Encours</th>
                                            <th style="text-align: center">CRDU</th>
                                            <th style="text-align: center">Montant impayé</th>
                                            <th style="text-align: center">Nombre impayé</th>
                                            <th style="text-align: center" *ngIf="creditTypeId===8">Nombre écheance à reporter</th>
                                            <th style="text-align: center" *ngIf="creditTypeId===8">Date prémiere écheance</th>
                                        </tr>

                                        <tr *ngFor="let item of dataSourceListeDossierEndettementCHOISI">
                                            <td style="text-align: left">


                                                <button mat-menu-item (click)="onDeleteReporterAutorisation(item)">
                                                    <mat-icon svgIcon="heroicons_outline:trash"></mat-icon
                                                    >
                                                </button>
                                            </td>
                                            <td style="text-align: left">{{item.numerodossier}}</td>
                                            <td style="text-align: left">{{item.produit}}</td>
                                            <td style="text-align: center">{{item.duree}}</td>
                                            <td style="text-align: center">{{item.taux}}</td>
                                            <td style="text-align: right">{{item.montantecheance}}</td>
                                            <td style="text-align: right">{{item.autorisation}}	</td>
                                            <td style="text-align: right">{{item.encours}}</td>
                                            <td style="text-align: right">{{item.crdu}}</td>
                                            <td style="text-align: right">{{item.mtimpaye}}</td>
                                            <td style="text-align: center">{{item.nbrimpaye}}</td>

                                            <td style="text-align: right" *ngIf="creditTypeId===8">{{item.lastDuration}}</td>
                                            <td style="text-align: center" *ngIf="creditTypeId===8">{{item.firstDeadlineDate | date: "dd/MM/yyyy"}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


							<div class="w-full flex mt-2" *ngIf="creditTypeId !==10">
								<mat-form-field class="w-100 mat-dense-xs" appearance="outline">
									<mat-label>Catégorie client</mat-label>
									<mat-select formControlName="clientCategory">
										<mat-option *ngFor="let cat of listCateories" [value]="cat.id">
											<span>{{cat.designation}}</span>
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="w-full flex" *ngIf="creditTypeId !==8 && creditTypeId !==10">
								<mat-form-field
									appearance="outline"
									class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
								>
									<mat-label>Detail demande</mat-label>
									<textarea
										class="h-26"
										matInput
										matTextareaAutosize
										formControlName="details"
									></textarea>
								</mat-form-field>
							</div>
						</div>
					</div>

					<div class="w-full flex justify-end sm:px-10 px-2 py-3 gap-2">
						<button
							mat-raised-button
							class="w-40 mt-4 ml-2"
							[color]="requestForm.invalid ? 'warn' : 'primary'"
							type="submit"
						>
							Enregistrer
						</button>
						<button
							mat-raised-button
							class="w-40 mt-4 ml-2"
							[color]="'warn'"
							type="button"
							(click)="reset()"
						>
							Réinitialiser
						</button>
					</div>
				</form>

			</mat-expansion-panel>
		</card>
	</div>
</div>
