body splash-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #111827;
	color: #f9fafb;
	z-index: 999999;
	pointer-events: none;
	opacity: 1;
	visibility: visible;
	transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

body splash-screen img {
	width: 120px;
	max-width: 120px;
}

body splash-screen .spinner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
	width: 56px;
}

body splash-screen .spinner > div {
	width: 12px;
	height: 12px;
	background-color: #1e96f7;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1s infinite ease-in-out both;
	animation: bouncedelay 1s infinite ease-in-out both;
}

body splash-screen .spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

body splash-screen .spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

body .splash-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #111827;
	color: #f9fafb;
	z-index: 999999;
	pointer-events: none;
	opacity: 0.8;
	visibility: visible;
	transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

body .splash-screen img {
	width: 120px;
	max-width: 120px;
}

body .splash-screen .spinner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
	width: 56px;
}

body .splash-screen .spinner > div {
	width: 12px;
	height: 12px;
	background-color: #1e96f7;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1s infinite ease-in-out both;
	animation: bouncedelay 1s infinite ease-in-out both;
}

body .splash-screen .spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

body .splash-screen .spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
	}
}

@keyframes bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

body:not(.splash-screen-hidden) {
	overflow: hidden;
}

body.splash-screen-hidden splash-screen {
	visibility: hidden;
	opacity: 0;
}
.mat-menu-panel.panel-searche {
	max-width: 800px;
	/*width: 800px !important;*/
}

/**la Hauteur du header et des lignes de la table .small-table******************************************************/
.mat-datatable.small-table tr.mat-header-row {
	height: 40px;
}
.mat-datatable.small-table tr.mat-row {
	height: 40px;
}
/** la police de la table .small-table******************************************************/

.mat-datatable.small-table th {
	padding: 3px 20px !important;
	font-family: "Open Sans", sans-serif;
	font-size: x-small;
	font-weight: 700 !important;
	line-height: 1.5em;
}
.mat-datatable th {
	border-right: 0.1em solid white;
}
.mat-datatable th:last-child {
	border-right: none;
}
.mat-datatable.small-table td {
	padding: 3px 20px !important;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: 500 !important;
	color: #707070;
	line-height: 1.8em;
}
.mat-datatable.small-table td.px-0-i {
	padding: 3px 2px !important;
}
.mat-datatable.small-table th.px-0-i {
	padding: 0.35rem !important;
}
.mat-datatable.footer-td-padding-x-1 td {
	padding: 3px 1px !important;
}

table.mat-datatable th {
	font-weight: 700 !important;
	font-size: small;
}
table.mat-datatable td {
	padding: 3px 20px !important;
	font-family: "Open Sans", sans-serif;
	font-size: small;
	font-weight: 400 !important;
	color: #7a7575;
	line-height: 1.8em;
}
table.mat-datatable thead tr th:first-child {
	border-top-left-radius: 20px !important;
}
table.mat-datatable {
	background: transparent !important;
}
table.mat-datatable thead tr th:last-child {
	border-top-right-radius: 20px !important;
}
table.mat-datatable tbody tr {
	background-color: white !important;
}
table.mat-datatable tbody tr.AC {
	background-color: greenyellow !important;
}
table.mat-datatable tbody tr.AC {
	background-color: greenyellow !important;
}
table.mat-datatable tbody tr.RJ {
	background-color: rgba(255, 0, 0, 0.5) !important;
}

table.mat-datatable:not(.not-hover) tbody tr:hover {
	background-color: #dddddd !important;
}
table.mat-datatable.table-simulation thead tr th {
	text-align: center !important;
	padding-left: 20px !important;
}
table.mat-datatable.table-simulation thead tr th {
	border-right: white 0.05rem solid;
}
table.mat-datatable.table-simulation thead tr th:last-child {
	border-right: none;
}
table.mat-datatable.table-simulation tbody tr td {
	/*text-align: center!important;*/
	padding-left: 10px !important;
}

/*/expention panel style//////////////////////////////////////////////////////////////////////////*/
.expan-panel.header {
	height: auto !important;
	min-height: 0px !important;
	padding: 0.5rem 2rem;
}
.text-14 {
	font-size: 14px;
}

/*mini fab*/
.custom-mini-fab.mat-mini-fab {
	width: 30px !important;
	height: 30px !important;
	min-height: 0;
}

/* .header-table-gry {
	background-color: rgba(224, 231, 255, 1) !important;
} */
