<h1 mat-dialog-title>BORDEREAU D'ENVOI</h1>
<div class="w-full min-w-90" mat-dialog-content>
	<div class="w-full mt-5">
		<mat-form-field
			appearance="outline"
			class="wkf-mat-textarea flex-auto w-full mat-dense-xs"
		>
			<mat-label>OBSERVATION</mat-label>
			<textarea
				matInput
				[rows]="3"
				[(ngModel)]="borderau['observation']"
				matTextareaAutosize
			></textarea>
		</mat-form-field>
	</div>
	<div class="w-full flex justify-end">
		<button
			mat-raised-button
			[disabled]="bordereauCree"
			[color]="'primary'"
			(click)="onCreateBordereau()"
		>
			Créer le bordereau
		</button>
	</div>
</div>
