<mat-expansion-panel [expanded]="true" class="w-full rounded-t-xl h-full" hideToggle>
	<mat-expansion-panel-header
		#panelQUI
		(click)="panelQUI._toggle()"
		class="expan-panel header"
	>
		<div class="w-full flex justify-center">
			<h4 class="ml-3 font-bold">Qui</h4>
		</div>
	</mat-expansion-panel-header>

	<div class="flex flex-col items-center mt-2">
		<div class="flex items-center justify-start w-full mt-1 text-secondary">
			<div class="text-14 font-bold truncate ml-2">
				<mat-icon
					[color]="'primary'"
					class="icon-size-4 mr-1"
					svgIcon="heroicons_outline:library"
				></mat-icon>
				<span class="font-bold">{{ demandeDTO?.accountNumber }}</span>
			</div>
		</div>

		<div class="flex items-center justify-start w-full mt-1 text-secondary">
			<div class="text-md font-medium ml-2">
				<span class="font-bold">{{ demandeDTO?.accountProduct }}</span>
			</div>
		</div>

		<div class="flex items-center justify-start w-full mt-1 text-secondary">
			<div class="text-md font-medium ml-2">
				<mat-icon
					[color]="'primary'"
					class="icon-size-4 mr-1"
					svgIcon="heroicons_outline:user"
				></mat-icon>
				<span class="font-bold" *ngIf="demandeDTO?.creditTypeId != requestTypes.HORS_AGRI">
					{{ tier?.cin }} {{ tier.nomComplet }} {{ demandeDTO?.activityStatusName }}
				</span>
				<span class="font-bold" *ngIf="demandeDTO?.creditTypeId == requestTypes.HORS_AGRI">
					RC N° {{ tier?.rcNumber }} {{ tier.entityName }}
				</span>
			</div>
		</div>

		<div
			*ngIf="demandeDTO?.creditTypeId != requestTypes.HORS_AGRI"
			class="flex items-center justify-start w-full mt-1 text-secondary"
		>
			<div class="text-md font-medium ml-2">
				<mat-icon
					[color]="'primary'"
					class="icon-size-4 mr-1"
					svgIcon="heroicons_outline:calendar"
				></mat-icon>
				Né(e) le <span class="font-bold">{{ tier.birthDays }}</span>
			</div>
		</div>
		<div class="flex items-center justify-start w-full mt-1 text-secondary">
			<div class="text-md font-medium ml-2">
				<mat-icon
					[color]="'primary'"
					class="icon-size-4 mr-1"
					svgIcon="heroicons_outline:phone"
				></mat-icon>
				<span class="font-bold"> {{ tier?.phone }}</span>
			</div>
		</div>

		<div class="flex items-center justify-start w-full mt-1 text-secondary">
			<div class="text-md font-medium ml-2">
				Catégorie:<span class="font-bold ml-2">
					{{ demandeDTO["clientCategoryName"] }}</span
				>
			</div>
		</div>

		<div class="flex items-center justify-start w-full mt-1 text-secondary">
			<div class="text-md font-medium ml-2">
				Secteur d'activité:<span class="font-bold ml-2"> {{ tier?.secteurActivite }}</span>
			</div>
		</div>
	</div>
</mat-expansion-panel>
