<div class="bg-indigo-50 flex-col w-full md:p-10 p-2 pt-10">
	<button class="custom-mini-fab absolute md:left-10 left-2 top-1" mat-mini-fab color="primary"
		(click)="onRetour()">
		<mat-icon class="icon-size-4" svgIcon="heroicons_outline:reply"></mat-icon>
	</button>


	<mat-expansion-panel hideToggle class="rounded-t-xl" [expanded]="true">
		<mat-expansion-panel-header class="mb-1" #panelContainer (click)="panelContainer._toggle()">

			<div class="w-full">
				<div class="flex" style="float: left;">
					<div>
						<mat-label class="w-1/3">N° Comité: </mat-label>
						<span class="pl-2 w-2/3"><strong>{{commiteDto.committeNumber}}</strong> du : {{commiteDto.committeeDate | date: "dd/MM/yyyy"}}</span>
					</div>
					<span class="pl-5 pr-1">-</span>
					<div>
						<mat-label class="w-1/3">Traitées : </mat-label>
						<span style="background-color: #22C55E;" class="px-1 text-white rounded-full">
							{{
							commiteDto.totalAdjournedRequest +
							commiteDto.totalRejectedRequest +
							commiteDto.totalValidatedRequest
							}}
						</span>
					</div>
					<span class="pl-2 pr-1">-</span>
					<div>
						<mat-label class="w-1/3">Non Traitées : </mat-label>
						<span style="background-color: #EF4444;" class="px-1 text-white rounded-full">
							{{commiteDto.totalWaitingforRequest}}
						</span>
					</div>
				</div>
				<div class="text-right" style="float: right;">
					<mat-label class="w-1/3">Statut: </mat-label>
					<span class="pl-2 w-2/3"><strong>{{ commiteDto.statusName }}</strong></span>
				</div>
			</div>
		</mat-expansion-panel-header>


		<mat-expansion-panel hideToggle class="mt-5 rounded-t-xl" [expanded]="true" *ngIf="editMode == 0">
			<mat-expansion-panel-header class="mb-5" style="max-height: 40px;">
				<div class="w-full flex justify-center">
					<h5 class="ml-3 font-bold">DEMANDES</h5>
				</div>
			</mat-expansion-panel-header>

			<div class="w-full flex overflow-auto">
				<table mat-table [dataSource]="commiteDto.requests" class="mat-datatable small-table" width="100%"
					style="min-width: 500px">
					<!-- numdossier Column -->
					<ng-container [matColumnDef]="displayedCol[0]">
						<th mat-header-cell *matHeaderCellDef>{{ displayedColLibelle[0] }}</th>
						<td mat-cell *matCellDef="let element">
							{{ element.requestNumber }}
						</td>
					</ng-container>

					<!-- objet Column -->
					<ng-container [matColumnDef]="displayedCol[1]">
						<th mat-header-cell *matHeaderCellDef>{{ displayedColLibelle[1] }}</th>
						<td mat-cell *matCellDef="let element">
							{{ element.creationDate | date: "dd/MM/yyyy" }}
						</td>
					</ng-container>

					<!-- crdu Column -->
					<ng-container [matColumnDef]="displayedCol[2]">
						<th mat-header-cell *matHeaderCellDef>{{ displayedColLibelle[2] }}</th>
						<td mat-cell *matCellDef="let element">
							{{ element.accountName }}
						</td>
					</ng-container>

					<!-- encours Column -->
					<ng-container [matColumnDef]="displayedCol[3]">
						<th mat-header-cell *matHeaderCellDef>{{ displayedColLibelle[3] }}</th>
						<td mat-cell *matCellDef="let element">
							{{ element.creditTypeName }}
						</td>
					</ng-container>

					<!-- encours Column -->
					<ng-container [matColumnDef]="displayedCol[4]">
						<th mat-header-cell *matHeaderCellDef>{{ displayedColLibelle[4] }}</th>
						<!-- <td [ngClass]="{
								'bg-gray-400': demande?.requestNumber == element.requestNumber
							}" mat-cell *matCellDef="let element">
							{{ element.requestObject }}
						</td> -->
						<td mat-cell *matCellDef="let element">
							{{ element.requestObject }}
						</td>
					</ng-container>


					<!-- crdu Column -->
					<ng-container [matColumnDef]="displayedCol[5]">
						<th mat-header-cell *matHeaderCellDef>{{ displayedColLibelle[5] }}</th>
						<td mat-cell *matCellDef="let element">
							<span [ngSwitch]="element[displayedCol[5]]">
								<mat-icon *ngSwitchCase="'VA'" [matTooltip]="'TRAITÉE'" [style.color]="'#22C55E'"
									svgIcon="mat_solid:circle"></mat-icon>
								<mat-icon *ngSwitchDefault [style.color]="'#555555'" [matTooltip]="'EN COURS'"
									svgIcon="mat_solid:circle">
								</mat-icon>
							</span>
						</td>
					</ng-container>

					<ng-container [matColumnDef]="displayedCol[6]">
						<th mat-header-cell *matHeaderCellDef>Action</th>
						<td mat-cell *matCellDef="let element">
							<button matTooltip="Detail" class="custom-mini-fab" mat-mini-fab [color]="'primary'"
								(click)="onEdit(element)">
								<mat-icon class="icon-size-4" svgIcon="feather:pen-tool"></mat-icon>
							</button>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedCol" class="header-table-gry"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedCol"></tr>
				</table>
			</div>

		</mat-expansion-panel>


		<div *ngIf="editMode == 1">
			<div class="flex md:flex-row flex-col justify-between mt-1 mb-2">
				<div class="flex flex-wrap items-center font-medium">
					<div class="flex" *ngFor="let item of ['Demande: '+demande.requestNumber, 'Détails'];let idx=index">
						<div>
							<a class="whitespace-nowrap text-primary-500"><strong>{{item}}</strong></a>
						</div>
						<div class="flex items-center ml-1 whitespace-nowrap"
							*ngIf="idx<['Demande: '+demande.requestNumber, 'Détails'].length-1">
							<mat-icon class="icon-size-5" style="color: #e30a17;"
								[svgIcon]="'heroicons_solid:chevron-right'">
							</mat-icon>
						</div>
					</div>
				</div>
				<div class="flex gap-2">
					<button mat-stroked-button #clickMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="signatairesMenu">Signataires</button>
					<mat-menu #signatairesMenu="matMenu" yPosition="below" xPosition="before"
						class="panel-searche mt-0">
						<div (click)="$event.stopPropagation()">
							<div>
								<mat-list>
									<mat-list-item *ngFor="let item of demande?.participants">
										<mat-icon *ngIf="item.signing=='O'" class="icon-size-4 mr-3"
											style="color: #22c55e;" svgIcon="heroicons_outline:pencil"></mat-icon>
										<mat-icon *ngIf="item.signing!='O'" class="icon-size-4 mr-3"
											style="color: #ef4444;" svgIcon="heroicons_outline:pencil"></mat-icon>
										{{item.participantName}}
										<button
											*ngIf="item.signing!='O' && userConnected.userId == item.participantId && demande.committeeStatus =='VA'"
											(click)="onSigner(item)" matTooltip="Signer" class="custom-mini-fab ml-4"
											mat-mini-fab [color]="'primary'">
											<mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
										</button>
									</mat-list-item>
								</mat-list>
							</div>

						</div>
					</mat-menu>

                    <button class="px-8" mat-flat-button [color]="'warn'"
                            style="color: white;background-color: #007a38 !important;"
                            (click)="onDecisionEdite()">  Editer décision </button>

                    <button class="px-8" mat-flat-button [color]="'warn'"
                            style="color: white;background-color: darkblue !important;"
                            (click)="onPvEdite()">  Editer PV </button>
                </div>
			</div>

			<div class="w-full flex md:flex-row flex-col bg-accent-100 mt-2 p-5 gap-4" style="border-radius: 5px;">
				<app-demande-qui [demandeDTO]="demande" [persons]="tiers">
				</app-demande-qui>

				<app-demande-info [demandeDTO]="demande" [mode]="'C'">
				</app-demande-info>
			</div>

			<div class="w-full" *ngIf="editMode == 1">
				<div class="w-full overflow-auto">
					<div class="text-center w-full p-3 font-bold">Produits</div>
					<table mat-table [dataSource]="demande?.products" class="mat-datatable small-table not-hover"
						width="100%" style="min-width: 500px">
						<!-- numdossier Column -->
						<ng-container [matColumnDef]="displayedColProd[0]">
							<th mat-header-cell *matHeaderCellDef>{{ displayedColLibelleProd[0] }}</th>
							<td mat-cell *matCellDef="let element">
								{{ element.financialProductName }}
							</td>
						</ng-container>

						<ng-container [matColumnDef]="displayedColProd[1]">
							<th mat-header-cell *matHeaderCellDef>{{ displayedColLibelleProd[1] }}</th>
							<td mat-cell *matCellDef="let element" class="text-right">
								{{ element.goodAmount | number: ".2":"es" }}
							</td>
						</ng-container>

						<ng-container [matColumnDef]="displayedColProd[2]">
							<th mat-header-cell *matHeaderCellDef>{{ displayedColLibelleProd[2] }}</th>
							<td mat-cell *matCellDef="let element" class="text-right">
								{{ element.lastAmountGranted | number: ".2":"es" }}
							</td>
						</ng-container>
						<ng-container [matColumnDef]="displayedColProd[3]">
							<th mat-header-cell *matHeaderCellDef>{{ displayedColLibelleProd[3] }}</th>
							<td mat-cell *matCellDef="let element" class="text-right">
								{{ element.lastContributionAmount | number: ".2":"es" }}
							</td>
						</ng-container>
						<ng-container [matColumnDef]="displayedColProd[4]">
							<th mat-header-cell *matHeaderCellDef>{{ displayedColLibelleProd[4] }}</th>
							<td mat-cell *matCellDef="let element" class="text-right">
								{{ element.lastDuration }}
							</td>
						</ng-container>

						<ng-container [matColumnDef]="displayedColProd[5]">
							<th mat-header-cell *matHeaderCellDef>{{ displayedColLibelleProd[5] }}</th>
							<td mat-cell *matCellDef="let element" class="text-right">
								{{ element.lastRate | number: ".2" }}
							</td>
						</ng-container>

						<ng-container [matColumnDef]="displayedColProd[6]">
							<th mat-header-cell *matHeaderCellDef>{{ displayedColLibelleProd[6] }}</th>
							<td mat-cell *matCellDef="let element" class="text-right">
								{{ element.lastMonthlyPayment | number: ".2":"es" }}
							</td>
						</ng-container>
						<ng-container [matColumnDef]="'committeeStatus'">
							<th mat-header-cell *matHeaderCellDef>Statut</th>
							<td mat-cell *matCellDef="let element" class="">

								<span [ngSwitch]="element.committeeStatus">
									<mat-icon *ngSwitchCase="'AC'" [matTooltip]="'Accordé'" [style.color]="'#22c55e'"
										svgIcon="mat_solid:circle"></mat-icon>
									<mat-icon *ngSwitchCase="'RJ'" [matTooltip]="'Refusé'" [style.color]="'#ef4444'"
										svgIcon="mat_solid:circle"></mat-icon>
									<mat-icon *ngSwitchCase="'AJ'" [matTooltip]="'Ajournée'" [style.color]="'#ef4444'"
										svgIcon="mat_solid:circle"></mat-icon>
									<mat-icon *ngSwitchDefault [style.color]="'#ffffff'" svgIcon="mat_solid:circle">
									</mat-icon>
								</span>

							</td>
						</ng-container>
						<!-- crdu Column -->

						<ng-container [matColumnDef]="displayedColProd[8]">
							<th mat-header-cell *matHeaderCellDef>Action</th>
							<td mat-cell *matCellDef="let element">
								<button matTooltip="Modifier" class="custom-mini-fab" mat-mini-fab [color]="'primary'"
									(click)="onComiteProduit(element)">
									<mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
								</button>
								<!--
								<button matTooltip="Historiques" class="custom-mini-fab ml-2" mat-mini-fab
									[color]="'primary'" (click)="onShowHistory(element)">
									<mat-icon class="icon-size-4" svgIcon="heroicons_outline:document-text"></mat-icon>
								</button>
							-->
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColProd" class="header-table-gry"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColProd"></tr>
					</table>
				</div>


				<mat-expansion-panel [expanded]="true" class="col-span-2 rounded-t-xl mt-8" hideToggle *ngIf="decision">
					<mat-expansion-panel-header #panelINFO (click)="panelINFO._toggle()" class="expan-panel header">
						<div class="w-full flex justify-center">
							<h4 class="ml-3 font-bold">Décision</h4>
						</div>
					</mat-expansion-panel-header>


					<!--<div class="w-full py-3 px-6">
						<mat-radio-group (change)="dirty = true" aria-label="Select an option"
							[(ngModel)]="advice.adviceCode">
							<mat-radio-button class="pl-1" *ngFor="let code of adviceCodes" [value]="code.code">
								{{ code.name }}
							</mat-radio-button>
						</mat-radio-group>
					</div>-->
					<div class="flex flex-col gt-xs:flex-row mt-2 px-4">
						<!--
							conditionsReserves opinion guarantees
						-->
						<mat-form-field *ngIf="demande.creditTypeId == requestTypes.AMAQ"
							class="w-full mat-dense-xs mat-no-subscript mt-1">
							<mat-label>Type création</mat-label>
							<mat-select [disabled]="demande.requestAdviceId && demande.committeeStatus =='VA'"
								[(ngModel)]="advice.amaqCreation">
								<mat-option *ngFor="let type of creationTypes" [value]="type.id">
									{{ type.designation }}
								</mat-option>
							</mat-select>
						</mat-form-field>

						<mat-form-field class="wkf-mat-textarea flex-auto">
							<mat-label>Avis</mat-label>

							<textarea [disabled]="demande.requestAdviceId && demande.committeeStatus =='VA'"
								(change)="dirty = true" [(ngModel)]="advice.opinion" matInput [rows]="3"
								matTextareaAutosize></textarea>
						</mat-form-field>

						<mat-form-field class="wkf-mat-textarea flex-auto">
							<mat-label>Garanties</mat-label>
							<textarea [disabled]="demande.requestAdviceId && demande.committeeStatus =='VA'"
								(change)="dirty = true" [(ngModel)]="advice.guarantees" matInput [rows]="3"
								matTextareaAutosize></textarea>
						</mat-form-field>
						<mat-form-field class="wkf-mat-textarea flex-auto">
							<mat-label>Conditions et réserves</mat-label>
							<textarea [disabled]="demande.requestAdviceId && demande.committeeStatus =='VA'"
								(change)="dirty = true" [(ngModel)]="advice.conditionsReserves" matInput [rows]="3"
								matTextareaAutosize></textarea>
						</mat-form-field>
					</div>
				</mat-expansion-panel>

				<div class="flex justify-end gap-x-2 mt-5">
					<button *ngIf="demande.requestAdviceId && demande.committeeStatus =='AC'" class="px-8"
						mat-flat-button [color]="'primary'" (click)="onValidate()">
						Valider
					</button>
					<button *ngIf="decision && demande.committeeStatus !='VA'" class="px-8" mat-flat-button
						[color]="'primary'" (click)="onRegistrateDecision()">
						Enregistrer
					</button>

                    <button *ngIf="decision && demande.committeeStatus =='VA'" class="px-8" mat-flat-button
                            [color]="'primary'" (click)="onCancel()">
                        Annuler décision
                    </button>

					<button class="px-8" mat-flat-button [color]="'warn'" (click)="onAnnuler()">
						Fermer
					</button>
				</div>
			</div>

		</div>
		<div *ngIf="editMode == 2">
			<app-comite-product-dialog [demande]="demande" [product]="selectedProduct"
				[typeCredit]="demande.creditTypeId" [comite]="comite">
			</app-comite-product-dialog>
		</div>

		<div class="mt-5 text-right" *ngIf="editMode > 1">
			<button class="px-8" mat-raised-button (click)="onRetour()">
				Retour
			</button>
		</div>
	</mat-expansion-panel>
</div>
