<div class="tab-container mt-5 bg-cam" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="dataSource"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 500px"
	>
		<!-- numdossier Column -->
		<ng-container [matColumnDef]="displayedColumns[0]">
			<th mat-header-cell *matHeaderCellDef>Nature</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
			<td mat-footer-cell *matFooterCellDef class="w-80">
				<mat-form-field class="w-full">
					<mat-label>Nature</mat-label>
					<mat-select [(ngModel)]="fiancialObjectDto.nature">
						<mat-option [value]="">Séléctionnez</mat-option>
						<mat-option *ngFor="let item of listBien" [value]="item.id">
							{{ item.designation }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
		</ng-container>

		<!-- objet Column -->
		<ng-container [matColumnDef]="displayedColumns[1]">
			<th mat-header-cell *matHeaderCellDef>Référence</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[1]] }}</td>
			<td mat-footer-cell *matFooterCellDef>
				<mat-form-field>
					<mat-label>Référence</mat-label>
					<input matInput [(ngModel)]="fiancialObjectDto.reference" />
				</mat-form-field>
			</td>
		</ng-container>

		<!-- nominalAuth Column -->
		<ng-container [matColumnDef]="displayedColumns[2]">
			<th mat-header-cell *matHeaderCellDef>Libellé</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[2]] }}</td>
			<td mat-footer-cell *matFooterCellDef>
				<mat-form-field>
					<mat-label>Description</mat-label>
					<input matInput [(ngModel)]="fiancialObjectDto.description" />
				</mat-form-field>
				<mat-form-field>
					<mat-label>Observation</mat-label>
					<input matInput [(ngModel)]="fiancialObjectDto.observation" />
				</mat-form-field>
			</td>
		</ng-container>

		<!-- encours Column -->
		<ng-container [matColumnDef]="displayedColumns[3]">
			<th mat-header-cell *matHeaderCellDef>Montant</th>
			<td mat-cell *matCellDef="let element" class="text-end text-right">
				{{ element[displayedColumns[3]] | number: ".2":"es" }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<mat-form-field>
					<mat-label> Montant </mat-label>
					<input matInput [(ngModel)]="fiancialObjectDto.value" />
				</mat-form-field>
				<mat-form-field>
					<mat-label> Rang </mat-label>
					<input matInput [(ngModel)]="fiancialObjectDto.rank" />
				</mat-form-field>
			</td>
		</ng-container>
		<ng-container [matColumnDef]="displayedColumns[4]">
			<th mat-header-cell *matHeaderCellDef>Statut</th>
			<td mat-cell *matCellDef="let element" class="text-danger">
				{{ element[displayedColumns[5]] ? "Annulé" : "" }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>
		<ng-container [matColumnDef]="displayedColumns[5]">
			<th mat-header-cell *matHeaderCellDef>Date</th>
			<td mat-cell *matCellDef="let element" class="text-center">
				{{ element[displayedColumns[5]] | date: "dd/MM/yyyy" }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>
		<ng-container [matColumnDef]="displayedColumns[6]">
			<th mat-header-cell *matHeaderCellDef class="text-right">
				<button
					matTooltip="Ajouter"
					class="custom-mini-fab"
					mat-mini-fab
					[color]="'secondary'"
					(click)="onAdd2()"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus"></mat-icon>
				</button>
			</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				<button
					matTooltip="Supprimer"
					class="custom-mini-fab"
					mat-mini-fab
					[color]="'warn'"
					*ngIf="!element[displayedColumns[5]]"
					(click)="onDelete(element)"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
				</button>
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<button mat-icon-button color="primary" (click)="onAdd()">
					<mat-icon svgIcon="heroicons_outline:check"></mat-icon>
				</button>
				<button mat-icon-button color="warn" (click)="editStat = 0">
					<mat-icon svgIcon="heroicons_outline:ban"></mat-icon>
				</button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		<tr mat-footer-row *matFooterRowDef="displayedColumnsFooter()"></tr>
	</table>
</div>
