<div class="tab-container mt-5 bg-cam" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="dataSource"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 500px"
	>
		<!-- objet Column -->
		<ng-container [matColumnDef]="displayedColumns[0]">
			<th mat-header-cell *matHeaderCellDef>Référence</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
			<td mat-footer-cell *matFooterCellDef>
				<mat-form-field *ngIf="routingService.isDemandeRW()">
					<mat-label>Référence</mat-label>
					<input matInput [(ngModel)]="fiancialObjectDto.reference" />
				</mat-form-field>
			</td>
		</ng-container>

		<!-- nominalAuth Column -->
		<ng-container [matColumnDef]="displayedColumns[1]">
			<th mat-header-cell *matHeaderCellDef>Nature</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[1]] }}</td>
			<td mat-footer-cell *matFooterCellDef>
				<mat-form-field *ngIf="routingService.isDemandeRW()">
					<mat-label>Description</mat-label>
					<input matInput [(ngModel)]="fiancialObjectDto.description" />
				</mat-form-field>
				<mat-form-field *ngIf="routingService.isDemandeRW()">
					<mat-label>Observation</mat-label>
					<input matInput [(ngModel)]="fiancialObjectDto.observation" />
				</mat-form-field>
			</td>
		</ng-container>

		<!-- encours Column -->
		<ng-container [matColumnDef]="displayedColumns[2]">
			<th mat-header-cell *matHeaderCellDef>Montant</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element[displayedColumns[2]] | number: ".2":"es" }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<mat-form-field *ngIf="routingService.isDemandeRW()">
					<mat-label> Montant </mat-label>
					<input matInput [(ngModel)]="fiancialObjectDto.value" />
				</mat-form-field>
				<mat-form-field *ngIf="routingService.isDemandeRW()">
					<mat-label> Rang </mat-label>
					<input matInput [(ngModel)]="fiancialObjectDto.rank" />
				</mat-form-field>
			</td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[3]">
			<th mat-header-cell *matHeaderCellDef>Rang</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element[displayedColumns[3]] }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

        <!-- ajout champ Total charges 23/02/2022-->
        <ng-container [matColumnDef]="displayedColumns[4]">
            <th mat-header-cell *matHeaderCellDef>Total charges</th>
            <td mat-cell *matCellDef="let element" class="text-center">
                {{ element[displayedColumns[4]]  }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

		<!-- ajout champ description 23/02/2022-->
		<ng-container [matColumnDef]="displayedColumns[5]">
			<th mat-header-cell *matHeaderCellDef>Description</th>
			<td mat-cell *matCellDef="let element" class="text-center">
				{{ element[displayedColumns[5]]  }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>


		<ng-container [matColumnDef]="displayedColumns[6]">
			<th mat-header-cell *matHeaderCellDef class="text-right">
				<button
					*ngIf="
						routingService.isDemandeRW() &&
						utilsService.hasPrivilege(utilsService.privilegeCodes.maj_garantie_m)
					"
					matTooltip="Ajouter"
					class="custom-mini-fab"
					mat-mini-fab
					[color]="'secondary'"
					(click)="onAdd2()"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus"></mat-icon>
				</button>
			</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				<button
					matTooltip="Supprimer"
					class="custom-mini-fab"
					mat-mini-fab
					[color]="'warn'"
					*ngIf="
						routingService.isDemandeRW() &&
						utilsService.hasPrivilege(utilsService.privilegeCodes.maj_garantie_s)
					"
					(click)="onDelete(element)"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
				</button>

                <button
                    *ngIf="
						routingService.isDemandeRW() &&
						utilsService.hasPrivilege(utilsService.privilegeCodes.maj_garantie_m)
					"
                    matTooltip="Modifier"
                    class="custom-mini-fab mx-2"
                    mat-mini-fab
                    [color]="'secondary'"
                    (click)="onUpdate(element)"
                >
                    <mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
                </button>

			</td>
			<td mat-footer-cell *matFooterCellDef>
				<button
					*ngIf="routingService.isDemandeRW()"
					mat-icon-button
					color="primary"
					(click)="onAdd()"
				>
					<mat-icon svgIcon="heroicons_outline:check"></mat-icon>
				</button>
				<button
					*ngIf="routingService.isDemandeRW()"
					mat-icon-button
					color="warn"
					(click)="editStat = 0"
				>
					<mat-icon svgIcon="heroicons_outline:ban"></mat-icon>
				</button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		<tr mat-footer-row *matFooterRowDef="displayedColumnsFooter()"></tr>
	</table>
</div>
