<div class="w-full flex-col">
	<div class="w-full">
		<mat-form-field class="w-full">
			<mat-label>Actions</mat-label>
			<mat-select [(ngModel)]="action" (selectionChange)="actionChanged($event.value)">
				<mat-option *ngFor="let item of listAction" [value]="item">
					{{ item.actionName }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="w-full" *ngIf="action?.actionCode != 'RT'">
		<mat-form-field class="w-full">
			<mat-label>Utilisateur</mat-label>
			<mat-select [(ngModel)]="user"  (selectionChange)="updateNoteVisibility()">
				<mat-option *ngFor="let item of action?.users" [value]="item">
					{{ item.userName }}
				</mat-option>
			</mat-select>
			<mat-hint *ngIf="user">{{
				user?.entityName + " - " + user?.profilId + " " + user?.profilName
			}}</mat-hint>
		</mat-form-field>
	</div>

	<div class="w-full" *ngIf="showNote">
		<mat-form-field
			appearance="outline"
			class="wkf-mat-textarea flex-auto w-full mat-dense-xs mat-no-subscript"
		>
			<mat-label>Commentaire</mat-label>
			<textarea [(ngModel)]="note" matInput [rows]="3" matTextareaAutosize></textarea>
		</mat-form-field>
	</div>

	<div class="w-full flex justify-end mt-2">
		<button mat-raised-button color="primary" (click)="action && onExecuter()">Enregistrer</button>
	</div>
</div>
