<card class="flex flex-col  w-full filter-article  bg-gray-50 mt-4">
    <div class="m-8">

        <div *ngIf="editMode==0">

            <div>
                <table mat-table class="mat-datatable  bg-white w-full hover" [dataSource]="creditProjectsList">

                    <ng-container matColumnDef="bankCreditNumber">
                        <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                            N°Dossier
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-left">
                            <span>{{element.bankCreditNumber}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="creditTypeLib">
                        <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                            Type crédit
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-left">
                            <span>{{element.creditTypeLib}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="lineType">
                        <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                            Type line
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-left">
                            <span>{{element.lineType}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="duration">
                        <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                            Durée
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-right">
                            <span>{{element.duration}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="differed">
                        <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                            Différé
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-right">
                            <span>{{element.differed}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                            Montant
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-right">
                            <span>{{element.amount | number:'.2':'es'}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="benefitRate">
                        <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                            <span *ngIf="editedProject.productName != 'CS'">Taux d'interêt</span>
                            <span *ngIf="editedProject.productName == 'CS'">Taux d'endettement</span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-right">
                            <span>{{element.benefitRate}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="deadline">
                        <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                            Dte.Echéance
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <span>{{element.deadline | date: 'dd/MM/yyyy'}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="cumulFlag">
                        <th mat-header-cell class="border-r border-white pl-1 text-center" *matHeaderCellDef>
                            Code cumul
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <span *ngIf="element.cumulFlag=='O'">OUI</span>
                            <span *ngIf="element.cumulFlag=='N'">NON</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef class="border-r border-white pl-1 text-right">
                            <button *ngIf="routingService.isDemandeRW() && ccgService.canEdit(editedProject)" (click)="onPrepareAdd()" mat-mini-fab class="custom-mini-fab" [color]="'primary'"
                                matTooltip="Ajouter">
                                <mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus"></mat-icon>
                            </button>
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-right">

                            <button (click)="onPrepareEdit(element)" mat-mini-fab class="custom-mini-fab"
                                [color]="'primary'" matTooltip="Modifier">
                                <mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
                            </button>

                            <button *ngIf="routingService.isDemandeRW() && ccgService.canEdit(editedProject)" (click)="onPreparDelete(element)" mat-mini-fab class="custom-mini-fab ml-2"
                                [color]="'warn'" matTooltip="Supprimer">
                                <mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry rounded-t-xl"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>

            </div>

        </div>

        <div *ngIf="editMode > 0">
            <app-edit-ccg [editedItem]="editedItem" [editedProject]="editedProject" [editMode]="editMode"
                [demandeDTO]="demandeDTO" (newItemEvent)="onRetourEdit($event)"></app-edit-ccg>
        </div>

    </div>

</card>