<div class="flex flex-col p8">
	<div class="w-full">
		<mat-form-field class="w-full">
			<mat-label>Detail de demande:</mat-label>
			<textarea matInput matTextareaAutosize [disabled]="ro()" [(ngModel)]="details" class="form-control min-h-8"></textarea>
		</mat-form-field>
	</div>

	<div class="flex justify-end">
		<button (click)="updateDetail()" class="w-24" mat-raised-button [color]="'primary'" [disabled]="ro()">
			Enregistrer
		</button>
	</div>
</div>
