<div class="w-full flex justify-between px-4 pt-4">
    <div class="ml-2 mt-2 font-bold italic" >
        Bâtiments et constructions
    </div>


</div>

<div  class="flex w-full  p-4">

    <table mat-table class="mat-datatable small-table  bg-white not-hover fixed-layout w-full" [dataSource]="dataSource">
        <!--{principauxConcurent:'Concurrent 1',partMarche:'50',marque:'Ellitium',autre:''}-->
        <ng-container  [matColumnDef]="displayedColumnName[0]">
            <th mat-header-cell class="border-r border-white pl-1 px-0-i" *matHeaderCellDef >{{displayedColumn[0].libelle}}</th>
            <td mat-cell   *matCellDef="let element">
                {{element.description}}
            </td>
            <td mat-footer-cell *matFooterCellDef class="px-0-i">
                <mat-form-field appearance="outline"
                                class="w-full mat-dense-xs  mat-no-subscript">
                    <input type="text" class="w-full" matInput [(ngModel)]="projectBuildingDto.description">
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container  [matColumnDef]="displayedColumnName[1]">
            <th mat-header-cell class="border-r border-white px-0-i" *matHeaderCellDef >{{displayedColumn[1].libelle}}</th>
            <td mat-cell   *matCellDef="let element">
                {{element.use}}
            </td>
            <td mat-footer-cell *matFooterCellDef  class="px-0-i">
                <mat-form-field appearance="outline"
                                class="w-full mat-dense-xs  mat-no-subscript">
                    <input type="text" class="w-full" matInput [(ngModel)]="projectBuildingDto.use">
                </mat-form-field>

            </td>
        </ng-container>

        <!-- <ng-container  [matColumnDef]="displayedColumnName[2]">
            <th mat-header-cell class="border-r border-white px-0-i" *matHeaderCellDef >{{displayedColumn[2].libelle}}</th>
            <td mat-cell   *matCellDef="let element">
                {{element[displayedColumnName[2]]}}
            </td>
            <td mat-footer-cell *matFooterCellDef  class="px-0-i">
                <mat-form-field appearance="outline"
                                class="w-full mat-dense-xs  mat-no-subscript">
                    <input type="text" class="w-full" matInput [(ngModel)]="item[displayedColumnName[2]]">
                </mat-form-field>

            </td>
        </ng-container> -->

        <ng-container  [matColumnDef]="displayedColumnName[2]">
            <th mat-header-cell class="border-r border-white px-0-i" *matHeaderCellDef >{{displayedColumn[2].libelle}}</th>
            <td mat-cell   *matCellDef="let element">
                {{element.place}}
            </td>
            <td mat-footer-cell *matFooterCellDef  class="px-0-i">
                <mat-form-field appearance="outline"
                                class="w-full mat-dense-xs  mat-no-subscript">
                    <input type="text" class="w-full" matInput [(ngModel)]="projectBuildingDto.place">
                </mat-form-field>

            </td>
        </ng-container>

        <ng-container  [matColumnDef]="displayedColumnName[3]">
            <th mat-header-cell class="border-r border-white px-0-i" *matHeaderCellDef >{{displayedColumn[3].libelle}}</th>
            <td mat-cell   *matCellDef="let element">
                {{element.sizeBuilding}}
            </td>
            <td mat-footer-cell *matFooterCellDef  class="px-0-i">
                <mat-form-field appearance="outline"
                                class="w-full mat-dense-xs  mat-no-subscript">
                    <!-- <input type="text" class="w-full" matInput [(ngModel)]="projectBuildingDto.size_building"> -->
                    <input currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
                           class="w-full" matInput [(ngModel)]="projectBuildingDto.sizeBuilding">
                </mat-form-field>

            </td>
        </ng-container>

        <ng-container  [matColumnDef]="displayedColumnName[4]">
            <th mat-header-cell class="border-r border-white px-0-i" *matHeaderCellDef >{{displayedColumn[4].libelle}}</th>
            <td mat-cell   *matCellDef="let element">
                {{element.proloc}}
            </td>
            <td mat-footer-cell *matFooterCellDef  class="px-0-i">
                <mat-form-field appearance="outline"
                                class="w-full mat-dense-xs  mat-no-subscript">
                    <!-- <input currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }"
                           class="w-full" matInput [(ngModel)]="projectBuildingDto.proloc"> -->
                    <input type="text" class="w-full" matInput [(ngModel)]="projectBuildingDto.proloc">
                </mat-form-field>

            </td>
        </ng-container>


        <ng-container  matColumnDef="action">
            <th mat-header-cell class="border-r border-white pl-1 w-20" *matHeaderCellDef ><button *ngIf="canAdd()" mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter une ligne" [color]="'secondary'" (click)="onPrepareAdd()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus-sm"></mat-icon></button></th>
            <td mat-cell   *matCellDef="let element ;">
                <button mat-mini-fab class="custom-mini-fab" matTooltip="Supprimer" [color]="'warn'" (click)="onDelete(element)" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon></button>
            </td>
            <td mat-footer-cell *matFooterCellDef  class="px-0-i">
                <button mat-mini-fab class="custom-mini-fab" matTooltip="Ajouter" [color]="'primary'" (click)="onValideAdd()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:check"></mat-icon></button>
                <button mat-mini-fab class="custom-mini-fab ml-1" matTooltip="Retour" [color]="'warn'" (click)="onRetour()" ><mat-icon class="icon-size-4" svgIcon="heroicons_outline:x"></mat-icon></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnName" class="header-table-gry rounded-t-xl max-w-full"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnName" class="max-w-full"></tr>
        <tr mat-footer-row *matFooterRowDef="getFooterCols()"></tr>

    </table>

</div>
