<mat-dialog-content>
	<div class="min-w-192 flex flex-col">
		<div class="w-full flex bg-primary-400 rounded-t-xl py-2">
			<div class="w-1/8 px-2">N°Dossier</div>
			<div class="w-1/8 px-2">Produit</div>
			<div class="w-1/8 px-2">Montant</div>
			<div class="w-1/16 px-2">Taux</div>
			<div class="w-1/8 px-2">Durée</div>
			<div class="w-1/8 px-2">Différé</div>
			<div class="w-1/8 px-2">Echéance</div>
			<div class="w-1/8 px-2" matTooltip="Date échéance">Date Ech.</div>
			<div class="w-1/16 px-2"></div>
		</div>
		<div class="w-full flex gap-2" *ngFor="let item of listProduct">
			<div class="w-1/8 px-2">
				{{ item.nodoss }}
			</div>
			<div class="w-1/8 px-2">
				{{ item.productName }}
			</div>
			<div class="w-1/8 px-2">
				{{ item.creditAmount | number: ".2":"es" }}
			</div>
			<div class="w-1/16 px-2">
				{{ item.rate | number: ".2":"es" }}
			</div>
			<div class="w-1/8 px-2">
				<!--{{item.financialObjectName}}-->
				{{ item.duration }}
			</div>
			<div class="w-1/8 px-2">
				{{ item.differed }}
			</div>
			<div class="w-1/8 px-2">
				{{ item.dueAmount | number: ".2":"es" }}
			</div>
			<div class="w-1/8 px-2">
				{{ item.firstDeadlineDate | date: "dd/MM/yyyy" }}
			</div>
			<div class="w-1/16 px-2">
				<mat-checkbox [disabled]="isProductTaken()" [(ngModel)]="item.checked"></mat-checkbox>
			</div>
		</div>
	</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-raised-button (click)="onValide()" class="w-40" [color]="'primary'">
		Enregistrer
	</button>
</mat-dialog-actions>
