<div class="tab-container mt-5 bg-cam" style="max-width: 100%; overflow: auto">
	<table
		mat-table
		[dataSource]="dataSource"
		class="mat-datatable small-table"
		width="100%"
		style="min-width: 500px"
	>
		<!-- numdossier Column -->
		<ng-container [matColumnDef]="displayedColumns[0]">
			<th mat-header-cell *matHeaderCellDef class="w-80">Prénom</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<!-- objet Column -->
		<ng-container [matColumnDef]="displayedColumns[1]">
			<th mat-header-cell *matHeaderCellDef>Nom</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[1]] }}</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<!-- nominalAuth Column -->
		<ng-container [matColumnDef]="displayedColumns[2]">
			<th mat-header-cell *matHeaderCellDef>CIN</th>
			<td mat-cell *matCellDef="let element">{{ element[displayedColumns[2]] }}</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<!-- encours Column -->
		<ng-container [matColumnDef]="displayedColumns[3]">
			<th mat-header-cell *matHeaderCellDef>Date de naissance</th>
			<td mat-cell *matCellDef="let element" class="text-center">
				{{ element[displayedColumns[3]] | date: "dd/MM/yyyy" }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[4]">
			<th mat-header-cell *matHeaderCellDef>Adresse</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				{{ element[displayedColumns[4]] }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<ng-container [matColumnDef]="displayedColumns[5]">
			<th mat-header-cell *matHeaderCellDef class="text-right">
				<button
					*ngIf="routingService.isDemandeRW() && hasAddPriv()"
					matTooltip="Ajouter"
					class="custom-mini-fab"
					mat-mini-fab
					[color]="'secondary'"
					(click)="addCaution()"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:plus"></mat-icon>
				</button>
			</th>
			<td mat-cell *matCellDef="let element" class="text-right">
				<button
					*ngIf="routingService.isDemandeRW() && hasAddPriv()"
					matTooltip="Supprimer"
					class="custom-mini-fab"
					mat-mini-fab
					[color]="'warn'"
					(click)="deleteCaution(element)"
				>
					<mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
				</button>

                <button
                    *ngIf="routingService.isDemandeRW() && hasAddPriv()"
                    matTooltip="Modification"
                    class="custom-mini-fab mx-2"
                    mat-mini-fab
                    [color]="'secondary'"
                    (click)="onUpdateCaution(element)"
                >
                    <mat-icon class="icon-size-4" svgIcon="heroicons_outline:pencil"></mat-icon>
                </button>
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table-gry"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
	</table>
</div>
