<card class="flex flex-col  w-full filter-article  bg-gray-50 mt-4"
	*ngIf="editedMode!=3 && editedMode!=4 && editedMode!= 5 && editedMode!= 6">
	<div class="m-8">

		<div class="w-full">
			<div *ngIf="['DA','ADL','SA','AMAQ','DE','REL','RELH','DI','DOXA','RTPE','EP'].indexOf(editedProject.productName) > -1">
				<fieldset>
					<legend *ngIf="editedProject.productName != 'EP'">Infos Projet</legend>
					<legend *ngIf="editedProject.productName == 'EP'">Infos formation</legend>
					<br>
					<div class="w-full grid grid-cols-2 md:grid-cols-4 gap-x-6">

						<div class="w-full" *ngIf="['DA', 'ADL','SA'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Coût global</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.globalCost" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['DA', 'ADL'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Prix</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.price" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['DA','SA', 'ADL'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Superficie</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.area" type="number">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['DA','SA','ADL'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Numéro TF</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.tfNumber" type="text">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['DA','ADL'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Nature TF</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.tfNature">
									<mat-option *ngFor="let item of listeNatureTF" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['DA','AMAQ','DE','DI'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Adresse</mat-label>
								<textarea [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.projectAdress"></textarea>
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['DA','ADL'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Vendeur du logement</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.housingSeller">
									<mat-option *ngFor="let item of listeVendeurLogement" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['DA','ADL'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Acquisition dans l'indivision</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.indivisionAcquisition">
									<mat-option *ngFor="let item of listeAcquisitionIndiv" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['DA'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Type logement actuel</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.lodgingType">
									<mat-option *ngFor="let item of listeTypeLogement" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['DA'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Prix du terrain</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.landPrice" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['DA'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Frais capitalisés</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.costsCapitalizes" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['DA'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Pays d'acceuil</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.hostCountry">
									<mat-option *ngFor="let item of listePaysAcceuil" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['EP'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Code filière</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.sectorCode">
									<mat-option *ngFor="let item of listeFiliere" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['EP'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Duré d'étude (année)</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput type="number" [(ngModel)]="projet.studiyDuration">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['EP'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Dénomination compléte écolde</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.denominationCompleteSchool" type="text">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['EP'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Dénomination abregée écolde</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.denominationAbregeeSchool" type="text">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['EP'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Code ville ecole</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.schoolCityCode">
									<mat-option *ngFor="let item of listeVille" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['EP'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Diplôme recherché</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.researchDiploma">
									<mat-option *ngFor="let item of listeDiplome" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['EP'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Cumul Frais d'Inscription</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.cumulativeRegistrationFees" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['EP'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Cumul Frais de Scolarité</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.cumulativeTuitionFees" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['EP'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Cumul Autres frais</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.accumulationOtherCosts" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['AMAQ','DE','DI'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Appréciation</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.activityApreciation">
									<mat-option *ngFor="let item of listeAppreciation" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['AMAQ','DE','DI'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Coût du projet</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.projectCost" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>


						<div class="w-full" *ngIf="['AMAQ','DE','DI'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Nombre d'emplois à créer</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.numberOfJobToBeCreated" type="number">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['AMAQ','DE','DI'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Finalité</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.finality">
									<mat-option *ngFor="let item of listeFinalite" [value]="item.code">
										<span>{{item.code}} - {{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['AMAQ','DE','DI','RELH','RTPE'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Type de localité</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.localType">
									<mat-option *ngFor="let item of listeTypeLocal" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL','RELH','RTPE'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Montant alloué au règlement des fournisseurs</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput currencyMask [(ngModel)]="projet.amountAllocatedFrs"
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Montant alloué au règlement des salaire et charges sociales</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput currencyMask [(ngModel)]="projet.amountAllocatedCpi"
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL','DOXA','RELH'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Capitaux propres</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput currencyMask [(ngModel)]="projet.ownCapital"
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL','DOXA','RELH'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Dette MLT</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput currencyMask [(ngModel)]="projet.debtMlt"
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL','DOXA','RELH'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Trésorerie actif</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput currencyMask [(ngModel)]="projet.cashAssets"
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>
						<div class="w-full" *ngIf="['REL','DOXA','RELH'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>EBE</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.ebe" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL','DOXA','RELH'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Dettes de passif circulant</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput currencyMask [(ngModel)]="projet.outstandingPassiveDebt"
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['RELH'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Montant règlement des salaires et charges</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput currencyMask [(ngModel)]="projet.socialChargeAmount"
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL','RELH'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Resultat courant</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput currencyMask [(ngModel)]="projet.currentResult"
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL','DOXA','RELH','RTPE'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Resulatat financier</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.financialResult" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL','DOXA','RELH'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Total bilan</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.balanceSheetTotal" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL','DOXA','RELH'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Dette CT</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.debtCt" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL','DOXA','RELH'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Chargre financieres</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput currencyMask [(ngModel)]="projet.financialCharge"
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL','DOXA','RELH'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Resultat NET</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.netProfit" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL','DOXA','RELH'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Tresorerie passif</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput currencyMask [(ngModel)]="projet.liabilityCash"
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL','DOXA','RELH'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Clients et comptes rattaches</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput currencyMask [(ngModel)]="projet.relatedCustomerAccount"
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['REL','RELH','DOXA','RTPE'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Cotation</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.cotation">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['RELH'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Type d'ebergement</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.accommodationType">
									<mat-option *ngFor="let item of listeTypeHebergement" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="flex" *ngIf="['DA'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Revenu Mensuel</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.averageMonthlyIncome" type="number">
							</mat-form-field>
						</div>

						<div class="flex" *ngIf="['DA'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Revenu du conjoint</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.conjointIncome" currencyMask
								[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="flex" *ngIf="['DA'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Personne à charge</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.dependent" type="number">
							</mat-form-field>
						</div>

						<div class="flex" *ngIf="['DA'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Ancienneté Bancaire (en mois)</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.bankingSeniority" type="number">
							</mat-form-field>
						</div>

						<div class="w-full"
							*ngIf="['DA','SA','ADL','AMAQ','DE','REL','DI','DOXA','RELH','RTPE'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Ville</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.city">
									<mat-option *ngFor="let item of listeVille" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="flex" *ngIf="['REL','DE','AMAQ','DI','DOXA','RELH','RTPE'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>ICE</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.ice" type="text">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['AMAQ','DE','DI'].indexOf(editedProject.productName) > -1">
							<mat-radio-group [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" aria-label="Select an option" [(ngModel)]="projet.flagRuralImpl">
								<mat-label>Implantation rurale: </mat-label>
								<mat-radio-button value="O" class="pl-1">OUI</mat-radio-button>
								<mat-radio-button value="N" class="pl-1">NON</mat-radio-button>
							</mat-radio-group>
						</div>

						<div class="w-full" *ngIf="['AMAQ','DE','DI'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Exportatrice vers l'afrique</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.africExp">
									<mat-option *ngFor="let item of listeExportAfrique" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="flex" *ngIf="['REL','RELH','RTPE'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Ratio</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.ratio" type="number">
							</mat-form-field>
						</div>

						<div class="flex items-center" *ngIf="['DA'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Marie</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.married">
									<mat-option *ngFor="let item of [{id:1,designation:'Oui'},{id:2,designation:'Non'}]"
										[value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="flex items-center"
							*ngIf="['AMAQ', 'REL'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs " appearance="outline">
								<mat-label>Produit métier</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.internalProduct">
									<mat-option *ngFor="let item of listeProduitMetier" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

					</div>
				</fieldset>
			</div>

			<div *ngIf="['EP'].indexOf(editedProject.productName) > -1">
				<fieldset>
					<legend>Infos caution tuteur</legend>
					<br>
					<div class="w-full grid grid-cols-2 md:grid-cols-4 gap-x-6">
						<div class="w-full">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Nom et prenom de la caution tuteur</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.nameFirstNameGuardianSurety" type="text">
							</mat-form-field>
						</div>
						<div class="w-full">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>CIN caution tuteur</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.guardianGuarantor" type="text">
							</mat-form-field>
						</div>

						<div class="w-full">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Contractant debiteur</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.debtorContractingParty">
									<mat-option *ngFor="let item of listeContractantDebiteur" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				</fieldset>
			</div>

			<div *ngIf="['AMAQ','REL','DAT','DE','DI','DIS','DOXA','RELH','RTPE','SS','STPE'].indexOf(editedProject.productName) > -1">
				<fieldset>
					<legend>Infos Dossier</legend>
					<br>
					<div class="w-full grid grid-cols-2 md:grid-cols-4 gap-x-6">

						<div class="flex" *ngIf="['AMAQ','REL','DE','DI','DIS','DOXA','RELH','RTPE','STPE','SS'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>N° Compte</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || true" matInput type="text" [(ngModel)]="demandeDTO.accountNumber">

							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['AMAQ','DE','REL','DAT','DI','DIS','DOXA','RELH','RTPE'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Montant du crédit</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput [(ngModel)]="projet.overallCreditAmount" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['STPE'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Date tirage</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput type="date" [(ngModel)]="projet.drawDate">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['AMAQ','DE','REL','DAT','DI','DIS','DOXA','RELH','RTPE','SS','STPE'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Date du comité</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput type="date" [(ngModel)]="projet.dateAgreement">
							</mat-form-field>
						</div>

						<div class="w-full" *ngIf="['DA','AMAQ','DE','DAT','DI','DIS'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Type Dossier</mat-label>
								<mat-select [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" [(ngModel)]="projet.projectType">
									<mat-option *ngFor="let item of listeTypeDossier" [value]="item.id">
										<span>{{item.designation}}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="flex" *ngIf="['DAT'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Référence</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput type="text" [(ngModel)]="projet.reference">
							</mat-form-field>
						</div>
						<div class="flex" *ngIf="['AMAQ','RELH','REL','DAT','DE','DI','DIS','DOXA','RTPE'].indexOf(editedProject.productName) > -1">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Date aval</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput type="date" [(ngModel)]="projet.avalDate">
							</mat-form-field>
						</div>

						<div class="flex"
							*ngIf="(['DAT'].indexOf(editedProject.productName) > -1 && projet.projectType == 2)">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Principal de l'ancien credit</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput type="text" [(ngModel)]="projet.principalOld" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="flex"
							*ngIf="(['DAT'].indexOf(editedProject.productName) > -1 && projet.projectType == 2)">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Ancienne Quatité de la garantie</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput type="text" [(ngModel)]="projet.quotityOld" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>

						<div class="flex"
							*ngIf="(['DAT'].indexOf(editedProject.productName) > -1 && projet.projectType == 2)">
							<mat-form-field class="w-full mat-dense-xs" appearance="outline">
								<mat-label>Ancien Montant garanti</mat-label>
								<input [disabled]="!ccgService.canEdit(editedProject) || routingService.isDemandeRO()" matInput type="text" [(ngModel)]="projet.amountOld" currencyMask
									[options]="{ prefix: '', thousands: '.', decimal: ',', suffix: '' }">
							</mat-form-field>
						</div>


					</div>

				</fieldset>
			</div>

			<div class="w-full flex justify-end gap-x-2 text-right">
				<button *ngIf="ccgService.canEdit(editedProject) && routingService.isDemandeRW()" mat-raised-button [color]="'primary'" (click)="saveProject()">Enregistrer</button>
			</div>

		</div>
	</div>
</card>

<div class="w-full flex flex-col mt-5" *ngIf="editedMode==3">
	<app-ccg-credit-info [demandeDTO]="demandeDTO" [editedProject]="editedProject"></app-ccg-credit-info>
</div>
<div class="w-full flex flex-col mt-5" *ngIf="editedMode==4">
	<app-ccg-associe-info [editedProject]="editedProject" [demandeDTO]="demandeDTO" [persons]="persons">
	</app-ccg-associe-info>
</div>
<div class="w-full flex flex-col mt-5" *ngIf="editedMode==5">
	<app-ccg-retour-info [editedProject]="editedProject" [demandeDTO]="demandeDTO" [persons]="persons">
	</app-ccg-retour-info>
</div>
<div class="w-full flex flex-col mt-5" *ngIf="editedMode==6">
	<app-ccg-surete-info [editedProject]="editedProject" [demandeDTO]="demandeDTO" [persons]="persons">
	</app-ccg-surete-info>
</div>

<div class="w-full flex justify-end p-4 gap-x-2">
	<button mat-raised-button (click)="onReturn()">Retour</button>
</div>

<!--</card>-->